// File: _cards.scss

/* -----------------------------------------------
 * HBC CARDS/#-UP-ROWS STYLES
----------------------------------------------- */
.hbc-ed {
  &-card {
    @include flex(column, null, null, null);
    text-align: center;
    width: 100%;

    &__copy {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 3.25rem;
    }

    &__wrapper {
      &--outer {
        @include flex(row, wrap, null, null);
        width: 100%;
      }

      &--inner {
        @include flex(row, null, null, null);
        width: 100%;
        margin-bottom: 3.875rem;

        @include respond-to(medium) {
          width: calc(98% / 3);
          margin-right: 1%;
          margin-bottom: 0;

          &:last-of-type {
            margin-right: 0;
          }
        }
      }
    }
  }
}
