<!doctype html>
<html lang="fr-CA">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1721787329464/css/global.css"
    />
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1721787329464/css/typography.css"
    />
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1721787329464/css/zellers-svg-font.css"
    />
    <title>MOS | The Bay Canada</title>
  </head>
  <div class="cat-landing">
    <div class="secondary-content">
      <div class="home-slots">
        <body style="margin: 0">
          <!-- <div id="hbc-footer-page" class="hbc-footer-page">
          </div> -->
          <div class="hbc-livetext-page" id="hbc-livetext-page">
            <h2 class="heading">
              <strong
                >Primes La Baie d'Hudson | Rabais aux membres | Du 15 au 21
                août</strong
              >
            </h2>
            <br /><br />
            <h2>Jusqu'à 50 % de rabais, seulement pour les membres.</h2>
            <br /><br />
            <h3>
              <a
                href="$url('Search-Show','cgid','2534374302032987','sre','429_081524_LIVE-TEXT_LANDING-PAGE_MOS_WOMENS')$"
                >FEMME</a
              >
              &nbsp;&nbsp;
              <a
                href="$url('Search-Show','cgid','2534374302032847','sre','429_081524_LIVE-TEXT_LANDING-PAGE_MOS_MENS')$"
                >HOMME</a
              >
              &nbsp;&nbsp;
              <a
                href="$url('Search-Show','cgid','2534374302032537','sre','429_081524_LIVE-TEXT_LANDING-PAGE_MOS_KIDS')$"
                >ENFANT</a
              >
              &nbsp;&nbsp;
              <a
                href="$url('Search-Show','cgid','2534374302032061','sre','429_081524_LIVE-TEXT_LANDING-PAGE_MOS_BEAUTY')$"
                >BEAUTÉ</a
              >
              &nbsp;&nbsp;
              <a
                href="$url('Search-Show','cgid','2534374302032280','sre','429_081524_LIVE-TEXT_LANDING-PAGE_MOS_HOME')$"
                >MAISON</a
              >
              <br /><br />
              <a
                href="$url('Search-Show','cgid','rewards','sre','429_081524_LIVE-TEXT_LANDING-PAGE_MOS_JOINFORFREE')$"
                >S'INSCRIRE GRATUITEMENT</a
              >
              <br /><br />
            </h3>
            <h3>
              OFFRES EN VIGUEUR SUR LA MARCHANDISE PORTANT LA MENTION « RABAIS
              AUX MEMBRES ». JUSQU'À 23 h 59 (HE) LE 21 AOÛT.
            </h3>
            <br /><br />
            <p>
              L'offre réservée aux membres Primes La Baie d'Hudson s'applique
              aux articles sélectionnés (accompagnés de la mention « rabais aux
              membres ») achetés en ligne et en magasin, du jeudi 15 août 2024 à
              0 h 0 min 1 s (HE) au mercredi 21 août 2024 à 23 h 59 min 59 s
              (HE). Des exceptions s'appliquent. Cette offre est assujettie aux
              conditions du programme Primes La Baie d'Hudson. Précisions à
              labaie.com/primes/conditions. Des restrictions additionnelles
              peuvent s'appliquer. Cette offre peut être modifiée ou annulée à
              tout moment.
            </p>
          </div>
        </body>
      </div>
    </div>
  </div>
</html>
