<!doctype html>
<html lang="en-CA">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1721787329464/css/global.css"
    />
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1721787329464/css/typography.css"
    />
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1721787329464/css/zellers-svg-font.css"
    />
    <title>MOS | The Bay Canada</title>
  </head>
  <div class="cat-landing">
    <div class="secondary-content">
      <div class="home-slots">
        <body style="margin: 0">
          <!-- <div id="hbc-footer-page" class="hbc-footer-page">
          </div> -->
          <div class="hbc-livetext-page" id="hbc-livetext-page">
            <h2 class="heading">
              <strong
                >Hudson's Bay Rewards | Member Only Savings | August
                15-21</strong
              >
            </h2>
            <br /><br />
            <h2>Savings of up to 50% off, exclusively for members.</h2>
            <br /><br />
            <h3>
              <a
                href="$url('Search-Show','cgid','2534374302032987','sre','429_081524_LIVE-TEXT_LANDING-PAGE_MOS_WOMENS')$"
                >WOMEN'S</a
              >
              &nbsp;&nbsp;
              <a
                href="$url('Search-Show','cgid','2534374302032847','sre','429_081524_LIVE-TEXT_LANDING-PAGE_MOS_MENS')$"
                >MEN'S</a
              >
              &nbsp;&nbsp;
              <a
                href="$url('Search-Show','cgid','2534374302032537','sre','429_081524_LIVE-TEXT_LANDING-PAGE_MOS_KIDS')$"
                >KIDS'</a
              >
              &nbsp;&nbsp;
              <a
                href="$url('Search-Show','cgid','2534374302032061','sre','429_081524_LIVE-TEXT_LANDING-PAGE_MOS_BEAUTY')$"
                >BEAUTY</a
              >
              &nbsp;&nbsp;
              <a
                href="$url('Search-Show','cgid','2534374302032280','sre','429_081524_LIVE-TEXT_LANDING-PAGE_MOS_HOME')$"
                >HOME</a
              >
              <br /><br />
              <a
                href="$url('Search-Show','cgid','rewards','sre','429_081524_LIVE-TEXT_LANDING-PAGE_MOS_JOINFORFREE')$"
                >JOIN FOR FREE</a
              >
              <br /><br />
            </h3>
            <h3>
              VALID ON ITEMS MARKED AS "MEMBER ONLY SAVINGS". ENDS 8/21 at 11:59
              PM ET.
            </h3>
            <br /><br />
            <p>
              Offer exclusively for Hudson's Bay Rewards members between
              Thursday, August 15, 2024 at 12:00:01 AM ET and Wednesday, August
              21, 2024 at 11:59:59 PM ET, on eligible products marked as Member
              Only Savings online and in-store. Exclusions apply. The terms and
              conditions of the Hudson's Bay Rewards program apply. Visit
              thebay.com/content/rewards/terms-conditions for more information.
              Additional restrictions may apply. Offer may be modified or
              canceled at anytime.
            </p>
          </div>
        </body>
      </div>
    </div>
  </div>
</html>
