<!doctype html>
<html lang="fr-CA">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1"
    />
    <title>La Baie</title>
  </head>
  <body style="margin: 0">
    <main class="hbc-ed-wrapper--main">
      <section class="hbc-ed-wrapper--links">
        <a
          class="hbc-ed-link"
          href="$url('Search-Show','q','*','sre','346_120723_LANDING-PAGE-BOXING-WEEK_SHOPNOW')$"
          target="_blank"
          rel="noopener noreferrer"
          >VOIR LES AUBAINES EN COURS</a
        >
        <a
          class="hbc-ed-link"
          href="http://www.joindre.neo.cc/f1h"
          target="_blank"
          rel="noopener noreferrer"
          >DEMANDER LA CARTE MASTERCARD LBH</a
        >
        <a
          class="hbc-ed-link"
          href="$url('EmailSubscribe-EmailSignUp','sre','346_120723_LANDING-PAGE-BOXING-WEEK_EMAILSIGNUP')$"
          target="_blank"
          rel="noopener noreferrer"
        >
          S’INSCRIRE À L’INFOLETTRE</a
        >
      </section>
    </main>
  </body>
</html>
