<!-- START OF HERO SECTION -->
<section class="hbc-hero">
  <a href="$url('Search-Show','cgid','RLE-SHOP-ALL','sre','306_031023_EVERGREEN_RLE_SHOP-ALL')$">
    <picture>
      <source
        media="(min-width: 48em)"
        srcset="
          https://image.s5a.com/is/image/TheBay/340_102723_BRAND-PAGE-RLE_HERO-SLIDE_1_DESKTOP_EN?scl=1&qlt=100&fmt=webp
        "
      />
      <img
        class="hbc-ed-image"
        src="https://image.s5a.com/is/image/TheBay/340_102723_BRAND-PAGE-RLE_HERO-SLIDE_1_MOBILE?scl=1&qlt=75&fmt=webp"
        alt=""
        loading="eager"
      />
    </picture>
  </a>
  <section class="hbc-hero__content">
    <h3 class="hbc-hero__heading">
      Ethically sourced styles at great prices. Exclusively at Hudson’s Bay.
    </h3>
    <div class="buttons__wrapper">
      <a
        class="btn--theme"
        href="$url('Search-Show','cgid','RLE-SHOP-ALL','sre','306_031023_EVERGREEN_RLE_SHOP-ALL')$"
        >Shop Now &nbsp; &rarr;</a
      >
    </div>
  </section>
</section>
<!-- END OF HERO SECTION -->
