/* -----------------------------------------------
 * UTILITY STYLING
----------------------------------------------- */
u-center-text {
  text-align: center;
}

u-margin-bottom-100 {
  margin-bottom: 10rem;
}

u-margin-top-150 {
  margin-top: 15rem;
}

u-uppercase {
  text-transform: uppercase;
}
