/* -----------------------------------------------
 * SECTION STYLES
----------------------------------------------- */
#dsg-editorial.dsg-editorial {
  // font-size: 62.5%;
  // & > * {
  //   transform: scale(0.8);
  // }

  main {
    margin: 0 40px;
    // width: calc(768px - 80px);
    // margin: 0 auto;

    @include respond-to(large) {
      // width: calc(1520px - 80px);
      & > * {
        transform: scale(0.8);
      }
    }
  }

  // ONE COLUMN FLEX SECTION
  section {
    &.sec01 {
      @include bayflex(
        row,
        wrap,
        center,
        center,
        0,
        50px auto,
        100%,
        auto,
        center
      );

      @include respond-to(large) {
        margin: 50px auto 0;
      }
    }
  }

  // ONE COLUMN SECTION WITH SMALLER WIDTH
  section {
    &.sec02 {
      @include bayflex(
        row,
        wrap,
        center,
        center,
        0,
        0 auto,
        100%,
        auto,
        center
      );
    }
  }
}
