<!doctype html>
<html lang="fr-CA">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1"
    />
    <title>La Baie</title>
  </head>
  <body style="margin: 0">
    <section class="hbc-ed-banner--full">
      <div class="hbc-ed-banner__content">
        <div class="hbc-ed-banner__content--left">
          <picture>
            <source
              media="(min-width: 48.0625em)"
              srcset="
                https://image.s5a.com/is/image/TheBay/348_122723_STORE-LOCATOR_PROMO-BANNER_1_Desktop_FR?scl=1&qlt=100&fmt=webp
              "
            />
            <img
              src="https://image.s5a.com/is/image/TheBay/348_122723_STORE-LOCATOR_PROMO-BANNER_1_Mobile_FR?scl=1&qlt=75&fmt=webp"
              class="hbc-ed-image"
              alt="Nos magasins adoptent un horaire d’hiver. Jetez un coup d’œil aux nouvelles heures d’ouverture de votre magasin et planifiez votre visite."
              loading="eager"
            />
          </picture>
        </div>
        <div class="hbc-ed-banner__content--right">
          <h4 class="hbc-ed-copy__heading--quaternary">Voici notre horaire d’hiver.</h4>
          <h2 class="hbc-ed-copy__heading--secondary">Précisions sur votre magasin.</h2>
          <h3 class="hbc-ed-copy__heading--tertiary">Nous avons hâte de vous voir.</h3>
        </div>
      </div>
    </section>
  </body>
</html>
