// File: _sections.scss

/* -----------------------------------------------
 * HBC CONTAINER/WRAPPERS STYLES
----------------------------------------------- */
.hbc-ed {
  &-wrapper {
    &--main {
      background-color: #f7f7f7;
      padding-bottom: 8.625rem;

      @include respond-to(medium) {
        padding-bottom: 7rem;
      }
    }

    &--header {
      position: inherit;
      text-align: center;
      padding: 4.25rem 2.5rem 0;
      background-color: #f7f7f7;
      color: $hbc-black;

      @include respond-to(medium) {
        padding: 4rem 6.25rem 0;
      }
    }

    &--links {
      display: flex;
      flex-direction: column;
      padding: 2.25rem 2.5rem 0;

      @include respond-to(medium) {
        flex-direction: row;
        justify-content: space-between;
        padding: 4.125rem 6.25rem 0;
      }
    }

    &--disclaimer {
      padding: 4.5rem 2rem 0;
      text-align: center;
      color: #000;

      @include respond-to(medium) {
        padding: 3.625rem 13.5rem 0;
      }
    }

    &--footer {
      background: $hbc-black;
      text-align: center;
      padding-bottom: 3.375rem;

      @include respond-to(medium) {
        padding-bottom: 2.125rem;
      }
    }
  }
}
