.git
**/build
**/dev
**/dist
**/prod
**/bin
**/webpack.conifg.js
**/src/templates/french/**
**/src/templates/english/**
**/src/templates/footer.html
**/src/*.html
node_modules
**/node_modules
package-lock.json
**/package-lock.json
yarn.lock
**/yarn.lock