<!-- START OF HERO SECTION -->
<section class="sec01">
  <h1>Créez votre registre pour bébé.</h1>
</section>
<!-- END OF HERO SECTION -->

<!-- START OF MAIN WRAPPER -->
<div class="hbc__wrapper">
  <!-- START OF 4 UP ROW SECTION -->
  <h3 class="u-center-text">
    Compilez une liste de cadeaux incontournables pour célébrer l’agrandissement de votre famille.
  </h3>
  <div class="hbc-card__outer">
    <div class="hbc-card__inner">
      <div class="hbc-card">
        <a
          href="$url('Search-Show','cgid','1595947977392')$?sre=317_052423_LANDING-PAGE_GIFT-REGISTRY-BABY_SHOP-BY-CATEGORY_1_CAR-SEATS_"
          class="hbc-cta"
        >
          <picture>
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/316_051223_LANDING-PAGE_GIFT-REGISTRY-MOBILE-BABY-4-UP-1-1?scl=1&qlt=75&fmt=webp
              "
              media="(max-width: 768px)"
            />
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/316_051223_LANDING-PAGE_GIFT-REGISTRY-DESKTOP-BABY-HERO-4-UP-1-1?scl=1&qlt=100&fmt=webp
              "
              media="(max-width: 992px)"
            />
            <img
              loading="lazy"
              src="https://image.s5a.com/is/image/TheBay/316_051223_LANDING-PAGE_GIFT-REGISTRY-DESKTOP-BABY-HERO-4-UP-1-1?scl=1&qlt=100&fmt=webp"
              alt=""
            />
          </picture>
        </a>
        <a
          href="$url('Search-Show','cgid','1595947977392')$?sre=317_052423_LANDING-PAGE_GIFT-REGISTRY-BABY_SHOP-BY-CATEGORY_1_CAR-SEATS_"
          class="btn--theme-alt"
          >Sièges d’auto&nbsp;&rarr;</a
        >
      </div>
    </div>
    <div class="hbc-card__inner">
      <div class="hbc-card">
        <a
          href="$url('Search-Show','cgid','2534374302032565')$?sre=317_052423_LANDING-PAGE_GIFT-REGISTRY-BABY_SHOP-BY-CATEGORY_1_STROLLERS_"
          class="hbc-cta"
        >
          <picture>
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/316_051223_LANDING-PAGE_GIFT-REGISTRY-MOBILE-BABY-4-UP-1-2?scl=1&qlt=75&fmt=webp
              "
              media="(max-width: 768px)"
            />
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/316_051223_LANDING-PAGE_GIFT-REGISTRY-DESKTOP-BABY-HERO-4-UP-1-2?scl=1&qlt=100&fmt=webp
              "
              media="(max-width: 992px)"
            />
            <img
              loading="lazy"
              src="https://image.s5a.com/is/image/TheBay/316_051223_LANDING-PAGE_GIFT-REGISTRY-DESKTOP-BABY-HERO-4-UP-1-2?scl=1&qlt=100&fmt=webp"
              alt=""
            />
          </picture>
        </a>
        <a
          href="$url('Search-Show','cgid','2534374302032565')$?sre=317_052423_LANDING-PAGE_GIFT-REGISTRY-BABY_SHOP-BY-CATEGORY_1_STROLLERS_"
          class="btn--theme-alt"
          >Poussettes&nbsp;&rarr;</a
        >
      </div>
    </div>
    <div class="hbc-card__inner">
      <div class="hbc-card">
        <a
          href="$url('Search-Show','cgid','2534374302032555')$?sre=317_052423_LANDING-PAGE_GIFT-REGISTRY-BABY_SHOP-BY-CATEGORY_1_NUERSERY-FEEDING_"
          class="hbc-cta"
        >
          <picture>
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/316_051223_LANDING-PAGE_GIFT-REGISTRY-MOBILE-BABY-4-UP-1-3?scl=1&qlt=75&fmt=webp
              "
              media="(max-width: 768px)"
            />
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/316_051223_LANDING-PAGE_GIFT-REGISTRY-DESKTOP-BABY-HERO-4-UP-1-3?scl=1&qlt=100&fmt=webp
              "
              media="(max-width: 992px)"
            />
            <img
              loading="lazy"
              src="https://image.s5a.com/is/image/TheBay/316_051223_LANDING-PAGE_GIFT-REGISTRY-DESKTOP-BABY-HERO-4-UP-1-3?scl=1&qlt=100&fmt=webp"
              alt=""
            />
          </picture>
        </a>
        <a
          href="$url('Search-Show','cgid','2534374302032555')$?sre=317_052423_LANDING-PAGE_GIFT-REGISTRY-BABY_SHOP-BY-CATEGORY_1_NUERSERY-FEEDING_"
          class="btn--theme-alt"
          >Chambre de bébé&nbsp;&rarr;</a
        >
      </div>
    </div>
    <div class="hbc-card__inner">
      <div class="hbc-card">
        <a
          href="$url('Search-Show','cgid','2534374302032561')$?sre=317_052423_LANDING-PAGE_GIFT-REGISTRY-BABY_SHOP-BY-CATEGORY_1_ACTIVITY-GEAR_"
          class="hbc-cta"
        >
          <picture>
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/316_051223_LANDING-PAGE_GIFT-REGISTRY-MOBILE-BABY-4-UP-1-4?scl=1&qlt=75&fmt=webp
              "
              media="(max-width: 768px)"
            />
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/316_051223_LANDING-PAGE_GIFT-REGISTRY-DESKTOP-BABY-HERO-4-UP-1-4?scl=1&qlt=100&fmt=webp
              "
              media="(max-width: 992px)"
            />
            <img
              loading="lazy"
              src="https://image.s5a.com/is/image/TheBay/316_051223_LANDING-PAGE_GIFT-REGISTRY-DESKTOP-BABY-HERO-4-UP-1-4?scl=1&qlt=100&fmt=webp"
              alt=""
            />
          </picture>
        </a>
        <a
          href="$url('Search-Show','cgid','2534374302032561')$?sre=317_052423_LANDING-PAGE_GIFT-REGISTRY-BABY_SHOP-BY-CATEGORY_1_ACTIVITY-GEAR_"
          class="btn--theme-alt"
          >Activités Et Articles Pour Bébé&nbsp;&rarr;</a
        >
      </div>
    </div>
  </div>
  <!-- END OF 4 UP ROW SECTION -->

  <!-- START OF 3 UP ROW SECTION -->
  <div class="hbc-card__outer">
    <div class="hbc-card__inner--3up">
      <div class="hbc-card">
        <a
          href="$url('Search-Show','cgid','2534374302032550')$?sre=317_052423_LANDING-PAGE_GIFT-REGISTRY-BABY_SHOP-BY-CATEGORY_1_HEALTH-SAFETY_"
          class="hbc-cta"
        >
          <picture>
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/316_051223_LANDING-PAGE_GIFT-REGISTRY-MOBILE-BABY-3-UP-1-1?scl=1&qlt=75&fmt=webp
              "
              media="(max-width: 768px)"
            />
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/316_051223_LANDING-PAGE_GIFT-REGISTRY-DESKTOP-BABY-HERO-3-UP-1-1?scl=1&qlt=100&fmt=webp
              "
              media="(max-width: 992px)"
            />
            <img
              loading="lazy"
              src="https://image.s5a.com/is/image/TheBay/316_051223_LANDING-PAGE_GIFT-REGISTRY-DESKTOP-BABY-HERO-3-UP-1-1?scl=1&qlt=100&fmt=webp"
              alt=""
            />
          </picture>
        </a>
        <a
          href="$url('Search-Show','cgid','2534374302032550')$?sre=317_052423_LANDING-PAGE_GIFT-REGISTRY-BABY_SHOP-BY-CATEGORY_1_HEALTH-SAFETY_"
          class="btn--theme-alt"
          >Santé Et Sécurité De Bébé&nbsp;&rarr;</a
        >
      </div>
    </div>
    <div class="hbc-card__inner--3up">
      <div class="hbc-card">
        <a
          href="$url('Search-Show','cgid','2534374302032577')$?sre=317_052423_LANDING-PAGE_GIFT-REGISTRY-BABY_SHOP-BY-CATEGORY_1_BABY-CLOTHING_"
          class="hbc-cta"
        >
          <picture>
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/316_051223_LANDING-PAGE_GIFT-REGISTRY-MOBILE-BABY-3-UP-1-2?scl=1&qlt=75&fmt=webp
              "
              media="(max-width: 768px)"
            />
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/316_051223_LANDING-PAGE_GIFT-REGISTRY-DESKTOP-BABY-HERO-3-UP-1-2?scl=1&qlt=100&fmt=webp
              "
              media="(max-width: 992px)"
            />
            <img
              loading="lazy"
              src="https://image.s5a.com/is/image/TheBay/316_051223_LANDING-PAGE_GIFT-REGISTRY-DESKTOP-BABY-HERO-3-UP-1-2?scl=1&qlt=100&fmt=webp"
              alt=""
            />
          </picture>
        </a>
        <a
          href="$url('Search-Show','cgid','2534374302032577')$?sre=317_052423_LANDING-PAGE_GIFT-REGISTRY-BABY_SHOP-BY-CATEGORY_1_BABY-CLOTHING_"
          class="btn--theme-alt"
          >Vêtements pour bébé&nbsp;&rarr;</a
        >
      </div>
    </div>
    <div class="hbc-card__inner--3up">
      <div class="hbc-card">
        <a
          href="$url('Search-Show','cgid','2534374302032670')$?sre=317_052423_LANDING-PAGE_GIFT-REGISTRY-BABY_SHOP-BY-CATEGORY_1_TOYS_"
          class="hbc-cta"
        >
          <picture>
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/316_051223_LANDING-PAGE_GIFT-REGISTRY-MOBILE-BABY-3-UP-1-3?scl=1&qlt=75&fmt=webp
              "
              media="(max-width: 768px)"
            />
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/316_051223_LANDING-PAGE_GIFT-REGISTRY-DESKTOP-BABY-HERO-3-UP-1-3?scl=1&qlt=100&fmt=webp
              "
              media="(max-width: 992px)"
            />
            <img
              loading="lazy"
              src="https://image.s5a.com/is/image/TheBay/316_051223_LANDING-PAGE_GIFT-REGISTRY-DESKTOP-BABY-HERO-3-UP-1-3?scl=1&qlt=100&fmt=webp"
              alt=""
            />
          </picture>
        </a>
        <a
          href="$url('Search-Show','cgid','2534374302032670')$?sre=317_052423_LANDING-PAGE_GIFT-REGISTRY-BABY_SHOP-BY-CATEGORY_1_TOYS_"
          class="btn--theme-alt"
          >Jouets&nbsp;&rarr;</a
        >
      </div>
    </div>
  </div>
  <!-- END OF 3 UP ROW SECTION -->

  <!-- START OF CAROUSEL SECTION -->
  <!-- <div class="hbc-carousel">
    <i id="left" class="fa fa-solid fa-angle-left hbc-carousel__btn"></i>
    <div class="hbc-carousel__slides">
      <img
        class="hbc-carousel__image"
        loading="lazy"
        draggable="false"
        src="https://image.s5a.com/is/image/TheBay/316_051223_LANDING-PAGE_GIFT-REGISTRY-BABY-LOGO-VIS-NAV-1?scl=1&qlt=100&fmt=webp"
        alt=""
      />
      <img
        class="hbc-carousel__image"
        loading="lazy"
        draggable="false"
        src="https://image.s5a.com/is/image/TheBay/316_051223_LANDING-PAGE_GIFT-REGISTRY-BABY-LOGO-VIS-NAV-2?scl=1&qlt=100&fmt=webp"
        alt=""
      />
      <img
        class="hbc-carousel__image"
        loading="lazy"
        draggable="false"
        src="https://image.s5a.com/is/image/TheBay/316_051223_LANDING-PAGE_GIFT-REGISTRY-BABY-LOGO-VIS-NAV-3?scl=1&qlt=100&fmt=webp"
        alt=""
      />
      <img
        class="hbc-carousel__image"
        loading="lazy"
        draggable="false"
        src="https://image.s5a.com/is/image/TheBay/316_051223_LANDING-PAGE_GIFT-REGISTRY-BABY-LOGO-VIS-NAV-4?scl=1&qlt=100&fmt=webp"
        alt=""
      />
    </div>
    <i id="right" class="fa fa-solid fa-angle-right hbc-carousel__btn"></i>
  </div> -->
  <!-- END OF CAROUSEL SECTION -->
</div>
<!-- END OF MAIN WRAPPER -->
