<!-- START OF 3-UP-CARDS SECTION -->
<div class="hbc-card__outer">
  <div class="hbc-card__inner--three">
    <div class="hbc-card">
      <a
        href="$url('Search-Show','cgid','1678986943600','sre','310_040423_LANDING-PAGE_BG_GIFTING-MD-FD_3-UP-ROW_1_BEAUTY_SHOP-NOW')$"
      >
        <img
          class="hbc-img"
          src="https://image.s5a.com/is/image/TheBay/310_033123_LANDING-PAGE_GIFTSHOP_MD_3UP-SLIDE1?scl=1&qlt=100&fmt=webp"
          alt=""
          loading="lazy"
        />
      </a>
      <div class="flexible">
        <h3>Glamour toujours.</h3>
        <p>Des produits de beauté pour<br />maman, pour tous les budgets.</p>
      </div>
      <div class="buttons__wrapper">
        <a
          href="$url('Search-Show','cgid','1678986943600','sre','310_040423_LANDING-PAGE_BG_GIFTING-MD-FD_3-UP-ROW_1_BEAUTY_SHOP-NOW')$"
          class="btn--default"
          >Magasiner &nbsp; &rarr;</a
        >
      </div>
    </div>
  </div>
  <div class="hbc-card__inner--three">
    <div class="hbc-card">
      <a
        href="$url('Search-Show','cgid','1678986943598','sre','310_040423_LANDING-PAGE_BG_GIFTING-MD-FD_3-UP-ROW_2_JEWELLERY-WATCHES_SHOP-NOW')$"
      >
        <img
          class="hbc-img"
          src="https://image.s5a.com/is/image/TheBay/310_033123_LANDING-PAGE_GIFTSHOP_MD_3UP-SLIDE2?scl=1&qlt=100&fmt=webp"
          alt=""
          loading="lazy"
        />
      </a>
      <div class="flexible">
        <h3>Tout en brillance.</h3>
        <p>Des bijoux qui expriment votre<br />profonde reconnaissance.</p>
      </div>
      <div class="buttons__wrapper">
        <a
          href="$url('Search-Show','cgid','1678986943598','sre','310_040423_LANDING-PAGE_BG_GIFTING-MD-FD_3-UP-ROW_2_JEWELLERY-WATCHES_SHOP-NOW')$"
          class="btn--default"
          >Magasiner &nbsp; &rarr;</a
        >
      </div>
    </div>
  </div>
  <div class="hbc-card__inner--three">
    <div class="hbc-card">
      <a
        href="$url('Search-Show','cgid','1678986943596','prefn1','refinementProductType','prefv1','Dresses|Robes','sre','310_040423_LANDING-PAGE_BG_GIFTING-MD-FD_3-UP-ROW_3_DRESSES_SHOP-NOW')$"
      >
        <img
          class="hbc-img"
          src="https://image.s5a.com/is/image/TheBay/310_033123_LANDING-PAGE_GIFTSHOP_MD_3UP-SLIDE3?scl=1&qlt=100&fmt=webp"
          alt=""
          loading="lazy"
        />
      </a>
      <div class="flexible">
        <h3>Des tenues qui lui plairont.</h3>
        <p>Trouvez la robe<br />parfaite pour maman.</p>
      </div>
      <div class="buttons__wrapper">
        <a
          href="$url('Search-Show','cgid','1678986943596','prefn1','refinementProductType','prefv1','Dresses|Robes','sre','310_040423_LANDING-PAGE_BG_GIFTING-MD-FD_3-UP-ROW_3_DRESSES_SHOP-NOW')$"
          class="btn--default"
          >Magasiner &nbsp; &rarr;</a
        >
      </div>
    </div>
  </div>
</div>
<!-- END OF 3-UP-CARDS SECTION -->
