<!-- START OF HERO SECTION -->
<section class="hbc-hero">
  <!-- HERO BACKGROUND -->
  <div
    class="hbc-hero__bg"
    role="img"
    aria-label="Woman wearing multiple glasses she bought during Bay Days."
  ></div>
  <!-- HERO CONTENT -->
  <section class="sec03">
    <h4>APRIL 14-30</h4>
    <div class="hbc-hero__head">
      <h1>BAY DAYS</h1>
      <h2>UP TO <span class="hbc-span__line">&#8212;&#8212;&#8212;</span> 60% OFF</h2>
    </div>
  </section>
</section>
<!-- END OF HERO SECTION -->

<!-- START OF MAIN WRAP SECTION -->
<main class="hbc__wrapper">
  <!-- HEADER -->
  <section class="sec01">
    <h3>Our biggest sale of the season is on now.</h3>
  </section>

  <!-- START OF SHOP BY CATEGORY SECTION -->
  <!-- HEADER -->
  <section class="sec01">
    <h5>Shop by category.</h5>
  </section>
  <!-- DESKTOP - CARDS ROW 1 -->
  <div class="hbc-card__outer">
    <div class="hbc-card__inner">
      <div class="hbc-card">
        <a
          href="$url('Search-Show','cgid','2534374302033055','sre','312_041423_LANDING-PAGE-BAYDAYS-ON-NOW_WOMENS-CLOTHING')$"
        >
          <picture>
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/311_041023_MOP_PRE-BAY-DAYS_3UP_ROW1_SLIDE1_MOBILE?scl=1&qlt=75&fmt=webp
              "
              media="(max-width: 768px)"
            />
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/311_041023_MOP_PRE-BAY-DAYS_4UP_ROW1_SLIDE1_DESKTOP?scl=1&qlt=100&fmt=webp
              "
              media="(max-width: 992px)"
            />
            <img
              loading="lazy"
              src="https://image.s5a.com/is/image/TheBay/311_041023_MOP_PRE-BAY-DAYS_4UP_ROW1_SLIDE1_DESKTOP?scl=1&qlt=100&fmt=webp"
              alt=""
            />
          </picture>
        </a>
        <h6>Women’s Clothing</h6>
      </div>
    </div>
    <div class="hbc-card__inner">
      <div class="hbc-card">
        <a
          href="$url('Search-Show','cgid','2534374302033212','sre','312_041423_LANDING-PAGE-BAYDAYS-ON-NOW_WOMENS-SHOES')$"
        >
          <picture>
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/311_041023_MOP_PRE-BAY-DAYS_3UP_ROW1_SLIDE2_MOBILE?scl=1&qlt=75&fmt=webp
              "
              media="(max-width: 768px)"
            />
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/311_041023_MOP_PRE-BAY-DAYS_4UP_ROW1_SLIDE2_DESKTOP?scl=1&qlt=100&fmt=webp
              "
              media="(max-width: 992px)"
            />
            <img
              loading="lazy"
              src="https://image.s5a.com/is/image/TheBay/311_041023_MOP_PRE-BAY-DAYS_4UP_ROW1_SLIDE2_DESKTOP?scl=1&qlt=100&fmt=webp"
              alt=""
            />
          </picture>
        </a>
        <h6>Women’s Shoes</h6>
      </div>
    </div>
    <div class="hbc-card__inner">
      <div class="hbc-card">
        <a
          href="$url('Search-Show','cgid','2534374302032847','sre','312_041423_LANDING-PAGE-BAYDAYS-ON-NOW_MENS')$"
        >
          <picture>
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/311_041023_MOP_PRE-BAY-DAYS_3UP_ROW1_SLIDE3_MOBILE?scl=1&qlt=75&fmt=webp
              "
              media="(max-width: 768px)"
            />
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/311_041023_MOP_PRE-BAY-DAYS_4UP_ROW1_SLIDE3_DESKTOP?scl=1&qlt=100&fmt=webp
              "
              media="(max-width: 992px)"
            />
            <img
              loading="lazy"
              src="https://image.s5a.com/is/image/TheBay/311_041023_MOP_PRE-BAY-DAYS_4UP_ROW1_SLIDE3_DESKTOP?scl=1&qlt=100&fmt=webp"
              alt=""
            />
          </picture>
        </a>
        <h6>Men’s</h6>
      </div>
    </div>
    <div class="hbc-card__inner">
      <div class="hbc-card">
        <a
          href="$url('Search-Show','cgid','2534374302032537','sre','312_041423_LANDING-PAGE-BAYDAYS-ON-NOW_KIDS-BABY')$"
        >
          <picture>
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/311_041023_MOP_PRE-BAY-DAYS_3UP_ROW2_SLIDE1_MOBILE?scl=1&qlt=75&fmt=webp
              "
              media="(max-width: 768px)"
            />
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/311_041023_MOP_PRE-BAY-DAYS_4UP_ROW1_SLIDE4_DESKTOP?scl=1&qlt=100&fmt=webp
              "
              media="(max-width: 992px)"
            />
            <img
              loading="lazy"
              src="https://image.s5a.com/is/image/TheBay/311_041023_MOP_PRE-BAY-DAYS_4UP_ROW1_SLIDE4_DESKTOP?scl=1&qlt=100&fmt=webp"
              alt=""
            />
          </picture>
        </a>
        <h6>Kids’ & Babies'</h6>
      </div>
    </div>
    <div class="hbc-card__inner">
      <div class="hbc-card">
        <a
          href="$url('Search-Show','cgid','2534374302032061','sre','312_041423_LANDING-PAGE-BAYDAYS-ON-NOW_BEAUTY')$"
        >
          <picture>
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/311_041023_MOP_PRE-BAY-DAYS_3UP_ROW2_SLIDE2_MOBILE?scl=1&qlt=75&fmt=webp
              "
              media="(max-width: 768px)"
            />
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/311_041023_MOP_PRE-BAY-DAYS_3UP_BEAUTY_DESKTOP?scl=1&qlt=100&fmt=webp
              "
              media="(max-width: 992px)"
            />
            <img
              loading="lazy"
              src="https://image.s5a.com/is/image/TheBay/311_041023_MOP_PRE-BAY-DAYS_3UP_BEAUTY_DESKTOP?scl=1&qlt=100&fmt=webp"
              alt=""
            />
          </picture>
        </a>
        <h6>Beauty</h6>
      </div>
    </div>
    <!-- DESKTOP - CARDS ROW 2 -->
    <div class="hbc-card__inner">
      <div class="hbc-card">
        <a
          href="$url('Search-Show','cgid','2534374302032280','sre','312_041423_LANDING-PAGE-BAYDAYS-ON-NOW_HOME')$"
        >
          <picture>
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/311_041023_MOP_PRE-BAY-DAYS_3UP_ROW2_SLIDE3_MOBILE?scl=1&qlt=75&fmt=webp
              "
              media="(max-width: 768px)"
            />
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/311_041023_MOP_PRE-BAY-DAYS_4UP_ROW2_SLIDE1_DESKTOP?scl=1&qlt=100&fmt=webp
              "
              media="(max-width: 992px)"
            />
            <img
              loading="lazy"
              src="https://image.s5a.com/is/image/TheBay/311_041023_MOP_PRE-BAY-DAYS_4UP_ROW2_SLIDE1_DESKTOP?scl=1&qlt=100&fmt=webp"
              alt=""
            />
          </picture>
        </a>
        <h6>Home</h6>
      </div>
    </div>
    <div class="hbc-card__inner">
      <div class="hbc-card">
        <a
          href="$url('Search-Show','cgid','2534374302033005','sre','312_041423_LANDING-PAGE-BAYDAYS-ON-NOW_HANDBAGS')$"
        >
          <picture>
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/311_041023_MOP_PRE-BAY-DAYS_4UP_ROW2_SLIDE2_DESKTOP?scl=1&qlt=75&fmt=webp
              "
              media="(max-width: 768px)"
            />
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/311_041023_MOP_PRE-BAY-DAYS_4UP_ROW2_SLIDE2_DESKTOP?scl=1&qlt=100&fmt=webp
              "
              media="(max-width: 992px)"
            />
            <img
              loading="lazy"
              src="https://image.s5a.com/is/image/TheBay/311_041023_MOP_PRE-BAY-DAYS_4UP_ROW2_SLIDE2_DESKTOP?scl=1&qlt=100&fmt=webp"
              alt=""
            />
          </picture>
        </a>
        <h6>Handbags</h6>
      </div>
    </div>
    <div class="hbc-card__inner">
      <div class="hbc-card">
        <a
          href="$url('Search-Show','cgid','2534374302033026','sre','312_041423_LANDING-PAGE-BAYDAYS-ON-NOW_JEWELLERY')$"
        >
          <picture>
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/311_041023_MOP_PRE-BAY-DAYS_3UP_ROW3_SLIDE1_MOBILE?scl=1&qlt=75&fmt=webp
              "
              media="(max-width: 768px)"
            />
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/311_041023_MOP_PRE-BAY-DAYS_4UP_ROW2_SLIDE3_DESKTOP?scl=1&qlt=100&fmt=webp
              "
              media="(max-width: 992px)"
            />
            <img
              loading="lazy"
              src="https://image.s5a.com/is/image/TheBay/311_041023_MOP_PRE-BAY-DAYS_4UP_ROW2_SLIDE3_DESKTOP?scl=1&qlt=100&fmt=webp"
              alt=""
            />
          </picture>
        </a>
        <h6>Jewellery</h6>
      </div>
    </div>
    <div class="hbc-card__inner">
      <div class="hbc-card">
        <a
          href="$url('Search-Show','cgid','1665685899755','sre','312_041423_LANDING-PAGE-BAYDAYS-ON-NOW_LUGGAGE-TRAVEL')$"
        >
          <picture>
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/311_041023_MOP_PRE-BAY-DAYS_3UP_ROW3_SLIDE2_MOBILE?scl=1&qlt=75&fmt=webp
              "
              media="(max-width: 768px)"
            />
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/311_041023_MOP_PRE-BAY-DAYS_3UP_LUGGAGE_DESKTOP?scl=1&qlt=100&fmt=webp
              "
              media="(max-width: 992px)"
            />
            <img
              loading="lazy"
              src="https://image.s5a.com/is/image/TheBay/311_041023_MOP_PRE-BAY-DAYS_3UP_LUGGAGE_DESKTOP?scl=1&qlt=100&fmt=webp"
              alt=""
            />
          </picture>
        </a>
        <h6>Luggage &amp; Travel</h6>
      </div>
    </div>
    <div class="hbc-card__inner">
      <div class="hbc-card">
        <a
          href="$url('Search-Show','cgid','1611691494161','sre','312_041423_LANDING-PAGE-BAYDAYS-ON-NOW_HBC-STRIPES')$"
        >
          <picture>
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/311_041023_MOP_PRE-BAY-DAYS_3UP_ROW3_SLIDE3_MOBILE?scl=1&qlt=75&fmt=webp
              "
              media="(max-width: 768px)"
            />
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/311_041023_MOP_PRE-BAY-DAYS_4UP_ROW2_SLIDE4_DESKTOP?scl=1&qlt=100&fmt=webp
              "
              media="(max-width: 992px)"
            />
            <img
              loading="lazy"
              src="https://image.s5a.com/is/image/TheBay/311_041023_MOP_PRE-BAY-DAYS_4UP_ROW2_SLIDE4_DESKTOP?scl=1&qlt=100&fmt=webp"
              alt=""
            />
          </picture>
        </a>
        <h6>HBC Stripes</h6>
      </div>
    </div>
  </div>

  <!-- START OF DISLAIMER -->
  <section class="sec01">
    <p>
      NOT ALL COMMODITIES REACH MAXIMUM DISCOUNT THRESHOLD. VALID ON ITEMS LAVELLED "BAY DAYS" Event
      runs from 4/13 to 4/30 11:59PM ET.
    </p>
  </section>
  <!-- END OF DISLAIMER -->
  <!-- END OF MAIN WRAP SECTION -->
</main>

<!-- START OF DOOR CRASHER SECTION -->
<section class="hbc__wrapper--theme">
  <section class="sec01">
    <h2 class="hbc-header">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8" class="hbc-header__icon">
        <path fill="currentColor" d="M3 0v5H1l2.53 3L6 5H4V0H3z" />
      </svg>
      DOOR CRASHERS
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8" class="hbc-header__icon">
        <path fill="currentColor" d="M3 0v5H1l2.53 3L6 5H4V0H3z" />
      </svg>
    </h2>
    <h5 class="hbc-header">NEW DEALS DROPPING DAILY</h5>
    <div class="buttons__wrapper">
      <a
        href="$url('Search-Show','cgid','SALE-DOORCRASHER-DEALS','sre','312_041423_LANDING-PAGE-BAYDAYS-ON-NOW_SHOP-NOW')$"
        class="btn--theme"
        >SHOP NOW</a
      >
    </div>
  </section>
</section>
<!-- END OF DOOR CRASHER SECTION -->
