// File: _sections.scss

/* -----------------------------------------------
 * HBC CONTAINER/WRAPPERS STYLES
----------------------------------------------- */
.ed {
  &-wrapper {
    &--main {
      max-width: 90%;
      padding: 2rem 0;
      margin: 0 auto;
      // height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &-container {
    &--top {
      padding-bottom: 2rem;

      header {
        padding-bottom: 2rem;
      }

      nav {
        display: flex;
        overflow-x: auto;
        width: 100%;

        @include respond-to(medium) {
          overflow-x: hidden;
        }
      }
    }

    &--bottom {
      // height: 100vh;
      // overflow: scroll;
      // scroll-snap-type: y mandatory;
      // z-index: 0;
    }

    &--tab {
      scrollbar-width: thin;
      scrollbar-color: red orange;
      height: 100vh;
      overflow: scroll;
      scroll-snap-type: y mandatory;
      z-index: 0;
      // height: 100vh;
      // overflow: scroll;
      // scroll-snap-type: y mandatory;
      // scroll-snap-align: center;
    }

    &--store {
      scroll-snap-align: center; // Can be center, start and end.
      height: 100vh;
      overflow: hidden;
      // display: flex;
      // flex-direction: column;
      // align-items: center;
      // justify-content: center;
      // position: -webkit-sticky;
      // position: sticky;
      // top: 0;
      // scroll-snap-align: center;
      z-index: 10;
      width: 100%;
      padding: 2rem 0;
      // margin-bottom: 5rem;

      @include respond-to(medium) {
        display: flex;
        align-items: flex-start;
        // justify-content: space-evenly;

        & > * {
          width: calc(100% / 3);
        }
      }

      &__zellers {
        display: flex;
        align-items: center;
      }
    }
  }
}
