<!doctype html>
<html lang="en-CA">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Bay Days | The Bay Canada</title>
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1712236745383/css/global.css"
    />
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1712130735115/css/typography.css"
    />
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1712130735115/css/zellers-svg-font.css"
    />
  </head>
  <div class="cat-landing">
    <div class="secondary-content">
      <div class="home-slots">
        <body style="margin: 0">
          <main>
            <header>
              <a
                href="$url('Search-Show','cgid','root','pmin','0')$&sre=414_050224_COUNTDOWN-CLOCK_SHOP-NOW"
              >
                <section>
                  <div class="countdown-clock" style="text-align: center">
                    <div class="ends-in-container">
                      <div class="ends-in" style="padding-right: 20px">
                        <h2 style="color: red">
                          SHOP BAY DAYS - OUR LOWEST PRICES OF THE SEASON END IN
                        </h2>
                        <h2 style="color: red">BAY DAYS ENDS IN</h2>
                      </div>
                      <div class="countdown" data-epoch="1714967999"></div>
                    </div>
                  </div>
                </section>
                <!-- END #dsg-editorial -->
              </a>
            </header>
          </main>
        </body>
      </div>
    </div>
  </div>
</html>
