// File: _links.scss

/* -----------------------------------------------
 * HBC CTA/LINK STYLES
----------------------------------------------- */
.hbc-ed {
  &-link {
    @include font($baySans, 400, normal, 1, uppercase, 1.875rem);
    text-decoration: none;
    color: $hbc-blue;
    background-color: $hbc-yellow;
    padding: 0.9rem 0;
    border-radius: 2.5rem;
    border: 0.125rem solid $hbc-yellow;
    text-align: center;
    z-index: 2;

    &:hover,
    &:active {
      text-decoration: none;
      background-color: lighten($color: $hbc-yellow, $amount: 5%);
      border-color: lighten($color: $hbc-yellow, $amount: 5%);
    }

    &:focus {
      outline: 2px solid #007bff;
    }

    &--alt {
      @extend .hbc-ed-link;
      background-color: transparent;
      z-index: 2;
      color: $hbc-blue;

      &:hover,
      &:active {
        text-decoration: none;
        background-color: darken($color: $spring-wood, $amount: 5%);
        border-color: darken($color: $hbc-yellow, $amount: 5%);
        color: lighten($color: $hbc-blue, $amount: 5%);
      }

      &:focus {
        outline: 2px solid #007bff;
      }
    }

    &--underline {
      @include font($baySans, null, null, 1, null, 1.375rem);
      display: inline-block;
      color: $hbc-blue;
      cursor: pointer;
      text-decoration: underline;

      &:hover,
      &:active {
        text-decoration: none;
      }

      &:focus {
        outline: 2px solid #007bff;
      }
    }

    &--full {
      @include font($baySans, 400, null, 1, null, 1.375rem);
      text-decoration: none;
      color: #fff;
      cursor: pointer;
      background-color: $hbc-blue;
      padding: 0.9rem 0;
      border-radius: 2.5rem;
      border: 0.125rem solid $hbc-blue;
      text-align: center;
      z-index: 2;
      display: inline-block;
      width: 100%;
      text-transform: uppercase;

      &:hover,
      &:active {
        text-decoration: none;
        background-color: darken($color: $hbc-blue, $amount: 5%);
        border-color: darken($color: $hbc-blue, $amount: 5%);
        color: #fff;
      }

      &:focus {
        outline: 2px solid #007bff;
      }
    }
  }

  &-button {
    @include font($baySerif, 300, normal, 1, uppercase, null);
    text-decoration: none;
    text-underline-offset: 0.25rem;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:hover,
    &:active {
      text-decoration: none;
    }

    &:focus {
      outline: 2px solid #007bff;
    }
  }
}
