<!doctype html>
<html lang="en-CA">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Gluckstein Design Tips | The Bay Canada</title>
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1712236745383/css/global.css"
    />
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1712130735115/css/typography.css"
    />
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1712130735115/css/zellers-svg-font.css"
    />
  </head>
  <div class="cat-landing">
    <div class="secondary-content">
      <div class="home-slots">
        <body style="margin: 0">
          <main class="ed-wrapper--main">
            <header class="ed-container--header ed-util-text-center">
              <h6 aria-level="1" class="ed-type--h6 ed-util--t-black">
                Interior designer, author and sought-after design authority
                Brian Gluckstein offers inspiration and interprets the key
                trends of the new season.
              </h6>
            </header>

            <section class="ed-wrapper--menu">
              <hr />
              <nav class="ed-nav--tabs" role="tablist">
                <button
                  href="#inspirational-visual-nav-id"
                  class="ed-button--tab ed-type--button"
                  role="tab"
                  aria-controls="tab1"
                  id="tab1-tab"
                  data-tab="tab1"
                  data-contents="TEST_VISUAL-NAV_GLUCKSTEIN multi-image-container"
                  aria-selected="true"
                >
                  Brian&apos;s Patio Launch
                </button>
                <button
                  href="#tab2"
                  class="ed-button--tab ed-type--button"
                  role="tab"
                  aria-controls="tab2"
                  id="tab2-tab"
                  data-tab="tab2"
                  data-contents="shop-beauty-banner"
                  aria-selected="false"
                >
                  Spring Solutions
                </button>
                <button
                  href="#tab3"
                  class="ed-button--tab ed-type--button"
                  role="tab"
                  aria-controls="tab3"
                  id="tab3-tab"
                  data-tab="tab3"
                  data-contents="new-prodict-slot evergreen-promo"
                  aria-selected="false"
                >
                  Trends to Try
                </button>
              </nav>
              <hr />
            </section>
          </main>

          <!-- <section
            class="ed-container--tab"
            id="tab1"
            role="tabpanel"
            aria-labelledby="tab1-tab"
            tabindex="0"
          >
            <header class="ed-container--header">
              <h2 class="ed-type--h2">Brian&apos;s Patio Launch</h2>
            </header>
          </section>

          <section
            class="ed-container--tab"
            id="tab2"
            role="tabpanel"
            aria-labelledby="tab2-tab"
            tabindex="0"
            hidden
          >
            <header class="ed-container--header">
              <h2 class="ed-type--h2">Spring Solutions</h2>
            </header>
          </section>

          <section
            class="ed-container--tab"
            id="tab3"
            role="tabpanel"
            aria-labelledby="tab3-tab"
            tabindex="0"
            hidden
          >
            <header class="ed-container--header">
              <h2 class="ed-type--h2">Trends To Try</h2>
            </header>
          </section> -->
        </body>
      </div>
    </div>
  </div>
</html>
