<!doctype html>
<html lang="en-CA">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Gluckstein Design Tips | The Bay Canada</title>
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1712236745383/css/global.css"
    />
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1712130735115/css/typography.css"
    />
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1712130735115/css/zellers-svg-font.css"
    />
  </head>
  <div class="cat-landing">
    <div class="secondary-content">
      <div class="home-slots">
        <body style="margin: 0">
          <main class="ed-wrapper--main">
            <section id="ed-hero">
              <img
                class="ed-util-img--fluid"
                alt="#"
                src="https://image.s5a.com/is/image/TheBay/437_101024_BRAND-LANDING-PAGE_GLUCKSTEINHOME_PABANNER_EN?scl=1&fmt=webp"
              />
            </section>

            <header class="ed-container--header ed-util-text-center">
              <img
                alt="#"
                src="https://image.s5a.com/is/image/TheBay/437_101024_BRAND-LANDING-PAGE_GLUCKSTEINHOME_BRIAN_CIRCLE?scl=1&fmt=webp"
              />
              <h6 aria-level="1" class="ed-type--h6 ed-util--t-black">
                Interior designer, author & design authority Brian Gluckstein
                offers inspiration & sets the key trends of the new season.
              </h6>
            </header>

            <section class="ed-wrapper--menu">
              <hr />
              <nav class="ed-nav--tabs">
                <a
                  href="$url('Search-Show','cgid','brian-gluckstein-shop-by-room')$?sre=437_101024_BRAND-LANDING-PAGE_GLUCKSTEINHOME_TABS_1_CP_SHOP-BY-ROOM"
                  class="ed-button--tab ed-type--button"
                >
                  SHOP BY ROOM
                </a>
                <a
                  href="$url('Search-Show','cgid','brian-gluckstein-holiday')$?sre=437_101024_BRAND-LANDING-PAGE_GLUCKSTEINHOME_TABS_1_CP_HOLIDAY"
                  class="ed-button--tab ed-type--button"
                >
                  HOLIDAY
                </a>
                <a
                  href="$url('Search-Show','cgid','brian-gluckstein-trends')$?sre=437_101024_BRAND-LANDING-PAGE_GLUCKSTEINHOME_TABS_1_CP_TRENDS"
                  class="ed-button--tab ed-type--button"
                >
                  TRENDS
                </a>
              </nav>
              <hr />
            </section>

            <!-- TODO: Un-comment below headings accordingly. -->
            <!-- <section class="ed-util-text-center">
              <h1
                class="ed-util--sans-bold ed-util-pt--2 ed-util--b-bottom ed-type--h1"
              >
                Shop By Room
              </h1>
            </section> -->

            <!-- <section class="ed-util-text-center">
              <h1
                class="ed-util--sans-bold ed-util-pt--2 ed-util--b-bottom ed-type--h1"
              >
                Holiday
              </h1>
            </section> -->

            <section class="ed-util-text-center">
              <h1
                class="ed-util--sans-bold ed-util-pt--2 ed-util--b-bottom ed-type--h1"
              >
                Trends
              </h1>
            </section>
          </main>
        </body>
      </div>
    </div>
  </div>
</html>
