.hbc {
  &-wrapper {
    &--legal {
      padding: 1.25rem;

      @media only screen and (min-width: 768px) {
        padding: 2.25rem 4rem;
      }

      @media only screen and (min-width: 1024px) {
        padding: 3.25rem 6rem;
      }
    }
  }

  &-header {
    &--legal {
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 3rem;
      z-index: 0;
    }
  }

  &-display {
    &--medium {
      font-family: 'Ivy Presto Regular', adobe-caslon-pro, serif;
      font-weight: 500;
      font-size: 2.25rem;
      line-height: 2.75rem;
      margin-bottom: 2rem;
    }
  }

  &-headline {
    &--medium {
      font-family: 'Neue Montreal Bold', proxima-nova-bold,
        'Helvetica Neue Bold', sans-serif;
      font-size: 1.75rem;
      line-height: 2rem;
      margin-bottom: 1rem !important;
    }

    &--small {
      font-family: 'Neue Montreal Bold', proxima-nova-bold,
        'Helvetica Neue Bold', sans-serif;
      font-size: 1.5rem;
      line-height: 1.75rem;
      margin-bottom: 0.5rem;
    }
  }

  &-body {
    &--large {
      font-family: 'Neue Montreal', proxima-nova, 'Helvetica Neue', sans-serif;
      font-size: 1rem;
      line-height: 1.5rem;
      margin-bottom: 0.5rem;
    }
  }

  &-link {
    &--large {
      font-family: 'Neue Montreal', proxima-nova, 'Helvetica Neue', sans-serif;
      font-size: 1rem;
      line-height: 1.5rem;
      text-decoration: underline;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }
}
