/* -----------------------------------------------
 * EDITORIAL SPECIFIC THEMES
----------------------------------------------- */

// COLORS
$gr-blue: #d7e2e8;
$gr-text: #00274c;
$gr-visnav: #f7f9fb;

// SECTIONS
.hbc {
  &-theme {
    background: $gr-blue;
    padding: 3rem 6%;
    position: relative;

    .flex__item {
      &:nth-child(3) {
        position: absolute;
        right: 6%;
        transform: translateX(-6%);
      }
    }

    @include respond-to(large) {
      @include bayflex(row, nowrap, center, space-between, 3rem 2%, 0, inherit, inherit);

      .flex__item {
        &:nth-child(3) {
          position: inherit;
          right: inherit;
          transform: translateX(0);
        }
      }
    }

    // &__wrapper {
    //   padding: 4rem 8%;
    // }
  }
}

// BUTTONS
a,
a:link,
a:visited {
  &.btn {
    &--theme {
      @include bayLink(0px, 100%, $white, 2px, solid, $white, $gr-text);

      margin: 0 auto;
      font-size: 1.375rem;
      height: 52px;
      line-height: 52px;

      // @include respond-to(medium) {
      //   width: 470px;
      //   font-size: 1.375rem;
      // }

      &:hover,
      &:active,
      &:focus {
        background: darken($color: $white, $amount: 20%);
        border: 2px solid darken($color: $white, $amount: 20%);
      }

      &-underline {
        // margin: 50px 0 0;

        @include bayLink(0px, auto, none, 0px, none, transparent, $gr-text);
        font-weight: bold;
        font-size: 0.875rem;
        text-decoration: underline;

        &:hover,
        &:active,
        &:focus {
          color: lighten($color: $gr-text, $amount: 20%);
        }
      }

      &-alt {
        @include bayLink(0px, 100%, $gr-blue, 2px, solid, $gr-blue, $gr-text);

        margin: 2rem auto 3rem;
        font-size: 1.375rem;
        height: 52px;
        line-height: 52px;

        // @include respond-to(medium) {
        //   width: 470px;
        //   font-size: 1.375rem;
        // }

        &:hover,
        &:active,
        &:focus {
          background: darken($color: $gr-blue, $amount: 20%);
          border: 2px solid darken($color: $gr-blue, $amount: 20%);
        }
      }
    }
  }
}
