/* -----------------------------------------------
 * HERO STYLES
----------------------------------------------- */
#dsg-editorial.dsg-editorial {
  .hbc-hero {
    max-width: 2000px;
    position: relative;
    // margin-bottom: 100px;

    &__bg {
      width: 100%;
      height: auto;
      margin-bottom: 0;
      background-color: $bd-orange;

      @include backImage(
        $bd-orange,
        "311_041023",
        "LANDING-PAGE_MOP_BAY-DAYS_HERO",
        "MOBILE",
        contain,
        1744,
        1536
      );

      // @include respond-to(medium) {
      //   @include backImage(
      //     $rle-beige,
      //     "306_031023",
      //     "EVERGREEN_RLE-HERO",
      //     "TABLET",
      //     contain,
      //     812,
      //     2048
      //   );
      // }

      @include respond-to(medium) {
        @include backImage(
          $bd-orange,
          "311_041023",
          "LANDING-PAGE_MOP_BAY-DAYS_HERO",
          "DESKTOP",
          contain,
          1132,
          2882
        );
      }
    }
  }
}
