<!-- @@include('prod-header.html') -->
<!-- START OF #DSG-EDITORIAL. -->
<div id="dsg-editorial" class="dsg-editorial dsg-en">
  <!-- START OF HOME SLOTS. -->
  <div class="home-slots" id="top">
    <!-- START OF MAIN PAGE CONTENT. -->
    <main>
      <!-- START OF WACOAL 3-UP-CARD VIDEO MODAL BUTTONS. -->
      <!-- 3-UP. -->
      <div class="hbc-card__outer">
        <div class="hbc-card__inner">
          <div class="hbc-card">
            <a href="#" class="hbc-modal__button" data-modal="modal-1">
              <picture>
                <source
                  srcset="
                    https://image.s5a.com/is/image/TheBay/307_WACOAL_BRANDPAGE_3UPROW_VIDEOTHUMBNAIL_1_MOBILE?scl=1&qlt=75&fmt=webp
                  "
                  media="(max-width: 768px)"
                />
                <source
                  srcset="
                    https://image.s5a.com/is/image/TheBay/307_WACOAL_BRANDPAGE_3UPROW_VIDEOTHUMBNAIL_1_DESKTOP?scl=1&qlt=76&fmt=webp
                  "
                  media="(max-width: 992px)"
                />
                <img
                  class="hbc-img"
                  src="https://image.s5a.com/is/image/TheBay/307_WACOAL_BRANDPAGE_3UPROW_VIDEOTHUMBNAIL_1_DESKTOP?scl=1&qlt=76&fmt=webp"
                  alt=""
                />
              </picture>
            </a>
            <h3>5 Points of Fit<sup>&#8482;</sup></h3>
            <a class="btn--top hbc-modal__button" href="#" data-modal="modal-1"
              >WATCH VIDEO</a
            >
          </div>
        </div>
        <div class="hbc-card__inner">
          <div class="hbc-card">
            <a href="#" class="hbc-modal__button" data-modal="modal-2">
              <picture>
                <source
                  srcset="
                    https://image.s5a.com/is/image/TheBay/307_WACOAL_BRANDPAGE_3UPROW_VIDEOTHUMBNAIL_2_MOBILE?scl=1&qlt=75&fmt=webp
                  "
                  media="(max-width: 768px)"
                />
                <source
                  srcset="
                    https://image.s5a.com/is/image/TheBay/307_WACOAL_BRANDPAGE_3UPROW_VIDEOTHUMBNAIL_2_DESKTOP?scl=1&qlt=76&fmt=webp
                  "
                  media="(max-width: 992px)"
                />
                <img
                  class="hbc-img"
                  src="https://image.s5a.com/is/image/TheBay/307_WACOAL_BRANDPAGE_3UPROW_VIDEOTHUMBNAIL_2_DESKTOP?scl=1&qlt=76&fmt=webp"
                  alt=""
                />
              </picture>
            </a>
            <h3>About Wacoal</h3>
            <a class="btn--top hbc-modal__button" href="#" data-modal="modal-2"
              >WATCH VIDEO</a
            >
          </div>
        </div>
        <div class="hbc-card__inner">
          <div class="hbc-card">
            <a href="#" class="hbc-modal__button" data-modal="modal-3">
              <picture>
                <source
                  srcset="
                    https://image.s5a.com/is/image/TheBay/307_WACOAL_BRANDPAGE_3UPROW_VIDEOTHUMBNAIL_3_MOBILE?scl=1&qlt=75&fmt=webp
                  "
                  media="(max-width: 768px)"
                />
                <source
                  srcset="
                    https://image.s5a.com/is/image/TheBay/307_WACOAL_BRANDPAGE_3UPROW_VIDEOTHUMBNAIL_3_DESKTOP?scl=1&qlt=76&fmt=webp
                  "
                  media="(max-width: 992px)"
                />
                <img
                  class="hbc-img"
                  src="https://image.s5a.com/is/image/TheBay/307_WACOAL_BRANDPAGE_3UPROW_VIDEOTHUMBNAIL_3_DESKTOP?scl=1&qlt=76&fmt=webp"
                  alt=""
                />
              </picture>
            </a>
            <h3>Measure Myself</h3>
            <a class="btn--top hbc-modal__button" href="#" data-modal="modal-3"
              >WATCH VIDEO</a
            >
          </div>
        </div>
      </div>
      <!-- END OF WACOAL 3-UP-CARD VIDEO MODAL BUTTONS. -->

      <!-- START OF MODAL WINDOWS. -->
      <!-- MODAL #1 -->
      <div class="hbc-modal__container" id="modal-1">
        <div class="hbc-modal__content">
          <div class="hbc-video__container">
            <video
              controls
              poster="https://image.s5a.com/is/image/TheBay/307_WACOAL_BRANDPAGE_3UPROW_VIDEOTHUMBNAIL_1_MOBILE?scl=1&qlt=75&fmt=webp"
            >
              <source
                src="https://s7d9.scene7.com/is/content/TheBay/2023_SiteContent/307/wacoal/307_WACOAL_BRANDPAGE_3UPROW_VIDEO-1_5-POINTS-OF-FIT.webm"
                type="video/webm; codecs=vp9,vorbis"
              />
              <source
                src="https://s7d9.scene7.com/is/content/TheBay/2023_SiteContent/307/wacoal/307_WACOAL_BRANDPAGE_3UPROW_VIDEO-1_5-POINTS-OF-FIT_SECONDARY.mp4"
                type="video/mp4"
              />
              Your browser does not support HTML5 video.
            </video>
          </div>
          <button class="hbc-modal__close-button">Close</button>
        </div>
      </div>
      <!-- MODAL #2 -->
      <div class="hbc-modal__container" id="modal-2">
        <div class="hbc-modal__content">
          <div class="hbc-video__container">
            <video
              controls
              poster="https://image.s5a.com/is/image/TheBay/307_WACOAL_BRANDPAGE_3UPROW_VIDEOTHUMBNAIL_2_MOBILE?scl=1&qlt=75&fmt=webp"
            >
              <source
                src="https://s7d9.scene7.com/is/content/TheBay/2023_SiteContent/307/wacoal/307_WACOAL_BRANDPAGE_3UPROW_VIDEO-2_5-BRAND.webm"
                type="video/webm; codecs=vp9,vorbis"
              />
              <source
                src="https://s7d9.scene7.com/is/content/TheBay/2023_SiteContent/307/wacoal/307_WACOAL_BRANDPAGE_3UPROW_VIDEO-2_5-BRAND_SECONDARY.mp4"
                type="video/mp4"
              />
              Your browser does not support HTML5 video.
            </video>
          </div>
          <button class="hbc-modal__close-button">Close</button>
        </div>
      </div>
      <!-- MODAL #3 -->
      <div class="hbc-modal__container" id="modal-3">
        <div class="hbc-modal__content">
          <div class="hbc-video__container">
            <video
              controls
              poster="https://image.s5a.com/is/image/TheBay/307_WACOAL_BRANDPAGE_3UPROW_VIDEOTHUMBNAIL_3_MOBILE?scl=1&qlt=75&fmt=webp"
            >
              <source
                src="https://s7d9.scene7.com/is/content/TheBay/2023_SiteContent/307/wacoal/307_WACOAL_BRANDPAGE_3UPROW_VIDEO-3_5-MEASURE-MYSELF-BANDCUP.webm"
                type="video/webm; codecs=vp9,vorbis"
              />
              <source
                src="https://s7d9.scene7.com/is/content/TheBay/2023_SiteContent/307/wacoal/307_WACOAL_BRANDPAGE_3UPROW_VIDEO-3_5-MEASURE-MYSELF-BANDCUP_SECONDARY.mp4"
                type="video/mp4"
              />
              Your browser does not support HTML5 video.
            </video>
          </div>
          <button class="hbc-modal__close-button">Close</button>
        </div>
      </div>
      <!-- END OF MODAL WINDOWS -->
    </main>
    <!-- END OF MAIN PAGE CONTENT -->
  </div>
  <!-- END OF HOME SLOTS -->
</div>
<!-- END OF #DSG-EDITORIAL. -->
<!-- <script>@@include('../../../dev/js/main.min.js')</script> -->
<!-- @@include('footer.html') -->
