<!-- START OF HERO SECTION -->
<section class="hbc-hero">
  <a
    href="$url('Search-Show','cgid','2534374302032537','prefn1','brand','prefv1','RISE LITTLE EARTHLING')$?sre=409_032824_BRAND-PAGE-RLE"
  >
    <picture>
      <source
        media="(min-width: 48em)"
        srcset="
          https://image.s5a.com/is/image/TheBay/409_032824_BRAND-PAGE-RLE_HERO-SLIDE_1_DESKTOP_EN?scl=1&qlt=100&fmt=webp
        "
      />
      <img
        class="hbc-ed-image"
        src="https://image.s5a.com/is/image/TheBay/409_032824_BRAND-PAGE-RLE_HERO-SLIDE_1_MOBILE?scl=1&qlt=75&fmt=webp"
        alt="A smiling boy in a light, cream-coloured knit and striped white shorts adjusts his sunglasses with both hands."
        loading="eager"
      />
    </picture>
  </a>
  <section class="hbc-hero__content">
    <h3 class="hbc-hero__heading">
      Ethically sourced styles at great prices. Exclusively at Hudson’s Bay.
    </h3>
    <div class="buttons__wrapper">
      <a
        class="btn--theme"
        href="$url('Search-Show','cgid','2534374302032537','prefn1','brand','prefv1','RISE LITTLE EARTHLING')$?sre=409_032824_BRAND-PAGE-RLE"
        >SHOP NOW &nbsp; &rarr;</a
      >
    </div>
  </section>
</section>
<!-- END OF HERO SECTION -->
