// File: _variables.scss

/* -----------------------------------------------
 * HBC VARIABLES
----------------------------------------------- */
// Primary Colors
$hbc-green: rgba(0, 112, 74, 1);
$hbc-red: rgba(179, 8, 56, 1);
$hbc-yellow: rgba(238, 178, 17, 1);
$hbc-blue: rgba(0, 39, 76, 1);

// Secondary Colors
$spring-wood: rgba(248, 248, 242, 1);

// Woolmark Colors
$wm-gray: rgba(175, 184, 190, 1);
$wm-charcoal: rgba(44, 51, 60, 1);
$wm-grayellow: rgba(189, 182, 166, 1);
$wm-grabrown: rgba(134, 123, 100, 1);
$wm-beige: rgba(245, 244, 240, 1);

// Fonts
@import url('https://use.typekit.net/pdw1vaj.css');

$baySerif: 'ivypresto-display', serif;
$baySans: 'proxima-nova', sans-serif;
// $baySans: "Helvetica Neue", sans-serif;

// Breakpoints
// How to use in styles: @include respond-to(medium) { ... }
$breakpoints: (
  // from 0px to 575px
  'small': (/* Mobile Styles (576px or 36em - 767px). */ min-width: 36em),
  'medium': (/* Tablet Styles (768px or 48em - 1199px). */ min-width: 48em),
  'large': (/* Desktop Styles (1200 or 75em - 1439px). */ min-width: 75em),
  'xlarge': (/* Large Desktop Styles (1440px or 90em and Up). */ min-width: 90em)
);
