<!doctype html>
<html lang="en-CA">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1721787329464/css/global.css"
    />
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1721787329464/css/typography.css"
    />
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1721787329464/css/zellers-svg-font.css"
    />
    <title>Giving Day | The Bay Canada</title>
  </head>
  <div class="cat-landing">
    <div class="secondary-content">
      <div class="home-slots">
        <body style="margin: 0">
          <section class="ed-wrapper--hero">
            <a href="#">
              <picture
                ><source
                  media="(max-width:48em)"
                  srcset="
                    https://image.s5a.com/is/image/TheBay/HBF-2021-IMPACT-REPORT-1?scl=1&fmt=webp
                  "
                />
                <img
                  alt="#"
                  src="https://image.s5a.com/is/image/TheBay/HBF-2021-IMPACT-REPORT-15?scl=1&fmt=webp"
                />
              </picture>
            </a>
          </section>
          <main class="ed-wrapper--main">
            <header class="ed-container--header">
              <h1
                class="ed-util-text-center ed-util-pt--3pnt5 ed-util--sans-bold"
              >
                Thank you for making a positive impact.
              </h1>
              <h2
                class="ed-util-text-center ed-util-pt--3pnt5 ed-util--sans-medium"
              >
                About Hudson&apos;s Bay Foundation
              </h2>
            </header>
            <p class="ed-util-text-left ed-util-pt--3pnt5 ed-util--sans">
              Hudson&apos;s Bay Foundation is a registered charity, working to
              address racial inequity by investing in three distinct pillars
              &dash; Education, Employment, and Empowerment. Through these
              pillars, the Foundation aims to increase opportunities for
              underrepresented communities across Canada.
            </p>
            <p class="ed-util-text-left ed-util-pt--1pnt5 ed-util--sans">
              In 2021, the Foundation launched Hudson&apos;s Bay Foundation
              Charter for Change, a 10-year, $30-million commitment to
              accelerate racial equity in Canada. To accomplish this, the
              Foundation formed long-term partnerships with organizations doing
              critical work and driving meaningful change. Together, the
              Foundation and its impact partners have reexamined the ways in
              which it invests in communities and the ways in which we can all
              create a better Canada.
            </p>
          </main>
        </body>
      </div>
    </div>
  </div>
</html>
