<!doctype html>
<html lang="en-CA">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link
      rel="preconnect stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1723170782328/css/global.css"
    />
    <link
      rel="preconnect stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1723170782328/css/typography.css"
    />
    <link
      rel="preconnect stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1723170782328/css/zellers-svg-font.css"
    />
    <!-- For Styling -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <title>Giving Day | The Bay Canada</title>
  </head>
  <div class="cat-landing">
    <div class="secondary-content">
      <div class="home-slots">
        <body style="margin: 0">
          <main class="ed-wrapper--main">
            <!-- START OF HERO SECTION -->
            <section id="ed-hero">
              <a href="#">
                <picture
                  ><source
                    media="(max-width:48em)"
                    srcset="
                      https://image.s5a.com/is/image/TheBay/GIVING-DAY_HERO_MOBILE_EN?scl=1&fmt=webp
                    "
                  />
                  <img
                    alt="#"
                    src="https://image.s5a.com/is/image/TheBay/GIVING-DAY_HERO_DESKTOP_EN?scl=1&fmt=webp"
                  />
                </picture>
              </a>
            </section>
            <!-- END OF HERO SECTION -->

            <!-- START OF ABOUT SECTION -->
            <section id="ed-about">
              <header class="ed-container--header">
                <h1
                  class="ed-util-text-center ed-util-pb--2pnt5 ed-util--sans-bold"
                >
                  Thank you for making a positive impact.
                </h1>
                <h2
                  class="ed-util-text-center ed-util--sans-medium ed-util-pb--2pnt5"
                >
                  About Hudson&apos;s Bay Foundation
                </h2>
              </header>
              <p
                class="ed-util-text-left ed-util--sans ed-util-px--1pnt5 ed-util-px--0--md ed-util--p"
              >
                Hudson&apos;s Bay Foundation is a registered charity, working to
                address racial inequity by investing in three distinct pillars
                &dash; Education, Employment, and Empowerment. Through these
                pillars, the Foundation aims to increase opportunities for
                underrepresented communities across Canada.
              </p>
              <p
                class="ed-util-text-left ed-util-pt--1pnt5 ed-util--sans ed-util-px--1pnt5 ed-util-px--0--md ed-util--p"
              >
                In 2021, the Foundation launched Hudson&apos;s Bay Foundation
                Charter for Change, a 10-year, $30-million commitment to
                accelerate racial equity in Canada. To accomplish this, the
                Foundation formed long-term partnerships with organizations
                doing critical work and driving meaningful change. Together, the
                Foundation and its impact partners have reexamined the ways in
                which it invests in communities and the ways in which we can all
                create a better Canada.
              </p>
            </section>
            <!-- END OF ABOUT SECTION -->

            <!-- START OF FIRST BANNER SECTION -->
            <section id="ed-banner--one">
              <header class="ed-container--header">
                <h2 class="ed-util-text-center ed-util--sans-medium">
                  Collective Support
                </h2>
              </header>
              <div class="ed-banner__wrapper--outer ed-util--bg-beige">
                <div class="ed-banner__wrapper--inner">
                  <div class="ed-banner">
                    <h3
                      class="ed-util-text-center ed-util--sans-bold ed-util-p--1pnt5 ed-util-p--0--md"
                    >
                      Raised $254,778 through Giving Day in 2023
                    </h3>
                  </div>
                </div>
                <div class="ed-banner__wrapper--inner">
                  <div class="ed-banner">
                    <p
                      class="ed-util-px--1pnt5 ed-util-px--0--md ed-util--p ed-util-sans"
                    >
                      <strong>Giving Day</strong> is a moment when we
                      collectively come together to raise awareness and support
                      the incredible work of Hudson&apos;s Bay Foundation
                      Charter For Change impact partners who are working to
                      advance racial equity and inclusion in Canada through
                      Education, Employment and Empowerment.
                    </p>
                    <br />
                    <p
                      class="ed-util-px--1pnt5--xxsm ed-util-px--0--md ed-util-pb--1pnt5 ed-util-pb--0--md ed-util--p ed-util-sans"
                    >
                      <strong>Join our journey on September 7</strong> to drive
                      real lasting change, while unlocking exclusive discounts
                      in beauty, home and fashion, with a purchase of a $5
                      Hudson&apos;s Bay Foundation ticket in store and online.
                    </p>
                  </div>
                </div>
              </div>
            </section>
            <!-- END OF FIRST BANNER SECTION -->

            <!-- START OF 4-UP CARDS SECTION -->
            <section id="ed-cards">
              <header class="ed-container--header">
                <h2 class="ed-util-text-center ed-util--sans-medium">
                  To date, we have
                </h2>
              </header>
              <div class="ed-cards__outer">
                <div
                  class="ed-cards__inner ed-util--bg-green ed-util--t-white ed-util-text-center"
                >
                  <div class="ed-cards ed-util--flexible">
                    <span class="material-symbols-outlined ed-util-pb--1">
                      groups
                    </span>
                    <h3 class="ed-util--sans-medium ed-util--h3">
                      Disbursed over &dollar;2 million through the Oshki
                      Wupoowane | The Blanket Fund
                    </h3>
                  </div>
                </div>
                <div
                  class="ed-cards__inner ed-util--bg-red ed-util--t-white ed-util-text-center"
                >
                  <div class="ed-cards ed-util--flexible">
                    <span class="material-symbols-outlined ed-util-pb--1">
                      favorite
                    </span>
                    <h3 class="ed-util--sans-medium ed-util--h3">
                      Disbursed &dollar;10,213,653 to impact partners
                    </h3>
                  </div>
                </div>
                <div
                  class="ed-cards__inner ed-util--bg-yellow ed-util--t-white ed-util-text-center"
                >
                  <div class="ed-cards ed-util--flexible">
                    <!-- <span class="material-symbols-outlined ed-util-pb--1"> diversity_3 </span> -->
                    <!-- <span class="material-symbols-outlined ed-util-pb--1"> diversity_1 </span> -->
                    <span class="material-symbols-outlined ed-util-pb--1">
                      diversity_2
                    </span>
                    <!-- <span class="material-symbols-outlined ed-util-pb--1"> diversity_4 </span> -->
                    <h3 class="ed-util--sans-medium ed-util--h3">
                      Impacted 120,394 total lives
                    </h3>
                  </div>
                </div>
                <div
                  class="ed-cards__inner ed-util--bg-blue ed-util--t-white ed-util-text-center"
                >
                  <div class="ed-cards ed-util--flexible">
                    <!-- <span class="material-symbols-outlined ed-util-pb--1"> loyalty </span> -->
                    <span class="material-symbols-outlined ed-util-pb--1">
                      volunteer_activism
                    </span>
                    <!-- <span class="material-symbols-outlined ed-util-pb--1"> handshake </span> -->
                    <h3 class="ed-util--sans-medium ed-util--h3">
                      Engaged 5,334 associates
                    </h3>
                  </div>
                </div>
              </div>
              <div class="ed-container--links">
                <a
                  class="ed-link--regular ed-util--bg-grey ed-util--cta"
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="Click here for the hudson's bay foundation website"
                  href="https://www.hudsonsbayfoundation.ca/"
                  >Learn More &rarr;</a
                >
                <a
                  class="ed-link--regular ed-util--bg-grey ed-util--cta"
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="Click here for the hudson's bay foundation website donation page"
                  href="https://www.hudsonsbayfoundation.ca/donate/"
                  >Help Drive Change &rarr;</a
                >
              </div>
            </section>
            <!-- END OF 4-UP CARDS SECTION -->

            <!-- START OF SECOND BANNER SECTION -->
            <section id="ed-banner--two">
              <header class="ed-container--header">
                <h2 class="ed-util-text-center ed-util--sans-medium">
                  Oshki Wupoowane | The Blanket Fund
                </h2>
              </header>
              <div class="ed-banner__wrapper--outer ed-util--bg-beige">
                <div class="ed-banner__wrapper--inner">
                  <div class="ed-banner">
                    <img
                      alt="#"
                      src="https://image.s5a.com/is/image/TheBay/GIVING-DAY_LANDSCAPE_POINT-BLANKET?scl=1&fmt=webp"
                    />
                  </div>
                </div>
                <div class="ed-banner__wrapper--inner">
                  <div class="ed-banner">
                    <img
                      class="ed-banner__logo"
                      alt="#"
                      src="https://image.s5a.com/is/image/TheBay/GIVING-DAY_DOWNIE-WENJACK_LOGO_BLACK_VER-1?scl=1&fmt=webp"
                    />
                    <p
                      class="ed-util-px--1pnt5--xxsm ed-util-px--0--md ed-util-pt--1pnt5 ed-util-pt--0--md ed-util--p ed-util--sans"
                    >
                      Hudson&apos;s Bay Foundation is proud to partner with the
                      Gord Downie & Chanie Wenjack Fund to create Oshki
                      Wupoowane | The Blanket Fund.
                    </p>
                    <br />
                    <p
                      class="ed-util-px--1pnt5--xxsm ed-util-px--0--md ed-util-pb--1pnt5 ed-util-pb--0--md ed-util--p ed-util-sans"
                    >
                      Oshki Wupoowane launched on September 30th, 2022, with a
                      commitment to direct 100% of net proceeds from the sale of
                      all HBC Point Blankets to The Blanket Fund moving forward.
                      Since then, The Blanket Fund has grown to more than $3
                      million, which will be disbursed to successful applicants
                      over multiple years.
                    </p>
                  </div>
                </div>
              </div>
              <div class="ed-container--links">
                <a
                  class="ed-link--regular ed-util--bg-grey ed-util--cta"
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="Click here for the downie wenjack blanket fund webpage"
                  href="https://downiewenjack.ca/the-blanket-fund/"
                  >Learn More &rarr;</a
                >
                <!-- TODO: Get SFCC formatted link for point blanket -->
                <a
                  class="ed-link--regular ed-util--bg-grey ed-util--cta"
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="Click here to purchase the point blanket"
                  href="#"
                  >Contribute To The Fund &rarr;</a
                >
              </div>
            </section>
            <!-- END OF SECOND BANNER SECTION -->

            <!-- START OF ACCORDION SECTION -->
            <section id="ed-accordion">
              <div class="ed-accordion__wrapper">
                <div class="ed-accordion">
                  <div class="ed-accordion__panel--wrapper">
                    <button
                      class="ed-accordion__button ed-util--cta ed-util-sans"
                      aria-expanded="false"
                      aria-controls="panel1"
                    >
                      How can I purchase a Giving Day ticket&quest;
                    </button>
                    <div
                      class="ed-accordion__panel"
                      id="panel1"
                      aria-hidden="true"
                    >
                      <p class="ed-util--p ed-util--sans">
                        You can purchase your Giving Day ticket in store and
                        online.
                      </p>
                    </div>
                  </div>
                  <div class="ed-accordion__panel--wrapper">
                    <button
                      class="ed-accordion__button ed-util--cta ed-util-sans"
                      aria-expanded="false"
                      aria-controls="panel2"
                    >
                      Who are Hudson&apos;s Bay Foundation impact
                      partners&quest;
                    </button>
                    <div
                      class="ed-accordion__panel"
                      id="panel2"
                      aria-hidden="true"
                    >
                      <p class="ed-util--p ed-util--sans">
                        Gord Downie &amp; Chanie Wenjack Fund; Indspire; Future
                        Generations Foundation; CEE Centre for Young Black
                        Professionals; Nia Centre for the Arts; MLSE Foundation;
                        The Centre for Addiction and Mental Health (CAMH); and
                        Rainbow Railroad.
                      </p>
                    </div>
                  </div>
                  <div class="ed-accordion__panel--wrapper">
                    <button
                      class="ed-accordion__button ed-util--cta ed-util-sans"
                      aria-expanded="false"
                      aria-controls="panel3"
                    >
                      How do I learn about the impact Hudson&apos;s Bay
                      Foundation is making&quest;
                    </button>
                    <div
                      class="ed-accordion__panel"
                      id="panel3"
                      aria-hidden="true"
                    >
                      <p class="ed-util--p ed-util-sans">
                        To learn about the programs we support visit:
                        <a
                          target="_blank"
                          rel="noopener noreferrer"
                          aria-label="Click here for the hudson's bay foundation webpage"
                          href="https://www.hudsonsbayfoundation.ca/"
                          >https://www.hudsonsbayfoundation.ca/</a
                        >
                      </p>
                    </div>
                  </div>
                  <div class="ed-accordion__panel--wrapper">
                    <button
                      class="ed-accordion__button ed-util--cta ed-util-sans"
                      aria-expanded="false"
                      aria-controls="panel3"
                    >
                      Is Hudson&apos;s Bay Foundation a registered
                      charity&quest;
                    </button>
                    <div
                      class="ed-accordion__panel"
                      id="panel3"
                      aria-hidden="true"
                    >
                      <p class="ed-util--p ed-util-sans">
                        Hudson&apos;s Bay Foundation is a registered charity.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!-- END OF ACCORDION SECTION -->
          </main>
        </body>
      </div>
    </div>
  </div>
</html>
