/* -----------------------------------------------
 * ANCHOR BUTTON STYLES
----------------------------------------------- */
.buttons {
  &__wrapper {
    @include bayflex(
      column,
      inherit,
      center,
      inherit,
      0,
      0,
      100%,
      100%,
      center
    );

    @include respond-to(large) {
      flex-direction: row;
    }
  }
}

a,
a:link,
a:visited {
  &.btn {
    &--default {
      @include bayLink(0px, 100%, none, 2px, solid, $black, $black);

      margin-bottom: 10px;
      // width: 100%;

      @include respond-to(large) {
        width: 352px;
      }

      &:hover,
      &:active,
      &:focus {
        background: $black;
        color: $white;
      }
    }

    &--alt {
      @include bayLink(
        0px,
        calc(100% - 40px),
        $black,
        2px,
        solid,
        $black,
        $white
      );

      @include respond-to(large) {
        width: 713px;
      }

      &:hover,
      &:active,
      &:focus {
        background: lighten($color: $black, $amount: 20%);
        border-color: lighten($color: $black, $amount: 20%);
      }
    }

    // &--theme {
    //   margin: 1rem 0;

    //   @include bayLink(
    //     0px,
    //     100%,
    //     $black,
    //     2px,
    //     solid,
    //     $black,
    //     $white
    //   );

    //   @include respond-to(large) {
    //     width: calc(96% / 2);
    //   }

    //   &:hover,
    //   &:active,
    //   &:focus {
    //     background: darken($color: $black, $amount: 8%);
    //     border: 2px solid darken($color: $black, $amount: 8%);
    //   }
    // }

    &--top {
      margin: 0 auto;

      @include bayLink(0px, auto, none, 0px, none, transparent, $black);
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      text-decoration: underline;

      &:hover,
      &:active,
      &:focus {
        color: lighten($color: $black, $amount: 50%);
      }
    }
  }
}
