<!doctype html>
<html lang="en-CA">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Gluckstein Design Tips | The Bay Canada</title>
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1712236745383/css/global.css"
    />
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1712130735115/css/typography.css"
    />
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1712130735115/css/zellers-svg-font.css"
    />
  </head>
  <div class="cat-landing">
    <div class="secondary-content">
      <div class="home-slots">
        <body style="margin: 0">
          <main class="ed-wrapper--main">
            <section id="ed-hero">
              <picture>
                <source
                  srcset="
                    https://image.s5a.com/is/image/TheBay/507_031325_BRAND-LANDING-PAGE_GLUCKSTEINHOME_HERO-DESIGNED_1_MOBILE_EN?scl=1&qlt=72&fmt=webp
                  "
                  media="(max-width:768px)"
                />
                <source
                  srcset="
                    https://image.s5a.com/is/image/TheBay/507_031325_BRAND-LANDING-PAGE_GLUCKSTEINHOME_HERO-DESIGNED_1_DESKTOP_EN?scl=1&qlt=72&fmt=webp
                  "
                  media="(min-width: 769px) and (max-width: 1024px)"
                />
                <img
                  class="ed-util-img--fluid"
                  src="https://image.s5a.com/is/image/TheBay/507_031325_BRAND-LANDING-PAGE_GLUCKSTEINHOME_HERO-DESIGNED_1_DESKTOP_EN?scl=1&qlt=75&fmt=webp"
                  alt=""
                />
              </picture>
            </section>
            <header class="ed-container--header ed-util-text-center">
              <img
                alt=""
                src="https://image.s5a.com/is/image/TheBay/437_101024_BRAND-LANDING-PAGE_GLUCKSTEINHOME_BRIAN_CIRCLE?scl=1&fmt=webp"
              />
              <h6 aria-level="1" class="ed-type--h6 ed-util--t-black">
                Interior designer, author & design authority Brian Gluckstein
                offers inspiration & sets the key trends of the new season.
              </h6>
            </header>
          </main>
        </body>
      </div>
    </div>
  </div>
</html>
