<!doctype html>
<html lang="fr-CA">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link
      rel="preconnect stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1723170782328/css/global.css"
    />
    <link
      rel="preconnect stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1723170782328/css/typography.css"
    />
    <link
      rel="preconnect stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1723170782328/css/zellers-svg-font.css"
    />
    <!-- For Styling -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <title>Shop with Purpose | The Bay Canada</title>
  </head>
  <div class="cat-landing">
    <div class="secondary-content">
      <div class="home-slots">
        <body style="margin: 0">
          <main class="ed-wrapper--main">
            <!-- START OF HERO SECTION -->
            <section id="ed-hero">
              <!-- <a href="#"> -->
              <picture
                ><source
                  media="(max-width:48em)"
                  srcset="
                    https://image.s5a.com/is/image/TheBay/441_110724_CHARTER-FOR-CHANGE_LANDING-PAGE_HERO_MOBILE_EN?scl=1&fmt=webp
                  "
                />
                <img
                  class="ed-util-img--fluid"
                  alt="#"
                  src="https://image.s5a.com/is/image/TheBay/441_110724_CHARTER-FOR-CHANGE_LANDING-PAGE_HERO_DESKTOP_EN?scl=1&fmt=webp"
                />
              </picture>
              <!-- </a> -->
            </section>
            <!-- END OF HERO SECTION -->

            <!-- START OF ABOUT SECTION -->
            <section id="ed-about">
              <header class="ed-container--header">
                <h1
                  class="ed-util-text-center ed-util-pb--2pnt5 ed-util--sans-bold"
                >
                  Merci de votre contribution positive.
                </h1>
              </header>
              <p
                class="ed-util-text-center ed-util--sans ed-util-px--1pnt5 ed-util-px--0--md ed-util--p"
              >
                Par l&apos;intermédiaire de la Fondation La Baie d&apos;Hudson,
                nous demeurons inébranlables dans notre engagement à favoriser
                la réconciliation et l&apos;atteinte de l&apos;équité raciale au
                Canada.
              </p>
            </section>
            <!-- END OF ABOUT SECTION -->

            <!-- START OF 4-UP CARDS SECTION -->
            <section id="ed-cards">
              <header class="ed-container--header">
                <h2 class="ed-util-text-center ed-util--sans-medium">
                  À ce jour, nous avons :
                </h2>
              </header>
              <div class="ed-cards__outer">
                <div
                  class="ed-cards__inner ed-util--bg-green ed-util--t-white ed-util-text-center"
                >
                  <div class="ed-cards ed-util--flexible">
                    <span class="material-symbols-outlined ed-util-pb--1">
                      groups
                    </span>
                    <h3 class="ed-util--sans-medium ed-util--h3">
                      versé plus de 2 millions de dollars à Oshki Wupoowane | Le
                      Fonds des couvertures
                    </h3>
                  </div>
                </div>
                <div
                  class="ed-cards__inner ed-util--bg-red ed-util--t-white ed-util-text-center"
                >
                  <div class="ed-cards ed-util--flexible">
                    <span class="material-symbols-outlined ed-util-pb--1">
                      favorite
                    </span>
                    <h3 class="ed-util--sans-medium ed-util--h3">
                      remis 10 213 653 $ à nos partenaires d&apos;impact
                    </h3>
                  </div>
                </div>
                <div
                  class="ed-cards__inner ed-util--bg-yellow ed-util--t-white ed-util-text-center"
                >
                  <div class="ed-cards ed-util--flexible">
                    <!-- <span class="material-symbols-outlined ed-util-pb--1"> diversity_3 </span> -->
                    <!-- <span class="material-symbols-outlined ed-util-pb--1"> diversity_1 </span> -->
                    <span class="material-symbols-outlined ed-util-pb--1">
                      diversity_2
                    </span>
                    <!-- <span class="material-symbols-outlined ed-util-pb--1"> diversity_4 </span> -->
                    <h3 class="ed-util--sans-medium ed-util--h3">
                      aidé 120 394 personnes
                    </h3>
                  </div>
                </div>
                <div
                  class="ed-cards__inner ed-util--bg-blue ed-util--t-white ed-util-text-center"
                >
                  <div class="ed-cards ed-util--flexible">
                    <!-- <span class="material-symbols-outlined ed-util-pb--1"> loyalty </span> -->
                    <span class="material-symbols-outlined ed-util-pb--1">
                      volunteer_activism
                    </span>
                    <!-- <span class="material-symbols-outlined ed-util-pb--1"> handshake </span> -->
                    <h3 class="ed-util--sans-medium ed-util--h3">
                      mobilisé 5 334 associés
                    </h3>
                  </div>
                </div>
              </div>
              <div class="ed-container--links">
                <a
                  class="ed-link--regular ed-util--bg-grey ed-util--cta"
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="Click here for the hudson's bay foundation website"
                  href="https://www.hudsonsbayfoundation.ca/fr/"
                  >Précisions &rarr;</a
                >
                <a
                  class="ed-link--regular ed-util--bg-grey ed-util--cta"
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="Click here for the hudson's bay foundation website donation page"
                  href="https://www.hudsonsbayfoundation.ca/fr/donate/"
                  >Favoriser le changement &rarr;</a
                >
              </div>
            </section>
            <!-- END OF 4-UP CARDS SECTION -->

            <!-- START OF FIRST BANNER SECTION -->
            <section id="ed-banner--one">
              <header class="ed-container--header">
                <h2 class="ed-util-text-center ed-util--sans-medium">
                  Des choix qui comptent
                </h2>
                <p
                  class="ed-util-text-center ed-util--sans ed-util-px--1pnt5 ed-util-px--0--md ed-util--p"
                >
                  De nombreuses possibilités s&apos;offrent à vous pour nous
                  rejoindre dans notre parcours visant à créer un changement
                  générationnel.
                </p>
              </header>
              <div class="ed-banner__wrapper--outer ed-util--bg-beige">
                <div class="ed-banner__wrapper--inner">
                  <div class="ed-banner">
                    <h3
                      class="ed-util-text-center ed-util--sans-bold ed-util-p--1pnt5 ed-util-p--0--md"
                    >
                      448 200 $
                    </h3>
                  </div>
                </div>
                <div class="ed-banner__wrapper--inner">
                  <div class="ed-banner">
                    <p
                      class="ed-util-px--1pnt5 ed-util-px--0--md ed-util--p ed-util-sans"
                    >
                      Grâce à votre soutien généreux, nous avons, en 2024, versé
                      plus de 448 000 $ aux communautés sous-représentées par le
                      biais de l&apos;éducation, de l&apos;emploi et de
                      l&apos;autonomisation.
                    </p>
                  </div>
                </div>
              </div>
            </section>
            <!-- END OF FIRST BANNER SECTION -->

            <!-- START OF SECOND BANNER SECTION -->
            <section id="ed-banner--two">
              <header class="ed-container--header">
                <h2 class="ed-util-text-center ed-util--sans-medium">
                  Soyons des partenaires tout au long de l&apos;année pour
                  contribuer à créer du changement
                </h2>
                <p
                  class="ed-util-text-center ed-util--sans ed-util-px--1pnt5 ed-util-px--0--md ed-util--p"
                >
                  Avec l&apos;achat d&apos;un billet au coût de 5 $, vous pouvez
                  profiter de rabais exclusifs sur des vêtements, des articles
                  pour la maison et des produits de beauté, tout en soutenant le
                  travail exceptionnel des partenaires d&apos;impact de la
                  Fondation La Baie d&apos;Hudson.
                </p>
              </header>
              <div class="ed-banner__wrapper--outer ed-util--bg-beige">
                <div class="ed-banner__wrapper--inner">
                  <div class="ed-banner">
                    <h3
                      class="ed-util-text-center ed-util--sans-medium ed-util-p--1pnt5 ed-util-p--0--md"
                    >
                      Le grand don
                    </h3>
                  </div>
                </div>
                <div class="ed-banner__wrapper--inner">
                  <div class="ed-banner">
                    <p
                      class="ed-util-px--1pnt5 ed-util-px--0--md ed-util--p ed-util-sans"
                    >
                      Au printemps et à l&apos;automne, obtenez des rabais
                      exclusifs sur des vêtements, des articles pour la maison
                      et des produits de beauté.
                    </p>
                  </div>
                </div>
              </div>
              <div class="ed-banner__wrapper--outer ed-util--bg-beige">
                <div class="ed-banner__wrapper--inner">
                  <div class="ed-banner">
                    <h3
                      class="ed-util-text-center ed-util--sans-medium ed-util-p--1pnt5 ed-util-p--0--md"
                    >
                      Gala beauté
                    </h3>
                  </div>
                </div>
                <div class="ed-banner__wrapper--inner">
                  <div class="ed-banner">
                    <p
                      class="ed-util-px--1pnt5 ed-util-px--0--md ed-util--p ed-util-sans"
                    >
                      Découvrez notre gamme de marques exclusives ainsi que nos
                      produits de beauté et nos parfums les plus convoités,
                      recevez un service personnalisé de luxe de la part de nos
                      experts et profitez de rabais exclusifs chaque été et
                      chaque hiver.
                    </p>
                  </div>
                </div>
              </div>
              <div class="ed-banner__wrapper--outer ed-util--bg-beige">
                <div class="ed-banner__wrapper--inner">
                  <div class="ed-banner">
                    <h3
                      class="ed-util-text-center ed-util--sans-medium ed-util-p--1pnt5 ed-util-p--0--md"
                    >
                      Soirée de gars
                    </h3>
                  </div>
                </div>
                <div class="ed-banner__wrapper--inner">
                  <div class="ed-banner">
                    <p
                      class="ed-util-px--1pnt5 ed-util-px--0--md ed-util--p ed-util-sans"
                    >
                      Économisez sur toutes les nouveautés printanières et
                      automnales pour homme, comme des vêtements, des
                      accessoires, des produits de beauté et des parfums, tout
                      en participant à une soirée de divertissement et de légers
                      rafraîchissements.
                    </p>
                  </div>
                </div>
              </div>
            </section>
            <!-- END OF SECOND BANNER SECTION -->

            <!-- START OF THIRD BANNER SECTION -->
            <section id="ed-banner--three">
              <header class="ed-container--header">
                <h2 class="ed-util-text-center ed-util--sans-medium">
                  Oshki Wupoowane | Le Fonds des couvertures
                </h2>
              </header>
              <div class="ed-banner__wrapper--outer ed-util--bg-beige">
                <div class="ed-banner__wrapper--inner">
                  <div class="ed-banner">
                    <img
                      alt="#"
                      src="https://image.s5a.com/is/image/TheBay/GIVING-DAY_LANDSCAPE_POINT-BLANKET?scl=1&fmt=webp"
                    />
                  </div>
                </div>
                <div class="ed-banner__wrapper--inner">
                  <div class="ed-banner">
                    <img
                      class="ed-banner__logo ed-util-px--1pnt5--xxsm ed-util-px--0--md"
                      alt="#"
                      src="https://image.s5a.com/is/image/TheBay/GIVING-DAY_DOWNIE-WENJACK_LOGO_BLACK_TRANS?scl=1&fmt=png-alpha"
                    />
                    <p
                      class="ed-util-px--1pnt5--xxsm ed-util-px--0--md ed-util-pt--1pnt5 ed-util-pt--0--md ed-util--p ed-util--sans"
                    >
                      La Fondation La Baie d&apos;Hudson est fière de
                      s&apos;associer au Fonds Gord Downie &amp; Chanie Wenjack
                      pour créer Oshki Wupoowane | Le Fonds des couvertures.
                    </p>
                    <br />
                    <p
                      class="ed-util-px--1pnt5--xxsm ed-util-px--0--md ed-util-pb--1pnt5 ed-util-pb--0--md ed-util--p ed-util-sans"
                    >
                      Oshki Wupoowane a été lancé le 30 septembre 2022, date à
                      partir de laquelle le produit net de la vente de toutes
                      les couvertures à points HBC a été remis au Fonds des
                      couvertures. Depuis sa création, le Fonds des couvertures
                      a reçu plus de 2 millions de dollars, qui seront versés
                      aux candidats retenus sur plusieurs années.
                    </p>
                  </div>
                </div>
              </div>
              <div class="ed-container--links">
                <a
                  class="ed-link--regular ed-util--bg-grey ed-util--cta"
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="Click here for the downie wenjack blanket fund webpage"
                  href="https://downiewenjack.ca/fr/the-blanket-fund/"
                  >Précisions &rarr;</a
                >
                <!-- TODO: Get SFCC formatted link for point blanket -->
                <a
                  class="ed-link--regular ed-util--bg-grey ed-util--cta"
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="Click here to purchase the point blanket"
                  href="$url('Search-Show','cgid','CUSTOM-ROOT-OshkiWupoowane')$?sre=441_110724_GIVING-DAY_LANDING-PAGE"
                  >Contribuer au fonds &rarr;</a
                >
              </div>
            </section>
            <!-- END OF THIRD BANNER SECTION -->

            <!-- START OF CHANGE COLLECTIVE SECTION -->
            <section id="ed-collective">
              <header class="ed-container--header">
                <h2 class="ed-util-text-center ed-util--sans-medium">
                  Le Collectif pour le changement
                </h2>
              </header>
              <p
                class="ed-util-text-center ed-util--sans ed-util-px--1pnt5 ed-util-px--0--md ed-util--p"
              >
                Hudson&apos;s Bay Foundation Change Collective is a movement Le
                Collectif pour le changement de la Fondation La Baie
                d&apos;Hudson est un mouvement qui permet à tous les membres de
                notre personnel de donner de leur temps et d&apos;exercer leur
                talent pour créer un changement durable dans les quartiers où
                ils vivent. Tout au long de l&apos;année, nous trouvons
                également des occasions de faire don de produits à notre
                communauté élargie afin que tout le monde puisse vivre une vie
                haute en couleur.
              </p>
            </section>
            <!-- END OF CHANGE COLLECTIVE SECTION -->

            <!-- START OF ACCORDION SECTION -->
            <section id="ed-accordion">
              <header class="ed-container--header">
                <h2 class="ed-util-text-center ed-util--sans-medium">
                  Foire aux questions
                </h2>
              </header>
              <div class="ed-accordion__wrapper">
                <div class="ed-accordion">
                  <div class="ed-accordion__panel--wrapper">
                    <button
                      class="ed-accordion__button ed-util--cta ed-util-sans"
                      aria-expanded="false"
                      aria-controls="panel1"
                    >
                      Comment puis-je participer&quest;
                    </button>
                    <div
                      class="ed-accordion__panel"
                      id="panel1"
                      aria-hidden="true"
                    >
                      <p class="ed-util--p ed-util--sans">
                        Procurez-vous un billet au coût de 5 $ pour l&apos;un de
                        nos événements annuels, soit Le grand don, le Gala
                        beauté ou la Soirée de gars.
                      </p>
                    </div>
                  </div>

                  <div class="ed-accordion__panel--wrapper">
                    <button
                      class="ed-accordion__button ed-util--cta ed-util-sans"
                      aria-expanded="false"
                      aria-controls="panel2"
                    >
                      Comment puis-je me procurer un billet au coût de 5
                      $&quest;
                    </button>
                    <div
                      class="ed-accordion__panel"
                      id="panel2"
                      aria-hidden="true"
                    >
                      <p class="ed-util--p ed-util--sans">
                        to purchase your ticket. Parlez à l&apos;un des membres
                        de notre personnel dans un magasin La Baie d&apos;Hudson
                        ou visitez
                        <a class="ed-util--bold" href="https://www.labaie.com"
                          >labaie.com</a
                        >
                        pour acheter votre billet.
                      </p>
                    </div>
                  </div>

                  <div class="ed-accordion__panel--wrapper">
                    <button
                      class="ed-accordion__button ed-util--cta ed-util-sans"
                      aria-expanded="false"
                      aria-controls="panel3"
                    >
                      Comment puis-je utiliser mon billet&quest;
                    </button>
                    <div
                      class="ed-accordion__panel"
                      id="panel3"
                      aria-hidden="true"
                    >
                      <p class="ed-util--p ed-util-sans">
                        Présentez votre billet physique au moment de votre achat
                        en magasin ou ajoutez votre billet numérique à votre
                        panier en ligne pour profiter du rabais exclusif.
                      </p>
                    </div>
                  </div>

                  <div class="ed-accordion__panel--wrapper">
                    <button
                      class="ed-accordion__button ed-util--cta ed-util-sans"
                      aria-expanded="false"
                      aria-controls="panel4"
                    >
                      En quoi consiste la Fondation La Baie d&apos;Hudson&quest;
                    </button>
                    <div
                      class="ed-accordion__panel"
                      id="panel4"
                      aria-hidden="true"
                    >
                      <p class="ed-util--p ed-util-sans">
                        La Fondation La Baie d&apos;Hudson est un organisme de
                        bienfaisance enregistré qui lutte contre les inégalités
                        raciales en investissant dans des possibilités
                        d&apos;éducation et d&apos;accès à l&apos;emploi et à
                        l&apos;autonomie. En mettant l&apos;accent sur ces trois
                        piliers, la Fondation veut accroître les occasions
                        offertes aux communautés sous-représentées du Canada.
                      </p>
                      <p class="ed-util--p ed-util-sans">
                        En 2021, la Fondation La Baie d&apos;Hudson a lancé sa
                        Charte pour le changement, un engagement à investir 30
                        millions de dollars sur une période de 10 ans pour
                        accélérer l&apos;équité raciale au Canada. Pour parvenir
                        à un tel accomplissement, la Fondation a noué des
                        partenariats de longue haleine avec des organisations
                        porteuses de changement et dont le travail a un impact
                        social considérable. Ensemble, la Fondation et ses
                        partenaires d&apos;impact ont analysé les meilleurs
                        moyens d&apos;investir dans la communauté et de faire
                        progresser collectivement notre pays.
                      </p>
                    </div>
                  </div>

                  <div class="ed-accordion__panel--wrapper">
                    <button
                      class="ed-accordion__button ed-util--cta ed-util-sans"
                      aria-expanded="false"
                      aria-controls="panel5"
                    >
                      Qui sont les partenaires d&apos;impact de la Fondation La
                      Baie d&apos;Hudson&quest;
                    </button>
                    <div
                      class="ed-accordion__panel"
                      id="panel5"
                      aria-hidden="true"
                    >
                      <p class="ed-util--p ed-util-sans">
                        Le fonds Gord Downie &amp; Chanie Wenjack; Indspire; la
                        Fondation des générations à venir; CEE Centre for Young
                        Black Professionals; Nia Centre for the Arts; la
                        Fondation MLSE; le Centre de toxicomanie et de santé
                        mentale (CAMH); et Rainbow Railroad.
                      </p>
                    </div>
                  </div>

                  <div class="ed-accordion__panel--wrapper">
                    <button
                      class="ed-accordion__button ed-util--cta ed-util-sans"
                      aria-expanded="false"
                      aria-controls="panel6"
                    >
                      Comment puis-je en savoir davantage sur les actions
                      concrètes de la Fondation La Baie d&apos;Hudson&quest;
                    </button>
                    <div
                      class="ed-accordion__panel"
                      id="panel6"
                      aria-hidden="true"
                    >
                      <p class="ed-util--p ed-util-sans">
                        Pour en savoir plus sur les programmes que nous
                        appuyons, visitez :
                        <a
                          target="_blank"
                          class="ed-util--bold"
                          href="https://www.hudsonsbayfoundation.ca/fr/"
                          >hudsonsbayfoundation.ca/fr/</a
                        >.
                      </p>
                    </div>
                  </div>

                  <div class="ed-accordion__panel--wrapper">
                    <button
                      class="ed-accordion__button ed-util--cta ed-util-sans"
                      aria-expanded="false"
                      aria-controls="panel7"
                    >
                      La Fondation La Baie d&apos;Hudson est-elle un organisme
                      de bienfaisance enregistré&quest;
                    </button>
                    <div
                      class="ed-accordion__panel"
                      id="panel7"
                      aria-hidden="true"
                    >
                      <p class="ed-util--p ed-util-sans">
                        Oui, la Fondation La Baie d&apos;Hudson est un organisme
                        de bienfaisance enregistré.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!-- END OF ACCORDION SECTION -->

            <!-- START OF DISCLAIMER SECTION -->
            <section id="ed-disclaimer">
              <div class="ed-banner__wrapper--outer ed-util--bg-black">
                <div class="ed-banner ed-util-p--1pnt25">
                  <p
                    class="ed-util-px--1pnt5 ed-util-px--0--md ed-util--p ed-util-sans ed-util--t-white ed-util-mb--1"
                  >
                    Les bureaux, les magasins et les centres de distribution de
                    La Baie d&apos;Hudson sont situés sur les terres
                    traditionnelles et les territoires non cédés des communautés
                    des Premières Nations, des Inuits et des Métis, où vivent
                    encore de nombreux peuples autochtones.
                  </p>
                  <p
                    class="ed-util-px--1pnt5 ed-util-px--0--md ed-util--p ed-util-sans ed-util--t-white ed-util-mb--1"
                  >
                    La Compagnie de la Baie d&apos;Hudson a joué un rôle
                    déterminant dans la colonisation du Canada et nous nous
                    engageons à écouter les gardiens du savoir et les aînés,
                    tout en étant inspirés par la jeunesse autochtone, alors que
                    nous continuons à établir par la réflexion,
                    l&apos;apprentissage et l&apos;action, des relations
                    durables fondées sur la paix, l&apos;amitié et le respect
                    avec les communautés autochtones.
                  </p>
                  <p
                    class="ed-util-px--1pnt5 ed-util-px--0--md ed-util--p ed-util-sans ed-util--t-white"
                  >
                    Reconnaître les terres sur lesquelles nous exerçons nos
                    activités est un acte important pour honorer et respecter le
                    territoire que nous partageons tous en tant que peuples
                    autochtones et non autochtones.
                  </p>
                </div>
              </div>
            </section>
            <!-- END OF DISCLAIMER SECTION -->
          </main>
        </body>
      </div>
    </div>
  </div>
</html>
