<!-- START OF HERO SECTION -->
<section class="hbc-hero">
  <a
    href="$url('Search-Show','cgid','2534374302032537','prefn1','brand','prefv1','RISE LITTLE EARTHLING')$?sre=409_032824_BRAND-PAGE-RLE"
  >
    <picture>
      <source
        media="(min-width: 48em)"
        srcset="
          https://image.s5a.com/is/image/TheBay/409_032824_BRAND-PAGE-RLE_HERO-SLIDE_1_DESKTOP_FR?scl=1&qlt=100&fmt=webp
        "
      />
      <img
        class="hbc-ed-image"
        src="https://image.s5a.com/is/image/TheBay/409_032824_BRAND-PAGE-RLE_HERO-SLIDE_1_MOBILE?scl=1&qlt=75&fmt=webp"
        alt=""
        loading="eager"
      />
    </picture>
  </a>
  <section class="hbc-hero__content">
    <h3 class="hbc-hero__heading">
      Des modèles abordables de source éthique. Exclusivement à La Baie
      d'Hudson.
    </h3>
    <div class="buttons__wrapper">
      <a
        class="btn--theme"
        href="$url('Search-Show','cgid','2534374302032537','prefn1','brand','prefv1','RISE LITTLE EARTHLING')$?sre=409_032824_BRAND-PAGE-RLE"
        >MAGASINER &nbsp; &rarr;</a
      >
    </div>
  </section>
</section>
<!-- END OF HERO SECTION -->
