/* -----------------------------------------------
 * SECTION STYLES
----------------------------------------------- */
#dsg-editorial.dsg-editorial {
  main {
    img {
      max-width: 100%;
      height: auto;
    }
    // margin: 0 80px;
    // width: calc(768px - 80px);
    // margin: 0 auto;
    @include respond-to(medium) {
      margin: 20px 40px 0;
    }
  }

  // ONE COLUMN FLEX SECTION
  section {
    &.sec01 {
      @include bayflex(row, wrap, center, center, 0, 0, 100%, auto, center);
    }
  }

  // ONE COLUMN SECTION WITH SMALLER WIDTH
  section {
    &.sec02 {
      width: 100%;

      @include respond-to(medium) {
        width: 80%;
        margin: 0 auto;
      }
    }
  }
}
