<!doctype html>
<html lang="en-CA">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Hudson's Bay</title>
  </head>
  <body style="margin: 0">
    <main class="hbc-ed-wrapper--main">
      <section class="hbc-ed-wrapper--links">
        <a
          class="hbc-ed-link"
          href="$url('Search-Show','q','*','sre','350_010423_LANDING-PAGE-BOXING-WEEK-RETURNS_DEALS')$"
          target="_blank"
          rel="noopener noreferrer"
          >SHOP CURRENT DEALS</a
        >
        <a
          class="hbc-ed-link"
          href="https://hudsonsbay.neofinancial.com/?utm_source=hbc&utm_medium=partner&utm_campaign=hbc_site&utm_content=site&utm_term=promo-event-landing-page"
          target="_blank"
          rel="noopener noreferrer"
          >APPLY FOR A HB MASTERCARD</a
        >
        <a
          class="hbc-ed-link"
          href="$url('EmailSubscribe-EmailSignUp','sre','350_010423_LANDING-PAGE-BOXING-WEEK-RETURNS_EMAILSIGNUP')$"
          target="_blank"
          rel="noopener noreferrer"
        >
          SIGN UP FOR EMAIL</a
        >
      </section>
      <section class="hbc-ed-wrapper--disclaimer">
        <p class="hbc-ed-copy__paragraph">
          EMAIL SIGN UP: CUSTOMERS MAY RECEIVE THEIR FIRST EMAIL UP TO 9 DAYS AFTER INITIAL SIGN UP.
        </p>
      </section>
    </main>
  </body>
</html>
