/* -----------------------------------------------
 * UTILITY STYLING
----------------------------------------------- */
.u-center-text {
  text-align: center;
}

.u-left-text {
  text-align: left;
  margin-left: 10%;

  @include respond-to(medium) {
    margin-left: 20%;
  }
}

.u-left-right {
  text-align: right;
  margin-right: 20%;
}

.u-margin-bottom-100 {
  margin-bottom: 10rem;
}

.u-margin-top-150 {
  margin-top: 15rem;
}

.u-uppercase {
  text-transform: uppercase;
}
