<!doctype html>
<html lang="en-CA">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1721787329464/css/global.css"
    />
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1721787329464/css/typography.css"
    />
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1721787329464/css/zellers-svg-font.css"
    />
    <title>Store Survey Contest | The Bay Canada</title>
  </head>
  <div class="cat-landing">
    <div class="secondary-content">
      <div class="home-slots">
        <body style="margin: 0">
          <main>
            <div id="hbc-footer-page" class="hbc-footer-page">
              <h1>Website Legal Terms and Conditions</h1>
              <h2>(&quot;Terms and Conditions&quot;)</h2>
              <div>
                <p>
                  PLEASE READ THESE TERMS AND CONDITIONS CAREFULLY AS THEY
                  CONTAIN IMPORTANT INFORMATION REGARDING YOUR USE OF THIS
                  WEBSITE INCLUDING ALL CONTENT, INFORMATION, PRODUCTS, AND
                  SERVICES AVAILABLE ON OR THROUGH THIS WEBSITE, INCLUDING
                  MARKETPLACE (COLLECTIVELY, THE <strong>“WEBSITE”</strong>) AND
                  YOUR LEGAL RIGHTS, REMEDIES AND OBLIGATIONS. BY ACCESSING OR
                  USING THIS WEBSITE, YOU SIGNIFY THAT YOU HAVE READ, UNDERSTAND
                  AND AGREE TO BE BOUND BY THESE TERMS AND CONDITIONS.
                </p>
                <p>
                  <strong>General</strong>
                  <br />
                  <br />This Website is owned and operated by The Bay Limited
                  Partnership in conjunction with its affiliates (collectively
                  "The Bay") in accordance with these Terms and Conditions. The
                  Bay may modify these Terms and Conditions from time to time,
                  for any reason, by posting revised Terms and Conditions on
                  this Website. Please review these Terms and Conditions from
                  time to time so you will be apprised of any changes. If you
                  continue to use this Website after the revised Terms and
                  Conditions have been posted, you will be deemed to have agreed
                  to them. <br />&nbsp; <br />If you become aware of any misuse
                  of the Website, please
                  <a
                    tabindex="0"
                    role="link"
                    href="https://support.thebay.com/s/contactsupport"
                    target="_blank"
                    >contact us</a
                  >
                  by email.
                </p>
                <p>
                  <strong
                    >The Content of this Website / Intellectual Property</strong
                  >
                  <br />
                  <br />All content which forms a part of this website,
                  including without limitation, all text, information, pricing,
                  design, graphics, sounds, drawings, photographs, e-mails,
                  video, code, software, tradenames and all organization and
                  presentation of such content (collectively, the "Content"), is
                  subject to proprietary rights provided under intellectual
                  property law including without limitation patent, copyright,
                  trademark, and trade secret laws. You acknowledge and agree
                  that the ownership right and title to such rights will
                  continue and remain with The Bay or its licensors, as the case
                  may be. You are permitted to view and download a single copy
                  of the Content and print hard copies of pages from this
                  Website for your own non-commercial and lawful use, provided
                  you keep intact all copyright and any other proprietary
                  notices contained in the original Content. Except as expressly
                  authorized by these Terms and Conditions, you may not copy,
                  reproduce, distribute, republish, download, perform, display,
                  post, transmit, exploit, create derivative works or otherwise
                  use any of the Content in any form or by any means, without
                  the prior written authorization of The Bay or the respective
                  copyright owner. "Hudson's Bay Company", “Hudson&apos;s Bay
                  Company ULC”, “Hudson&apos;s Bay”, "Hbc.com", "Hbc", "the
                  Bay", "thebay.com", "Hbc Rewards", “Zellers”, and certain
                  other names, words, logos, slogans and images used on this
                  Website are the property of and are subject to trade-mark
                  rights held by The Bay. Certain other trade-marks, trade
                  names, words, logos, slogans and images depicted on this
                  Website are the property of their respective owners. Use of
                  any such property, except as expressly authorized, shall
                  constitute a violation of the rights of the owner of the
                  property. The Bay reserves the right to enforce its
                  intellectual property rights to the fullest extent of the law.
                </p>
                <p>
                  <strong>Links to Third Party Websites</strong>
                  <br />
                  <br />This Website may contain links to other websites which
                  are provided only as a convenience to you. The provision of
                  any link does not constitute an endorsement of such website by
                  The Bay. All such other websites are independent from this
                  Website and from The Bay. The Bay has no control over and
                  expressly disclaims any liability for such other websites and
                  their content. Any transactions that take place between you
                  and the third party are directly with the third party and The
                  Bay is not and shall not be held responsible for any loss or
                  damage that you may incur as a consequence thereto. If you
                  decide to access any of the third party websites linked to
                  this Website, you do so entirely at your own risk.
                </p>
                <p>
                  <strong
                    >Warranties, Disclaimers and Exclusion of Liability</strong
                  >
                  <br />
                  <br />You expressly understand and agree that: The Website and
                  its Content are provided on an “as is” and “as available”
                  basis and your use of (or inability to use) this Website and
                  the Content is at your own risk. The Bay and its affiliates,
                  directors, officers, employees, agents and representatives
                  expressly disclaim all warranties of any kind, whether express
                  or implied including, but not limited to, the implied
                  warranties of merchantability, fitness for a particular
                  purpose and non-infringement. Without limiting the generality
                  of the foregoing, The Bay makes no warranty that: (i) the
                  Website will meet your requirements or will be uninterrupted,
                  timely, secure, or error free; (ii) information that may be
                  obtained will be accurate or reliable; (iii) the quality of
                  any products, services, information or other material obtained
                  by you through the Website will meet your expectations or
                  needs; and (iv) any errors in the Website will be corrected.
                  The Bay assumes no responsibility, and shall not be liable,
                  for any damages to, or any viruses affecting your computer
                  equipment or other property on account of your access to or
                  use of this Website. You agree that your sole remedy in the
                  event of any problem with your use is to cease using this
                  Website.
                  <br />
                  <br />In addition, all products and services purchased on or
                  through the Website are subject to any applicable warranties
                  of their respective sellers, manufacturers, distributors
                  and/or suppliers, if any. To the fullest extent permissible by
                  applicable law, The Bay disclaims all warranties of any kind,
                  either express or implied, including any implied warranties,
                  with respect to the products and services listed or purchased
                  on or through the Website. Without limiting the foregoing, The
                  Bay disclaims liability for product defect or failure, claims
                  that are due to normal wear, product misuse, abuse, product
                  modification, improper product selection and non-compliance
                  with any printed directions. The Bay attempts to be as
                  accurate as possible. However, The Bay does not warrant that
                  product descriptions or other content of any product or
                  service on the Website is accurate, complete, reliable,
                  current, or error-free. If a product offered on the Website is
                  not as described, your sole remedy is to return it in unused
                  condition.
                  <br />
                  <br />In no event shall The Bay or any of its directors,
                  employees, officers, agents and representatives and their
                  respective successors and assigns be liable for any loss or
                  damages whatsoever arising out or related to access to or use
                  of this Website or the Content, or any other website linked to
                  this Website, regardless of whether such loss or damages are
                  based on warranty, contract, tort (including negligence),
                  strict liability, products liability or other theories of
                  liability, including without limitation liability for direct,
                  indirect, special, punitive, incidental or consequential
                  damages. Without limiting the generality of the foregoing, The
                  Bay and its affiliates, directors, officers, employees, agents
                  and representatives and their respective successors and
                  assigns shall not have any liability: (i) as a publisher of
                  information; (ii) as a reseller of any products or services;
                  (iii) for any incorrect or inaccurate information; (iv) for
                  any unauthorized access to or disclosure of your transmissions
                  or data; (v) for statements or conduct of any third party on
                  the Website; or (vi) for any other matter relating to this
                  Website or any third party website.
                  <br />
                  <br />Notwithstanding anything to the contrary, the sole and
                  entire maximum liability of Hbc for any reason, and your sole
                  and exclusive remedy for any cause or claim whatsoever, shall
                  be limited to the amount paid by you for any product,
                  information or service purchased by you from The Bay on this
                  Website. Some jurisdictions do not allow the disclaimer of
                  certain warranties or the limitation or exclusion of liability
                  for certain types of damages. Accordingly, some of the above
                  disclaimers and limitations may not apply to you.
                </p>
                <p>
                  <strong>Indemnification</strong>
                  <br />
                  <br />To the maximum extent permitted by applicable law, you
                  agree to defend, indemnify and hold harmless The Bay, its
                  affiliates and related companies, and each of their respective
                  directors, officers, employees, agents and representatives
                  from and against all claims, liability, losses, damages,
                  expenses, and costs, arising out of: (i) your use of the
                  Website; (ii) any activity related to your account by you or
                  any other person; (iii) any material that you submit to, post
                  on or transmit through the Website; (iv) your infringement or
                  violation of any rights of another; or (v) your breach or
                  alleged breach of these Terms and Conditions.
                </p>
                <p>
                  <strong>Applicable Law and Jurisdiction</strong>
                  <br />
                  <br />You agree that (a) all matters relating to access to,
                  use of, or purchases through the Website will be governed by
                  the laws of Ontario and the federal laws of Canada applicable
                  to Ontario (b) the courts of Ontario have jurisdiction; (c)
                  the United Nations Convention on Contracts for the
                  International Sale of Goods will not apply; and (d) you are
                  responsible for complying with all local laws.
                </p>
                <p>
                  <strong>Online Shopping Terms and Conditions</strong>
                  <br />
                  <br />
                  <u>Purchase Policies</u>: If you make a purchase at this
                  Website, your purchase will be subject to additional purchase
                  terms and conditions found on the Website or shared with you,
                  including but not limited to policies relating to shipping and
                  returns (collectively, <strong>“Purchase Policies”</strong>).
                  BY SUBMITTING PAYMENT INFORMATION IN CONNECTION WITH ANY
                  PURCHASE, YOU AGREE TO THE BAY&apos;S PURCHASE POLICIES.
                </p>
                <p>
                  <u>Payment</u>: You agree to pay for all charges noted herein
                  as payable by you. All prices listed on this Website are in
                  Canadian dollars and all charges will be processed in Canadian
                  dollars.
                </p>
                <p>
                  <u>Effect of errors on The Bay's part</u>: While The Bay takes
                  great care to ensure its advertising is accurate, errors
                  and/or inaccuracies may occur. The Bay may correct errors or
                  inaccuracies and change or update information on this Website
                  at any time without notice, including in respect of prices and
                  availability of items.
                </p>
                <p>
                  <u>Pricing/Purchase Terms</u>: The items available on this
                  Website, and the prices for items on this Website, are not
                  necessarily the same as the items and pricing within any
                  "bricks and mortar" stores or other The Bay websites. All
                  prices listed on this Website are subject to confirmation. No
                  orders, including their price, are final or binding until
                  shipped. The Bay has the absolute discretion to fix pricing
                  errors, which may include the cancelation of your order. You
                  may only purchase or order items for non-commercial and lawful
                  purposes and any other use is not permitted. You may not use
                  the Website if you are under the age of majority in the
                  jurisdiction in which you live (which in most jurisdictions is
                  either 18 or 19 years of age) or if you cannot form legally
                  binding contracts under applicable law. If you are under the
                  age of majority, then your parent or legal guardian may use
                  the Website on your behalf. Any items purchased on this
                  Website will not be delivered to an address outside of Canada.
                  The Bay reserves the right to: (i) limit the quantities of
                  items which you, your family or any group can purchase; (ii)
                  reject, correct, cancel or refuse orders, purchases or
                  returns; and (iii) deactivate accounts in its discretion
                  including, without limitation, if The Bay believes that
                  customer conduct contravenes applicable law, these Terms and
                  Conditions, or is harmful to the interests of The Bay or its
                  representatives, agents, contractors, suppliers or licensees.
                  The Bay will use reasonable efforts to deliver items as
                  quickly as possible and within any time periods indicated;
                  however, The Bay will not be responsible for delays in
                  delivery including but not limited to delays which are beyond
                  its control. Where delivery is delayed, The Bay will notify
                  you as soon as possible. In order to protect you and The Bay
                  from fraudulent transactions, The Bay may provide your
                  transaction-related and other personal information to a
                  reputable third party organization to perform fraud
                  monitoring. Please review our
                  <a
                    tabindex="0"
                    role="link"
                    href="$httpsURL('Page-Show','cid','PrivacyLegalInfo')$"
                    >privacy policy</a
                  >
                  for more information on how the third party uses your
                  information. The Bay also reserves the right, at its
                  discretion, not to ship items ordered or purchased on this
                  Website to certain addresses. In the event that The Bay
                  chooses not to ship an item, you will be notified and any
                  amount charged to your credit card will be refunded.
                </p>
                <p>
                  <u>The Bay Rewards</u>: When you order items through this
                  Website, you may have the option to collect The Bay Rewards
                  points for certain purchases. If you choose to do so, then The
                  Bay will forward to The Bay Rewards the information necessary
                  to collect The Bay Rewards points in accordance with the terms
                  and conditions of
                  <a
                    tabindex="0"
                    role="link"
                    href="$url('Search-Show','cgid','rewards')$"
                    >The Bay Rewards</a
                  >.
                </p>
                <p>
                  <u>Delivery Notifications</u>: If you choose to have your item
                  delivered, we may share your contact details (including name,
                  email address and phone number) with our third party shipping
                  companies. We do this to allow the shipping company to notify
                  you (by email, phone or SMS) of shipping details such as when
                  your item is being delivered. By choosing to have your item
                  delivered, you agree to these notifications as part of the
                  transaction.
                </p>
                <p>
                  <strong>Representations and Warranties</strong>
                </p>
                <p>
                  You understand that the Website is available for your
                  personal, non-commercial use only. By submitting any content
                  to The Bay or through this Website, you represent and warrant
                  that: (i) you are the sole author and owner of the
                  intellectual property rights thereto and you voluntarily waive
                  all “moral rights” you may have to such intellectual property;
                  (ii) all content that you post is accurate; (iii) you are at
                  least 13 years old, and; (iv) use of the content you supply
                  does not violate these Terms and Conditions and will not cause
                  injury to any person or entity.
                </p>
                <p>
                  You further agree and warrant that you shall not submit any
                  content: (i) that is known by you to be false, inaccurate or
                  misleading; (ii) that infringes any third party intellectual
                  property rights or rights of publicity or privacy; (iii) that
                  violates any law, statute, ordinance or regulation (including,
                  but not limited to, those governing export control, consumer
                  protection, unfair competition, anti-discrimination or false
                  advertising); (iv) that is, or may reasonably be considered to
                  be, defamatory, libelous, hateful, obscene, discriminatory or
                  offensive, unlawfully threatening or unlawfully harassing to
                  any individual, partnership or corporation; (v) for which you
                  were compensated or granted any consideration by any third
                  party; (vi) that includes any information that references
                  other websites, physical addresses, email addresses, contact
                  information, advertisements, other products, offers, “spam”
                  content, or phone numbers, or; (vii) that contains any
                  computer viruses, worms or other potentially damaging computer
                  programs or files.
                </p>
                <p>
                  <strong>Ownership of Content</strong>
                </p>
                <p>
                  For any content that you submit, you grant The Bay a,
                  perpetual, irrevocable, royalty-free, transferable and fully
                  sublicencable right and license with respect to such content
                  to use, produce, reproduce, copy, modify, delete in its
                  entirety, adapt, publish, translate, create derivative works
                  from, sell, communicate to the public by telecommunications,
                  distribute, incorporate into any form, medium or technology,
                  each throughout the world in any media for all purposes,
                  including advertising and promotions, without compensation to
                  you. All content that you submit on or through the Website may
                  be used at The Bay's sole discretion. The Bay reserves the
                  right to change, condense or delete any content on the Website
                  including but not limited to content that The Bay deems, in
                  its sole discretion, to violate any provision of these Terms
                  and Conditions. The Bay does not guarantee that you will have
                  any recourse through The Bay to edit or delete any content you
                  have submitted. The Bay has the right but not the obligation
                  to monitor, edit, remove or refuse to post any submission or
                  content for any reason. You acknowledge that you, not The Bay,
                  are responsible for the content of your submission. None of
                  the content that you submit shall be subject to any obligation
                  of confidence on the part of The Bay, its agents,
                  subsidiaries, affiliates, partners or third party service
                  providers and their respective directors, officers and
                  employees. The Bay takes no responsibility and assumes no
                  liability for any content posted or submitted by you or by any
                  third party.
                </p>
                <p>
                  <strong>Privacy</strong>
                </p>
                <p>
                  Use of the Website is subject to the terms of The Bay&apos;s
                  <a
                    tabindex="0"
                    role="link"
                    href="$httpsURL('Page-Show', 'cid', 'PrivacyLegalInfo')$"
                    >Privacy Policy</a
                  >, which is hereby incorporated into and made part of these
                  Terms and Conditions. Please carefully review The Bay&apos;s
                  Privacy Policy. By using the Website, you agree to be bound by
                  the terms of our Privacy Policy.
                </p>
                <p>
                  <strong>Security</strong>
                </p>
                <p>
                  You are prohibited from violating or attempting to violate the
                  security of this Website, including, without limitation: (a)
                  accessing data not intended for you, including logging into a
                  server or account which you are not authorized to access; (b)
                  attempting to probe, scan or test the vulnerability of a
                  system or network to breach security or authentication
                  measures without proper authorization; (c) attempting to
                  interfere with, disrupt or disable service to any user, host
                  or network, including, without limitation, via means of
                  “denial of service” attacks, overloading, “flooding”,
                  “mailbombing” or “crashing”; (d) forging any TCP/IP packet
                  header or any part of the header information in any posting;
                  (e) disrupting network nodes or network services or otherwise
                  restricting, inhibiting, disrupting or impeding The Bay's
                  ability to monitor or make the Website available, or; (f)
                  taking any action in order to obtain services to which you are
                  not entitled.
                </p>
                <p>
                  <strong>Suspension or Termination</strong>
                </p>
                <p>
                  If The Bay determines, in its sole discretion, that you are in
                  violation of these Terms and Conditions or at risk of
                  violation of these Terms and Conditions, The Bay may suspend
                  or terminate your use or access to the Website without notice
                  to you, and take any other action available to it at law. The
                  Bay shall not be liable for any damages of any nature suffered
                  by you or a third party resulting from The Bay's exercise of
                  its rights under these Terms and Conditions.
                </p>
                <p>
                  <strong
                    >Hudson's Bay Gift Card & eGift Card terms and
                    conditions:</strong
                  >
                </p>
                <p>
                  Use of any Hudson's Bay Gift Card or eGift Card (“Gift Card”
                  or “eGift Card” as applicable) constitutes acceptance of these
                  Terms and Conditions.
                </p>
                <p></p>
                <ul>
                  <li>
                    Gift Cards or eGift Cards are redeemable towards merchandise
                    only online at
                    <a tabindex="0" role="link" href="$httpsUrl('Home-Show')$"
                      >thebay.com</a
                    >
                    or at any Hudson's Bay store. Gift Cards must be present
                    when being used for payment in-store.
                  </li>
                  <li>Gift Cards or eGift Cards are not refundable.</li>
                  <li>
                    Gift Cards or eGift Cards may not be redeemed for cash, used
                    to purchase any other Gift/eGift Cards, or applied as
                    payment to your Hudson's Bay MasterCard® or Hudson's Bay
                    Credit card account.
                  </li>
                  <li>
                    For any purchase that exceeds the value of a Gift Card or
                    eGift Card, the balance owed must be paid with one
                    additional form of payment such as cash or debit (for
                    in-store purchases), Hudson's Bay MasterCard®, Hudson's Bay
                    Credit Card or other credit cards.
                  </li>
                  <li>
                    Sales tax is applicable to merchandise purchased with a Gift
                    Card or eGift Card.
                  </li>
                  <li>
                    Delivery of an eGift Card to an incorrect but deliverable
                    email address as provided by the purchaser is the
                    responsibility of the purchaser.
                  </li>
                  <li>
                    Gift Cards and eGift Cards have no service fees and no
                    expiration dates.
                  </li>
                  <li>
                    Refunds on purchases made with Gift Cards or eGift Cards
                    will be applied to a Gift Card.
                  </li>
                  <li>
                    The Bay is not responsible for lost or stolen Gift Cards or
                    eGift Cards. However, if your Gift Card or eGift Card is
                    lost or stolen, and you have proof of purchase, we will
                    issue a replacement, at Hudson's Bay stores only, for the
                    remaining balance shown on our records at the point of
                    replacement card issuance.
                  </li>
                  <li>
                    Gift Cards or eGift Cards received in error including an
                    error on the amount issued are subject to cancellation.
                  </li>
                  <li>
                    No change will be given for any unused balance unless
                    required by law.
                  </li>
                  <li>
                    To verify the remaining balance on a Gift Card or eGift
                    Card, please inquire at any store register, or
                    <a
                      tabindex="0"
                      role="link"
                      href="$url('Search-Show','cgid','gift-cards')$"
                      >click here</a
                    >
                    to check online.
                  </li>
                  <li>
                    If you need assistance, please call Customer Service at:
                    1-800-521-2364.Your eGift Card number and PIN# are required
                    for all inquiries.
                  </li>
                  <li>
                    Hudson's Bay, The Bay, and their associated designs are
                    trademarks of The Bay and are governed by the Terms and
                    Conditions found on the Website.
                  </li>
                  <li>
                    The Bay reserves the right to change these Terms and
                    Conditions from time to time at The Bay&apos;s discretion.
                  </li>
                </ul>
                <p>
                  <strong>Marketplace</strong>
                </p>
                <p>
                  The Bay&apos;s marketplace allows third party sellers (
                  <strong>“Sellers”</strong>) to advertise and sell their
                  products and experiences on this Website (together
                  <strong>“Marketplace Merchandise”</strong>). When you purchase
                  Marketplace Merchandise, you are purchasing directly from the
                  Seller, not from The Bay. Sellers are responsible to you for
                  fulfilling and shipping your order and the quality of the
                  Marketplace Merchandise. In addition, Sellers are responsible
                  for setting the prices for Marketplace Merchandise. The Bay
                  does not take responsibility for the Sellers or the
                  Marketplace Merchandise sold on this Website. While Sellers
                  endeavor to provide accurate pricing and product descriptions,
                  errors may occur. The Bay does not warrant that descriptions
                  or warranties provided by Sellers on the Website are complete,
                  current, reliable, accurate or error free. The Bay and Sellers
                  are free to correct or update the description, pricing, or
                  terms and conditions for the Marketplace Merchandise at any
                  time.
                </p>
                <p>
                  As between you and The Bay, these Terms and Conditions apply
                  to your access and use of The Bay Marketplace and to your
                  purchase of Marketplace Merchandise on the Website. However,
                  the sale of Marketplace Merchandise may be subject to
                  additional Seller terms described in the product or experience
                  listing. Some of the types of additional terms include
                  availability restrictions, shipping, quantity restrictions,
                  waivers for experiences, cancellations, returns and refunds.
                  Sellers are responsible for setting their own returns and
                  refunds policy for products, and cancellations and refunds
                  policy for experiences. If you are dissatisfied with your
                  purchase, you may return the Marketplace Merchandise directly
                  to the Seller, subject to the Seller&apos;s terms and
                  conditions. The Bay will not accept returns of Marketplace
                  Merchandise. PLEASE REVIEW THE SELLER&apos;S TERMS AND
                  CONDITIONS PRIOR TO COMPLETING YOUR ORDER.
                </p>
                <p>
                  YOU ARE SOLELY RESPONSIBLE FOR YOUR INTERACTIONS WITH SELLERS.
                  You acknowledge and agree that The Bay does not inspect,
                  warrant or deliver any Marketplace Merchandise and you hereby
                  release The Bay from all claims against The Bay with respect
                  to any act or omission of the Seller or for any Marketplace
                  Merchandise purchased through the Website, including, without
                  limitation, defective products, misrepresentation, damage to
                  property, warranties, or personal injury (including death).
                </p>
                <p>
                  <strong>Miscellaneous</strong>
                </p>
                <p>
                  These Terms and Conditions constitute the entire and only
                  Terms and Conditions between The Bay and each user of the
                  Website with respect to the subject matter of these Terms and
                  Conditions. If any provision of these Terms and Conditions are
                  deemed unlawful, void or for any reason unenforceable by a
                  court of competent jurisdiction, the validity and
                  enforceability of any remaining provisions will not be
                  affected. The failure of The Bay to insist upon strict
                  adherence to any term of these Terms and Conditions shall not
                  constitute a waiver of such term and shall not be considered a
                  waiver or limit The Bay&apos;s right thereafter to insist upon
                  strict adherence to that term or any other term contained in
                  these Terms and Conditions.
                </p>
                <p>
                  <strong>Feedback</strong>
                </p>
                <p>
                  If you wish to share feedback with us about product selection,
                  pricing, ordering, delivery or other customer service issues,
                  please do not submit this feedback through a product review.
                  Instead,
                  <a
                    tabindex="0"
                    role="link"
                    href="https://support.thebay.com/s/contactsupport"
                    target="_blank"
                    >contact us</a
                  >.
                </p>
              </div>
            </div>
          </main>
        </body>
      </div>
    </div>
  </div>
</html>
