<!doctype html>
<html lang="fr-CA">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Bay Days | The Bay Canada</title>
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1712236745383/css/global.css"
    />
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1712130735115/css/typography.css"
    />
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1712130735115/css/zellers-svg-font.css"
    />
  </head>
  <div class="cat-landing">
    <div class="secondary-content">
      <div class="home-slots">
        <body style="margin: 0">
          <main class="ed-wrapper--main">
            <header class="ed-container--header">
              <h2 class="ed-type--h2">
                Les Jours La Baie commencent le 17 octobre
              </h2>
              <p>
                Les membres Primes économisent jusqu&apos;à 60 &percnt; en
                avant-première, même sur la liquidation.
              </p>
              <div class="ed-container--links">
                <a
                  aria-label="OUVRIR UNE SESSION ET MAGASINER: Offres des Jours La Baie réservées aux membres : Les membres Primes économisent jusqu'à 60 % en avant-première, même sur la liquidation."
                  class="ed-link--regular"
                  href="$url('Account-Show', 'sre','437_101524_LANDING-PAGE_BAY-DAYS-SEO_EARLY-ACCESS_HERO_NON-MEMBERS')$"
                  >OUVRIR UNE SESSION ET MAGASINER &rarr;</a
                >
                <a
                  aria-label="S'INSCRIRE: Offres des Jours La Baie réservées aux membres : Les membres Primes économisent jusqu'à 60 % en avant-première, même sur la liquidation."
                  class="ed-link--regular"
                  href="$url('Search-Show','cgid','rewards')$?sre=437_101524_LANDING-PAGE_BAY-DAYS-SEO_EARLY-ACCESS_HERO-TEXT_2_PR_BAY-DAYS_JOIN-NOW"
                  >S&apos;INSCRIRE &rarr;</a
                >
              </div>
            </header>
          </main>
        </body>
      </div>
    </div>
  </div>
</html>
