<!doctype html>
<html lang="en-CA">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1721787329464/css/global.css"
    />
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1721787329464/css/typography.css"
    />
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1721787329464/css/zellers-svg-font.css"
    />
    <title>Offer Details | TheBay Canada</title>
  </head>
  <div class="cat-landing">
    <div class="secondary-content">
      <div class="home-slots">
        <body style="margin: 0">
          <div class="hbc-livetext-page" id="hbc-livetext-page">
            <h2 class="heading">
              <strong
                >Hudson's Bay Rewards Extra Points Event | Feb 20-26</strong
              >
            </h2>
            <br />
            <br />
            <h2>
              Get $25 in Hudson's Bay Rewards points when you spend $125+ on
              beauty & fragrances.*
            </h2>
            <br />
            <br />
            <!-- <h3>
              Get 20-50% off, exclusively for Hudson's Bay Rewards members.
            </h3>
            <br />
            <br /> -->
            <h3>
              <a
                href="$url('Search-Show','cgid','2534374302032105','sre','504_022025_LIVE-TEXT_LANDING-PAGE_BEAUTY-EXTRA-POINTS_MAKEUP')$"
                >SHOP MAKEUP</a
              >
              <br />
              <br />
              <a
                href="$url('Search-Show','cgid','2534374302032157','sre','504_022025_LIVE-TEXT_LANDING-PAGE_BEAUTY-EXTRA-POINTS_SKINCARE')$"
                >SHOP SKINCARE</a
              >
              <br />
              <br />
              <a
                href="$url('Search-Show','cgid','2534374302032078','sre','504_022025_LIVE-TEXT_LANDING-PAGE_BEAUTY-EXTRA-POINTS_FRGRANCE')$"
                >SHOP FRAGRANCE</a
              >
              <br />
              <br />
              Not a member? Start earning points today.
              <br />
              <a
                href="$url('Search-Show','cgid','rewards','sre','504_022025_LIVE-TEXT_LANDING-PAGE_BEAUTY-EXTRA-POINTS_JOINNOW')$"
                >JOIN NOW</a
              >
              <br />
              <br />
              BEFORE TAXES. LIMIT OF ONE (1) OFFER PER MEMBER. ENDS 2/26 AT
              11:59 PM ET.
            </h3>
            <br />
            <br />
            <p>
              * Hudson's Bay Rewards members will receive $25 in Hudson's Bay
              Rewards bonus points (5,000 points) on one (1) eligible purchase
              of beauty and fragrances of $125 or more (before taxes) made
              online and in-store between Thursday, February 20, 2025 (at
              12:00:01 AM ET) and Wednesday, February 26, 2025 (at 11:59:59 PM
              ET). Limit of one (1) offer per member. Merchandise return will
              result in deduction of awarded points. Exclusions apply. The terms
              and conditions of the Hudson's Bay Rewards program apply to this
              offer. Visit thebay.com/content/rewards/terms-conditions for more
              information. Additional restrictions may apply. Offer may be
              modified or canceled at any time.
            </p>
          </div>
        </body>
      </div>
    </div>
  </div>
</html>
