// File: _banners.scss

/* -----------------------------------------------
 * HBC BANNERS STYLES
----------------------------------------------- */
.hbc-ed {
  &-banner {
    &--full {
      background-color: #000;
      color: #fff;
    }

    &__content {
      display: flex;
      flex-direction: column;
      width: 100%;

      @include respond-to(medium) {
        flex-direction: row;
      }

      &--left {
        padding: 3rem;
        width: 100%;

        @include respond-to(medium) {
          display: flex;
          align-items: center;
          width: 50%;
          margin-right: 36px;
          padding: 0;
        }
      }

      &--right {
        width: 100%;
        text-align: center;
        padding: 1rem 2rem;

        @include respond-to(medium) {
          display: flex;
          width: 50%;
          text-align: left;
          flex-direction: column;
          justify-content: center;
          margin: 24px 6px 24px 0;
          padding: 0;
        }
      }
    }

    &__wrapper {
      &--outer {
        @include flex(row, wrap, null, null);

        width: 100%;
        border-radius: 6rem;
      }

      &--inner {
        @include flex(row, null, center, center);

        width: 100%;
        padding: 5rem 2rem;

        &:nth-child(2) {
          display: none;
        }

        @include respond-to(large) {
          // Change width depending on how many columns of content you want in the banner.
          // width: calc(50% - 10rem);
          width: 50%;
          padding: 5rem;

          &:nth-child(2) {
            display: block;
          }

          svg g#b {
            display: block;
          }
        }
      }
    }
  }
}
