// File: _banners.scss

/* -----------------------------------------------
 * HBC BANNERS STYLES
----------------------------------------------- */
.hbc-ed {
  &-banner {
    &--full {
      background-color: #000;
      color: #fff;
      // padding: 1.75rem 0;
      // padding: 1rem;
      width: 100%;
    }

    &__content {
      display: flex;
      width: 100%;

      &--left {
        flex: 1;
        justify-content: flex-end;
        display: flex;
        align-items: center;
        min-width: 50%;
        max-width: 50%;
        overflow: hidden;
        margin-right: 36px;
      }

      &--right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 24px 6px 24px 0;
        overflow: hidden;
      }
    }

    &__wrapper {
      &--outer {
        @include flex(row, wrap, null, null);

        width: 100%;
        border-radius: 6rem;
      }

      &--inner {
        @include flex(row, null, center, center);

        width: 100%;
        padding: 5rem 2rem;

        &:nth-child(2) {
          display: none;
        }

        @include respond-to(large) {
          // Change width depending on how many columns of content you want in the banner.
          // width: calc(50% - 10rem);
          width: 50%;
          padding: 5rem;

          &:nth-child(2) {
            display: block;
          }

          svg g#b {
            display: block;
          }
        }
      }
    }
  }
}
