/* -----------------------------------------------
 * HERO STYLES
----------------------------------------------- */
#dsg-editorial.dsg-editorial {
  .hbc-hero {
    max-width: 2000px;
    position: relative;
    // margin-bottom: 100px;

    &__bg {
      width: 100%;
      height: auto;
      margin-bottom: 0;
      // background-color: $bd-orange;

      @include backImage(
        $white,
        "315_050523",
        "EDITORIAL_LANDING-PAGE_MENS_SUIT_FIT_GUIDE-HERO",
        "MOBILE",
        contain,
        768,
        768
      );

      @include respond-to(medium) {
        @include backImage(
          $white,
          "315_050523",
          "EDITORIAL_LANDING-PAGE_MENS_SUIT_FIT_GUIDE-HERO",
          "TABLET",
          contain,
          2048,
          812
        );
      }

      @include respond-to(medium) {
        @include backImage(
          $white,
          "315_050523",
          "EDITORIAL_LANDING-PAGE_MENS_SUIT_FIT_GUIDE-HERO",
          "DESKTOP",
          contain,
          1142,
          2880
        );
      }
    }
  }
}
