<!-- START OF HERO SECTION -->
<section class="hbc-hero">
  <a href="$url('Search-Show','cgid','RLE-SHOP-ALL','sre','306_031023_EVERGREEN_RLE_SHOP-ALL')$">
    <section class="hbc-hero__bg" role="img" aria-label="Little girl wearing glasses"></section>
  </a>
  <section class="hbc-hero__content">
    <h3 class="hbc-hero__heading">
      Ethically sourced styles at great prices. Exclusively at Hudson’s Bay.
    </h3>
    <div class="buttons__wrapper">
      <a
        class="btn--theme"
        href="$url('Search-Show','cgid','RLE-SHOP-ALL','sre','306_031023_EVERGREEN_RLE_SHOP-ALL')$"
        >Shop Now &nbsp; &rarr;</a
      >
    </div>
  </section>
</section>
<!-- END OF HERO SECTION -->
