<!-- SAME CODE CAN BE USED FOR FRENCH -->
<!-- START OF PROMO BANNER SECTION -->
<section class="hbc-hero">
  <!-- HERO CONTENT -->
  <section class="sec01">
    <div class="hbc__wrapper">
      <!-- Update copy -->
      <h2>Lorem ipsum dolor</h2>
      <h3>Harum ut. Saepe aliquid accusantium optio minima corrupti eos sunt veritatis.</h3>
      <!-- Add URL and update copy -->
      <a href="#" class="btn--top">CLICKITY CLICK</a>
    </div>
  </section>
</section>
<!-- END OF PROMO BANNER SECTION -->
