<!doctype html>
<html lang="fr-CA">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>La Baie</title>
  </head>
  <body style="margin: 0">
    <main class="hbc-ed-wrapper--main">
      <section class="hbc-ed-wrapper--links">
        <a
          class="hbc-ed-link"
          href="$url('Search-Show','q','*','sre','344_112723_LANDING-PAGE-BLACK-FRIDAY-RETURNS_SHOPNOW')$"
          target="_blank"
          rel="noopener noreferrer"
          >VOIR LES AUBAINES EN COURS</a
        >
        <a class="hbc-ed-link" href="http://www.joindre.neo.cc/f1h" target="_blank" rel="noopener noreferrer"
          >DEMANDER LA CARTE MASTERCARD LBH</a
        >
        <a
          class="hbc-ed-link"
          href="$url('EmailSubscribe-EmailSignUp','sre','344_112723_LANDING-PAGE-BLACK-FRIDAY-RETURNS_EMAILSIGNUP')$"
          target="_blank"
          rel="noopener noreferrer"
        >
          S’INSCRIRE À L’INFOLETTRE</a
        >
      </section>
      <section class="hbc-ed-wrapper--disclaimer">
        <p class="hbc-ed-copy__paragraph">
          INSCRIPTION À L’INFOLETTRE : LE PREMIER COURRIEL POURRAIT ARRIVER JUSQU’À 9 JOURS APRÈS L’INSCRIPTION.
        </p>
      </section>
    </main>
  </body>
</html>
