// File: _banners.scss

/* -----------------------------------------------
 * HBC BANNERS STYLES
----------------------------------------------- */
.ed {
  &-banner {
    width: 100%;

    &__wrapper {
      &--outer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
      }

      &--inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        img {
          max-width: 100%;
          width: 100%;
          height: auto;
        }

        @include respond-to(medium) {
          width: 50%;

          &:nth-child(2) {
            display: flex;
            padding: 2rem;
          }
        }
      }
    }
  }
}
