<!doctype html>
<html lang="en-CA">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Hudson's Bay</title>
  </head>
  <body style="margin: 0">
    <section class="hbc-ed-banner--full">
      <div class="hbc-ed-banner__content">
        <div class="hbc-ed-banner__content--left">
          <!-- srcset="
                https://image.s5a.com/is/image/TheBay/348_122723_STORE-LOCATOR_PROMO-BANNER_1_Tablet_EN?scl=1&qlt=75&fmt=webp
              " -->

          <picture>
            <source
              media="(min-width: 48.0625em)"
              srcset="
                https://image.s5a.com/is/image/TheBay/348_122723_STORE-LOCATOR_PROMO-BANNER_1_Desktop_EN?scl=1&qlt=100&fmt=webp
              "
            />
            <img
              src="https://image.s5a.com/is/image/TheBay/348_122723_STORE-LOCATOR_PROMO-BANNER_1_Mobile_EN?scl=1&qlt=75&fmt=webp"
              alt="Our stores are moving to winter hours. Check out your store's updated opening hours & plan your visit."
              loading="eager"
            />
          </picture>
        </div>
        <div class="hbc-ed-banner__content--left">
          <p>Winter hours are here.</p>
          <h2>See your store's details</h2>
          <p>We can't wait for you to visit.</p>
        </div>
      </div>
    </section>
  </body>
</html>
