// Social Carousel Section
.hbc-social {
  text-align: center;
  margin: 150px auto 0;
  // padding-bottom: 3rem;
  max-width: 100%;

  // h5 {
  //   margin: 5.4rem 0 4.3rem;
  // }

  &__carousel {
    // max-width: 125rem;
    // margin: 1rem auto 3rem;
  }
}
