// File: _cards.scss

/* -----------------------------------------------
 * HBC CARDS/#-UP-ROWS STYLES
----------------------------------------------- */
.ed {
  &-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    // &__second-last {
    //   grid-column: 2 / span 2;
    //   align-self: self-start;
    // }

    // &__last {
    //   grid-column: 1 / span 4;
    //   align-self: self-start;
    // }

    svg {
      width: 100%;
    }

    h5 {
      margin: 2.5rem 0 4rem;

      @include respond-to(medium) {
        margin: 2.5rem 0 0;
      }
    }

    &__image {
      max-width: 100%;
      width: 100%;
      height: auto;
      display: block;
    }

    &__link {
      cursor: pointer;
      text-decoration: none;
      // margin: 2.625rem 0 6.75rem;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover,
      &:active,
      &:focus {
        text-decoration: underline;
        color: darken($color: $bd-red, $amount: 5%);
      }

      @include respond-to(medium) {
        // margin: 2.5rem 0 0;
      }
    }

    &__overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: 0.5s ease;
      background-color: $bd-red;

      #{$a-tags-hover} {
        opacity: 0.85;
      }

      p {
        color: $hbc-white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
      }
    }
  }
}
