// File: _sections.scss

/* -----------------------------------------------
 * HBC CONTAINER/WRAPPERS STYLES
----------------------------------------------- */
.ed {
  &-wrapper {
    &--main {
      background-color: $bd-sand;
      padding: 4.875rem 3rem 0;

      // @include respond-to(small) {
      //   padding: 4.875rem 8.438rem 0;
      // }

      @include respond-to(medium) {
        padding: 4.625rem 10.5rem 0;
      }
    }
  }

  &-container {
    &--header {
      z-index: 0;
    }

    &--links {
      padding: 2.875rem 0 5rem;
      display: block;

      @include respond-to(medium) {
        padding: 3.625rem 0 5.75rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }

    &--cards {
      padding: 7.25rem 0 9.125rem;
      display: block;

      @include respond-to(medium) {
        padding: 3.375rem 0 7.5rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 4.25rem 0.5rem;
      }
    }
  }
}
