// File: _sections.scss

/* -----------------------------------------------
 * HBC CONTAINER/WRAPPERS STYLES
----------------------------------------------- */
// REFERENCE: https://css-tricks.com/snippets/css/complete-guide-grid/

.hbc-ed {
  &-wrapper {
    &--main {
      // background-color: #f7f7f7;
      padding-bottom: 8.625rem;

      @include respond-to(medium) {
        padding-bottom: 7rem;
      }
    }

    &--header {
      position: inherit;
      text-align: center;
      padding: 4.25rem 2.5rem 0;
      // background-color: #f7f7f7;
      color: $hbc-black;

      @include respond-to(medium) {
        padding: 4rem 6.25rem 0;
      }
    }

    &--links {
      display: flex;
      flex-direction: column;
      padding: 2.25rem 2.5rem 0;

      @include respond-to(medium) {
        flex-direction: row;
        justify-content: space-between;
        padding: 4.125rem 6.25rem 0;
      }
    }

    &--disclaimer {
      padding: 4.5rem 2rem 0;
      text-align: center;
      color: #000;

      @include respond-to(medium) {
        padding: 3.625rem 13.5rem 0;
      }
    }

    &--footer {
      background: $hbc-black;
      text-align: center;
      padding-bottom: 3.375rem;

      @include respond-to(medium) {
        padding-bottom: 2.125rem;
      }
    }
  }
}

.hbc-flyer {
  &__wrapper {
    background-color: $fly-bg;
    // TODO: Remove font-family and font-weight for production.
    font-family: $fly-sans;
    font-weight: 400;
  }

  &__row-items {
    &--logo {
      grid-area: logo;
    }

    &--header {
      grid-area: header;
    }
    &--one {
      grid-area: one;
    }
    &--two {
      grid-area: two;
    }
    &--three {
      grid-area: three;
    }
    &--four {
      grid-area: four;
    }
    &--five {
      grid-area: five;
    }

    &--footer {
      grid-area: footer;
    }
  }

  &__container {
    &--main {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
      grid-template-areas:
        'logo logo logo logo'
        'header header header header'
        'one one one one'
        'two two two two'
        'three three three three'
        'four four four four'
        'five five five five'
        'footer footer footer footer';
      // grid-template:
      //   [row1] 'header header header header' 1fr
      //   [row2] 'two two two two' 1fr
      //   [row3] 'three three three three' 1fr
      //   [row4] 'four four four four' 1fr
      //   [row5] 'five five five five' 1fr
      //   [row6] 'six six six six' 1fr
      //   [row7] 'footer footer footer footer' 1fr
      //   / 1fr 1fr 1fr 1fr;
      gap: 10px 10px;
      // justify-items: center;
      // align-items: center;
      // OR
      // place-items: center;
      // justify-content: center;
      // align-content: center;
      // OR
      place-content: center;
    }
  }
}
