/* -----------------------------------------------
 * HEADER STYLES
----------------------------------------------- */
#dsg-editorial.dsg-editorial {
  header {
    &.header {
      @include bayflex(column, wrap, initial, space-evenly, 0, 8rem 0, auto, 100%, center);

      &--helper {
        text-transform: uppercase;
      }
    }

    .header__wrapper {
      padding: 0 2rem;

      @include respond-to(medium) {
        padding: 0 8rem;
      }
    }
  }
}
