.hbc-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  align-items: center;

  h3 {
    color: $rle-green;
    margin-bottom: 40px;
  }

  &__outer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 0;

    @include respond-to(large) {
      padding-bottom: 150px;
    }
  }

  &__inner {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 50px;

    picture {
      img {
        display: block;
        width: 100%;
        margin: 0 0 40px;
      }
    }

    a {
      &.btn {
        &--default {
          margin: 0 auto;
        }
      }
    }

    @include respond-to(large) {
      // CHANGING denominator in below calculation will make it a 2 or 3 or nth(#) up card row on large screens
      width: calc(99% / 2);
      margin-bottom: 0;

      &:not(:last-child) {
        margin-right: 0.5%;
      }
      // &:last-of-type {
      //   margin-right: 0;
      // }
    }
  }

  .flexible {
    flex-grow: 1;
  }
}
