%btn-placeholder {
  font-size: 2.2rem;
  text-transform: uppercase;
  padding: 1rem 0;
  margin: 0;
  font-family: $baySans;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
