<!doctype html>
<html lang="en-CA">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Bay Days | TheBay Canada</title>
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1712236745383/css/global.css"
    />
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1712130735115/css/typography.css"
    />
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1712130735115/css/zellers-svg-font.css"
    />
  </head>
  <div class="cat-landing">
    <div class="secondary-content">
      <div class="home-slots">
        <body style="margin: 0">
          <main class="ed-wrapper--main">
            <header class="ed-container--header ed-util--bg-bay-days-sand">
              <h3
                class="ed-type--h3 ed-util--t-bay-days-red ed-util-text-center"
              >
                BUILD YOUR BASKET TODAY
              </h3>
            </header>
            <!-- CARDS SECTIONS -->
            <section class="ed-container--cards">
              <div class="ed-card">
                <picture>
                  <source
                    media="(min-width: 48.0625em)"
                    srcset="
                      https://image.s5a.com/is/image/TheBay/VN_WOMENS-CLOTHING_DESKTOP?scl=1&qlt=100&fmt=webp
                    "
                  />
                  <img
                    class="ed-card__image"
                    src="https://image.s5a.com/is/image/TheBay/VN_WOMENS-CLOTHING_MOBILE?scl=1&qlt=80&fmt=webp"
                    alt=""
                    loading="lazy"
                  />
                </picture>
                <a
                  aria-label="WOMEN'S CLOTHING: Link to women's clothing."
                  class="ed-card__link ed-type--link ed-util--t-bay-days-red"
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer"
                  >WOMEN&apos;S CLOTHING</a
                >
              </div>
              <div class="ed-card">
                <picture>
                  <source
                    media="(min-width: 48.0625em)"
                    srcset="
                      https://image.s5a.com/is/image/TheBay/VN_WOMENS-SHOES_DESKTOP?scl=1&qlt=100&fmt=webp
                    "
                  />
                  <img
                    class="ed-card__image"
                    src="https://image.s5a.com/is/image/TheBay/VN_WOMENS-SHOES_MOBILE?scl=1&qlt=80&fmt=webp"
                    alt=""
                    loading="lazy"
                  />
                </picture>
                <a
                  aria-label="WOMEN'S SHOES: Link to women's shoes."
                  class="ed-card__link ed-type--link ed-util--t-bay-days-red"
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer"
                  >WOMEN&apos;S SHOES</a
                >
              </div>
              <div class="ed-card">
                <picture>
                  <source
                    media="(min-width: 48.0625em)"
                    srcset="
                      https://image.s5a.com/is/image/TheBay/VN_MENS-CLOTHING_DESKTOP?scl=1&qlt=100&fmt=webp
                    "
                  />
                  <img
                    class="ed-card__image"
                    src="https://image.s5a.com/is/image/TheBay/VN_MENS-CLOTHING_MOBILE?scl=1&qlt=80&fmt=webp"
                    alt=""
                    loading="lazy"
                  />
                </picture>
                <a
                  aria-label="MEN'S CLOTHING: Link to men's clothing."
                  class="ed-card__link ed-type--link ed-util--t-bay-days-red"
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer"
                  >MEN&apos;S CLOTHING</a
                >
              </div>
              <div class="ed-card">
                <picture>
                  <source
                    media="(min-width: 48.0625em)"
                    srcset="
                      https://image.s5a.com/is/image/TheBay/VN_MENS-SHOES_DESKTOP?scl=1&qlt=100&fmt=webp
                    "
                  />
                  <img
                    class="ed-card__image"
                    src="https://image.s5a.com/is/image/TheBay/VN_MENS-SHOES_MOBILE?scl=1&qlt=80&fmt=webp"
                    alt=""
                    loading="lazy"
                  />
                </picture>
                <a
                  aria-label="MEN'S SHOES: Link to men's shoes."
                  class="ed-card__link ed-type--link ed-util--t-bay-days-red"
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer"
                  >MEN&apos;S SHOES</a
                >
              </div>
              <div class="ed-card">
                <picture>
                  <source
                    media="(min-width: 48.0625em)"
                    srcset="
                      https://image.s5a.com/is/image/TheBay/VN_JEWELLERY_DESKTOP?scl=1&qlt=100&fmt=webp
                    "
                  />
                  <img
                    class="ed-card__image"
                    src="https://image.s5a.com/is/image/TheBay/VN_JEWELLERY_MOBILE?scl=1&qlt=80&fmt=webp"
                    alt=""
                    loading="lazy"
                  />
                </picture>
                <a
                  aria-label="JEWELLERY: Link to jewellery."
                  class="ed-card__link ed-type--link ed-util--t-bay-days-red"
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer"
                  >JEWELLERY</a
                >
              </div>
              <div class="ed-card">
                <picture>
                  <source
                    media="(min-width: 48.0625em)"
                    srcset="
                      https://image.s5a.com/is/image/TheBay/VN_HOME_DESKTOP?scl=1&qlt=100&fmt=webp
                    "
                  />
                  <img
                    class="ed-card__image"
                    src="https://image.s5a.com/is/image/TheBay/VN_HOME_MOBILE?scl=1&qlt=80&fmt=webp"
                    alt=""
                    loading="lazy"
                  />
                </picture>
                <a
                  aria-label="HOME: Link to home."
                  class="ed-card__link ed-type--link ed-util--t-bay-days-red"
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer"
                  >HOME</a
                >
              </div>
              <div class="ed-card">
                <picture>
                  <source
                    media="(min-width: 48.0625em)"
                    srcset="
                      https://image.s5a.com/is/image/TheBay/VN_BEAUTY_DESKTOP?scl=1&qlt=100&fmt=webp
                    "
                  />
                  <img
                    class="ed-card__image"
                    src="https://image.s5a.com/is/image/TheBay/VN_BEAUTY_MOBILE?scl=1&qlt=80&fmt=webp"
                    alt=""
                    loading="lazy"
                  />
                </picture>
                <a
                  aria-label="BEAUTY: Link to beauty."
                  class="ed-card__link ed-type--link ed-util--t-bay-days-red"
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer"
                  >BEAUTY</a
                >
              </div>
              <div class="ed-card">
                <picture>
                  <source
                    media="(min-width: 48.0625em)"
                    srcset="
                      https://image.s5a.com/is/image/TheBay/VN_HANDBAGS_DESKTOP?scl=1&qlt=100&fmt=webp
                    "
                  />
                  <img
                    class="ed-card__image"
                    src="https://image.s5a.com/is/image/TheBay/VN_HANDBAGS_MOBILE?scl=1&qlt=80&fmt=webp"
                    alt=""
                    loading="lazy"
                  />
                </picture>
                <a
                  aria-label="HANDBAGS: Link to handbags."
                  class="ed-card__link ed-type--link ed-util--t-bay-days-red"
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer"
                  >HANDBAGS</a
                >
              </div>
            </section>
            <header class="ed-container--header ed-util--bg-bay-days-sand">
              <h2
                class="ed-type--h2 ed-util--t-bay-days-red ed-util-text-center"
              >
                Get Up To an Extra 20&percnt; Off on your first&dash;day
                purchases when you apply for the Hudson&apos;s Bay Mastercard.
              </h2>
              <div class="ed-container--links">
                <a
                  aria-label="SHOP CURRENT SALES: Link to all Hudson's Bay sales items."
                  class="ed-link--regular ed-type--link ed-util--bg-bay-days-red ed-util--t-white"
                  href="$url('Search-Show','cgid','rewards')$?sre=411_041124_LANDING-PAGE_SEO-BAY-DAYS-PRE-AWARENESS_HERO-TEXT_1_CP_BAY-DAYS_Join-for-Free-Today"
                  target="_blank"
                  rel="noopener noreferrer"
                  >JOIN FOR FREE TODAY</a
                >
              </div>
            </header>
          </main>
        </body>
      </div>
    </div>
  </div>
</html>
