<!doctype html>
<html lang="en-CA">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Bay Days | The Bay Canada</title>
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1712236745383/css/global.css"
    />
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1712130735115/css/typography.css"
    />
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1712130735115/css/zellers-svg-font.css"
    />
  </head>
  <div class="cat-landing">
    <div class="secondary-content">
      <div class="home-slots">
        <body style="margin: 0">
          <main class="ed-wrapper--main">
            <!-- MAIN HEADER -->
            <header class="ed-container--header ed-util--bg-bay-days-sand">
              <h3
                class="ed-type--h3 ed-util--t-bay-days-red ed-util-text-center ed-util-pt-5 ed-util--uppercase"
              >
                BUILD YOUR BASKET TODAY
              </h3>
            </header>
            <!-- PRODUCT CARDS SECTION -->
            <section class="ed-container--cards">
              <div class="ed-card ed-util-pt-3">
                <a
                  aria-label="WOMEN'S CLOTHING: Link to women's clothing."
                  class="ed-link--card"
                  href="$url('Search-Show','cgid','2534374302033055')$?sre=411_041124_LANDING-PAGE_SEO-BAY-DAYS-PRE-AWARENESS"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <picture>
                    <source
                      media="(min-width: 48.0625em)"
                      srcset="
                        https://image.s5a.com/is/image/TheBay/VN_WOMENS-CLOTHING_DESKTOP?scl=1&qlt=100&fmt=webp
                      "
                    />
                    <img
                      class="ed-card__image"
                      src="https://image.s5a.com/is/image/TheBay/VN_WOMENS-CLOTHING_MOBILE?scl=1&qlt=80&fmt=webp"
                      alt="A close-up of a woman wearing a cream-colored, knitted, short-sleeved top with a ribbed pattern. It is paired with dark blue jeans."
                      loading="lazy"
                    />
                  </picture>
                  <div class="ed-card__overlay">
                    <p class="ed-type--link ed-util--t-white">
                      WOMEN&apos;S CLOTHING
                    </p>
                  </div>
                </a>
                <a
                  aria-label="WOMEN'S CLOTHING: Link to women's clothing."
                  class="ed-card__link ed-type--link ed-util--t-bay-days-red ed-util-pt-2"
                  href="$url('Search-Show','cgid','2534374302033055')$?sre=411_041124_LANDING-PAGE_SEO-BAY-DAYS-PRE-AWARENESS"
                  target="_blank"
                  rel="noopener noreferrer"
                  >WOMEN&apos;S CLOTHING</a
                >
              </div>
              <div class="ed-card ed-util-pt-3">
                <a
                  aria-label="WOMEN'S SHOES: Link to women's shoes."
                  class="ed-link--card"
                  href="$url('Search-Show','cgid','2534374302033212')$?sre=411_041124_LANDING-PAGE_SEO-BAY-DAYS-PRE-AWARENESS"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <picture>
                    <source
                      media="(min-width: 48.0625em)"
                      srcset="
                        https://image.s5a.com/is/image/TheBay/VN_WOMENS-SHOES_DESKTOP?scl=1&qlt=100&fmt=webp
                      "
                    />
                    <img
                      class="ed-card__image"
                      src="https://image.s5a.com/is/image/TheBay/VN_WOMENS-SHOES_MOBILE?scl=1&qlt=80&fmt=webp"
                      alt="Image of a single metallic flat shoe with a pointed toe and decorative bow on the front."
                      loading="lazy"
                    />
                  </picture>
                  <div class="ed-card__overlay">
                    <p class="ed-type--link ed-util--t-white">
                      WOMEN&apos;S SHOES
                    </p>
                  </div>
                </a>
                <a
                  aria-label="WOMEN'S SHOES: Link to women's shoes."
                  class="ed-card__link ed-type--link ed-util--t-bay-days-red ed-util-pt-2"
                  href="$url('Search-Show','cgid','2534374302033212')$?sre=411_041124_LANDING-PAGE_SEO-BAY-DAYS-PRE-AWARENESS"
                  target="_blank"
                  rel="noopener noreferrer"
                  >WOMEN&apos;S SHOES</a
                >
              </div>
              <div class="ed-card ed-util-pt-3">
                <a
                  aria-label="MEN'S CLOTHING: Link to men's clothing."
                  class="ed-link--card"
                  href="$url('Search-Show','cgid','2534374302032878')$?sre=411_041124_LANDING-PAGE_SEO-BAY-DAYS-PRE-AWARENESS"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <picture>
                    <source
                      media="(min-width: 48.0625em)"
                      srcset="
                        https://image.s5a.com/is/image/TheBay/VN_MENS-CLOTHING_DESKTOP?scl=1&qlt=100&fmt=webp
                      "
                    />
                    <img
                      class="ed-card__image"
                      src="https://image.s5a.com/is/image/TheBay/VN_MENS-CLOTHING_MOBILE?scl=1&qlt=80&fmt=webp"
                      alt="Close-up of a man wearing a red and white horizontally striped polo shirt with a solid red collar. The individual has their arms crossed and is wearing dark pants."
                      loading="lazy"
                    />
                  </picture>
                  <div class="ed-card__overlay">
                    <p class="ed-type--link ed-util--t-white">
                      MEN&apos;S CLOTHING
                    </p>
                  </div>
                </a>
                <a
                  aria-label="MEN'S CLOTHING: Link to men's clothing."
                  class="ed-card__link ed-type--link ed-util--t-bay-days-red ed-util-pt-2"
                  href="$url('Search-Show','cgid','2534374302032878')$?sre=411_041124_LANDING-PAGE_SEO-BAY-DAYS-PRE-AWARENESS"
                  target="_blank"
                  rel="noopener noreferrer"
                  >MEN&apos;S CLOTHING</a
                >
              </div>
              <div class="ed-card ed-util-pt-3">
                <a
                  aria-label="MEN'S SHOES: Link to men's shoes."
                  class="ed-link--card"
                  href="$url('Search-Show','cgid','2534374302032970')$?sre=411_041124_LANDING-PAGE_SEO-BAY-DAYS-PRE-AWARENESS"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <picture>
                    <source
                      media="(min-width: 48.0625em)"
                      srcset="
                        https://image.s5a.com/is/image/TheBay/VN_MENS-SHOES_DESKTOP?scl=1&qlt=100&fmt=webp
                      "
                    />
                    <img
                      class="ed-card__image"
                      src="https://image.s5a.com/is/image/TheBay/VN_MENS-SHOES_MOBILE?scl=1&qlt=80&fmt=webp"
                      alt="A single brown leather sneaker with a round toe, lace-up closure and a thick white sole. The back of the shoe features a black accent."
                      loading="lazy"
                    />
                  </picture>
                  <div class="ed-card__overlay">
                    <p class="ed-type--link ed-util--t-white">
                      MEN&apos;S SHOES
                    </p>
                  </div>
                </a>
                <a
                  aria-label="MEN'S SHOES: Link to men's shoes."
                  class="ed-card__link ed-type--link ed-util--t-bay-days-red ed-util-pt-2"
                  href="$url('Search-Show','cgid','2534374302032970')$?sre=411_041124_LANDING-PAGE_SEO-BAY-DAYS-PRE-AWARENESS"
                  target="_blank"
                  rel="noopener noreferrer"
                  >MEN&apos;S SHOES</a
                >
              </div>
              <div class="ed-card ed-util-pt-3">
                <a
                  aria-label="JEWELLERY: Link to jewellery."
                  class="ed-link--card"
                  href="$url('Search-Show','cgid','2534374302033026')$?sre=411_041124_LANDING-PAGE_SEO-BAY-DAYS-PRE-AWARENESS"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <picture>
                    <source
                      media="(min-width: 48.0625em)"
                      srcset="
                        https://image.s5a.com/is/image/TheBay/VN_JEWELLERY_DESKTOP?scl=1&qlt=100&fmt=webp
                      "
                    />
                    <!-- TODO: GET THE ALT TAG FOR JEWELLERY. -->
                    <img
                      class="ed-card__image"
                      src="https://image.s5a.com/is/image/TheBay/VN_JEWELLERY_MOBILE?scl=1&qlt=80&fmt=webp"
                      alt=""
                      loading="lazy"
                    />
                  </picture>
                  <div class="ed-card__overlay">
                    <p class="ed-type--link ed-util--t-white">JEWELLERY</p>
                  </div>
                </a>
                <a
                  aria-label="JEWELLERY: Link to jewellery."
                  class="ed-card__link ed-type--link ed-util--t-bay-days-red ed-util-pt-2"
                  href="$url('Search-Show','cgid','2534374302033026')$?sre=411_041124_LANDING-PAGE_SEO-BAY-DAYS-PRE-AWARENESS"
                  target="_blank"
                  rel="noopener noreferrer"
                  >JEWELLERY</a
                >
              </div>
              <div class="ed-card ed-util-pt-3">
                <a
                  aria-label="HOME: Link to home."
                  class="ed-link--card"
                  href="$url('Search-Show','cgid','2534374302032280')$?sre=411_041124_LANDING-PAGE_SEO-BAY-DAYS-PRE-AWARENESS"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <picture>
                    <source
                      media="(min-width: 48.0625em)"
                      srcset="
                        https://image.s5a.com/is/image/TheBay/VN_HOME_DESKTOP?scl=1&qlt=100&fmt=webp
                      "
                    />
                    <img
                      class="ed-card__image"
                      src="https://image.s5a.com/is/image/TheBay/VN_HOME_MOBILE?scl=1&qlt=80&fmt=webp"
                      alt="A black SMEG electric kettle with a sleek, retro design featuring a silver handle and base. The brand SMEG is visible on the front in silver lettering."
                      loading="lazy"
                    />
                  </picture>
                  <div class="ed-card__overlay">
                    <p class="ed-type--link ed-util--t-white">HOME</p>
                  </div>
                </a>
                <a
                  aria-label="HOME: Link to home."
                  class="ed-card__link ed-type--link ed-util--t-bay-days-red ed-util-pt-2"
                  href="$url('Search-Show','cgid','2534374302032280')$?sre=411_041124_LANDING-PAGE_SEO-BAY-DAYS-PRE-AWARENESS"
                  target="_blank"
                  rel="noopener noreferrer"
                  >HOME</a
                >
              </div>
              <div class="ed-card ed-util-pt-3">
                <a
                  aria-label="BEAUTY: Link to beauty."
                  class="ed-link--card"
                  href="$url('Search-Show','cgid','2534374302032061')$?sre=411_041124_LANDING-PAGE_SEO-BAY-DAYS-PRE-AWARENESS"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <picture>
                    <source
                      media="(min-width: 48.0625em)"
                      srcset="
                        https://image.s5a.com/is/image/TheBay/VN_BEAUTY_DESKTOP?scl=1&qlt=100&fmt=webp
                      "
                    />
                    <img
                      class="ed-card__image"
                      src="https://image.s5a.com/is/image/TheBay/VN_BEAUTY_MOBILE?scl=1&qlt=80&fmt=webp"
                      alt="A cylindrical, beige-coloured bottle of makeup with a black cap."
                      loading="lazy"
                    />
                  </picture>
                  <div class="ed-card__overlay">
                    <p class="ed-type--link ed-util--t-white">BEAUTY</p>
                  </div>
                </a>
                <a
                  aria-label="BEAUTY: Link to beauty."
                  class="ed-card__link ed-type--link ed-util--t-bay-days-red ed-util-pt-2"
                  href="$url('Search-Show','cgid','2534374302032061')$?sre=411_041124_LANDING-PAGE_SEO-BAY-DAYS-PRE-AWARENESS"
                  target="_blank"
                  rel="noopener noreferrer"
                  >BEAUTY</a
                >
              </div>
              <div class="ed-card ed-util-pt-3">
                <a
                  aria-label="HANDBAGS: Link to handbags."
                  class="ed-link--card"
                  href="$url('Search-Show','cgid','2534374302033005')$?sre=411_041124_LANDING-PAGE_SEO-BAY-DAYS-PRE-AWARENESS"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <picture>
                    <source
                      media="(min-width: 48.0625em)"
                      srcset="
                        https://image.s5a.com/is/image/TheBay/VN_HANDBAGS_DESKTOP?scl=1&qlt=100&fmt=webp
                      "
                    />
                    <img
                      class="ed-card__image"
                      src="https://image.s5a.com/is/image/TheBay/VN_HANDBAGS_MOBILE?scl=1&qlt=80&fmt=webp"
                      alt="A dark, olive green designer tote bag with a geometric pattern and black handles."
                      loading="lazy"
                    />
                  </picture>
                  <div class="ed-card__overlay">
                    <p class="ed-type--link ed-util--t-white">HANDBAGS</p>
                  </div>
                </a>
                <a
                  aria-label="HANDBAGS: Link to handbags."
                  class="ed-card__link ed-type--link ed-util--t-bay-days-red ed-util-pt-2"
                  href="$url('Search-Show','cgid','2534374302033005')$?sre=411_041124_LANDING-PAGE_SEO-BAY-DAYS-PRE-AWARENESS"
                  target="_blank"
                  rel="noopener noreferrer"
                  >HANDBAGS</a
                >
              </div>
            </section>
            <!-- SECOND HEADER AND CTA SECTION -->
            <header class="ed-container--header ed-util--bg-bay-days-sand">
              <h2
                class="ed-type--h2 ed-util--t-bay-days-red ed-util-text-center ed-util-pt-5"
              >
                Get Up To an Extra 20&percnt; Off on your first&dash;day
                purchases when you apply for the Hudson&apos;s Bay Mastercard.
              </h2>
              <div class="ed-container--links ed-util-pt-4">
                <a
                  aria-label="Apply for the Hudson's Bay Mastercard: Link to sign up for the Hudson's Bay MasterCard."
                  class="ed-link--full ed-type--link ed-util--bg-bay-days-red ed-util--t-white"
                  href="www.join.neo.cc/07b1?sre=411_041124_LANDING-PAGE_SEO-BAY-DAYS-PRE-AWARENESS"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Apply for the Hudson&apos;s Bay Mastercard</a
                >
              </div>
            </header>
            <!-- FOOTER SECTION -->
            <footer
              class="ed-container--footer ed-util--bg-bay-days-sand ed-util-pt-5"
            >
              <h4 class="ed-type--h4 ed-util-text-center">
                Get rewarded for all your shopping with Hudson&apos;s Bay
                Rewards.<br />Plus, earn more points and cashback with
                Hudson&apos;s Bay Mastercard<sup>&reg;</sup>
              </h4>
              <!-- WIDGET CARDS SECTION -->
              <section class="ed-widgets__outer">
                <div class="ed-widgets__inner">
                  <div class="ed-widgets__content ed-util-pt-3">
                    <svg
                      width="90.652"
                      height="60"
                      viewBox="0 0 90.652 60"
                      aria-labelledby="title desc"
                    >
                      <title id="title">Free and fast shipping icon</title>
                      <desc id="desc">
                        Logo of a delivery van with a forward arrow inside the
                        vehicle.
                      </desc>
                      <g
                        id="Group_460"
                        data-name="Group 460"
                        transform="translate(0 0)"
                      >
                        <g
                          id="Group_459"
                          data-name="Group 459"
                          transform="translate(0 0)"
                          clip-path="url(#clip-path)"
                        >
                          <path
                            id="Path_28"
                            data-name="Path 28"
                            d="M81.725,25.852,69.145,1H1V49.553H13.414c0-.015,0-.028,0-.043a9.025,9.025,0,0,1,18.051,0c0,.015,0,.028,0,.043H57.743c0-.015,0-.028,0-.043a9.025,9.025,0,0,1,18.051,0c0,.015,0,.028,0,.043h13.4V32.874Z"
                            transform="translate(0.233 0.232)"
                            fill="none"
                            stroke="#000"
                            stroke-miterlimit="10"
                            stroke-width="2"
                          />
                          <path
                            id="Path_29"
                            data-name="Path 29"
                            d="M33.471,12.187l9.86,9.86-9.86,9.86"
                            transform="translate(7.784 2.834)"
                            fill="none"
                            stroke="#000"
                            stroke-miterlimit="10"
                            stroke-width="2"
                          />
                          <line
                            id="Line_10"
                            data-name="Line 10"
                            x1="24.651"
                            transform="translate(26.465 24.882)"
                            fill="none"
                            stroke="#000"
                            stroke-miterlimit="10"
                            stroke-width="2"
                          />
                          <path
                            id="Path_30"
                            data-name="Path 30"
                            d="M65.086,42.06a9.025,9.025,0,1,1-9.026-9.026A9.026,9.026,0,0,1,65.086,42.06Z"
                            transform="translate(10.938 7.682)"
                            fill="none"
                            stroke="#000"
                            stroke-miterlimit="10"
                            stroke-width="2"
                          />
                          <path
                            id="Path_31"
                            data-name="Path 31"
                            d="M29.121,42.06a9.025,9.025,0,1,1-9.026-9.026A9.026,9.026,0,0,1,29.121,42.06Z"
                            transform="translate(2.574 7.682)"
                            fill="none"
                            stroke="#000"
                            stroke-miterlimit="10"
                            stroke-width="2"
                          />
                        </g>
                      </g>
                    </svg>
                    <h5
                      class="ed-util-text-center ed-util--t-black ed-type--h5 ed-util-pt-2 ed-util--flexible"
                    >
                      Free & fast<br />shipping available.*
                    </h5>
                  </div>
                </div>

                <div class="ed-widgets__inner">
                  <div class="ed-widgets__content ed-util-pt-3">
                    <svg
                      width="46"
                      height="64"
                      viewBox="0 0 46 64"
                      aria-labelledby="title2 desc2"
                    >
                      <title id="title2">
                        Buy online and same day pickup in store icon
                      </title>
                      <desc id="desc2">
                        Logo of a shopping bag with a forward arrow inside the
                        bag.
                      </desc>
                      <path
                        id="Path_146"
                        data-name="Path 146"
                        d="M25,34l8,8-8,8"
                        fill="none"
                        stroke="#000"
                        stroke-miterlimit="10"
                        stroke-width="2"
                      />
                      <line
                        id="Line_15"
                        data-name="Line 15"
                        x1="20"
                        transform="translate(12.998 42)"
                        fill="none"
                        stroke="#000"
                        stroke-miterlimit="10"
                        stroke-width="2"
                      />
                      <g id="Group_667" data-name="Group 667">
                        <g
                          id="Group_666"
                          data-name="Group 666"
                          clip-path="url(#clip-path)"
                        >
                          <path
                            id="Path_147"
                            data-name="Path 147"
                            d="M35,18H45V63H1V18H35Z"
                            fill="none"
                            stroke="#000"
                            stroke-miterlimit="10"
                            stroke-width="2"
                          />
                          <path
                            id="Path_148"
                            data-name="Path 148"
                            d="M13,24V11a10,10,0,0,1,20,0V24"
                            fill="none"
                            stroke="#000"
                            stroke-miterlimit="10"
                            stroke-width="2"
                          />
                        </g>
                      </g>
                    </svg>
                    <h5
                      class="ed-util-text-center ed-util--t-black ed-type--h5 ed-util-pt-2 ed-util--flexible"
                    >
                      Buy online,<br />same day pick up.**
                    </h5>
                  </div>
                </div>

                <div class="ed-widgets__inner">
                  <div class="ed-widgets__content ed-util-pt-3">
                    <svg
                      width="34.499"
                      height="64.5"
                      viewBox="0 0 34.499 64.5"
                      aria-labelledby="title3 desc3"
                    >
                      <title id="title3">Flexible payment options icon</title>
                      <desc id="desc3">Logo of a dollar sign.</desc>
                      <g
                        id="Group_664"
                        data-name="Group 664"
                        transform="translate(0 0.25)"
                      >
                        <path
                          id="Path_261"
                          data-name="Path 261"
                          d="M0,0H1.738V64H0Z"
                          transform="translate(16.381)"
                          stroke="#000"
                          stroke-width="0.5"
                        />
                        <g id="Group_663" data-name="Group 663">
                          <g
                            id="Group_662"
                            data-name="Group 662"
                            clip-path="url(#clip-path)"
                          >
                            <path
                              id="Path_140"
                              data-name="Path 140"
                              d="M30.519,13.846S30.519,4,15.75,4,2.621,15.487,2.621,15.487s0,11.487,13.128,11.487c14.769,0,16.43,9.846,16.43,11.487,0,3.282,1.621,13.128-16.43,13.128C.98,51.59,1,45.026,1,43.385"
                              transform="translate(0.641 2.564)"
                              fill="none"
                              stroke="#000"
                              stroke-miterlimit="10"
                              stroke-width="2"
                            />
                          </g>
                        </g>
                      </g>
                    </svg>
                    <h5
                      class="ed-util-text-center ed-util--t-black ed-type--h5 ed-util-pt-2 ed-util--flexible"
                    >
                      Flexible payment<br />options available.
                    </h5>
                  </div>
                </div>

                <div class="ed-widgets__inner">
                  <div class="ed-widgets__content ed-util-pt-3">
                    <svg
                      width="64.414"
                      height="56.414"
                      viewBox="0 0 64.414 56.414"
                      aria-labelledby="title4 desc4"
                    >
                      <title id="title4">Price match guarantee icon</title>
                      <desc id="desc4">Logo of two price tags.</desc>
                      <g
                        id="Group_839"
                        data-name="Group 839"
                        transform="translate(0 0)"
                      >
                        <g
                          id="Group_838"
                          data-name="Group 838"
                          clip-path="url(#clip-path)"
                        >
                          <path
                            id="Path_327"
                            data-name="Path 327"
                            d="M21.9,1,55,34.1,34.1,55,1,21.9V1Z"
                            fill="none"
                            stroke="#000"
                            stroke-miterlimit="10"
                            stroke-width="2"
                          />
                          <path
                            id="Path_328"
                            data-name="Path 328"
                            d="M29.9,1,63,34.1,42.1,55"
                            fill="none"
                            stroke="#000"
                            stroke-miterlimit="10"
                            stroke-width="2"
                          />
                          <circle
                            id="Ellipse_6"
                            data-name="Ellipse 6"
                            cx="5"
                            cy="5"
                            r="5"
                            transform="translate(9 9)"
                            fill="none"
                            stroke="#000"
                            stroke-miterlimit="10"
                            stroke-width="2"
                          />
                        </g>
                      </g>
                    </svg>
                    <h5
                      class="ed-util-text-center ed-util--t-black ed-type--h5 ed-util-pt-2 ed-util--flexible"
                    >
                      Price match<br />guarantee.
                    </h5>
                  </div>
                </div>
              </section>

              <div class="ed-container--links ed-util-pt-4">
                <a
                  aria-label="SIGN UP FOR EMAIL: Link to sign up for the Hudson's Bay email list."
                  class="ed-link--full-dark ed-type--link ed-util--bg-black ed-util--t-white"
                  href="$url('EmailSubscribe-EmailSignUp')$?sre=411_041124_LANDING-PAGE_SEO-BAY-DAYS-PRE-AWARENESS"
                  target="_blank"
                  rel="noopener noreferrer"
                  >SIGN UP FOR EMAIL</a
                >
              </div>
              <div class="ed-container--legal ed-util-pt-4 ed-util-pb-5">
                <p class="ed-type--p ed-util-text-center">
                  <sup>&ast;</sup>Free standard shipping requires a minimum
                  purchase amount. Same&dash;day or express delivery options
                  incur extra charge.
                </p>
                <p class="ed-type--p ed-util-text-center">
                  <sup>&ast;&ast;</sup>Available on orders placed 3&plus; hours
                  before closing at select store locations. Exclusions may
                  apply. Visit our site to see full terms and conditions.
                </p>
              </div>
            </footer>
          </main>
        </body>
      </div>
    </div>
  </div>
</html>
