<!doctype html>
<html lang="fr-CA">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>La Baie</title>
  </head>
  <body style="margin: 0">
    <div class="hbc-ed-wrapper--header">
      <h3 class="hbc-ed-copy__heading--tertiary">
        <strong>Précisions sur la livraison pour les fêtes.</strong>
      </h3>
      <h4 class="hbc-ed-copy__heading--quaternary">
        Passez votre commande avant midi (HE) aux dates mentionnées ci-dessous pour la recevoir
        d’ici le 24 décembre*.<br />Pour obtenir une date d’expédition précise, entrez votre code
        postal pour chaque article ou au moment de passer à la caisse**.
      </h4>
    </div>
    <div class="hbc-ed-wrapper--table">
      <div class="tg-wrap">
        <table class="tg">
          <thead>
            <tr>
              <th class="tg-pklk">Secteurs</th>
              <th class="tg-mwu2">
                Livraison standard<br />Date limite pour<br />passer une<br />commande<br />(Transport
                terrestre)
              </th>
              <th class="tg-mwu2">
                Livraison express<br />Date limite pour<br />passer une<br />commande<br />(Transport
                aérien)
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="tg-lbvw">Yukon</td>
              <td class="tg-swhy">14/12/2023</td>
              <td class="tg-swhy">19/12/2023</td>
            </tr>
            <tr>
              <td class="tg-lbvw">Territoires&nbsp;du&nbsp;Nord-Ouest</td>
              <td class="tg-swhy">14/12/2023</td>
              <td class="tg-swhy">19/12/2023</td>
            </tr>
            <tr>
              <td class="tg-lbvw">Nunavut</td>
              <td class="tg-swhy">14/12/2023</td>
              <td class="tg-swhy">19/12/2023</td>
            </tr>
            <tr>
              <td class="tg-lbvw">Terre-Neuve-et-Labrador</td>
              <td class="tg-swhy">14/12/2023</td>
              <td class="tg-swhy">20/12/2023</td>
            </tr>
            <tr>
              <td class="tg-lbvw">Colombie-Britannique</td>
              <td class="tg-swhy">16/12/2023</td>
              <td class="tg-swhy">20/12/2023</td>
            </tr>
            <tr>
              <td class="tg-lbvw">Alberta</td>
              <td class="tg-swhy">16/12/2023</td>
              <td class="tg-swhy">20/12/2023</td>
            </tr>
            <tr>
              <td class="tg-lbvw">Nouvelle-Écosse</td>
              <td class="tg-swhy">17/12/2023</td>
              <td class="tg-swhy">20/12/2023</td>
            </tr>
            <tr>
              <td class="tg-lbvw">Saskatchewan</td>
              <td class="tg-swhy">18/12/2023</td>
              <td class="tg-swhy">20/12/2023</td>
            </tr>
            <tr>
              <td class="tg-lbvw">Île-du-Prince-Édouard</td>
              <td class="tg-swhy">18/12/2023</td>
              <td class="tg-swhy">20/12/2023</td>
            </tr>
            <tr>
              <td class="tg-lbvw">Nouveau-Brunswick</td>
              <td class="tg-swhy">18/12/2023</td>
              <td class="tg-swhy">20/12/2023</td>
            </tr>
            <tr>
              <td class="tg-lbvw">Manitoba</td>
              <td class="tg-swhy">19/12/2023</td>
              <td class="tg-swhy">20/12/2023</td>
            </tr>
            <tr>
              <td class="tg-lbvw">Ontario</td>
              <td class="tg-swhy">19/12/2023</td>
              <td class="tg-swhy">20/12/2023</td>
            </tr>
            <tr>
              <td class="tg-lbvw">Quebec</td>
              <td class="tg-swhy">19/12/2023</td>
              <td class="tg-swhy">20/12/2023</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="hbc-ed-wrapper--disclaimer">
      <p class="hbc-ed-copy__paragraph">
        * En raison de circonstances hors de notre contrôle, nous ne pouvons pas toujours garantir
        que les commandes arriveront au plus tard le 24 décembre 2023.<br />** Une date de livraison
        approximative vous sera fournie au moment de passer à la caisse. Elle sera calculée en
        fonction de la proximité de la marchandise et des délais de livraison pour votre secteur.
      </p>
    </div>
  </body>
</html>
