<!doctype html>
<html lang="fr-CA">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1721787329464/css/global.css"
    />
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1721787329464/css/typography.css"
    />
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1721787329464/css/zellers-svg-font.css"
    />
    <title>Beauty Loyalty Offer | The Bay Canada</title>
  </head>
  <div class="cat-landing">
    <div class="secondary-content">
      <div class="home-slots">
        <body style="margin: 0">
          <!-- <div id="hbc-footer-page" class="hbc-footer-page">
          </div> -->
          <div class="hbc-livetext-page" id="hbc-livetext-page">
            <h2 class="heading">
              <strong
                >Primes La Baie d'Hudson | Semaine beauté | Points bonis | Du 15
                au 21 août</strong
              >
            </h2>
            <br /><br />
            <h2>
              Obtenez 20 $ en points Primes La Baie d'Hudson avec un achat de
              100 $+ de produits de beauté ou de parfums*.
            </h2>
            <br /><br />
            <h3>
              Avant taxes. Limite de deux (2) offres par membre. Jusqu'à 23 h 59
              (HE) le 21 août.
            </h3>
            <br /><br />
            <h3>
              <a
                href="$url('Search-Show','cgid','2534374302032061','sre','429_081524_LIVE-TEXT_LANDING-PAGE_BEAUTY-LOYALTY-OFFER_SHOPNOW')$"
                >MAGASINER</a
              >
              <br /><br />
              <a
                href="$url('Search-Show','cgid','rewards','sre','429_081524_LIVE-TEXT_LANDING-PAGE_BEAUTY-LOYALTY-OFFER_JOINFORFREE')$   "
                >S'INSCRIRE GRATUITEMENT</a
              >
              <br /><br />
            </h3>
            <p>
              * Le membre Primes La Baie d'Hudson obtiendra 20 $ en points
              Primes La Baie d'Hudson bonis (4000 points) sur deux (2) achats
              admissibles de 100 $ ou plus (avant taxes) de produits de beauté
              ou de parfums effectués en ligne ou en magasin entre le jeudi 15
              août 2024 à 0 h 0 min 1 s (HE) et le mercredi 21 août 2024 à 23 h
              59 min 59 s (HE). Limite de deux (2) offres par membre. Si la
              marchandise est retournée, les points accordés seront retirés du
              compte. Des exceptions s'appliquent. Cette offre est assujettie
              aux conditions du programme Primes La Baie d'Hudson. Précisions à
              labaie.com/primes/conditions. Des restrictions additionnelles
              peuvent s'appliquer. Cette offre peut être modifiée ou annulée à
              tout moment.
            </p>
          </div>
        </body>
      </div>
    </div>
  </div>
</html>
