/* -----------------------------------------------
 * ANCHOR BUTTON STYLES
----------------------------------------------- */
.buttons {
  &__wrapper {
    @include bayflex(
      column,
      initial,
      initial,
      space-around,
      0,
      0,
      auto,
      auto,
      center
    );

    @include respond-to(medium) {
      flex-direction: row;
      align-items: center;
    }

    a,
    a:link,
    a:visited {
      font-size: 1.5rem !important;

      &.btn {
        &--primary {
          margin: 1rem 0;

          @include bayLink(
            2.5px,
            100%,
            $bayDaysGreen,
            2px,
            solid,
            $bayDaysGreen,
            $white
          );

          @include respond-to(medium) {
            font-size: 1.75rem !important;
            width: calc(96% / 2);
          }

          &:hover,
          &:active,
          &:focus {
            background: darken($color: $bayDaysGreen, $amount: 8%);
            border: 0.2rem solid darken($color: $bayDaysGreen, $amount: 8%);
          }
        }
      }
    }
  }
}

section {
  &.back-top {
    margin: 0 0 5rem;

    a,
    a:link,
    a:visited {
      @include bayLink(0px, 100%, none, 0px, none, transparent, $bayDaysGreen);
      font-weight: bold;
      font-size: 1.6rem;
      line-height: 2.2rem;
    }

    &:hover,
    &:active,
    &:focus {
      color: darken($color: $bayDaysGreen, $amount: 8%);
      text-decoration: underline;
    }
  }
}
