<!doctype html>
<html lang="en-CA">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Hudson's Bay</title>
  </head>
  <body style="margin: 0">
    <div class="hbc-ed-wrapper--header">
      <h3 class="hbc-ed-copy__heading--tertiary">
        <strong>Holiday Shipping Information.</strong>
      </h3>
      <h4 class="hbc-ed-copy__heading--quaternary">
        Place your order before 12 PM ET on the dates below to receive it by December 24.*<br />For the most accurate
        shipping estimate, enter your postal code on each item or at checkout.**
      </h4>
    </div>
    <div class="hbc-ed-wrapper--table">
      <div class="tg-wrap">
        <table class="tg">
          <thead>
            <tr>
              <th class="tg-pklk">Areas</th>
              <th class="tg-mwu2">Standard<br />Order By Date<br />(Ground)</th>
              <th class="tg-mwu2">Express<br />Order By Date<br />(Air)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="tg-lbvw">Yukon</td>
              <td class="tg-swhy">2023-12-14</td>
              <td class="tg-swhy">2023-12-19</td>
            </tr>
            <tr>
              <td class="tg-lbvw">Northwest&nbsp;&nbsp;&nbsp;Territories</td>
              <td class="tg-swhy">2023-12-14</td>
              <td class="tg-swhy">2023-12-19</td>
            </tr>
            <tr>
              <td class="tg-lbvw">Nunavut</td>
              <td class="tg-swhy">2023-12-14</td>
              <td class="tg-swhy">2023-12-19</td>
            </tr>
            <tr>
              <td class="tg-lbvw">Newfoundland</td>
              <td class="tg-swhy">2023-12-14</td>
              <td class="tg-swhy">2023-12-20</td>
            </tr>
            <tr>
              <td class="tg-lbvw">British&nbsp;&nbsp;&nbsp;Columbia</td>
              <td class="tg-swhy">2023-12-16</td>
              <td class="tg-swhy">2023-12-20</td>
            </tr>
            <tr>
              <td class="tg-lbvw">Alberta</td>
              <td class="tg-swhy">2023-12-16</td>
              <td class="tg-swhy">2023-12-20</td>
            </tr>
            <tr>
              <td class="tg-lbvw">Nova&nbsp;&nbsp;&nbsp;Scotia</td>
              <td class="tg-swhy">2023-12-17</td>
              <td class="tg-swhy">2023-12-20</td>
            </tr>
            <tr>
              <td class="tg-lbvw">Saskatchewan</td>
              <td class="tg-swhy">2023-12-18</td>
              <td class="tg-swhy">2023-12-20</td>
            </tr>
            <tr>
              <td class="tg-lbvw">PEI</td>
              <td class="tg-swhy">2023-12-18</td>
              <td class="tg-swhy">2023-12-20</td>
            </tr>
            <tr>
              <td class="tg-lbvw">New&nbsp;&nbsp;&nbsp;Brunswick</td>
              <td class="tg-swhy">2023-12-18</td>
              <td class="tg-swhy">2023-12-20</td>
            </tr>
            <tr>
              <td class="tg-lbvw">Manitoba</td>
              <td class="tg-swhy">2023-12-19</td>
              <td class="tg-swhy">2023-12-20</td>
            </tr>
            <tr>
              <td class="tg-lbvw">Ontario</td>
              <td class="tg-swhy">2023-12-19</td>
              <td class="tg-swhy">2023-12-20</td>
            </tr>
            <tr>
              <td class="tg-lbvw">Quebec</td>
              <td class="tg-swhy">2023-12-19</td>
              <td class="tg-swhy">2023-12-20</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="hbc-ed-wrapper--disclaimer">
      <p class="hbc-ed-copy__paragraph">
        *Due to possible reasons beyond our control, we cannot always guarantee orders will arrive by Dec 24, 2023.<br />**Your
        estimated delivery date will be provided at checkout based on item proximity and delivery expectations to your
        area.
      </p>
    </div>
  </body>
</html>
