<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      href="../../../../../_server/img/favicon-project-32x32-avocado.png"
      sizes="32x32"
    />
    <link rel="stylesheet" href="https://use.typekit.net/pdw1vaj.css" />
    <!-- inject:css -->
    <!-- endinject -->
    <title>Hudson's Bay - Digital Stylist</title>
  </head>
  <body></body>
</html>
