<!-- START OF 2 UP CARDS -->
<div class="hbc-card__outer">
  <div class="hbc-card__inner">
    <div class="hbc-card">
      <a
        href="$url('Search-Show','cgid','gift-cards')$?sre=310_033123_LANDING-PAGE_BG_GIFTING-MD-FD_GIFT-CARDS_1_GIFT-CARDS_"
      >
        <img
          class="hbc-img"
          src="https://image.s5a.com/is/image/TheBay/310_033123_LANDING-PAGE_GIFTSHOP_MD_2UP-1_EN?scl=1&qlt=100&fmt=webp"
          alt=""
          loading="lazy"
        />
      </a>
    </div>
  </div>
  <div class="hbc-card__inner">
    <div class="hbc-card">
      <a
        href="https://widgets.stores.thebay.com/stores/1013/services/landing_page/components/landing?sre=310_033123_LANDING-PAGE_BG_GIFTING-MD-FD_DIGITAL-STYLIST_1_DIGITAL-STYLIST_"
      >
        <img
          class="hbc-img"
          src="https://image.s5a.com/is/image/TheBay/310_033123_LANDING-PAGE_GIFTSHOP_MD_2UP-2_EN?scl=1&qlt=100&fmt=webp"
          alt=""
          loading="lazy"
        />
      </a>
    </div>
  </div>
</div>
<!-- END OF 2 UP CARDS -->

<!-- BACK TO TOP BUTTON. -->
<div class="buttons__wrapper">
  <a class="btn--top" href="#top">BACK TO TOP</a>
</div>
