/* -----------------------------------------------
 * ANCHOR BUTTON STYLES
----------------------------------------------- */
.buttons {
  &__wrapper {
    @include bayflex(column, inherit, center, inherit, 0, 0, 100%, 100%, center);

    @include respond-to(medium) {
      flex-direction: row;
    }
  }
}

a,
a:link,
a:visited {
  &.btn {
    &--default {
      @include bayLink(0px, 100%, none, 2px, solid, $black, $black);

      width: 252px;

      // @include respond-to(medium) {
      //   width: 252px;
      // }

      &:hover,
      &:active,
      &:focus {
        background: $black;
        color: $white;
      }
    }

    &--alt {
      margin: 0;

      @include bayLink(0px, 100%, $black, 2px, solid, $black, $white);

      @include respond-to(medium) {
        width: 713px;
      }

      &:hover,
      &:active,
      &:focus {
        background: none;
        color: $black;
      }
    }

    // &--theme {
    //   margin: 1rem 0;

    //   @include bayLink(
    //     0px,
    //     100%,
    //     $black,
    //     2px,
    //     solid,
    //     $black,
    //     $white
    //   );

    //   @include respond-to(medium) {
    //     width: calc(96% / 2);
    //   }

    //   &:hover,
    //   &:active,
    //   &:focus {
    //     background: darken($color: $black, $amount: 8%);
    //     border: 2px solid darken($color: $black, $amount: 8%);
    //   }
    // }

    &--top {
      margin: 50px 0 0;

      @include bayLink(0px, 100%, none, 0px, none, transparent, $black);
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      text-decoration: underline;

      &:hover,
      &:active,
      &:focus {
        color: lighten($color: $black, $amount: 50%);
      }
    }
  }
}
