/* -----------------------------------------------
 * WIDGET STYLES
----------------------------------------------- */
.widgets {
  &__wrapper {
    @include bayflex(
      column,
      wrap,
      center,
      space-around,
      0,
      0 0 5rem,
      auto,
      auto,
      center
    );

    @include respond-to(medium) {
      @include bayflex(
        row,
        initial,
        center,
        space-around,
        0,
        0 0 5rem,
        auto,
        auto,
        center
      );
    }

    .widget {
      @include bayflex(
        column,
        wrap,
        center,
        space-around,
        0,
        0,
        auto,
        auto,
        center
      );

      width: 100%;
    }

    img,
    svg {
      margin: 1rem 0;
      width: calc(100% / 3);
    }
  }
}
