<!doctype html>
<html lang="fr-CA">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1721787329464/css/global.css"
    />
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1721787329464/css/typography.css"
    />
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1721787329464/css/zellers-svg-font.css"
    />
    <title>| TheBay Canada</title>
  </head>
  <div class="cat-landing">
    <div class="secondary-content">
      <div class="home-slots">
        <body style="margin: 0">
          <main class="hbc-wrapper--legal">
            <header class="hbc-header--legal">
              <h4 class="hbc-label--large">
                Le programme de récompenses Hudson's Bay est actuellement en
                pause. Pour le moment, les clients ne peuvent ni accumuler ni
                échanger des points. Nous ne sommes pas en mesure de suivre ou
                d'accumuler des points sur les transactions effectuées pendant
                cette période ni de les appliquer rétroactivement. Nous nous
                excusons pour cette interruption.
              </h4>
              <h1 class="hbc-display--medium">
                Conditions du programme Primes La Baie d'Hudson
              </h1>
              <p class="hbc-body--large">En vigueur le 13 mai 2025</p>
            </header>
            <br />
            <h2 class="hbc-headline--medium">
              Aperçu du programme Primes La Baie d'Hudson
            </h2>
            <p class="hbc-body--large">En vigueur le 18 août 2020</p>
            <p class="hbc-body--large">
              1. Le programme « Primes La Baie d'Hudson » (ou tout programme de
              primes La Baie d'Hudson modifié ou remplacé au fil du temps; le «
              <b>programme</b> ») est un programme de récompenses offert par la
              Compagnie de la Baie d'Hudson SRI (« <b>La Baie d'Hudson</b> », «
              <b>nous</b> », « <b>nos</b> », « <b>notre</b> ») aux clients des
              magasins La Baie d'Hudson (les « <b>magasins</b> » ou
              individuellement, le « <b>magasin</b> ») et à ceux qui magasinent
              en ligne sur le site
              <a class="hbc-link--large" href="https://www.labaie.com"
                >labaie.com</a
              >
              ou sur l'application mobile de La Baie d'Hudson (les «
              <b>sites Web de La Baie d'Hudson</b> » ou individuellement, le «
              <b>site Web de La Baie d'Hudson</b> »). À compter de la date
              indiquée sur le site Web du programme (défini ci-dessous) (la «
              <b>date d'entrée en vigueur</b> »), les conditions ci-dessous
              régissent le programme et remplacent toute version antérieure des
              conditions du programme. Pour les membres du Québec (voir
              l'article 34), veuillez consulter les articles 34 à 36 sous «
              Conditions applicables aux clients du Québec ». Les présentes
              conditions doivent être lues telles que modifiées par l'article
              35, lorsque la loi l'exige.
            </p>
            <br />
            <p class="hbc-body--large">
              2. À moins d'indication contraire, le terme « <b>préavis</b> »
              dans les présentes conditions fait référence à de l'information
              transmise aux membres (tels que définis ci-dessous) conformément
              aux lois et aux règlements en vigueur. Si La Baie d'Hudson modifie
              les présentes conditions, nous transmettrons un préavis écrit à
              nos membres en publiant les nouvelles conditions sur le site Web
              du programme de La Baie d'Hudson au
              <a
                class="hbc-link--large"
                href="https://www.labaie.com/content/rewards"
                >www.labaie.com/primes</a
              >
              (le « <b>site Web du programme</b> »), sauf lorsque nous croyons
              qu'il est préférable d'aviser directement nos membres ou que la
              loi l'exige. Nous encourageons les membres à passer en revue les
              conditions régissant le programme chaque fois qu'ils consultent le
              site Web du programme ou qu'ils échangent leurs points Primes La
              Baie d'Hudson (les « <b>points</b> »). La Baie d'Hudson peut, à
              tout moment et à sa seule discrétion, mettre fin au programme en
              tout ou en partie en donnant un préavis.
            </p>
            <br />
            <h3 class="hbc-headline--small">
              Adhésion au programme Primes La Baie d'Hudson
            </h3>
            <p class="hbc-body--large">
              3. Pour participer, la personne doit être membre du programme (le
              « <b>membre</b> »). Si vous n'êtes pas encore membre, vous pouvez
              faire une demande d'adhésion en magasin ou sur le site Web du
              programme. Une fois la demande d'adhésion approuvée par La Baie
              d'Hudson, un compte est ouvert au nom du membre (tout compte
              ouvert avant ou après la date d'entrée en vigueur; ci-après «
              <b>compte Primes La Baie d'Hudson</b> » ou « <b>compte</b> »). Le
              statut de membre est accordé à la seule discrétion de La Baie
              d'Hudson et peut être retiré ou suspendu à la seule discrétion de
              La Baie d'Hudson, sans autre obligation ou responsabilité de la
              part de La Baie d'Hudson.
            </p>
            <br />
            <p class="hbc-body--large">
              4. Un numéro de téléphone et une adresse courriel valides et
              uniques sont requis pour ouvrir un compte. Les membres doivent
              informer immédiatement La Baie d'Hudson de tout changement de
              numéro de téléphone ou d'adresse courriel associés à leur compte
              en mettant à jour ces renseignements sur le site Web du programme.
              Chaque membre peut mettre à jour ses propres renseignements sur le
              site Web du programme. Veuillez noter que les modifications
              apportées ne sont pas synchronisées en temps réel. Un membre
              pourrait ne pas être en mesure d'échanger des points avant que les
              systèmes de La Baie d'Hudson ne soient mis à jour. Une seule
              personne peut être associée à chaque compte Primes La Baie
              d'Hudson. Si un litige pour déterminer à qui appartient l'adresse
              courriel ou le numéro de téléphone associés à un compte donné
              survient et qu'il ne peut être réglé par les membres concernés, La
              Baie d'Hudson peut, à sa seule discrétion, demander à chacun des
              membres concernés de fournir une autre adresse courriel ou un
              autre numéro de téléphone, selon le cas.
            </p>
            <br />
            <p class="hbc-body--large">
              5. Chaque membre aura un numéro d'identification personnel («
              <b>NIP</b>
              ») associé à son compte afin de pouvoir échanger des points en
              ligne sur le site
              <a class="hbc-link--large" href="https://www.labaie.com"
                >labaie.com</a
              >
              ou en magasin, le cas échéant (comme indiqué à l'article 24). Les
              membres qui s'inscrivent par l'intermédiaire du site Web du
              programme pourront choisir leur NIP à ce moment. Tous les membres,
              y compris les membres existants à la date d'entrée en vigueur,
              peuvent créer ou modifier leur NIP en tout temps sur le site Web
              du programme.
            </p>
            <br />
            <p class="hbc-body--large">
              6. Si, de l'avis de La Baie d'Hudson, un membre exerce de manière
              abusive l'un ou l'autre des privilèges qui lui sont conférés en
              vertu du programme, manque à l'une ou l'autre des conditions du
              programme ou fait une déclaration inexacte à La Baie d'Hudson (y
              compris des achats frauduleux), cette dernière peut, à sa seule
              discrétion, prendre les mesures qu'elle juge nécessaires, y
              compris, mais sans s'y limiter, suspendre les privilèges conférés
              au membre en vertu du programme, révoquer en partie ou en totalité
              les points accumulés au compte du membre et/ou révoquer la
              participation du membre au programme, sans autre obligation ou
              responsabilité de la part de La Baie d'Hudson.
            </p>
            <br />
            <p class="hbc-body--large">
              7. La Baie d'Hudson ne peut être tenue responsable, de quelque
              façon que ce soit, de toute conséquence fiscale pouvant résulter
              de la participation d'un membre au programme. Il incombe
              exclusivement au membre de payer toute taxe applicable et de faire
              état de sa situation (y compris de rapporter tout avantage
              fiscal), s'il y a lieu.
            </p>
            <br />
            <h3 class="hbc-headline--small">
              Titulaires de cartes supplémentaires
            </h3>
            <p class="hbc-body--large">
              8. Avant la date d'entrée en vigueur, et avec le consentement de
              chaque membre concerné, La Baie d'Hudson a émis des cartes
              supplémentaires à des personnes faisant partie de la famille
              immédiate d'un membre, et domiciliées à la même adresse que lui («
              <b>titulaires de cartes supplémentaires</b> »). À compter de la
              date d'entrée en vigueur des présentes conditions, (i) La Baie
              d'Hudson ne permettra plus d'avoir des titulaires de cartes
              supplémentaires et (ii) tous les points accumulés au compte du
              membre (y compris les points accumulés au moyen de cartes
              supplémentaires émises par le passé) pourront uniquement être
              utilisés et échangés par le membre, et non par les titulaires de
              cartes supplémentaires. Tous les titulaires de cartes
              supplémentaires peuvent ouvrir leur propre compte, comme indiqué à
              l'article 3.
            </p>
            <br />
            <h3 class="hbc-headline--small">Points Primes La Baie d'Hudson</h3>
            <p class="hbc-body--large">
              9. Les membres peuvent obtenir des points : (a) en effectuant des
              achats en magasin ou sur le site Web de La Baie d'Hudson, quel que
              soit le mode de paiement, en donnant leur numéro de compte, numéro
              de téléphone, adresse courriel ou carte physique (comme définie
              ci-dessous) associés à leur compte Primes La Baie d'Hudson en
              magasin ou en se connectant à leur compte sur le site Web de La
              Baie d'Hudson au moment de régler des achats, selon le cas; (b) en
              effectuant des achats auprès d'un commerce ou d'une entreprise
              autre que nos magasins ou le site Web de La Baie d'Hudson avec une
              carte de crédit La Baie d'Hudson ou une carte de crédit La Baie
              d'Hudson comarquée (individuellement ou collectivement la «
              <b>carte de crédit La Baie d'Hudson</b> »), là où elle est
              acceptée; (c) aux établissements ou par l'intermédiaire de canaux
              que La Baie d'Hudson peut désigner à l'occasion, notamment auprès
              des partenaires du programme Primes La Baie d'Hudson (voir la
              définition ci-dessous); et (d) dans le cadre d'autres offres ou
              promotions que La Baie d'Hudson peut lancer de temps à autre.
            </p>
            <br />
            <h3 class="hbc-headline--small">
              Cartes physiques La Baie d'Hudson
            </h3>
            <p class="hbc-body--large">
              10. Veuillez noter qu'à compter de la date d'entrée en vigueur des
              présentes conditions, La Baie d'Hudson n'émettra plus
              automatiquement de cartes de membre dans le cadre du programme
              Primes La Baie d'Hudson (« <b>carte physique</b> ») lors de
              l'inscription, sauf dans certaines circonstances pouvant changer
              de temps à autre. Toutes les cartes physiques sont et restent la
              propriété exclusive de La Baie d'Hudson et peuvent être révoquées
              à tout moment par La Baie d'Hudson, à sa seule discrétion. Une
              carte physique n'est pas une carte de crédit.
            </p>
            <br />
            <h3 class="hbc-headline--small">
              Transmissibilité des points Primes La Baie d'Hudson
            </h3>
            <p class="hbc-body--large">
              11. Les points ne peuvent être transmis ou cédés, sauf dans les
              situations suivantes :
            </p>
            <br />
            <p class="hbc-body--large">
              a&rpar; Un membre peut donner ses points à un autre membre en
              appelant le service à la clientèle du programme Primes La Baie
              d'Hudson au 1-800-844-8131. Une fois le transfert de points
              effectué, il est impossible de revenir en arrière.
            </p>
            <br />
            <p class="hbc-body--large">
              b&rpar; Un membre peut faire don de ses points à certains
              organismes caritatifs en appelant le service à la clientèle du
              programme Primes La Baie d'Hudson au 1-800-844-8131. Une fois le
              don effectué, il est impossible de revenir en arrière. Les points
              échangés dans le cadre de dons caritatifs sont soumis aux
              conditions applicables de l'organisme qui traite les dons, le cas
              échéant. Veuillez noter que les membres qui font don de leurs
              points ne recevront pas de reçu officiel de don remis à un
              organisme de bienfaisance au Canada.
            </p>
            <br />
            <p class="hbc-body--large">
              c&rpar; Les points peuvent être transmis au moyen d'un testament
              valide. À cette fin, une copie du certificat de décès, une preuve
              de la désignation du liquidateur ou de l'administrateur de la
              succession ou tout autre document similaire jugé pertinent doivent
              être fournis à La Baie d'Hudson, à la demande de cette dernière,
              si cela s'avère raisonnable dans les circonstances. Le liquidateur
              ou l'administrateur doit communiquer à La Baie d'Hudson le nom et
              le numéro de compte Primes La Baie d'Hudson du légataire des
              points. Si ce dernier n'est pas déjà membre, un nouveau compte
              Primes La Baie d'Hudson sera ouvert à son nom. La Baie d'Hudson se
              dégage de toute responsabilité relative à toute conséquence
              fiscale pouvant résulter de la transmission de points.
            </p>
            <br />
            <h3 class="hbc-headline--small">
              Obtention de points Primes La Baie d'Hudson
            </h3>
            <p class="hbc-body--large">
              12. Le nombre de points obtenus pour un achat particulier réglé
              dans un magasin ou sur un site Web de La Baie d'Hudson dépend de
              plusieurs facteurs, y compris (i) le mode de paiement utilisé,
              c'est-à-dire si le membre utilise sa carte de crédit La Baie
              d'Hudson; (ii) le niveau du programme auquel est admissible le
              membre au moment de l'achat; et (iii) l'admissibilité de l'article
              acheté à l'octroi de points (voir l'article 18).
            </p>
            <br />
            <p class="hbc-body--large">
              <u
                >Obtention de points dans les magasins ou sur le site Web de la
                Compagnie de la Baie d'Hudson</u
              >
            </p>
            <p class="hbc-body--large">
              Le programme Primes La Baie d'Hudson est divisé en trois niveaux.
            </p>
            <br />
            <p class="hbc-body--large">
              <u>Niveau 1 : Primes La Baie d'Hudson</u>
            </p>
            <p class="hbc-body--large">
              Au niveau Primes, les points sont octroyés au taux de 1 point par
              dollar d'achats effectués dans les magasins ou sur les sites Web
              de La Baie d'Hudson (sauf en ce qui concerne les exceptions
              présentées aux articles 18 et 20), à la condition que le membre
              donne son numéro de compte, son adresse courriel, son numéro de
              téléphone ou sa carte physique au moment de régler ses achats. Le
              membre obtient 1 point additionnel par dollar pour les achats
              admissibles réglés avec une carte de crédit La Baie d'Hudson dans
              les magasins ou sur les sites Web de La Baie d'Hudson. Tous les
              membres qui respectent les conditions du programme sont
              admissibles au niveau Primes.
            </p>
            <br />
            <p class="hbc-body--large">
              <u>Niveau 2 : Primes Plus La Baie d'Hudson</u>
            </p>
            <p class="hbc-body--large">
              Au niveau Primes Plus, les points sont octroyés au taux de 1,5
              point par dollar d'achats effectués dans les magasins ou sur les
              sites Web de La Baie d'Hudson (sauf en ce qui concerne les
              exceptions présentées aux articles 18 et 20), à la condition que
              le membre donne son numéro de compte, son adresse courriel, son
              numéro de téléphone ou sa carte physique au moment de régler ses
              achats. Le membre obtient 1,5 point additionnel par dollar pour
              les achats admissibles réglés avec une carte de crédit La Baie
              d'Hudson dans les magasins ou sur les sites Web de La Baie
              d'Hudson. Pour être admissible au niveau Primes Plus, le membre
              doit (i) régler des achats totalisant entre 400 $ et 1199,99 $
              (avant taxes et excluant les retours et les achats de produits non
              admissibles présentés à l'article 18) dans les magasins ou sur les
              sites Web de La Baie d'Hudson, ET (ii) effectuer au moins deux
              visites avec achat dans les magasins ou sur les sites Web de La
              Baie d'Hudson, entre le 1er janvier et le 31 décembre d'une année
              civile donnée. Deux achats réglés le même jour dans le même
              magasin ou site Web de La Baie d'Hudson ne comptent que pour une
              seule « visite avec achat ». Les membres Primes Plus profitent
              aussi d'avantages additionnels, lesquels sont annoncés par La Baie
              d'Hudson à l'occasion.
            </p>
            <br />
            <p class="hbc-body--large">
              <u>Niveau 3 : Primes VIP La Baie d'Hudson</u>
            </p>
            <p class="hbc-body--large">
              Au niveau Primes VIP, les points sont octroyés au taux de 2 points
              par dollar d'achats effectués dans les magasins ou sur les sites
              Web de La Baie d'Hudson (sauf en ce qui concerne les exceptions
              présentées aux articles 18 et 20), à la condition que le membre
              donne son numéro de compte, son adresse courriel, son numéro de
              téléphone ou sa carte physique au moment de régler ses achats. Le
              membre obtient 2 points additionnels par dollar pour les achats
              admissibles réglés avec une carte de crédit La Baie d'Hudson dans
              les magasins ou sur les sites Web de La Baie d'Hudson. Les membres
              Primes VIP profitent aussi d'avantages additionnels, lesquels sont
              annoncés par La Baie d'Hudson à l'occasion. Pour être admissible
              au niveau Primes VIP, le membre doit (i) régler des achats de 1200
              $ (avant taxes et excluant les retours et les achats de produits
              non admissibles présentés à l'article 18) dans les magasins ou sur
              les sites Web de La Baie d'Hudson, ET (ii) effectuer au moins deux
              visites avec achat dans les magasins ou sur les sites Web de La
              Baie d'Hudson, entre le 1er janvier et le 31 décembre d'une année
              civile donnée. Deux achats réglés le même jour dans le même
              magasin ou site Web de La Baie d'Hudson ne comptent que pour une
              seule « visite avec achat ».
            </p>
            <br />
            <p class="hbc-body--large">
              Les deux visites avec achat exigées pour passer au niveau Primes
              VIP ne s'additionnent pas aux deux visites nécessaires pour
              devenir admissible au niveau Primes Plus. Si le membre règle pour
              1200 $ d'achats ou plus en seulement deux visites, il deviendra
              immédiatement membre Primes VIP et n'aura pas à passer d'abord par
              le niveau Primes Plus.
            </p>
            <br />
            <p class="hbc-body--large">
              Pour les niveaux Primes Plus et VIP, le membre commence à
              accumuler des points au taux susmentionné dès qu'il satisfait aux
              conditions ci-dessus et cela se poursuit jusqu'au 31 décembre de
              l'année qui suit l'année civile au cours de laquelle le membre
              s'est qualifié pour le niveau Primes Plus ou VIP (à moins qu'il ne
              soit rétrogradé ou promu à un autre niveau, conformément aux
              présentes conditions).
            </p>
            <br />
            <p class="hbc-body--large">
              Un membre ne peut pas changer de niveau au cours d'une
              transaction. Si un membre effectue un achat lui permettant
              d'accéder à un niveau supérieur, il commencera à bénéficier des
              avantages connexes après cet achat.
            </p>
            <br />
            <p class="hbc-body--large">
              <u
                >Obtention de points dans un commerce ou une entreprise autre
                que nos magasins ou les sites Web de la Compagnie de la Baie
                d'Hudson</u
              >
            </p>
            <p class="hbc-body--large">
              Les membres accumulent 1 point par dollar pour les achats
              admissibles réglés avec leur carte de crédit La Baie d'Hudson
              ailleurs que dans les magasins et sur les sites Web de La Baie
              d'Hudson, là où elle est acceptée.
            </p>
            <p class="hbc-body--large">
              Dans les épiceries, les entrepôts Costco et les magasins Walmart,
              les membres accumulent 2 points par dollar pour les achats
              admissibles réglés avec leur carte de crédit La Baie d'Hudson, là
              où elle est acceptée.
            </p>
            <p class="hbc-body--large">
              Les membres obtiennent également 1 point additionnel par dollar
              pour les achats admissibles au-delà du seuil de 15 000 $ CA
              d'achats effectués au cours d'une même année civile ailleurs que
              dans les magasins et sur les sites Web de La Baie d'Hudson, là où
              la carte de crédit La Baie d'Hudson est acceptée. Ce point
              additionnel par dollar sera versé en janvier de chaque année au
              compte Primes La Baie d'Hudson de tout titulaire de carte de
              crédit La Baie d'Hudson qui aura porté à sa carte un montant
              admissible au cours de l'année civile précédente.
            </p>
            <br />
            <p class="hbc-body--large"><u>Renseignements généraux</u></p>
            <p class="hbc-body--large">
              13. À l'occasion, dans le cadre de promotions particulières, des
              points additionnels ou d'autres avantages peuvent être accordés à
              certains membres. Les partenaires du programme Primes La Baie
              d'Hudson (voir l'article 27) peuvent octroyer des points selon un
              régime et un taux différents. Pour connaître les conditions
              complètes du programme, visitez le site Web du programme.
            </p>
            <br />
            <p class="hbc-body--large">
              14. La Baie d'Hudson se réserve le droit de modifier le régime
              d'attribution de points (y compris le nombre de points attribués)
              à tout moment, avec préavis et à sa seule discrétion. Toutefois,
              une telle modification n'affectera pas la valeur des points déjà
              accumulés par les membres avant l'entrée en vigueur de cette
              modification.
            </p>
            <br />
            <p class="hbc-body--large">
              15. Pour accumuler des points en réglant un achat dans un magasin
              ou sur le site Web de La Baie d'Hudson, le membre doit, avant que
              la transaction ne soit complétée, donner son numéro de téléphone,
              son adresse courriel, sa carte de crédit La Baie Hudson, sa carte
              physique ou le numéro de compte Primes La Baie d'Hudson associé à
              son compte au personnel en magasin ou se connecter à son compte
              sur le site Web de La Baie d'Hudson, selon le cas.
            </p>
            <br />
            <p class="hbc-body--large">
              16. En cas de remboursement d'articles, tous les points attribués
              pour l'achat initial seront automatiquement déduits du compte
              Primes La Baie d'Hudson qui a été utilisé pour l'achat. La
              soustraction des points sera effectuée au même taux que
              l'attribution initiale et peut avoir une incidence sur le niveau
              auquel le membre est admissible (voir l'article 12).
            </p>
            <br />
            <p class="hbc-body--large">
              17. Les points sont habituellement indiqués sur le reçu de caisse
              émis pour un achat donné. Les points accumulés grâce à un achat en
              ligne (sur les sites Web de La Baie d'Hudson) sont généralement
              portés au compte dans les vingt-quatre (24) heures suivant
              l'expédition de l'article. Les points obtenus à la suite d'un
              achat en magasin sont habituellement portés au compte
              sur-le-champ. Tous les totaux de points figurant sur les reçus
              admissibles sont réputés exacts, à moins que le membre ne démontre
              le contraire au moyen de preuves jugées satisfaisantes par La Baie
              d'Hudson. Le membre peut rapporter les inexactitudes en visitant
              le site Web du programme ou en appelant le service à la clientèle
              du programme Primes La Baie d'Hudson au 1-800-844-8131, le tout
              dans un délai de quatre-vingt-dix (90) jours suivant la date de
              l'achat admissible. Le membre peut aussi obtenir des
              renseignements sur son solde de points et son niveau sur le site
              Web du programme.
            </p>
            <br />
            <p class="hbc-body--large">
              18. À moins d'indication contraire, les achats effectués dans les
              catégories suivantes (collectivement les «
              <b>produits non admissibles</b> ») ne donnent pas droit à des
              points : (i) produits vendus au bureau de poste; (ii) services de
              préparation de déclarations de revenus; (iii) certains services de
              santé; (iv) services de spa et produits de salons de
              coiffure/d'esthétique; (v) articles vendus par certaines
              concessions; (vi) services de réparation et d'installation
              d'appareils ménagers; (vii) frais d'expédition et de livraison;
              (viii) taxes de vente; (ix) achat de cartes-cadeaux La Baie
              d'Hudson; ou (x) achats effectués avec des points. Cette liste
              peut être modifiée en tout temps, à la seule discrétion de La Baie
              d'Hudson. Les titulaires d'une carte de crédit La Baie d'Hudson
              n'obtiennent pas de points sur les transferts de solde ou les
              avances de fonds.
            </p>
            <br />
            <p class="hbc-body--large">
              19. À moins d'indication contraire, les points ne peuvent pas être
              échangés lors des achats effectués dans les catégories suivantes :
              (i) certains services de spa; (ii) services de préparation de
              déclarations de revenus; (iii) cartes-cadeaux La Baie d'Hudson; ou
              (iv) articles vendus par certaines concessions. Cette liste peut
              être modifiée en tout temps, à la seule discrétion de La Baie
              d'Hudson. Les points ne peuvent pas servir à payer le compte de
              carte de crédit La Baie d'Hudson ni être portés au crédit du
              compte.
            </p>
            <br />
            <p class="hbc-body--large">
              20. Des points ne sont pas octroyés (sauf indication expresse)
              pour l'achat de cartes-cadeaux La Baie d'Hudson, mais le sont à
              l'achat d'articles payés avec lesdites cartes-cadeaux.
            </p>
            <br />
            <p class="hbc-body--large">
              21. Sauf dispositions expresses contraires contenues dans les
              présentes conditions, les points n'ont aucune valeur en espèces et
              ne peuvent pas être échangés contre de l'argent comptant. La
              valeur au détail approximative des points varie selon les
              récompenses choisies au moment de l'échange des points. Les points
              ne peuvent être vendus, achetés, cédés ou transférés, à moins de
              dispositions expresses contraires contenues dans les présentes
              conditions, ou dans le cadre de programmes spéciaux annoncés ou
              offerts par La Baie d'Hudson, à la seule discrétion de celle-ci.
            </p>
            <br />
            <h3 class="hbc-headline--small">Comptes inactifs</h3>
            <p class="hbc-body--large">
              22. Un compte Primes La Baie d'Hudson est réputé inactif si aucun
              point n'a été accumulé ou échangé relativement à ce compte pendant
              vingt-quatre (24) mois consécutifs. Quand un compte devient
              inactif, tous les points de ce compte sont perdus. La Baie
              d'Hudson peut, à sa seule discrétion, fermer le compte concerné.
              La Baie d'Hudson fournira un préavis au membre, lorsque la loi
              l'exige, avant que les points ne soient perdus.
            </p>
            <br />
            <h3 class="hbc-headline--small">
              Cartes perdues, volées ou endommagées
            </h3>
            <p class="hbc-body--large">
              23. Les membres doivent immédiatement aviser La Baie d'Hudson si
              leur carte physique est perdue ou volée. Lorsque La Baie d'Hudson
              est informée de la perte ou du vol d'une carte physique, elle
              indique la perte ou le vol de la carte dans son système et dans le
              compte applicable. Elle peut ensuite, à sa seule discrétion,
              attribuer un nouveau numéro de compte Primes La Baie d'Hudson et
              une nouvelle carte physique au membre concerné, à condition que ce
              dernier appelle le service à la clientèle du programme Primes La
              Baie d'Hudson, au 1-800-844-8131, et qu'il fournisse les
              renseignements permettant de l'identifier convenablement. Tous les
              points accumulés et inutilisés sont alors transférés au nouveau
              compte Primes La Baie d'Hudson.
            </p>
            <br />
            <h3 class="hbc-headline--small">
              Échange de points Primes La Baie d'Hudson
            </h3>
            <p class="hbc-body--large">
              24. Les points peuvent être échangés en magasin ou à
              <a class="hbc-link--large" href="https://www.labaie.com"
                >labaie.com</a
              >
              pour effectuer des achats, sous réserve de l'article 19, comme
              suit : en multiple de 5 $ pour chaque tranche de 1000 points
              échangés, à condition que l'achat du membre Primes La Baie
              d'Hudson soit supérieur à la valeur des points échangés. Pour
              échanger vos points, vous devez fournir votre numéro de compte,
              numéro de téléphone, adresse courriel ou carte physique, ainsi que
              votre NIP (si l'échange se fait à
              <a class="hbc-link--large" href="https://www.labaie.com"
                >labaie.com</a
              >
              ou dans un magasin où la technologie de validation par NIP est
              disponible) ou une pièce d'identité valide avec photo émise par le
              gouvernement (si l'échange se fait dans un magasin où la
              technologie de validation par NIP n'est pas disponible).
            </p>
            <br />
            <p class="hbc-body--large">
              25. En cas d'erreur d'impression, de production ou d'affichage de
              la valeur d'une récompense en points, La Baie d'Hudson fera de son
              mieux pour rectifier cette erreur dans les meilleurs délais
              raisonnables. La Baie d'Hudson ne pourra en aucun cas être tenue
              de satisfaire à une demande d'échange selon une valeur erronée.
            </p>
            <br />
            <p class="hbc-body--large">
              26. Dans certains cas, les points peuvent également être convertis
              selon l'un des programmes des partenaires Primes La Baie d'Hudson.
              Pour obtenir de plus amples renseignements sur cette option,
              veuillez consulter le site Web du programme. Les milles de
              récompense ou les points Avion Récompenses de RBC ainsi obtenus
              seront portés au compte du membre dans les trente (30) jours
              suivant l'échange.
            </p>
            <br />
            <h3 class="hbc-headline--small">
              Partenaires Primes La Baie d'Hudson et autres offres
            </h3>
            <p class="hbc-body--large">
              27. La Baie d'Hudson a établi des ententes avec d'autres sociétés
              (chacune d'elles un «
              <b>partenaire du programme Primes La Baie d'Hudson</b> ») selon
              lesquelles des points peuvent être acquis et/ou échangés
              conjointement avec les programmes établis par ces partenaires du
              programme Primes La Baie d'Hudson. Les membres doivent respecter
              tous les règlements, règles et conditions des programmes des
              partenaires Primes La Baie d'Hudson. La Baie d'Hudson ou les
              partenaires du programme Primes La Baie d'Hudson peuvent
              restreindre, suspendre, modifier autrement ou abolir les
              programmes des partenaires Primes La Baie d'Hudson conformément
              aux lois en vigueur. Les points qui sont échangés dans le cadre du
              programme d'un partenaire Primes La Baie d'Hudson sont considérés
              comme définitivement utilisés. Les programmes et offres des
              partenaires du programme Primes La Baie d'Hudson sont assujettis
              aux présentes conditions ainsi qu'aux conditions qui régissent le
              programme particulier d'un partenaire du programme Primes La Baie
              d'Hudson, et les uns et les autres peuvent être modifiés à
              l'occasion. Pour obtenir de plus amples renseignements sur les
              programmes des partenaires Primes La Baie d'Hudson, veuillez
              consulter le site Web du programme.
            </p>
            <br />
            <h3 class="hbc-headline--small">
              Avis sur la protection des renseignements personnels
            </h3>
            <p class="hbc-body--large">
              28. Les pratiques de La Baie d'Hudson en matière d'utilisation des
              renseignements personnels liés au programme, y compris la
              cueillette, l'utilisation et/ou la divulgation de vos
              renseignements personnels, sont régies par la politique de La Baie
              d'Hudson sur la protection de la vie privée, que vous trouverez en
              ligne au
              <a
                class="hbc-link--large"
                href="https://www.labaie.com/PrivacyLegalInfo.html"
                >https://www.labaie.com/vieprivee</a
              >. Veuillez prendre connaissance de cette politique sur la
              protection de la vie privée et en imprimer une copie pour vos
              dossiers.
            </p>
            <br />
            <h3 class="hbc-headline--small">Acceptation des conditions</h3>
            <p class="hbc-body--large">
              29. Chaque membre ou membre potentiel (i) certifie qu'il est
              majeur dans sa province de résidence; (ii) consent à ce que La
              Baie d'Hudson recueille et utilise ses renseignements personnels,
              sauf dans la mesure où il a avisé La Baie d'Hudson du contraire,
              conformément à la politique de La Baie d'Hudson sur la protection
              de la vie privée; et (iii) accepte les conditions du programme
              Primes La Baie d'Hudson, telles que modifiées de temps à autre.
            </p>
            <br />
            <p class="hbc-body--large">
              30. L'accumulation ou l'échange de points à quelque moment que ce
              soit est réputé constituer une acceptation des conditions du
              programme Primes La Baie d'Hudson en vigueur à la date de cette
              accumulation ou de cet échange, selon le cas. Plus précisément,
              toute accumulation ou tout échange de points à quelque moment que
              ce soit après la modification de ces conditions est réputé
              constituer une acceptation des conditions ainsi révisées.
            </p>
            <br />
            <h3 class="hbc-headline--small">Divers</h3>
            <p class="hbc-body--large">
              31. Sous réserve des articles 33 à 36 ci-dessous, La Baie d'Hudson
              peut, à sa seule discrétion, restreindre, suspendre, modifier,
              prolonger ou remanier les conditions du programme (y compris les
              taux d'accumulation et d'échange de points) à tout moment, avec
              préavis au membre, comme il est indiqué à l'article 2 ci-dessus.
            </p>
            <br />
            <p class="hbc-body--large">
              32. Sauf dispositions expresses contenues aux présentes, les
              présentes conditions constituent la seule entente entre les
              membres et La Baie d'Hudson relativement au programme. Il n'existe
              aucune autre représentation, garantie, obligation, condition ou
              autre entente, expresse ou tacite, accessoire, légale ou
              autrement, y compris les garanties ou conditions implicites de
              qualité marchande ou d'aptitude à remplir une fonction spécifique,
              entre un membre et La Baie d'Hudson relativement au programme,
              autres que celles spécifiquement énoncées aux présentes
              conditions. Si une quelconque disposition des présentes conditions
              est reconnue comme étant illégale, invalide ou inexécutable, cette
              disposition sera retranchée et les autres dispositions demeureront
              valides et en vigueur.
            </p>
            <br />
            <p class="hbc-body--large">
              <b
                >Le paragraphe suivant ne s'applique pas aux membres qui
                résident dans la province de Québec.</b
              >
            </p>
            <p class="hbc-body--large">
              Les présentes conditions sont régies par les lois de la province
              de l'Ontario et les lois du Canada applicables, et tous les
              membres donnent leur acquiescement à la compétence
              juridictionnelle de la province de l'Ontario. Toute action en
              justice liée au programme Primes La Baie d'Hudson devra être
              engagée devant le tribunal municipal de Toronto, province de
              l'Ontario, et La Baie d'Hudson et les membres sont tenus de se
              conformer aux décisions de ladite instance. Autrement, toutes les
              décisions concernant l'interprétation des présentes conditions et
              l'administration du programme Primes La Baie d'Hudson, et tous les
              différends que ces décisions peuvent susciter, doivent être prises
              à la seule discrétion de La Baie d'Hudson. Toutes ces décisions
              sont finales et lient tous les membres. En aucun cas, la
              responsabilité de La Baie d'Hudson à l'égard du programme Primes
              La Baie d'Hudson, notamment la responsabilité pour négligence ou
              rupture de contrat, ne s'étendra au-delà du nombre de points
              accumulés au compte du membre au moment où le différend est
              survenu.
            </p>
            <br />
            <p class="hbc-body--large">
              33. Pour les associés ou les retraités de La Baie d'Hudson, ses
              filiales, ses sociétés affiliées et ses concessions, les
              conditions de participation au programme et les avantages qui s'y
              rattachent peuvent varier par rapport à ceux prévus aux présentes,
              et ils seront communiqués par le service des Ressources humaines
              ou la division ou le service approprié de La Baie d'Hudson.
            </p>
            <br />
            <h3 class="hbc-headline--small">
              Conditions applicables aux clients du Québec
            </h3>
            <p class="hbc-body--large">
              Les conditions qui suivent concernent les membres qui résident au
              Québec, à qui s'applique la Loi sur la protection du consommateur
              du Québec.
            </p>
            <br />
            <p class="hbc-body--large">
              34. Nonobstant les conditions établies ci-dessus, les conditions
              qui suivent s'appliquent aux membres qui résident au Québec, à qui
              s'applique la Loi sur la protection du consommateur du Québec (les
              « <b>membres du Québec</b> »). Plus précisément, les conditions
              définies aux articles 35 et 36 ne s'appliquent pas aux membres qui
              ne sont pas des membres du Québec.
            </p>
            <br />
            <p class="hbc-body--large">
              35. Sous réserve du présent article 35, La Baie d'Hudson peut, à
              sa seule discrétion, restreindre, suspendre, modifier, prolonger
              ou remanier les conditions du programme (y compris les taux
              d'accumulation et d'échange de points) à tout moment, avec préavis
              aux membres, comme il est indiqué ci-dessous : Adhésion au
              programme, titulaires de cartes supplémentaires, points Primes,
              cartes physiques, transmissibilité des points Primes, obtention de
              points Primes, comptes inactifs, cartes perdues, volées ou
              endommagées, échange de points Primes, partenaires Primes La Baie
              d'Hudson et autres offres, Petro-Points, avis sur la protection
              des renseignements personnels, acceptation des conditions et
              divers.
            </p>
            <br />
            <p class="hbc-body--large">
              Aucune des modifications apportées au programme n'aura pour effet
              de :
            </p>
            <br />
            <p class="hbc-body--large">
              (i) permettre la péremption d'unités d'échange (points) par suite
              d'une conversion en une autre forme d'unité d'échange;
            </p>
            <br />
            <p class="hbc-body--large">
              (ii) modifier unilatéralement au désavantage du membre les
              éléments suivants du programme :
              <br />
              a. le nombre d'unités d'échange reçu par le membre;
              <br />
              b. le facteur de conversion utilisé pour les unités d'échange
              reçues par le membre;
            </p>
            <br />
            <p class="hbc-body--large">
              (iii) augmenter unilatéralement le nombre d'unités d'échange
              requis pour obtenir un bien ou un service de façon
              disproportionnée relativement à l'augmentation de la valeur au
              détail du bien ou du service.
            </p>
            <br />
            <p class="hbc-body--large">
              Si une modification touche une condition essentielle du programme,
              La Baie d'Hudson enverra au membre du Québec, entre le 90e et le
              60e jour précédant l'entrée en vigueur de la modification, un avis
              écrit expliquant clairement la nouvelle condition uniquement ou la
              condition modifiée ainsi que sa version précédente, en plus de la
              date d'entrée en vigueur de la modification.
            </p>
            <br />
            <p class="hbc-body--large">
              La Baie d'Hudson peut modifier unilatéralement pour une durée
              temporaire un élément essentiel du programme à l'avantage du
              membre.
            </p>
            <br />
            <p class="hbc-body--large">
              36. Ces conditions sont régies par les lois de la province de
              Québec et les lois du Canada qui s'y appliquent.
            </p>
          </main>
        </body>
      </div>
    </div>
  </div>
</html>
