<!doctype html>
<html lang="fr-CA">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1721787329464/css/global.css"
    />
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1721787329464/css/typography.css"
    />
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1721787329464/css/zellers-svg-font.css"
    />
    <title>Conditions générales s'appliquant aux offres | TheBay Canada</title>
  </head>
  <div class="cat-landing">
    <div class="secondary-content">
      <div class="home-slots">
        <body style="margin: 0">
          <div class="hbc-livetext-page" id="hbc-livetext-page">
            <h2 class="heading">
              <strong
                >Promo de points bonis Primes La Baie d'Hudson | Du 20 au 26
                février</strong
              >
            </h2>
            <br />
            <br />
            <h2>
              Recevez 25 $ en points Primes La Baie d'Hudson avec un achat de
              125 $+ de produits de beauté ou de parfums*.
            </h2>
            <br />
            <br />
            <!-- <h3>
              Get 20-50% off, exclusively for Hudson's Bay Rewards members.
            </h3>
            <br />
            <br /> -->
            <h3>
              <a
                href="$url('Search-Show','cgid','2534374302032105','sre','504_022025_LIVE-TEXT_LANDING-PAGE_BEAUTY-EXTRA-POINTS_MAKEUP')$"
                >MAQUILLAGE</a
              >
              <br />
              <br />
              <a
                href="$url('Search-Show','cgid','2534374302032157','sre','504_022025_LIVE-TEXT_LANDING-PAGE_BEAUTY-EXTRA-POINTS_SKINCARE')$"
                >SOINS DE LA PEAU</a
              >
              <br />
              <br />
              <a
                href="$url('Search-Show','cgid','2534374302032078','sre','504_022025_LIVE-TEXT_LANDING-PAGE_BEAUTY-EXTRA-POINTS_FRGRANCE')$"
                >PARFUMS</a
              >
              <br />
              <br />
              Vous n'êtes pas membre? Commencez à accumuler des points dès
              maintenant.
              <br />
              <a
                href="$url('Search-Show','cgid','rewards','sre','504_022025_LIVE-TEXT_LANDING-PAGE_BEAUTY-EXTRA-POINTS_JOINNOW')$"
                >S'INSCRIRE</a
              >
              <br />
              <br />
              AVANT TAXES. LIMITE D'UNE (1) OFFRE PAR MEMBRE. JUSQU'À 23 h 59
              (HE) LE 26 FÉVRIER.
            </h3>
            <br />
            <br />
            <p>
              * Le membre Primes La Baie d'Hudson obtiendra 25 $ en points
              Primes La Baie d'Hudson bonis (5000 points) sur un (1) achat
              admissible de 125 $ ou plus (avant taxes) de produits de beauté ou
              de parfums effectué en ligne ou en magasin entre le jeudi 20
              février 2025 à 0 h 0 min 1 s (HE) et le mercredi 26 février 2025 à
              23 h 59 min 59 s (HE). Chaque membre ne peut profiter de l'offre
              qu'une (1) seule fois. Si la marchandise est retournée, les points
              accordés seront retirés du compte. Des exceptions s'appliquent.
              Cette offre est assujettie aux conditions du programme Primes La
              Baie d'Hudson. Précisions à labaie.com/primes/conditions. Des
              restrictions additionnelles peuvent s'appliquer. Cette offre peut
              être modifiée ou annulée à tout moment.
            </p>
          </div>
        </body>
      </div>
    </div>
  </div>
</html>
