<!-- START OF HERO SECTION -->
<!-- HEADER -->
<section class="sec02">
  <div class="hbc__wrapper">
    <h1>Voici le nouveau Registre de cadeaux La Baie d’Hudson.</h1>
    <!-- SUB HEADER -->
    <h4>
      Nous fermerons notre plateforme actuelle le 30 avril 2023 pour faire équipe avec MyRegistry.
      Qu’est-ce que cela signifie pour vous? La nouvelle plateforme universelle vous permettra de
      créer et de gérer plusieurs registres en même temps afin de souligner tous les moments
      importants de votre vie.
    </h4>
    <!-- WIDGETS -->
    <div class="hbc-widget-card__outer">
      <div class="hbc-widget-card__inner">
        <div class="hbc-widget-card">
          <a href="https://www.myregistry.com/hudsons-bay-gift-registry/?lang=fr" class="hbc-cta">
            <svg width="57.9" height="56.766" class="hbc-icon">
              <g id="Group_1317" data-name="Group 1317">
                <path
                  id="Path_126"
                  data-name="Path 126"
                  d="M48.662,46.852l3.348-3.514L39.123,31.057l16.61-8.576L1.883,1.794,25.13,54.59l7.768-17L45.785,49.87l3.349-3.513"
                  fill="none"
                  stroke="#0c2649"
                  stroke-miterlimit="10"
                  stroke-width="2"
                />
              </g>
            </svg>

            <h4>Créer un registre.</h4>
            <p class="flexible">
              Connectez-vous à la nouvelle plateforme<br class="desktop-only" />en quelques clics.
            </p>
          </a>
        </div>
      </div>
      <div class="hbc-widget-card__inner">
        <div class="hbc-widget-card">
          <a href="https://www.myregistry.com/hudsons-bay-gift-registry/?lang=fr" class="hbc-cta">
            <svg width="36.069" height="59.192" class="hbc-icon">
              <path
                id="Path_127"
                data-name="Path 127"
                d="M3.1,43.881,25.457,2.712,33.356,7,10.994,48.173ZM24.654,0,.381,44.684l11.416,6.2L36.069,6.2Z"
                fill="#00274c"
              />
              <g id="Group_1321" data-name="Group 1321">
                <g id="Group_1320" data-name="Group 1320" clip-path="url(#clip-path)">
                  <path
                    id="Path_128"
                    data-name="Path 128"
                    d="M.918,59.192A.919.919,0,0,1,0,58.251L.319,45.18a.921.921,0,0,1,.112-.416L3.4,39.3a.918.918,0,1,1,1.614.877L2.149,45.446l-.265,10.9,8.295-6.506,2.877-5.295a.918.918,0,0,1,1.613.877L11.7,50.887a.9.9,0,0,1-.24.284L1.484,59a.913.913,0,0,1-.566.2"
                    fill="#00274c"
                  />
                </g>
              </g>
            </svg>

            <h4>Gérer un registre.</h4>
            <p class="flexible">Mettez à jour un<br class="desktop-only" />registre existant.</p>
          </a>
        </div>
      </div>
      <div class="hbc-widget-card__inner">
        <div class="hbc-widget-card">
          <a href="https://www.myregistry.com/hudsons-bay-gift-registry/?lang=fr" class="hbc-cta">
            <svg width="64.415" height="64.414" class="hbc-icon">
              <g id="Group_1318" data-name="Group 1318">
                <g id="Group_1144" data-name="Group 1144">
                  <circle
                    id="Ellipse_3"
                    data-name="Ellipse 3"
                    cx="20"
                    cy="20"
                    r="20"
                    transform="translate(1 1)"
                    fill="none"
                    stroke="#0c2649"
                    stroke-miterlimit="10"
                    stroke-width="2"
                  />
                  <line
                    id="Line_7"
                    data-name="Line 7"
                    x2="6"
                    y2="6"
                    transform="translate(35 35)"
                    fill="none"
                    stroke="#0c2649"
                    stroke-miterlimit="10"
                    stroke-width="2"
                  />
                  <rect
                    id="Rectangle_428"
                    data-name="Rectangle 428"
                    width="8.485"
                    height="26.87"
                    transform="translate(38.001 44) rotate(-45)"
                    fill="none"
                    stroke="#0c2649"
                    stroke-miterlimit="10"
                    stroke-width="2"
                  />
                </g>
              </g>
            </svg>

            <h4>Trouver un registre.</h4>
            <p class="flexible">Trouvez les registres<br class="desktop-only" />de vos proches.</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END OF HERO SECTION -->

<!-- START OF 4-UP-CARDS -->
<div class="hbc__wrapper">
  <!-- HEADER -->
  <section class="sec01">
    <h2>Pour quelles occasions peut-on créer un registre de cadeaux?</h2>
  </section>
  <!-- CARDS -->
  <div class="hbc-card__outer">
    <div class="hbc-card__inner">
      <div class="hbc-card">
        <a
          href="$url('Search-Show','cgid','wedding-registry')$?sre=W316_051223_LANDING-PAGE_GIFT-REGISTRY_WEDDING_1_WEDDING_"
          class="hbc-cta"
        >
          <picture>
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/316_051223_LANDING-PAGE_GIFT-REGISTRY-MOBILE-WEDDING-4-UP-1-1?scl=1&qlt=75&fmt=webp
              "
              media="(max-width: 768px)"
            />
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/316_051223_LANDING-PAGE_GIFT-REGISTRY-DESKTOP-4-UP-1?scl=1&qlt=100&fmt=webp
              "
              media="(max-width: 992px)"
            />
            <img
              loading="lazy"
              src="https://image.s5a.com/is/image/TheBay/316_051223_LANDING-PAGE_GIFT-REGISTRY-DESKTOP-4-UP-1?scl=1&qlt=100&fmt=webp"
              alt="Une bouilloire rétro Smeg bleu pâle. Un présent de rêve pour les nouveaux mariés."
            />
          </picture>

          <h5>Un mariage.</h5>
          <p class="flexible">
            Dressez la liste de tous vos<br class="desktop-only" />souhaits pour votre grand jour.
          </p>
        </a>
      </div>
    </div>
    <div class="hbc-card__inner">
      <div class="hbc-card">
        <a
          href="$url('Search-Show','cgid','baby-registry')$?sre=W316_051223_LANDING-PAGE_GIFT-REGISTRY_BABY_1_BABY_"
          class="hbc-cta"
        >
          <picture>
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/316_051223_LANDING-PAGE_GIFT-REGISTRY-MOBILE-WEDDING-4-UP-1-2?scl=1&qlt=75&fmt=webp
              "
              media="(max-width: 768px)"
            />
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/316_051223_LANDING-PAGE_GIFT-REGISTRY-DESKTOP-4-UP-2?scl=1&qlt=100&fmt=webp
              "
              media="(max-width: 992px)"
            />
            <img
              loading="lazy"
              src="https://image.s5a.com/is/image/TheBay/316_051223_LANDING-PAGE_GIFT-REGISTRY-DESKTOP-4-UP-2?scl=1&qlt=100&fmt=webp"
              alt="Une poussette bleu pâle. Un présent rêvé pour les nouveaux parents."
            />
          </picture>

          <h5>Un nouveau bébé.</h5>
          <p class="flexible">
            Compilez une liste de cadeaux incontournables<br class="desktop-only" />pour célébrer
            l’agrandissement de votre famille.
          </p>
        </a>
      </div>
    </div>
    <div class="hbc-card__inner">
      <div class="hbc-card">
        <a
          href="$url('Search-Show','cgid','gifting-registry')$?sre=W316_051223_LANDING-PAGE_GIFT-REGISTRY_GIFTING_1_GIFTING_"
          class="hbc-cta"
        >
          <picture>
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/316_051223_LANDING-PAGE_GIFT-REGISTRY-MOBILE-WEDDING-4-UP-1-3?scl=1&qlt=75&fmt=webp
              "
              media="(max-width: 768px)"
            />
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/316_051223_LANDING-PAGE_GIFT-REGISTRY-DESKTOP-4-UP-3?scl=1&qlt=100&fmt=webp
              "
              media="(max-width: 992px)"
            />
            <img
              loading="lazy"
              src="https://image.s5a.com/is/image/TheBay/316_051223_LANDING-PAGE_GIFT-REGISTRY-DESKTOP-4-UP-3?scl=1&qlt=100&fmt=webp"
              alt="Des boucles d’oreille aux pierres bleu pâle. Un cadeau parfait pour célébrer une fête, une remise de diplôme ou un anniversaire."
            />
          </picture>

          <h5>Un événement mémorable.</h5>
          <p class="flexible">
            Simplifiez le magasinage de cadeaux,<br class="desktop-only" />notamment pour les
            anniversaires et<br class="desktop-only" />les remises de diplôme.
          </p>
        </a>
      </div>
    </div>
    <div class="hbc-card__inner">
      <div class="hbc-card">
        <a
          href="$url('Search-Show','cgid','housewarming-registry')$?sre=W316_051223_LANDING-PAGE_GIFT-REGISTRY_HOUSEWARMING_1_HOUSEWARMING_"
          class="hbc-cta"
        >
          <picture>
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/316_051223_LANDING-PAGE_GIFT-REGISTRY-MOBILE-WEDDING-4-UP-1-4?scl=1&qlt=75&fmt=webp
              "
              media="(max-width: 768px)"
            />
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/316_051223_LANDING-PAGE_GIFT-REGISTRY-DESKTOP-4-UP-4?scl=1&qlt=100&fmt=webp
              "
              media="(max-width: 992px)"
            />
            <img
              loading="lazy"
              src="https://image.s5a.com/is/image/TheBay/316_051223_LANDING-PAGE_GIFT-REGISTRY-DESKTOP-4-UP-4?scl=1&qlt=100&fmt=webp"
              alt="Une pile de serviettes de formats variés. Un cadeau parfait pour la personne qui vient de déménager."
            />
          </picture>

          <h5>Une pendaison de crémaillère.</h5>
          <p class="flexible">
            Établissez une liste d’articles qui transformeront<br class="desktop-only" />une simple
            habitation en véritable foyer.
          </p>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- END OF 4-UP-CARDS -->

<!-- START OF THEMED SECTION -->
<!-- HEADER -->
<!-- TODO CHANGE BACK TO WIDGET CARDS ONCE THE SECTIONS ARE UN-COMMENTED -->
<section class="hbc-theme">
  <div class="hbc-theme__wrapper">
    <h2>Pourquoi s’inscrire au Registre de cadeaux La Baie d’Hudson?</h2>
    <!-- WIDGETS -->
    <div class="hbc-card__outer">
      <!-- <div class="hbc-widget-card__inner">
        <div class="hbc-widget-card">
          <svg width="58.315" height="58.315" class="hbc-icon">
            <g
              id="Group_1184"
              data-name="Group 1184"
              transform="translate(1156.5 -426.5)"
            >
              <line
                id="Line_44"
                data-name="Line 44"
                y1="58.315"
                transform="translate(-1127.805 426.5)"
                fill="none"
                stroke="#0c2649"
                stroke-width="2"
              />
              <line
                id="Line_45"
                data-name="Line 45"
                y1="58.315"
                transform="translate(-1098.185 456.121) rotate(90)"
                fill="none"
                stroke="#0c2649"
                stroke-width="2"
              />
            </g>
          </svg>
          <h4>Un rabais de bienvenue de 10 %.</h4>
          <p class="flexible">
            En vous inscrivant, vous obtenez un code promotionnel<br
              class="desktop-only"
            />vous donnant droit à un rabais de 10 % applicable à votre prochain
            achat de 250 $+.
          </p>
        </div>
      </div> -->
      <div class="hbc-card__inner">
        <div class="hbc-card">
          <svg width="64" height="56.156" class="hbc-icon">
            <g id="Group_1162" data-name="Group 1162">
              <g id="Group_1158" data-name="Group 1158">
                <path
                  id="Path_106"
                  data-name="Path 106"
                  d="M1,17C1,37,32,55,32,55S63,37,63,17C63,8.715,57,1,48,1,39.715,1,32,6.715,32,15,32,6.715,24.285,1,16,1,7,1,1,8.715,1,17Z"
                  fill="none"
                  stroke="#0c2649"
                  stroke-miterlimit="10"
                  stroke-width="2"
                />
              </g>
            </g>
          </svg>
          <h4>Les marques que vous chérissez.</h4>
          <p class="flexible">
            Trouvez toutes les marques les<br class="desktop-only" />plus populaires au même
            endroit.
          </p>
        </div>
      </div>
      <div class="hbc-card__inner">
        <div class="hbc-card">
          <svg width="64" height="55.07" class="hbc-icon">
            <g id="Group_1160" data-name="Group 1160" transform="translate(0 0)">
              <g id="Group_1162" data-name="Group 1162">
                <rect
                  id="Rectangle_435"
                  data-name="Rectangle 435"
                  width="62"
                  height="9"
                  transform="translate(1 14.07)"
                  fill="none"
                  stroke="#0c2649"
                  stroke-miterlimit="10"
                  stroke-width="2"
                />
                <rect
                  id="Rectangle_436"
                  data-name="Rectangle 436"
                  width="52"
                  height="31"
                  transform="translate(6 23.07)"
                  fill="none"
                  stroke="#0c2649"
                  stroke-miterlimit="10"
                  stroke-width="2"
                />
                <line
                  id="Line_9"
                  data-name="Line 9"
                  y1="40"
                  transform="translate(32 14.07)"
                  fill="none"
                  stroke="#0c2649"
                  stroke-miterlimit="10"
                  stroke-width="2"
                />
                <path
                  id="Path_111"
                  data-name="Path 111"
                  d="M32,14.07s-13,.1-13-9c0-7,13-4.068,13,2Z"
                  fill="none"
                  stroke="#0c2649"
                  stroke-miterlimit="10"
                  stroke-width="2"
                />
                <path
                  id="Path_112"
                  data-name="Path 112"
                  d="M32,14.07s13,.1,13-9c0-7-13-4.068-13,2Z"
                  fill="none"
                  stroke="#0c2649"
                  stroke-miterlimit="10"
                  stroke-width="2"
                />
              </g>
            </g>
          </svg>
          <h4>Des cadeaux pour tous les budgets.</h4>
          <p class="flexible">
            Découvrez un large éventail d’idées-cadeaux<br class="desktop-only" />et de
            cartes-cadeaux virtuelles.
          </p>
        </div>
      </div>
      <!-- ROW 2 DESKTOP -->
      <div class="hbc-card__inner">
        <div class="hbc-card">
          <svg width="28.201" height="47" class="hbc-icon">
            <g id="Group_1196" data-name="Group 1196" transform="translate(1839.601 -497)">
              <g id="Group_1164" data-name="Group 1164" transform="translate(-1839.6 497)">
                <path
                  id="Path_113"
                  data-name="Path 113"
                  d="M21.246,1H27.2V46H1V1H21.246Z"
                  fill="none"
                  stroke="#0c2649"
                  stroke-miterlimit="10"
                  stroke-width="2"
                />
              </g>
              <line
                id="Line_10"
                data-name="Line 10"
                x1="20"
                transform="translate(-1835.5 522.334)"
                fill="none"
                stroke="#0c2649"
                stroke-miterlimit="10"
                stroke-width="2"
              />
              <line
                id="Line_11"
                data-name="Line 11"
                x1="20"
                transform="translate(-1835.5 526.421)"
                fill="none"
                stroke="#0c2649"
                stroke-miterlimit="10"
                stroke-width="2"
              />
            </g>
          </svg>
          <h4>Le programme Primes La Baie d’Hudson.</h4>
          <p class="flexible">
            Obtenez des points sur tous vos<br class="desktop-only" />achats, en toute occasion.
          </p>
        </div>
      </div>
      <div class="hbc-card__inner">
        <div class="hbc-card">
          <svg width="65" height="45" class="hbc-icon">
            <g id="Group_1194" data-name="Group 1194" transform="translate(1505.5 -499.5)">
              <ellipse
                id="Ellipse_4"
                data-name="Ellipse 4"
                cx="4.727"
                cy="4.373"
                rx="4.727"
                ry="4.373"
                transform="translate(-1465.867 528.973)"
                fill="none"
                stroke="#0c2649"
                stroke-miterlimit="10"
                stroke-width="2"
              />
              <path
                id="Path_114"
                data-name="Path 114"
                d="M56.992,33.346a4.741,4.741,0,0,1-9.454,0,4.741,4.741,0,0,1,9.454,0"
                transform="translate(-1505 500)"
                fill="#0c2649"
                stroke="#0c2649"
                stroke-width="1"
              />
              <ellipse
                id="Ellipse_5"
                data-name="Ellipse 5"
                cx="4.727"
                cy="4.373"
                rx="4.727"
                ry="4.373"
                transform="translate(-1457.462 528.973)"
                fill="none"
                stroke="#0c2649"
                stroke-miterlimit="10"
                stroke-width="2"
              />
              <rect
                id="Rectangle_439"
                data-name="Rectangle 439"
                width="62"
                height="42"
                transform="translate(-1504 501)"
                fill="none"
                stroke="#0c2649"
                stroke-miterlimit="10"
                stroke-width="2"
              />
              <line
                id="Line_12"
                data-name="Line 12"
                x2="62"
                transform="translate(-1504 507)"
                fill="none"
                stroke="#0c2649"
                stroke-miterlimit="10"
                stroke-width="2"
              />
              <line
                id="Line_13"
                data-name="Line 13"
                x2="62"
                transform="translate(-1504 515)"
                fill="none"
                stroke="#0c2649"
                stroke-miterlimit="10"
                stroke-width="2"
              />
              <line
                id="Line_14"
                data-name="Line 14"
                x2="29"
                transform="translate(-1499.281 537)"
                fill="none"
                stroke="#0c2649"
                stroke-miterlimit="10"
                stroke-width="2"
              />
              <line
                id="Line_15"
                data-name="Line 15"
                x2="29"
                transform="translate(-1499.281 532.918)"
                fill="none"
                stroke="#0c2649"
                stroke-miterlimit="10"
                stroke-width="2"
              />
              <rect
                id="Rectangle_440"
                data-name="Rectangle 440"
                width="64"
                height="44"
                transform="translate(-1505 500)"
                fill="none"
                stroke="#0c2649"
                stroke-width="1"
              />
            </g>
          </svg>
          <h4>Les modalités de paiement spéciales.</h4>
          <p class="flexible">
            Répartissez les coûts de vos<br class="desktop-only" />achats importants.
          </p>
        </div>
      </div>
      <!-- <div class="hbc-widget-card__inner">
        <div class="hbc-widget-card">
          <svg width="66" height="58.916" class="hbc-icon">
            <g
              id="Group_1195"
              data-name="Group 1195"
              transform="translate(1153 -487)"
            >
              <line
                id="Line_40"
                data-name="Line 40"
                x2="45.419"
                transform="translate(-1142.71 499.355)"
                fill="none"
                stroke="#0c2649"
                stroke-miterlimit="10"
                stroke-width="2"
              />
              <line
                id="Line_41"
                data-name="Line 41"
                x2="45.419"
                transform="translate(-1142.71 509.677)"
                fill="none"
                stroke="#0c2649"
                stroke-miterlimit="10"
                stroke-width="2"
              />
              <line
                id="Line_42"
                data-name="Line 42"
                x2="45.419"
                transform="translate(-1142.71 520)"
                fill="none"
                stroke="#0c2649"
                stroke-miterlimit="10"
                stroke-width="2"
              />
              <path
                id="Path_57"
                data-name="Path 57"
                d="M235.383,449.587h32V406.232h-64v43.355h17.548v12.387Z"
                transform="translate(-1355.383 81.768)"
                fill="none"
                stroke="#0c2649"
                stroke-miterlimit="10"
                stroke-width="2"
              />
            </g>
          </svg>
          <h4>Une expertise en ligne.</h4>
          <p class="flexible">
            Laissez nos experts vous offrir<br class="desktop-only" />des
            conseils mode et vous présenter des idées-cadeaux en direct.
          </p>
        </div>
      </div> -->
    </div>
    <!-- HEADER -->
    <section class="sec01">
      <h3>Des questions?</h3>
    </section>
    <!-- BUTTON -->
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://service.labaie.com/s/topic/0TO5f000000lOfeGAE/id%C3%A9escadeaux-et-registre-de-cadeaux"
      class="btn--theme"
      >Précisions&nbsp;&rarr;</a
    >
    <br /><br />
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="$url('Search-Show','cgid','registry-terms')$"
      class="btn--theme"
      >Conditions générales&nbsp;&rarr;</a
    >
  </div>
</section>
<!-- END OF THEMED SECTION -->

<!-- START OF BOTTOM SECTION -->
<!-- HEADER -->
<!-- <section class="sec02">
  <div class="hbc__wrapper">
    <h2>Besoin d’inspiration?</h2>
    <h3>3 façons de communiquer en ligne avec un spécialiste.</h3>
    <div class="hbc-widget-card__outer">
      <div class="hbc-widget-card__inner">
        <div class="hbc-widget-card">
          <svg width="66" height="58.916" class="hbc-icon">
            <g
              id="Group_1195"
              data-name="Group 1195"
              transform="translate(1153 -487)"
            >
              <line
                id="Line_40"
                data-name="Line 40"
                x2="45.419"
                transform="translate(-1142.71 499.355)"
                fill="none"
                stroke="#0c2649"
                stroke-miterlimit="10"
                stroke-width="2"
              />
              <line
                id="Line_41"
                data-name="Line 41"
                x2="45.419"
                transform="translate(-1142.71 509.677)"
                fill="none"
                stroke="#0c2649"
                stroke-miterlimit="10"
                stroke-width="2"
              />
              <line
                id="Line_42"
                data-name="Line 42"
                x2="45.419"
                transform="translate(-1142.71 520)"
                fill="none"
                stroke="#0c2649"
                stroke-miterlimit="10"
                stroke-width="2"
              />
              <path
                id="Path_57"
                data-name="Path 57"
                d="M235.383,449.587h32V406.232h-64v43.355h17.548v12.387Z"
                transform="translate(-1355.383 81.768)"
                fill="none"
                stroke="#0c2649"
                stroke-miterlimit="10"
                stroke-width="2"
              />
            </g>
          </svg>
          <h4>Le clavardage en direct.</h4>
          <p class="flexible">Clavardez avec un de nos experts.</p>
        </div>
      </div>
      <div class="hbc-widget-card__inner">
        <div class="hbc-widget-card">
          <svg width="64.715" height="61.057" class="hbc-icon">
            <path
              id="Path_118"
              data-name="Path 118"
              d="M1.863,1.863H62.852V48.484H1.863ZM0,50.347H64.715V0H0Z"
              fill="#0c2649"
            />
            <rect
              id="Rectangle_443"
              data-name="Rectangle 443"
              width="45.317"
              height="1.863"
              transform="translate(9.884 59.194)"
              fill="#0c2649"
            />
            <rect
              id="Rectangle_444"
              data-name="Rectangle 444"
              width="1.613"
              height="10.262"
              transform="translate(31.736 49.006)"
              fill="#0c2649"
            />
          </svg>
          <h4>Le vidéoclavardage.</h4>
          <p class="flexible">Discutez en tête-à-tête, à distance.</p>
        </div>
      </div>
      <div class="hbc-widget-card__inner">
        <div class="hbc-widget-card">
          <svg width="64" height="64" class="hbc-icon">
            <g id="Group_1202" data-name="Group 1202">
              <path
                id="Path_119"
                data-name="Path 119"
                d="M53.92,10.081a31,31,0,1,1-43.84,0A31,31,0,0,1,53.92,10.081Z"
                fill="none"
                stroke="#0c2649"
                stroke-miterlimit="10"
                stroke-width="2"
              />
              <path
                id="Path_120"
                data-name="Path 120"
                d="M32,12V32l9,9"
                fill="none"
                stroke="#0c2649"
                stroke-miterlimit="10"
                stroke-width="2"
              />
              <line
                id="Line_47"
                data-name="Line 47"
                x2="4"
                transform="translate(4 32)"
                fill="none"
                stroke="#0c2649"
                stroke-miterlimit="10"
                stroke-width="2"
              />
              <line
                id="Line_48"
                data-name="Line 48"
                x2="4"
                transform="translate(56 32)"
                fill="none"
                stroke="#0c2649"
                stroke-miterlimit="10"
                stroke-width="2"
              />
              <line
                id="Line_49"
                data-name="Line 49"
                y1="4"
                transform="translate(32 56)"
                fill="none"
                stroke="#0c2649"
                stroke-miterlimit="10"
                stroke-width="2"
              />
              <line
                id="Line_50"
                data-name="Line 50"
                y1="4"
                transform="translate(32 4)"
                fill="none"
                stroke="#0c2649"
                stroke-miterlimit="10"
                stroke-width="2"
              />
            </g>
          </svg>
          <h4>La prise de rendez-vous.</h4>
          <p class="flexible">Profitez de conseils d’expert en magasin.</p>
        </div>
      </div>
    </div>
    <div class="buttons__wrapper">
      <a
        href="https://widgets.magasins.labaie.com/stores/gatineau/services/landing_page/components/landing?sf_ip=69.159.43.204&from=sidebar&sf_locale=fr_CA&media=desktop&customer_id=74wvsyx7a&chat=true&source_title=La%20Baie%20d%27Hudson%3A%20la%20plus%20importante%20cha%C3%AEne%20de%20grands%20magasins%20au%20Canada&source_url=https%3A%2F%2Fwww.labaie.com%2F"
        class="btn--theme-alt"
        >Discuter avec un spécialiste&nbsp;&rarr;</a
      >
    </div>
  </div>
</section> -->
<!-- END OF BOTTOM SECTION -->
