<!-- START OF CARDS SECTION -->
<!-- WRAPPER -->
<div class="hbc__wrapper">
  <!-- HEADING -->
  <section class="sec01">
    <h2>Comment choisir un complet.</h2>
  </section>
  <!-- CARDS -->
  <div class="hbc-card__outer">
    <div class="hbc-card__inner">
      <div class="hbc-card">
        <picture>
          <source
            srcset="
              https://image.s5a.com/is/image/TheBay/315_050523_EDITORIAL_LANDING-PAGE_MENS_SUIT_FIT_GUIDE-5-UP-1-MOBILE?scl=1&qlt=75&fmt=webp
            "
            media="(max-width: 768px)"
          />
          <source
            srcset="
              https://image.s5a.com/is/image/TheBay/315_050523_EDITORIAL_LANDING-PAGE_MENS_SUIT_FIT_GUIDE-5-UP-1-DESKTOP?scl=1&qlt=100&fmt=webp
            "
            media="(max-width: 992px)"
          />
          <img
            loading="lazy"
            src="https://image.s5a.com/is/image/TheBay/315_050523_EDITORIAL_LANDING-PAGE_MENS_SUIT_FIT_GUIDE-5-UP-1-DESKTOP?scl=1&qlt=100&fmt=webp"
            alt="Un gros plan des épaules d’une personne portant un complet gris."
          />
        </picture>
        <h4>Les épaules.</h4>
        <p class="flexible">
          Pour être correctement ajusté, le veston doit épouser naturellement
          les épaules.
        </p>
      </div>
    </div>
    <div class="hbc-card__inner">
      <div class="hbc-card">
        <picture>
          <source
            srcset="
              https://image.s5a.com/is/image/TheBay/315_050523_EDITORIAL_LANDING-PAGE_MENS_SUIT_FIT_GUIDE-5-UP-2-MOBILE?scl=1&qlt=75&fmt=webp
            "
            media="(max-width: 768px)"
          />
          <source
            srcset="
              https://image.s5a.com/is/image/TheBay/315_050523_EDITORIAL_LANDING-PAGE_MENS_SUIT_FIT_GUIDE-5-UP-2-DESKTOP?scl=1&qlt=100&fmt=webp
            "
            media="(max-width: 992px)"
          />
          <img
            loading="lazy"
            src="https://image.s5a.com/is/image/TheBay/315_050523_EDITORIAL_LANDING-PAGE_MENS_SUIT_FIT_GUIDE-5-UP-2-DESKTOP?scl=1&qlt=100&fmt=webp"
            alt="Un gros plan de la poitrine d’une personne portant un complet gris."
          />
        </picture>
        <h4>La poitrine.</h4>
        <p class="flexible">
          Le veston doit se boutonner facilement et vous laisser suffisamment
          d’espace pour bouger.
        </p>
      </div>
    </div>
    <div class="hbc-card__inner">
      <div class="hbc-card">
        <picture>
          <source
            srcset="
              https://image.s5a.com/is/image/TheBay/315_050523_EDITORIAL_LANDING-PAGE_MENS_SUIT_FIT_GUIDE-5-UP-3-MOBILE?scl=1&qlt=75&fmt=webp
            "
            media="(max-width: 768px)"
          />
          <source
            srcset="
              https://image.s5a.com/is/image/TheBay/315_050523_EDITORIAL_LANDING-PAGE_MENS_SUIT_FIT_GUIDE-5-UP-3-DESKTOP?scl=1&qlt=100&fmt=webp
            "
            media="(max-width: 992px)"
          />
          <img
            loading="lazy"
            src="https://image.s5a.com/is/image/TheBay/315_050523_EDITORIAL_LANDING-PAGE_MENS_SUIT_FIT_GUIDE-5-UP-3-DESKTOP?scl=1&qlt=100&fmt=webp"
            alt="Un gros plan du bras et de la longueur du veston d’une personne portant un complet gris."
          />
        </picture>
        <h4>La longueur.</h4>
        <p class="flexible">
          Le bas du veston doit dépasser les poignets de 2 à 5 cm seulement.
        </p>
      </div>
    </div>
    <div class="hbc-card__inner">
      <div class="hbc-card">
        <picture>
          <source
            srcset="
              https://image.s5a.com/is/image/TheBay/315_050523_EDITORIAL_LANDING-PAGE_MENS_SUIT_FIT_GUIDE-5-UP-4-MOBILE?scl=1&qlt=75&fmt=webp
            "
            media="(max-width: 768px)"
          />
          <source
            srcset="
              https://image.s5a.com/is/image/TheBay/315_050523_EDITORIAL_LANDING-PAGE_MENS_SUIT_FIT_GUIDE-5-UP-4-DESKTOP?scl=1&qlt=100&fmt=webp
            "
            media="(max-width: 992px)"
          />
          <img
            loading="lazy"
            src="https://image.s5a.com/is/image/TheBay/315_050523_EDITORIAL_LANDING-PAGE_MENS_SUIT_FIT_GUIDE-5-UP-4-DESKTOP?scl=1&qlt=100&fmt=webp"
            alt="Un gros plan latéral de la manche d’une personne portant un complet gris."
          />
        </picture>
        <h4>Les manches.</h4>
        <p class="flexible">
          Le bord de manche doit atteindre la jonction entre la base de votre
          pouce et votre poignet.
        </p>
      </div>
    </div>
    <div class="hbc-card__inner">
      <div class="hbc-card">
        <picture>
          <source
            srcset="
              https://image.s5a.com/is/image/TheBay/315_050523_EDITORIAL_LANDING-PAGE_MENS_SUIT_FIT_GUIDE-5-UP-5-MOBILE?scl=1&qlt=75&fmt=webp
            "
            media="(max-width: 768px)"
          />
          <source
            srcset="
              https://image.s5a.com/is/image/TheBay/315_050523_EDITORIAL_LANDING-PAGE_MENS_SUIT_FIT_GUIDE-5-UP-5-DESKTOP?scl=1&qlt=100&fmt=webp
            "
            media="(max-width: 992px)"
          />
          <img
            loading="lazy"
            src="https://image.s5a.com/is/image/TheBay/315_050523_EDITORIAL_LANDING-PAGE_MENS_SUIT_FIT_GUIDE-5-UP-5-DESKTOP?scl=1&qlt=100&fmt=webp"
            alt="Un gros plan latéral de la longueur du pantalon d’une personne portant un complet gris."
          />
        </picture>
        <h4>Le pantalon.</h4>
        <p class="flexible">
          La hauteur de la taille et l’ajustement du pantalon sont une question
          de préférence, de style et de confort.
        </p>
      </div>
    </div>
  </div>
  <!-- SHOP ALL CTA -->
  <div class="buttons__wrapper">
    <a href="#" class="btn--default"
      >Complets et pièces de complet&nbsp;&rarr;</a
    >
  </div>
</div>
<!-- END OF CARDS SECTION -->
