/* -----------------------------------------------
 * SECTION STYLES
----------------------------------------------- */

// ONE COLUMN FLEX SECTION
#dsg-editorial.dsg-editorial {
  main {
    max-width: 68.8rem;
    margin: 0 auto;

    @include respond-to(large) {
      max-width: 119.8rem;
    }
  }

  section {
    &.sec01 {
      @include bayflex(row, wrap, center, center, 0, 0, 100%, auto, center);
    }
  }
}
