<!doctype html>
<html lang="en-CA">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Bay Days | The Bay Canada</title>
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1712236745383/css/global.css"
    />
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1712130735115/css/typography.css"
    />
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1712130735115/css/zellers-svg-font.css"
    />
  </head>
  <div class="cat-landing">
    <div class="secondary-content">
      <div class="home-slots">
        <body style="margin: 0">
          <!-- BACK TO TOP BUTTON -->
          <button
            class="ed-button--btt ed-util--bg-black ed-util--t-white ed-util--sans"
            aria-label="Back to Top"
          >
            <span>&uarr;</span>
          </button>
        </body>
      </div>
    </div>
  </div>
</html>
