%btn-placeholder {
  // line-height: 50px;
  // height: 40px;
  // padding: 2rem auto;
  // margin: 1rem 0;
  font-family: $baySans;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

%heading-placeholder {
  font-weight: 400;
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
}
