<!doctype html>
<html lang="fr-CA">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Bay Days | The Bay Canada</title>
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1712236745383/css/global.css"
    />
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1712130735115/css/typography.css"
    />
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1712130735115/css/zellers-svg-font.css"
    />
  </head>
  <div class="cat-landing">
    <div class="secondary-content">
      <div class="home-slots">
        <body style="margin: 0">
          <main class="ed-wrapper--main">
            <!-- MAIN HEADER -->
            <header class="ed-container--header ed-util--bg-bay-days-sand">
              <h3
                class="ed-type--h3 ed-util--t-bay-days-red ed-util-text-center ed-util-pt-5 ed-util--uppercase"
              >
                MAGASINER PAR CATEGORIE
              </h3>
            </header>
            <!-- PRODUCT CARDS SECTION -->
            <section
              class="ed-cards__outer"
              role="region"
              aria-label="First Carousel"
            >
              <div class="ed-cards__inner">
                <div class="ed-cards ed-util-pt-3">
                  <a
                    aria-label="Vêtements pour femme: Link to women's clothing."
                    class="ed-link--card"
                    href="$url('Search-Show','cgid','2534374302033055')$?sre=411_041124_LANDING-PAGE_SEO-BAY-DAYS-PRE-AWARENESS__1_CP_WOMENS-CLOTHING_"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <picture>
                      <source
                        media="(min-width: 48.0625em)"
                        srcset="
                          https://image.s5a.com/is/image/TheBay/VN_WOMENS-CLOTHING_DESKTOP?scl=1&qlt=100&fmt=webp
                        "
                      />
                      <img
                        class="ed-card__image"
                        src="https://image.s5a.com/is/image/TheBay/VN_WOMENS-CLOTHING_MOBILE?scl=1&qlt=80&fmt=webp"
                        alt="Gros plan sur une femme portant un haut en tricot, à manches courtes et avec un motif côtelé de couleur crème. Il est agencé à un jean bleu foncé."
                        loading="lazy"
                      />
                    </picture>
                    <div class="ed-cards__overlay">
                      <p class="ed-type--link ed-util--t-white">
                        Vêtements pour femme
                      </p>
                    </div>
                  </a>
                  <a
                    aria-label="Vêtements pour femme: Link to women's clothing."
                    class="ed-card__link ed-type--link ed-util--t-bay-days-red ed-util-pt-2 ed-util--flexible"
                    href="$url('Search-Show','cgid','2534374302033055')$?sre=411_041124_LANDING-PAGE_SEO-BAY-DAYS-PRE-AWARENESS__1_CP_WOMENS-CLOTHING_"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Vêtements pour femme
                  </a>
                </div>
              </div>

              <div class="ed-cards__inner">
                <div class="ed-cards ed-util-pt-3">
                  <a
                    aria-label="Chaussures pour femme: Link to women's shoes."
                    class="ed-link--card"
                    href="$url('Search-Show','cgid','2534374302033212')$?sre=411_041124_LANDING-PAGE_SEO-BAY-DAYS-PRE-AWARENESS__2_CP_WOMENS-SHOES_"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <picture>
                      <source
                        media="(min-width: 48.0625em)"
                        srcset="
                          https://image.s5a.com/is/image/TheBay/VN_WOMENS-SHOES_DESKTOP?scl=1&qlt=100&fmt=webp
                        "
                      />
                      <img
                        class="ed-card__image"
                        src="https://image.s5a.com/is/image/TheBay/VN_WOMENS-SHOES_MOBILE?scl=1&qlt=80&fmt=webp"
                        alt="Photo d’une chaussure métallique à talon plat, à bout pointu et à boucle décorative sur le devant."
                        loading="lazy"
                      />
                    </picture>
                    <div class="ed-cards__overlay">
                      <p class="ed-type--link ed-util--t-white">
                        Chaussures pour femme
                      </p>
                    </div>
                  </a>
                  <a
                    aria-label="Chaussures pour femme: Link to women's shoes."
                    class="ed-card__link ed-type--link ed-util--t-bay-days-red ed-util-pt-2 ed-util--flexible"
                    href="$url('Search-Show','cgid','2534374302033212')$?sre=411_041124_LANDING-PAGE_SEO-BAY-DAYS-PRE-AWARENESS__2_CP_WOMENS-SHOES_"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Chaussures pour femme</a
                  >
                </div>
              </div>

              <div class="ed-cards__inner">
                <div class="ed-cards ed-util-pt-3">
                  <a
                    aria-label="Vêtements pour homme: Link to men's clothing."
                    class="ed-link--card"
                    href="$url('Search-Show','cgid','2534374302032878')$?sre=411_041124_LANDING-PAGE_SEO-BAY-DAYS-PRE-AWARENESS__3_CP_MENS-CLOTHING_"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <picture>
                      <source
                        media="(min-width: 48.0625em)"
                        srcset="
                          https://image.s5a.com/is/image/TheBay/VN_MENS-CLOTHING_DESKTOP?scl=1&qlt=100&fmt=webp
                        "
                      />
                      <img
                        class="ed-card__image"
                        src="https://image.s5a.com/is/image/TheBay/VN_MENS-CLOTHING_MOBILE?scl=1&qlt=80&fmt=webp"
                        alt="Gros plan sur un homme portant un polo à rayures rouges et blanches horizontales avec un col rouge uni. La main gauche de l’individu repose sur son coude droit et il porte un pantalon foncé."
                        loading="lazy"
                      />
                    </picture>
                    <div class="ed-cards__overlay">
                      <p class="ed-type--link ed-util--t-white">
                        Vêtements pour homme
                      </p>
                    </div>
                  </a>
                  <a
                    aria-label="Vêtements pour homme: Link to men's clothing."
                    class="ed-card__link ed-type--link ed-util--t-bay-days-red ed-util-pt-2 ed-util--flexible"
                    href="$url('Search-Show','cgid','2534374302032878')$?sre=411_041124_LANDING-PAGE_SEO-BAY-DAYS-PRE-AWARENESS__3_CP_MENS-CLOTHING_"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Vêtements pour homme
                  </a>
                </div>
              </div>

              <div class="ed-cards__inner">
                <div class="ed-cards ed-util-pt-3">
                  <a
                    aria-label="Chaussures pour homme: Link to men's shoes."
                    class="ed-link--card"
                    href="$url('Search-Show','cgid','2534374302032970')$?sre=411_041124_LANDING-PAGE_SEO-BAY-DAYS-PRE-AWARENESS__4_CP_MENS-SHOES_"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <picture>
                      <source
                        media="(min-width: 48.0625em)"
                        srcset="
                          https://image.s5a.com/is/image/TheBay/VN_MENS-SHOES_DESKTOP?scl=1&qlt=100&fmt=webp
                        "
                      />
                      <img
                        class="ed-card__image"
                        src="https://image.s5a.com/is/image/TheBay/VN_MENS-SHOES_MOBILE?scl=1&qlt=80&fmt=webp"
                        alt="Une chaussure sport en cuir brun avec un bout rond, des lacets et une semelle épaisse blanche. Le dos de la chaussure présente une garniture noire."
                        loading="lazy"
                      />
                    </picture>
                    <div class="ed-cards__overlay">
                      <p class="ed-type--link ed-util--t-white">
                        Chaussures pour homme
                      </p>
                    </div>
                  </a>
                  <a
                    aria-label="Chaussures pour homme: Link to men's shoes."
                    class="ed-card__link ed-type--link ed-util--t-bay-days-red ed-util-pt-2 ed-util--flexible"
                    href="$url('Search-Show','cgid','2534374302032970')$?sre=411_041124_LANDING-PAGE_SEO-BAY-DAYS-PRE-AWARENESS__4_CP_MENS-SHOES_"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Chaussures pour homme</a
                  >
                </div>
              </div>

              <div class="ed-cards__inner">
                <div class="ed-cards ed-util-pt-3">
                  <a
                    aria-label="Bijoux: Link to jewellery."
                    class="ed-link--card"
                    href="$url('Search-Show','cgid','2534374302033026')$?sre=411_041124_LANDING-PAGE_SEO-BAY-DAYS-PRE-AWARENESS__7_CP_JEWELLERY_"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <picture>
                      <source
                        media="(min-width: 48.0625em)"
                        srcset="
                          https://image.s5a.com/is/image/TheBay/VN_JEWELLERY_DESKTOP?scl=1&qlt=100&fmt=webp
                        "
                      />
                      <img
                        class="ed-card__image"
                        src="https://image.s5a.com/is/image/TheBay/VN_JEWELLERY_MOBILE?scl=1&qlt=80&fmt=webp"
                        alt="Un élégant ensemble de bijoux à perles multicolores sur un fond blanc. L’ensemble comprend un collier, un bracelet et une paire de pendants d’oreilles."
                        loading="lazy"
                      />
                    </picture>
                    <div class="ed-cards__overlay">
                      <p class="ed-type--link ed-util--t-white">Bijoux</p>
                    </div>
                  </a>
                  <a
                    aria-label="Bijoux: Link to jewellery."
                    class="ed-card__link ed-type--link ed-util--t-bay-days-red ed-util-pt-2 ed-util--flexible"
                    href="$url('Search-Show','cgid','2534374302033026')$?sre=411_041124_LANDING-PAGE_SEO-BAY-DAYS-PRE-AWARENESS__7_CP_JEWELLERY_"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Bijoux</a
                  >
                </div>
              </div>

              <div class="ed-cards__inner">
                <div class="ed-cards ed-util-pt-3">
                  <a
                    aria-label="Maison: Link to home."
                    class="ed-link--card"
                    href="$url('Search-Show','cgid','2534374302032280')$?sre=411_041124_LANDING-PAGE_SEO-BAY-DAYS-PRE-AWARENESS__6_CP_HOME_"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <picture>
                      <source
                        media="(min-width: 48.0625em)"
                        srcset="
                          https://image.s5a.com/is/image/TheBay/VN_HOME_DESKTOP?scl=1&qlt=100&fmt=webp
                        "
                      />
                      <img
                        class="ed-card__image"
                        src="https://image.s5a.com/is/image/TheBay/VN_HOME_MOBILE?scl=1&qlt=80&fmt=webp"
                        alt="Une bouilloire électrique SMEG noire au design rétro et élégant présentant une poignée et une base argentées. La marque SMEG argentée est visible sur le devant."
                        loading="lazy"
                      />
                    </picture>
                    <div class="ed-cards__overlay">
                      <p class="ed-type--link ed-util--t-white">Maison</p>
                    </div>
                  </a>
                  <a
                    aria-label="Maison: Link to home."
                    class="ed-card__link ed-type--link ed-util--t-bay-days-red ed-util-pt-2 ed-util--flexible"
                    href="$url('Search-Show','cgid','2534374302032280')$?sre=411_041124_LANDING-PAGE_SEO-BAY-DAYS-PRE-AWARENESS__6_CP_HOME_"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Maison</a
                  >
                </div>
              </div>

              <div class="ed-cards__inner">
                <div class="ed-cards ed-util-pt-3">
                  <a
                    aria-label="Beauté: Link to beauty."
                    class="ed-link--card"
                    href="$url('Search-Show','cgid','2534374302032061')$?sre=411_041124_LANDING-PAGE_SEO-BAY-DAYS-PRE-AWARENESS__5_CP_BEAUTY_"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <picture>
                      <source
                        media="(min-width: 48.0625em)"
                        srcset="
                          https://image.s5a.com/is/image/TheBay/VN_BEAUTY_DESKTOP?scl=1&qlt=100&fmt=webp
                        "
                      />
                      <img
                        class="ed-card__image"
                        src="https://image.s5a.com/is/image/TheBay/VN_BEAUTY_MOBILE?scl=1&qlt=80&fmt=webp"
                        alt="Un flacon cylindrique beige de maquillage avec un bouchon noir."
                        loading="lazy"
                      />
                    </picture>
                    <div class="ed-cards__overlay">
                      <p class="ed-type--link ed-util--t-white">Beauté</p>
                    </div>
                  </a>
                  <a
                    aria-label="Beauté: Link to beauty."
                    class="ed-card__link ed-type--link ed-util--t-bay-days-red ed-util-pt-2 ed-util--flexible"
                    href="$url('Search-Show','cgid','2534374302032061')$?sre=411_041124_LANDING-PAGE_SEO-BAY-DAYS-PRE-AWARENESS__5_CP_BEAUTY_"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Beauté</a
                  >
                </div>
              </div>

              <div class="ed-cards__inner">
                <div class="ed-cards ed-util-pt-3">
                  <a
                    aria-label="Sacs à main: Link to handbags."
                    class="ed-link--card"
                    href="$url('Search-Show','cgid','2534374302033005')$?sre=411_041124_LANDING-PAGE_SEO-BAY-DAYS-PRE-AWARENESS__8_CP_LUGGAGE_"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <picture>
                      <source
                        media="(min-width: 48.0625em)"
                        srcset="
                          https://image.s5a.com/is/image/TheBay/VN_HANDBAGS_DESKTOP?scl=1&qlt=100&fmt=webp
                        "
                      />
                      <img
                        class="ed-card__image"
                        src="https://image.s5a.com/is/image/TheBay/VN_HANDBAGS_MOBILE?scl=1&qlt=80&fmt=webp"
                        alt="Un fourre-tout griffé vert olive foncé à motif géométrique et à poignées noires."
                        loading="lazy"
                      />
                    </picture>
                    <div class="ed-cards__overlay">
                      <p class="ed-type--link ed-util--t-white">Sacs à main</p>
                    </div>
                  </a>
                  <a
                    aria-label="Sacs à main: Link to handbags."
                    class="ed-card__link ed-type--link ed-util--t-bay-days-red ed-util-pt-2 ed-util--flexible"
                    href="$url('Search-Show','cgid','2534374302033005')$?sre=411_041124_LANDING-PAGE_SEO-BAY-DAYS-PRE-AWARENESS__8_CP_LUGGAGE_"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Sacs à main</a
                  >
                </div>
              </div>
            </section>
            <!-- SECOND HEADER AND CTA SECTION -->
            <header class="ed-container--header ed-util--bg-bay-days-sand">
              <h2
                class="ed-type--h2 ed-util--t-bay-days-red ed-util-text-center ed-util-pt-5"
              >
                Jusqu&apos;à 20 &percnt; de rabais additionnel sur vos achats du
                premier jour lorsque vous demandez la carte Mastercard<sup
                  >MD</sup
                >
                La Baie d&apos;Hudson.
              </h2>
              <div class="ed-container--links ed-util-pt-4">
                <a
                  aria-label="Demander la carte Mastercard La Baie d'Hudson: Link to sign up for the Hudson's Bay MasterCard."
                  class="ed-link--full ed-type--link ed-util--bg-bay-days-red ed-util--t-white"
                  href="https://hudsonsbay.neofinancial.com/fr?utm_source=hbc&utm_medium=partner&utm_campaign=hbc_promo&utm_content=banner-fr&utm_term=bayday-banner"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Demander la carte Mastercard La Baie d&apos;Hudson</a
                >
              </div>
            </header>
            <!-- FOOTER SECTION -->
            <footer
              class="ed-container--footer ed-util--bg-bay-days-sand ed-util-pt-5"
            >
              <h4 class="ed-type--h4 ed-util-text-center">
                Gâtez&dash;vous en magasinant grâce au programme Primes La Baie
                d&apos;Hudson. De plus, obtenez davantage de points et des
                remises en argent avec la carte Mastercard<sup>MD</sup> La Baie
                d&apos;Hudson.
              </h4>
              <!-- WIDGET CARDS SECTION -->
              <section class="ed-container--widgets">
                <div class="ed-widgets ed-util-pt-3">
                  <svg viewBox="0 0 90.652 60" aria-labelledby="title desc">
                    <title id="title">Free and fast shipping icon</title>
                    <desc id="desc">
                      Logo of a delivery van with a forward arrow inside the
                      vehicle.
                    </desc>
                    <g
                      id="Group_460"
                      data-name="Group 460"
                      transform="translate(0 0)"
                    >
                      <g
                        id="Group_459"
                        data-name="Group 459"
                        transform="translate(0 0)"
                        clip-path="url(#clip-path)"
                      >
                        <path
                          id="Path_28"
                          data-name="Path 28"
                          d="M81.725,25.852,69.145,1H1V49.553H13.414c0-.015,0-.028,0-.043a9.025,9.025,0,0,1,18.051,0c0,.015,0,.028,0,.043H57.743c0-.015,0-.028,0-.043a9.025,9.025,0,0,1,18.051,0c0,.015,0,.028,0,.043h13.4V32.874Z"
                          transform="translate(0.233 0.232)"
                          fill="none"
                          stroke="#000"
                          stroke-miterlimit="10"
                          stroke-width="2"
                        />
                        <path
                          id="Path_29"
                          data-name="Path 29"
                          d="M33.471,12.187l9.86,9.86-9.86,9.86"
                          transform="translate(7.784 2.834)"
                          fill="none"
                          stroke="#000"
                          stroke-miterlimit="10"
                          stroke-width="2"
                        />
                        <line
                          id="Line_10"
                          data-name="Line 10"
                          x1="24.651"
                          transform="translate(26.465 24.882)"
                          fill="none"
                          stroke="#000"
                          stroke-miterlimit="10"
                          stroke-width="2"
                        />
                        <path
                          id="Path_30"
                          data-name="Path 30"
                          d="M65.086,42.06a9.025,9.025,0,1,1-9.026-9.026A9.026,9.026,0,0,1,65.086,42.06Z"
                          transform="translate(10.938 7.682)"
                          fill="none"
                          stroke="#000"
                          stroke-miterlimit="10"
                          stroke-width="2"
                        />
                        <path
                          id="Path_31"
                          data-name="Path 31"
                          d="M29.121,42.06a9.025,9.025,0,1,1-9.026-9.026A9.026,9.026,0,0,1,29.121,42.06Z"
                          transform="translate(2.574 7.682)"
                          fill="none"
                          stroke="#000"
                          stroke-miterlimit="10"
                          stroke-width="2"
                        />
                      </g>
                    </g>
                  </svg>
                  <h5
                    class="ed-util-text-center ed-util--t-black ed-type--h5 ed-util-pt-2 ed-util--flexible ed-util-px-1"
                  >
                    Livraison gratuite<br />et rapide offerte&ast;.
                  </h5>
                </div>

                <div class="ed-widgets ed-util-pt-3">
                  <svg viewBox="0 0 46 64" aria-labelledby="title2 desc2">
                    <title id="title2">
                      Buy online and same day pickup in store icon
                    </title>
                    <desc id="desc2">
                      Logo of a shopping bag with a forward arrow inside the
                      bag.
                    </desc>
                    <path
                      id="Path_146"
                      data-name="Path 146"
                      d="M25,34l8,8-8,8"
                      fill="none"
                      stroke="#000"
                      stroke-miterlimit="10"
                      stroke-width="2"
                    />
                    <line
                      id="Line_15"
                      data-name="Line 15"
                      x1="20"
                      transform="translate(12.998 42)"
                      fill="none"
                      stroke="#000"
                      stroke-miterlimit="10"
                      stroke-width="2"
                    />
                    <g id="Group_667" data-name="Group 667">
                      <g
                        id="Group_666"
                        data-name="Group 666"
                        clip-path="url(#clip-path)"
                      >
                        <path
                          id="Path_147"
                          data-name="Path 147"
                          d="M35,18H45V63H1V18H35Z"
                          fill="none"
                          stroke="#000"
                          stroke-miterlimit="10"
                          stroke-width="2"
                        />
                        <path
                          id="Path_148"
                          data-name="Path 148"
                          d="M13,24V11a10,10,0,0,1,20,0V24"
                          fill="none"
                          stroke="#000"
                          stroke-miterlimit="10"
                          stroke-width="2"
                        />
                      </g>
                    </g>
                  </svg>
                  <h5
                    class="ed-util-text-center ed-util--t-black ed-type--h5 ed-util-pt-2 ed-util--flexible ed-util-px-1"
                  >
                    Cueillette des achats<br />en ligne le jour même&ast;&ast;.
                  </h5>
                </div>

                <div class="ed-widgets ed-util-pt-3">
                  <svg viewBox="0 0 34.499 64.5" aria-labelledby="title3 desc3">
                    <title id="title3">Flexible payment options icon</title>
                    <desc id="desc3">Logo of a dollar sign.</desc>
                    <g
                      id="Group_664"
                      data-name="Group 664"
                      transform="translate(0 0.25)"
                    >
                      <path
                        id="Path_261"
                        data-name="Path 261"
                        d="M0,0H1.738V64H0Z"
                        transform="translate(16.381)"
                        stroke="#000"
                        stroke-width="0.5"
                      />
                      <g id="Group_663" data-name="Group 663">
                        <g
                          id="Group_662"
                          data-name="Group 662"
                          clip-path="url(#clip-path)"
                        >
                          <path
                            id="Path_140"
                            data-name="Path 140"
                            d="M30.519,13.846S30.519,4,15.75,4,2.621,15.487,2.621,15.487s0,11.487,13.128,11.487c14.769,0,16.43,9.846,16.43,11.487,0,3.282,1.621,13.128-16.43,13.128C.98,51.59,1,45.026,1,43.385"
                            transform="translate(0.641 2.564)"
                            fill="none"
                            stroke="#000"
                            stroke-miterlimit="10"
                            stroke-width="2"
                          />
                        </g>
                      </g>
                    </g>
                  </svg>
                  <h5
                    class="ed-util-text-center ed-util--t-black ed-type--h5 ed-util-pt-2 ed-util--flexible ed-util-px-1"
                  >
                    Modalités de paiement<br />spéciales offertes.
                  </h5>
                </div>

                <div class="ed-widgets ed-util-pt-3">
                  <svg
                    viewBox="0 0 64.414 56.414"
                    aria-labelledby="title4 desc4"
                  >
                    <title id="title4">Price match guarantee icon</title>
                    <desc id="desc4">Logo of two price tags.</desc>
                    <g
                      id="Group_839"
                      data-name="Group 839"
                      transform="translate(0 0)"
                    >
                      <g
                        id="Group_838"
                        data-name="Group 838"
                        clip-path="url(#clip-path)"
                      >
                        <path
                          id="Path_327"
                          data-name="Path 327"
                          d="M21.9,1,55,34.1,34.1,55,1,21.9V1Z"
                          fill="none"
                          stroke="#000"
                          stroke-miterlimit="10"
                          stroke-width="2"
                        />
                        <path
                          id="Path_328"
                          data-name="Path 328"
                          d="M29.9,1,63,34.1,42.1,55"
                          fill="none"
                          stroke="#000"
                          stroke-miterlimit="10"
                          stroke-width="2"
                        />
                        <circle
                          id="Ellipse_6"
                          data-name="Ellipse 6"
                          cx="5"
                          cy="5"
                          r="5"
                          transform="translate(9 9)"
                          fill="none"
                          stroke="#000"
                          stroke-miterlimit="10"
                          stroke-width="2"
                        />
                      </g>
                    </g>
                  </svg>
                  <h5
                    class="ed-util-text-center ed-util--t-black ed-type--h5 ed-util-pt-2 ed-util--flexible ed-util-px-1"
                  >
                    Égalisation<br />des prix.
                  </h5>
                </div>
              </section>

              <div class="ed-container--links ed-util-pt-1">
                <a
                  aria-label="S'abonner à l'infolettre: Link to sign up for the Hudson's Bay email list."
                  class="ed-link--full-dark ed-type--link ed-util--bg-black ed-util--t-white"
                  href="$url('EmailSubscribe-EmailSignUp')$?sre=411_041124_LANDING-PAGE_SEO-BAY-DAYS-PRE-AWARENESS_PROMO-BANNER_3_PR_SME_"
                  target="_blank"
                  rel="noopener noreferrer"
                  >S&apos;abonner à l&apos;infolettre</a
                >
              </div>
              <div class="ed-container--legal ed-util-pt-4 ed-util-pb-5">
                <p class="ed-type--p ed-util-text-center">
                  <sup>&ast;</sup> La livraison standard gratuite requiert un
                  montant minimum d&apos;achat. Des frais s&apos;appliquent pour
                  la livraison express ou le jour même.
                </p>
                <p class="ed-type--p ed-util-text-center">
                  <sup>&ast;&ast;</sup> Pour les commandes passées au moins 3
                  heures avant la fermeture de certains magasins. Des exceptions
                  peuvent s&apos;appliquer. Visitez notre site pour connaître
                  toutes les conditions.
                </p>
              </div>
            </footer>
          </main>
        </body>
      </div>
    </div>
  </div>
</html>
