<!doctype html>
<html lang="fr-CA">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Bay Days | The Bay Canada</title>
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1712236745383/css/global.css"
    />
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1712130735115/css/typography.css"
    />
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1712130735115/css/zellers-svg-font.css"
    />
  </head>
  <div class="cat-landing">
    <div class="secondary-content">
      <div class="home-slots">
        <body style="margin: 0">
          <main class="ed-wrapper--main">
            <header class="ed-container--header ed-util--bg-bay-days-sand">
              <h2
                class="ed-type--h2 ed-util--t-bay-days-red ed-util-text-center ed-util-pt-5"
              >
                Les Jours La Baie commencent le 18 avril.<br />
                Les membres Primes La Baie d&apos;Hudson en profitent dès le 17
                avril.<br /><br />
                Obtenez jusqu&apos;à 60 &percnt; de rabais.
              </h2>
              <div class="ed-container--links ed-util-pt-4 ed-util-pb-5">
                <a
                  aria-label="S'inscrire gratuitement: Link to join Hudson's Bay Rewards."
                  class="ed-link--regular ed-type--link ed-util--bg-bay-days-red ed-util--t-white"
                  href="$url('Search-Show','cgid','rewards')$?sre=411_041124_LANDING-PAGE_SEO-BAY-DAYS-PRE-AWARENESS"
                  target="_blank"
                  rel="noopener noreferrer"
                  >S&apos;inscrire gratuitement</a
                >
                <a
                  aria-label="S'abonner à l'infolettre: Link to sign up for Hudson's Bay email list."
                  class="ed-link--regular ed-type--link ed-util--bg-bay-days-red ed-util--t-white"
                  href="$url('EmailSubscribe-EmailSignUp')$?sre=411_041124_LANDING-PAGE_SEO-BAY-DAYS-PRE-AWARENESS"
                  target="_blank"
                  rel="noopener noreferrer"
                  >S&apos;abonner à l&apos;infolettre</a
                >
              </div>
            </header>
          </main>
        </body>
      </div>
    </div>
  </div>
</html>
