<!doctype html>
<html lang="en-CA">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Bay Days | The Bay Canada</title>
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1712236745383/css/global.css"
    />
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1712130735115/css/typography.css"
    />
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1712130735115/css/zellers-svg-font.css"
    />
  </head>
  <div class="cat-landing">
    <div class="secondary-content">
      <div class="home-slots">
        <body style="margin: 0">
          <main class="ed-wrapper__main">
            <!-- START OF MAIN PAGE HEADER AND CTAS. -->
            <header class="ed-container__header ed-util--bg-bay-days-sand">
              <h2
                class="ed-type--h2 ed-util--t-bay-days-red ed-util-text-center ed-util-pt-5"
              >
                Our lowest prices of the season, up to 60&percnt; off.
              </h2>
              <div class="ed-container__links ed-util-pt-4 ed-util-pb-5">
                <a
                  aria-label="Shop ALL Bay Days: Link to all Bay Days products and sales."
                  class="ed-link--regular ed-type--link ed-util--bg-bay-days-red ed-util--t-white"
                  href="$url('Search-Show','cgid','root','pmin','0')$&sre=412_041824_LANDING-PAGE-SEO-BAY-DAYS-ON-NOW_TEXT_1_CP_CTA_Shop-ALL-Bay-Days"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Shop ALL Bay Days</a
                >
                <a
                  aria-label="SIGN UP FOR EMAIL: Link to sign up for Hudson's Bay email list."
                  class="ed-link--regular ed-type--link ed-util--bg-bay-days-red ed-util--t-white"
                  href="$url('EmailSubscribe-EmailSignUp')$?sre=412_041824_LANDING-PAGE-SEO-BAY-DAYS-ON-NOW_TEXT_2_CP_CTA_Sign-up-for-email"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Sign up for email</a
                >
              </div>
              <svg
                id="door_crashers_en_desktop"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 1050.11 80.78"
                aria-labelledby="title desc"
              >
                <title id="title">Door Crashers Heading</title>
                <desc id="desc">
                  An uppercase, red coloured heading with a downward arrow on
                  each side of it. Heading reads: DOOR CRASHERS.
                </desc>
                <path
                  id="down_arrow"
                  d="M67.04,46.71l-33.52,31.03L0,46.71l8.54-8.33,18.49,17.3V3.03h12.97v52.65l18.49-17.3,8.54,8.33Z"
                  fill="#d60700"
                  stroke-width="0"
                />
                <path
                  id="d"
                  d="M75.57,1.74h34.27c10.81,0,19.26,3.37,25.35,10.11,6.09,6.74,9.14,16.27,9.14,28.6,0,12.4-2.88,21.93-8.65,28.6-5.77,6.67-14.02,10-24.76,10h-35.36V1.74ZM95.04,63.14h12.86c11.32,0,16.97-7.57,16.98-22.7,0-15.21-5.66-22.81-16.98-22.81h-12.87v45.51Z"
                  fill="#d60700"
                  stroke-width="0"
                />
                <path
                  id="o"
                  d="M166.28,75.58c-5.69-3.38-10.26-8.36-13.14-14.33-5.98-13.27-5.98-28.46,0-41.73,2.87-5.97,7.44-10.95,13.14-14.33C172.05,1.73,178.93,0,186.93,0c7.93,0,14.78,1.73,20.54,5.19,5.7,3.39,10.28,8.37,13.19,14.33,6.05,13.25,6.05,28.48,0,41.73-2.91,5.96-7.49,10.94-13.19,14.33-5.77,3.46-12.61,5.19-20.54,5.19-8,0-14.88-1.72-20.65-5.18ZM201.31,58.17c2.96-4.47,4.43-10.41,4.43-17.84,0-7.35-1.48-13.26-4.43-17.73s-7.75-6.7-14.38-6.71c-6.63,0-11.42,2.23-14.38,6.71-2.95,4.47-4.43,10.38-4.43,17.73,0,7.42,1.48,13.37,4.43,17.84s7.75,6.7,14.38,6.7c6.63,0,11.43-2.23,14.38-6.7h0Z"
                  fill="#d60700"
                  stroke-width="0"
                />
                <path
                  id="o2"
                  d="M247.15,75.58c-5.69-3.38-10.26-8.36-13.14-14.33-5.98-13.27-5.98-28.46,0-41.73,2.87-5.97,7.44-10.95,13.14-14.33C252.92,1.73,259.8,0,267.8,0c7.93,0,14.78,1.73,20.54,5.19,5.7,3.39,10.29,8.37,13.19,14.33,6.05,13.25,6.05,28.48,0,41.73-2.91,5.96-7.49,10.94-13.19,14.33-5.77,3.46-12.61,5.19-20.54,5.19-8,0-14.88-1.72-20.65-5.18ZM282.18,58.17c2.96-4.47,4.43-10.41,4.43-17.84,0-7.35-1.48-13.26-4.43-17.73s-7.75-6.7-14.38-6.71c-6.63,0-11.42,2.23-14.38,6.71-2.95,4.47-4.43,10.38-4.43,17.73,0,7.42,1.48,13.37,4.43,17.84s7.75,6.7,14.38,6.7c6.63,0,11.43-2.23,14.38-6.7h0Z"
                  fill="#d60700"
                  stroke-width="0"
                />
                <path
                  id="r"
                  d="M313.53,1.74h36.44c8.65,0,15.4,1.95,20.27,5.84,4.87,3.89,7.3,9.44,7.3,16.65,0,5.05-1.39,9.19-4.16,12.44-3.01,3.38-7.06,5.66-11.52,6.48v.22c3.63.49,6.93,2.37,9.19,5.24,2.06,2.71,3.48,5.85,4.16,9.19.76,3.91,1.24,7.86,1.46,11.84.22,2.89.43,4.94.65,6.17.22,1.23.65,1.94,1.3,2.16v1.08h-20.22c-.6-.74-.96-1.65-1.03-2.6-.22-1.79-.35-3.6-.38-5.41-.08-3.19-.39-6.37-.92-9.52-.44-2.46-1.56-4.75-3.25-6.6-1.69-1.87-4.27-2.81-7.73-2.81h-12.11v26.94h-19.46V1.74ZM332.99,36.22h13.19c3.96,0,6.94-.76,8.92-2.27s2.97-3.86,2.97-7.03c0-3.17-.99-5.51-2.97-7.03s-4.95-2.27-8.92-2.27h-13.19v18.59Z"
                  fill="#d60700"
                  stroke-width="0"
                />
                <path
                  id="c"
                  d="M447.81,19.74c-2.38-2.56-5.98-3.84-10.81-3.84-6.13,0-10.52,2.13-13.19,6.38-2.67,4.25-4,10.27-4,18.06,0,7.78,1.33,13.82,4,18.11,2.67,4.29,7.06,6.43,13.19,6.43,4.9,0,8.54-1.3,10.92-3.89s3.93-6.24,4.65-10.92h19.46c-.87,9.44-4.2,16.92-10,22.44-5.8,5.51-13.85,8.27-24.16,8.27-7.93,0-14.73-1.73-20.38-5.19-5.6-3.4-10.06-8.38-12.81-14.33-5.77-13.35-5.77-28.49,0-41.84,2.74-5.93,7.21-10.91,12.81-14.27C423.14,1.72,429.94,0,437.87,0c10.23,0,18.25,2.76,24.06,8.27,5.81,5.51,9.18,12.92,10.11,22.22h-19.47c-.79-4.61-2.38-8.2-4.75-10.76Z"
                  fill="#d60700"
                  stroke-width="0"
                />
                <path
                  id="r2"
                  d="M478.84,1.74h36.44c8.65,0,15.41,1.95,20.27,5.84,4.87,3.89,7.3,9.44,7.3,16.65,0,5.05-1.39,9.19-4.16,12.44-3.01,3.38-7.06,5.66-11.51,6.48v.22c3.63.49,6.93,2.37,9.19,5.24,2.06,2.71,3.48,5.85,4.16,9.19.75,3.91,1.24,7.86,1.46,11.84.22,2.89.43,4.94.65,6.17s.65,1.95,1.3,2.16v1.08h-20.22c-.6-.74-.96-1.65-1.02-2.6-.22-1.79-.35-3.6-.38-5.41-.08-3.19-.39-6.37-.92-9.52-.44-2.46-1.56-4.75-3.24-6.6-1.69-1.87-4.27-2.81-7.73-2.81h-12.11v26.94h-19.46V1.74ZM498.3,36.22h13.19c3.96,0,6.94-.76,8.92-2.27s2.97-3.86,2.97-7.03c0-3.17-.99-5.51-2.97-7.03s-4.95-2.27-8.92-2.27h-13.19v18.59Z"
                  fill="#d60700"
                  stroke-width="0"
                />
                <path
                  id="a"
                  d="M571.49,62.93l-4.97,16.11h-19.46L575.05,1.73h19.46l27.89,77.31h-19.46l-4.97-16.11h-26.49ZM593.65,48.12l-8.76-28.54h-.22l-8.76,28.54h17.73Z"
                  fill="#d60700"
                  stroke-width="0"
                />
                <path
                  id="s"
                  d="M674.14,36.28c3.94,1.66,7.42,4.24,10.16,7.51,2.7,3.24,4.06,7.42,4.05,12.54.1,4.55-1.16,9.03-3.62,12.87-2.59,3.82-6.26,6.8-10.54,8.54-5.21,2.13-10.81,3.16-16.44,3.03-6.21.1-12.38-1-18.16-3.24-4.97-1.89-9.31-5.13-12.54-9.35-3.07-4.21-4.67-9.33-4.54-14.54h19.46c0,3.89,1.46,6.74,4.38,8.54,2.92,1.8,6.72,2.7,11.41,2.7,3.53,0,6.27-.61,8.22-1.84,1.79-.96,2.91-2.83,2.92-4.87.03-1.59-.64-3.11-1.84-4.16-1.4-1.22-3.01-2.17-4.76-2.81-1.95-.75-4.76-1.64-8.43-2.65l-4.22-1.19c-7.86-2.31-13.99-5.24-18.38-8.81s-6.59-8.6-6.6-15.08c0-8,2.74-13.91,8.22-17.73C638.37,1.91,645.58,0,654.52,0c5.63-.08,11.22.97,16.43,3.08,4.61,1.84,8.66,4.86,11.73,8.76,2.94,3.84,4.55,8.52,4.6,13.35h-19.46c-.35-2.76-1.87-5.24-4.16-6.81-2.71-1.76-5.9-2.63-9.13-2.49-2.59-.11-5.17.41-7.51,1.51-1.8.83-2.93,2.66-2.87,4.65-.02,2.13,1.2,4.08,3.14,4.97,2.09,1.16,5.91,2.49,11.46,4,5.25,1.4,10.39,3.16,15.41,5.25Z"
                  fill="#d60700"
                  stroke-width="0"
                />
                <path
                  id="h"
                  d="M715.61,1.74v30.27h26.49V1.74h19.46v77.31h-19.46v-31.14h-26.49v31.14h-19.46V1.74h19.46Z"
                  fill="#d60700"
                  stroke-width="0"
                />
                <path
                  id="e"
                  d="M825.34,31.36v15.9h-33.73v15.89h39.79v15.9h-59.25V1.74h58.6v15.9h-39.14v13.73h33.73Z"
                  fill="#d60700"
                  stroke-width="0"
                />
                <path
                  id="r3"
                  d="M840.04,1.74h36.44c8.65,0,15.4,1.95,20.27,5.84,4.87,3.89,7.3,9.44,7.3,16.65,0,5.05-1.39,9.19-4.16,12.44-3.01,3.38-7.07,5.66-11.52,6.49v.22c3.63.48,6.93,2.37,9.19,5.24,2.06,2.71,3.48,5.85,4.16,9.19.75,3.91,1.24,7.86,1.46,11.84.22,2.89.43,4.94.65,6.17.22,1.22.65,1.95,1.3,2.16v1.08h-20.22c-.61-.74-.96-1.65-1.03-2.6-.22-1.79-.35-3.6-.38-5.41-.08-3.19-.39-6.37-.92-9.52-.44-2.46-1.56-4.75-3.24-6.6-1.69-1.87-4.27-2.81-7.73-2.81h-12.11v26.93h-19.46V1.74ZM859.5,36.22h13.19c3.96,0,6.94-.76,8.92-2.27s2.98-3.86,2.97-7.03c0-3.17-.99-5.51-2.97-7.03-1.98-1.52-4.96-2.27-8.92-2.27h-13.19v18.59Z"
                  fill="#d60700"
                  stroke-width="0"
                />
                <path
                  id="s2"
                  d="M960.54,36.28c3.93,1.67,7.42,4.24,10.16,7.51,2.7,3.24,4.06,7.42,4.06,12.54.1,4.55-1.16,9.03-3.62,12.87-2.59,3.82-6.26,6.8-10.54,8.54-5.21,2.13-10.81,3.16-16.43,3.03-6.21.1-12.38-1-18.16-3.24-4.97-1.89-9.31-5.13-12.54-9.35-3.07-4.21-4.67-9.33-4.54-14.54h19.46c0,3.89,1.46,6.74,4.38,8.54,2.92,1.8,6.72,2.7,11.41,2.7,3.53,0,6.27-.61,8.22-1.84,1.79-.96,2.91-2.83,2.92-4.87.03-1.59-.64-3.11-1.84-4.16-1.4-1.22-3.01-2.17-4.76-2.81-1.95-.75-4.76-1.64-8.44-2.65l-4.21-1.19c-7.86-2.31-13.99-5.24-18.38-8.81-4.4-3.57-6.59-8.6-6.6-15.08,0-8,2.74-13.91,8.22-17.73S931.97,0,940.91,0c5.63-.08,11.22.97,16.43,3.08,4.61,1.84,8.66,4.86,11.73,8.76,2.94,3.84,4.55,8.52,4.59,13.35h-19.46c-.36-2.76-1.87-5.24-4.16-6.81-2.71-1.76-5.9-2.63-9.13-2.49-2.59-.11-5.17.41-7.51,1.51-1.8.83-2.93,2.66-2.87,4.65-.02,2.13,1.21,4.08,3.14,4.97,2.09,1.16,5.91,2.49,11.46,4,5.25,1.4,10.4,3.16,15.41,5.25Z"
                  fill="#d60700"
                  stroke-width="0"
                />
                <path
                  id="down_arrow_two"
                  d="M1050.11,46.71l-33.51,31.03-33.52-31.03,8.54-8.33,18.49,17.3V3.03h12.97v52.65l18.49-17.3,8.54,8.33Z"
                  fill="#d60700"
                  stroke-width="0"
                />
              </svg>
              <h2
                class="ed-type--h2 ed-util--t-bay-days-red ed-util-text-center ed-util-pt-5"
              >
                New deals dropping daily.<br />While quantities last.
              </h2>
              <div class="ed-container__links ed-util-pt-4">
                <a
                  aria-label="Shop today's deals: Link to all current deals or sales."
                  class="ed-link--full ed-type--link ed-util--bg-bay-days-red ed-util--t-white"
                  href="$url('Search-Show','cgid','TOPNAV-BAYDAYS-DOORCRASHERS')$?sre=412_041824_LANDING-PAGE-SEO-BAY-DAYS-ON-NOW_DOORCRASHERS_1_CP_TODAYS-DEAL-CTA_Shop-todays-deals"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Shop today&apos;s deals</a
                >
              </div>
            </header>
            <!-- END OF MAIN PAGE HEADER AND CTAS. -->

            <!-- START OF DOOR CRASHERS VISUAL NAVS. -->
            <section
              class="ed-cards__outer"
              role="region"
              aria-label="First Carousel"
            >
              <div class="ed-cards__inner--5">
                <div class="ed-cards ed-util-pt-2">
                  <a
                    aria-label="APRIL 18: Link to April 18th door crashers deals."
                    class="ed-link--card"
                    href="$url('Search-Show','cgid','TOPNAV-BAYDAYS-DOORCRASHERS')$?sre=412_041824_LANDING-PAGE-SEO-BAY-DAYS-ON-NOW_DOORCRASHERS_1_CP_APRIL-18_IMAGE"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <picture>
                      <source
                        media="(min-width: 48.0625em)"
                        srcset="
                          https://image.s5a.com/is/image/TheBay/412_041824_LANDING-PAGE-SEO-BAY-DAYS-ON-NOW_DOORCRASHER_APRIL-18_EN?scl=1&qlt=100&fmt=webp
                        "
                      />
                      <img
                        class="ed-card__image"
                        src="https://image.s5a.com/is/image/TheBay/412_041824_LANDING-PAGE-SEO-BAY-DAYS-ON-NOW_DOORCRASHER_APRIL-18_MOBILE_EN?scl=1&qlt=80&fmt=webp"
                        alt=""
                        loading="lazy"
                      />
                    </picture>
                    <div class="ed-cards__overlay">
                      <p class="ed-type--link ed-util--t-white">APRIL 18</p>
                    </div>
                  </a>
                </div>
              </div>

              <div class="ed-cards__inner--5">
                <div class="ed-cards ed-util-pt-2">
                  <a
                    aria-label="APRIL 19: Link to April 19th door crashers deals."
                    class="ed-link--card"
                    href="$url('Search-Show','cgid','TOPNAV-BAYDAYS-DOORCRASHERS')$?sre=412_041824_LANDING-PAGE-SEO-BAY-DAYS-ON-NOW_DOORCRASHERS_2_CP_APRIL-19_IMAGE"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <picture>
                      <source
                        media="(min-width: 48.0625em)"
                        srcset="
                          https://image.s5a.com/is/image/TheBay/412_041824_LANDING-PAGE-SEO-BAY-DAYS-ON-NOW_DOORCRASHER_APRIL-19_EN?scl=1&qlt=100&fmt=webp
                        "
                      />
                      <img
                        class="ed-card__image"
                        src="https://image.s5a.com/is/image/TheBay/412_041824_LANDING-PAGE-SEO-BAY-DAYS-ON-NOW_DOORCRASHER_APRIL-19_MOBILE_EN?scl=1&qlt=80&fmt=webp"
                        alt=""
                        loading="lazy"
                      />
                    </picture>
                    <div class="ed-cards__overlay">
                      <p class="ed-type--link ed-util--t-white">APRIL 19</p>
                    </div>
                  </a>
                </div>
              </div>

              <div class="ed-cards__inner--5">
                <div class="ed-cards ed-util-pt-2">
                  <a
                    aria-label="APRIL 20: Link to April 20th door crashers deals."
                    class="ed-link--card"
                    href="$url('Search-Show','cgid','TOPNAV-BAYDAYS-DOORCRASHERS')$?sre=412_041824_LANDING-PAGE-SEO-BAY-DAYS-ON-NOW_DOORCRASHERS_3_CP_APRIL-20_IMAGE"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <picture>
                      <source
                        media="(min-width: 48.0625em)"
                        srcset="
                          https://image.s5a.com/is/image/TheBay/412_041824_LANDING-PAGE-SEO-BAY-DAYS-ON-NOW_DOORCRASHER_APRIL-20_EN?scl=1&qlt=100&fmt=webp
                        "
                      />
                      <img
                        class="ed-card__image"
                        src="https://image.s5a.com/is/image/TheBay/412_041824_LANDING-PAGE-SEO-BAY-DAYS-ON-NOW_DOORCRASHER_APRIL-20_MOBILE_EN?scl=1&qlt=80&fmt=webp"
                        alt=""
                        loading="lazy"
                      />
                    </picture>
                    <div class="ed-cards__overlay">
                      <p class="ed-type--link ed-util--t-white">APRIL 20</p>
                    </div>
                  </a>
                </div>
              </div>

              <div class="ed-cards__inner--5">
                <div class="ed-cards ed-util-pt-2">
                  <a
                    aria-label="APRIL 21: Link to April 21st door crashers deals."
                    class="ed-link--card"
                    href="$url('Search-Show','cgid','TOPNAV-BAYDAYS-DOORCRASHERS')$?sre=412_041824_LANDING-PAGE-SEO-BAY-DAYS-ON-NOW_DOORCRASHERS_4_CP_APRIL-21_IMAGE"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <picture>
                      <source
                        media="(min-width: 48.0625em)"
                        srcset="
                          https://image.s5a.com/is/image/TheBay/412_041824_LANDING-PAGE-SEO-BAY-DAYS-ON-NOW_DOORCRASHER_APRIL-21_EN?scl=1&qlt=100&fmt=webp
                        "
                      />
                      <img
                        class="ed-card__image"
                        src="https://image.s5a.com/is/image/TheBay/412_041824_LANDING-PAGE-SEO-BAY-DAYS-ON-NOW_DOORCRASHER_APRIL-21_MOBILE_EN?scl=1&qlt=80&fmt=webp"
                        alt=""
                        loading="lazy"
                      />
                    </picture>
                    <div class="ed-cards__overlay">
                      <p class="ed-type--link ed-util--t-white">APRIL 21</p>
                    </div>
                  </a>
                </div>
              </div>

              <div class="ed-cards__inner--5">
                <div class="ed-cards ed-util-pt-2">
                  <a
                    aria-label="APRIL 22: Link to April 22nd door crashers deals."
                    class="ed-link--card"
                    href="$url('Search-Show','cgid','TOPNAV-BAYDAYS-DOORCRASHERS')$?sre=412_041824_LANDING-PAGE-SEO-BAY-DAYS-ON-NOW_DOORCRASHERS_5_CP_APRIL-22_IMAGE"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <picture>
                      <source
                        media="(min-width: 48.0625em)"
                        srcset="
                          https://image.s5a.com/is/image/TheBay/412_041824_LANDING-PAGE-SEO-BAY-DAYS-ON-NOW_DOORCRASHER_APRIL-22_EN?scl=1&qlt=100&fmt=webp
                        "
                      />
                      <img
                        class="ed-card__image"
                        src="https://image.s5a.com/is/image/TheBay/412_041824_LANDING-PAGE-SEO-BAY-DAYS-ON-NOW_DOORCRASHER_APRIL-22_MOBILE_EN?scl=1&qlt=80&fmt=webp"
                        alt=""
                        loading="lazy"
                      />
                    </picture>
                    <div class="ed-cards__overlay">
                      <p class="ed-type--link ed-util--t-white">APRIL 22</p>
                    </div>
                  </a>
                </div>
              </div>
            </section>
            <!-- END OF DOOR CRASHERS VISUAL NAVS. -->

            <!-- START OF PRODUCT CARDS SECTION. -->
            <header class="ed-container__header ed-util--bg-bay-days-sand">
              <h3
                class="ed-type--h3 ed-util--t-bay-days-red ed-util-text-center ed-util-pt-5 ed-util--uppercase"
              >
                Shop the Best of Bay Days
              </h3>
            </header>
            <section
              class="ed-cards__outer"
              role="region"
              aria-label="Fourth Carousel"
            >
              <div class="ed-cards__inner--4">
                <div class="ed-cards ed-util-pt-3">
                  <a
                    aria-label="WOMEN'S CLOTHING: Link to women's clothing."
                    class="ed-link--card"
                    href="$url('Search-Show','cgid','2534374302033055')$?sre=411_041124_LANDING-PAGE_SEO-BAY-DAYS-PRE-AWARENESS__1_CP_WOMENS-CLOTHING_"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <picture>
                      <source
                        media="(min-width: 48.0625em)"
                        srcset="
                          https://image.s5a.com/is/image/TheBay/VN_WOMENS-CLOTHING_DESKTOP?scl=1&qlt=100&fmt=webp
                        "
                      />
                      <img
                        class="ed-card__image"
                        src="https://image.s5a.com/is/image/TheBay/VN_WOMENS-CLOTHING_MOBILE?scl=1&qlt=80&fmt=webp"
                        alt="A close-up of a woman wearing a cream-colored, knitted, short-sleeved top with a ribbed pattern. It is paired with dark blue jeans."
                        loading="lazy"
                      />
                    </picture>
                    <div class="ed-cards__overlay">
                      <p class="ed-type--link ed-util--t-white">
                        WOMEN&apos;S CLOTHING
                      </p>
                    </div>
                  </a>
                  <a
                    aria-label="WOMEN'S CLOTHING: Link to women's clothing."
                    class="ed-cards__link ed-type--link ed-util--t-bay-days-red ed-util-pt-2 ed-util--flexible"
                    href="$url('Search-Show','cgid','2534374302033055')$?sre=411_041124_LANDING-PAGE_SEO-BAY-DAYS-PRE-AWARENESS__1_CP_WOMENS-CLOTHING_"
                    target="_blank"
                    rel="noopener noreferrer"
                    >WOMEN&apos;S CLOTHING</a
                  >
                </div>
              </div>

              <div class="ed-cards__inner--4">
                <div class="ed-cards ed-util-pt-3">
                  <a
                    aria-label="WOMEN'S SHOES: Link to women's shoes."
                    class="ed-link--card"
                    href="$url('Search-Show','cgid','2534374302033212')$?sre=411_041124_LANDING-PAGE_SEO-BAY-DAYS-PRE-AWARENESS__2_CP_WOMENS-SHOES_"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <picture>
                      <source
                        media="(min-width: 48.0625em)"
                        srcset="
                          https://image.s5a.com/is/image/TheBay/VN_WOMENS-SHOES_DESKTOP?scl=1&qlt=100&fmt=webp
                        "
                      />
                      <img
                        class="ed-card__image"
                        src="https://image.s5a.com/is/image/TheBay/VN_WOMENS-SHOES_MOBILE?scl=1&qlt=80&fmt=webp"
                        alt="Image of a single metallic flat shoe with a pointed toe and decorative bow on the front."
                        loading="lazy"
                      />
                    </picture>
                    <div class="ed-cards__overlay">
                      <p class="ed-type--link ed-util--t-white">
                        WOMEN&apos;S SHOES
                      </p>
                    </div>
                  </a>
                  <a
                    aria-label="WOMEN'S SHOES: Link to women's shoes."
                    class="ed-cards__link ed-type--link ed-util--t-bay-days-red ed-util-pt-2 ed-util--flexible"
                    href="$url('Search-Show','cgid','2534374302033212')$?sre=411_041124_LANDING-PAGE_SEO-BAY-DAYS-PRE-AWARENESS__2_CP_WOMENS-SHOES_"
                    target="_blank"
                    rel="noopener noreferrer"
                    >WOMEN&apos;S SHOES</a
                  >
                </div>
              </div>

              <div class="ed-cards__inner--4">
                <div class="ed-cards ed-util-pt-3">
                  <a
                    aria-label="MEN'S CLOTHING: Link to men's clothing."
                    class="ed-link--card"
                    href="$url('Search-Show','cgid','2534374302032878')$?sre=411_041124_LANDING-PAGE_SEO-BAY-DAYS-PRE-AWARENESS__3_CP_MENS-CLOTHING_"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <picture>
                      <source
                        media="(min-width: 48.0625em)"
                        srcset="
                          https://image.s5a.com/is/image/TheBay/VN_MENS-CLOTHING_DESKTOP?scl=1&qlt=100&fmt=webp
                        "
                      />
                      <img
                        class="ed-card__image"
                        src="https://image.s5a.com/is/image/TheBay/VN_MENS-CLOTHING_MOBILE?scl=1&qlt=80&fmt=webp"
                        alt="Close-up of a man wearing a red and white horizontally striped polo shirt with a solid red collar. The individual has their arms crossed and is wearing dark pants."
                        loading="lazy"
                      />
                    </picture>
                    <div class="ed-cards__overlay">
                      <p class="ed-type--link ed-util--t-white">
                        MEN&apos;S CLOTHING
                      </p>
                    </div>
                  </a>
                  <a
                    aria-label="MEN'S CLOTHING: Link to men's clothing."
                    class="ed-cards__link ed-type--link ed-util--t-bay-days-red ed-util-pt-2 ed-util--flexible"
                    href="$url('Search-Show','cgid','2534374302032878')$?sre=411_041124_LANDING-PAGE_SEO-BAY-DAYS-PRE-AWARENESS__3_CP_MENS-CLOTHING_"
                    target="_blank"
                    rel="noopener noreferrer"
                    >MEN&apos;S CLOTHING</a
                  >
                </div>
              </div>

              <div class="ed-cards__inner--4">
                <div class="ed-cards ed-util-pt-3">
                  <a
                    aria-label="MEN'S SHOES: Link to men's shoes."
                    class="ed-link--card"
                    href="$url('Search-Show','cgid','2534374302032970')$?sre=411_041124_LANDING-PAGE_SEO-BAY-DAYS-PRE-AWARENESS__4_CP_MENS-SHOES_"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <picture>
                      <source
                        media="(min-width: 48.0625em)"
                        srcset="
                          https://image.s5a.com/is/image/TheBay/VN_MENS-SHOES_DESKTOP?scl=1&qlt=100&fmt=webp
                        "
                      />
                      <img
                        class="ed-card__image"
                        src="https://image.s5a.com/is/image/TheBay/VN_MENS-SHOES_MOBILE?scl=1&qlt=80&fmt=webp"
                        alt="A single brown leather sneaker with a round toe, lace-up closure and a thick white sole. The back of the shoe features a black accent."
                        loading="lazy"
                      />
                    </picture>
                    <div class="ed-cards__overlay">
                      <p class="ed-type--link ed-util--t-white">
                        MEN&apos;S SHOES
                      </p>
                    </div>
                  </a>
                  <a
                    aria-label="MEN'S SHOES: Link to men's shoes."
                    class="ed-cards__link ed-type--link ed-util--t-bay-days-red ed-util-pt-2 ed-util--flexible"
                    href="$url('Search-Show','cgid','2534374302032970')$?sre=411_041124_LANDING-PAGE_SEO-BAY-DAYS-PRE-AWARENESS__4_CP_MENS-SHOES_"
                    target="_blank"
                    rel="noopener noreferrer"
                    >MEN&apos;S SHOES</a
                  >
                </div>
              </div>

              <div class="ed-cards__inner--4">
                <div class="ed-cards ed-util-pt-3">
                  <a
                    aria-label="JEWELLERY: Link to jewellery."
                    class="ed-link--card"
                    href="$url('Search-Show','cgid','2534374302033026')$?sre=411_041124_LANDING-PAGE_SEO-BAY-DAYS-PRE-AWARENESS__7_CP_JEWELLERY_"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <picture>
                      <source
                        media="(min-width: 48.0625em)"
                        srcset="
                          https://image.s5a.com/is/image/TheBay/VN_JEWELLERY_DESKTOP?scl=1&qlt=100&fmt=webp
                        "
                      />
                      <img
                        class="ed-card__image"
                        src="https://image.s5a.com/is/image/TheBay/VN_JEWELLERY_MOBILE?scl=1&qlt=80&fmt=webp"
                        alt="An elegant set of multicoloured beaded jewelry on a white background. The set includes a necklace, a bracelet, and a pair of drop earrings."
                        loading="lazy"
                      />
                    </picture>
                    <div class="ed-cards__overlay">
                      <p class="ed-type--link ed-util--t-white">JEWELLERY</p>
                    </div>
                  </a>
                  <a
                    aria-label="JEWELLERY: Link to jewellery."
                    class="ed-cards__link ed-type--link ed-util--t-bay-days-red ed-util-pt-2 ed-util--flexible"
                    href="$url('Search-Show','cgid','2534374302033026')$?sre=411_041124_LANDING-PAGE_SEO-BAY-DAYS-PRE-AWARENESS__7_CP_JEWELLERY_"
                    target="_blank"
                    rel="noopener noreferrer"
                    >JEWELLERY</a
                  >
                </div>
              </div>

              <div class="ed-cards__inner--4">
                <div class="ed-cards ed-util-pt-3">
                  <a
                    aria-label="HOME: Link to home."
                    class="ed-link--card"
                    href="$url('Search-Show','cgid','2534374302032280')$?sre=411_041124_LANDING-PAGE_SEO-BAY-DAYS-PRE-AWARENESS__6_CP_HOME_"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <picture>
                      <source
                        media="(min-width: 48.0625em)"
                        srcset="
                          https://image.s5a.com/is/image/TheBay/VN_HOME_DESKTOP?scl=1&qlt=100&fmt=webp
                        "
                      />
                      <img
                        class="ed-card__image"
                        src="https://image.s5a.com/is/image/TheBay/VN_HOME_MOBILE?scl=1&qlt=80&fmt=webp"
                        alt="A black SMEG electric kettle with a sleek, retro design featuring a silver handle and base. The brand SMEG is visible on the front in silver lettering."
                        loading="lazy"
                      />
                    </picture>
                    <div class="ed-cards__overlay">
                      <p class="ed-type--link ed-util--t-white">HOME</p>
                    </div>
                  </a>
                  <a
                    aria-label="HOME: Link to home."
                    class="ed-cards__link ed-type--link ed-util--t-bay-days-red ed-util-pt-2 ed-util--flexible"
                    href="$url('Search-Show','cgid','2534374302032280')$?sre=411_041124_LANDING-PAGE_SEO-BAY-DAYS-PRE-AWARENESS__6_CP_HOME_"
                    target="_blank"
                    rel="noopener noreferrer"
                    >HOME</a
                  >
                </div>
              </div>

              <div class="ed-cards__inner--4">
                <div class="ed-cards ed-util-pt-3">
                  <a
                    aria-label="BEAUTY: Link to beauty."
                    class="ed-link--card"
                    href="$url('Search-Show','cgid','2534374302032061')$?sre=411_041124_LANDING-PAGE_SEO-BAY-DAYS-PRE-AWARENESS__5_CP_BEAUTY_"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <picture>
                      <source
                        media="(min-width: 48.0625em)"
                        srcset="
                          https://image.s5a.com/is/image/TheBay/VN_BEAUTY_DESKTOP?scl=1&qlt=100&fmt=webp
                        "
                      />
                      <img
                        class="ed-card__image"
                        src="https://image.s5a.com/is/image/TheBay/VN_BEAUTY_MOBILE?scl=1&qlt=80&fmt=webp"
                        alt="A cylindrical, beige-coloured bottle of makeup with a black cap."
                        loading="lazy"
                      />
                    </picture>
                    <div class="ed-cards__overlay">
                      <p class="ed-type--link ed-util--t-white">BEAUTY</p>
                    </div>
                  </a>
                  <a
                    aria-label="BEAUTY: Link to beauty."
                    class="ed-cards__link ed-type--link ed-util--t-bay-days-red ed-util-pt-2 ed-util--flexible"
                    href="$url('Search-Show','cgid','2534374302032061')$?sre=411_041124_LANDING-PAGE_SEO-BAY-DAYS-PRE-AWARENESS__5_CP_BEAUTY_"
                    target="_blank"
                    rel="noopener noreferrer"
                    >BEAUTY</a
                  >
                </div>
              </div>

              <div class="ed-cards__inner--4">
                <div class="ed-cards ed-util-pt-3">
                  <a
                    aria-label="HANDBAGS: Link to handbags."
                    class="ed-link--card"
                    href="$url('Search-Show','cgid','2534374302033005')$?sre=411_041124_LANDING-PAGE_SEO-BAY-DAYS-PRE-AWARENESS__8_CP_LUGGAGE_"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <picture>
                      <source
                        media="(min-width: 48.0625em)"
                        srcset="
                          https://image.s5a.com/is/image/TheBay/VN_HANDBAGS_DESKTOP?scl=1&qlt=100&fmt=webp
                        "
                      />
                      <img
                        class="ed-card__image"
                        src="https://image.s5a.com/is/image/TheBay/VN_HANDBAGS_MOBILE?scl=1&qlt=80&fmt=webp"
                        alt="A dark, olive green designer tote bag with a geometric pattern and black handles."
                        loading="lazy"
                      />
                    </picture>
                    <div class="ed-cards__overlay">
                      <p class="ed-type--link ed-util--t-white">HANDBAGS</p>
                    </div>
                  </a>
                  <a
                    aria-label="HANDBAGS: Link to handbags."
                    class="ed-cards__link ed-type--link ed-util--t-bay-days-red ed-util-pt-2 ed-util--flexible"
                    href="$url('Search-Show','cgid','2534374302033005')$?sre=411_041124_LANDING-PAGE_SEO-BAY-DAYS-PRE-AWARENESS__8_CP_LUGGAGE_"
                    target="_blank"
                    rel="noopener noreferrer"
                    >HANDBAGS</a
                  >
                </div>
              </div>
            </section>
            <!-- END OF PRODUCT CARDS SECTION. -->

            <!-- START OF HUDSON'S BAY REWARDS CTAS. -->
            <div class="ed-wrapper__widgets">
              <section class="ed-container__widgets--2">
                <div class="ed-widgets ed-util-pt-3">
                  <a
                    aria-label="JOIN FOR FREE: Link to join Hudson's Bay Rewards."
                    class="ed-link--card"
                    href="$url('Search-Show','cgid','rewards')$?sre=412_041824_LANDING-PAGE-SEO-BAY-DAYS-ON-NOW_PROMO-BANNER_1_PR_REWARDS_Join-for-free"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <picture>
                      <source
                        media="(min-width: 48.0625em)"
                        srcset="
                          https://image.s5a.com/is/image/TheBay/412_041824_LANDING-PAGE-SEO-BAY-DAYS-ON-NOW_REWARDS_DESKTOP_EN?scl=1&qlt=100&fmt=webp
                        "
                      />
                      <img
                        class="ed-card__image"
                        src="https://image.s5a.com/is/image/TheBay/412_041824_LANDING-PAGE-SEO-BAY-DAYS-ON-NOW_REWARDS_MOBILE_EN?scl=1&qlt=80&fmt=webp"
                        alt=""
                        loading="lazy"
                      />
                    </picture>
                    <div class="ed-cards__overlay">
                      <p class="ed-type--link ed-util--t-white">
                        JOIN FOR FREE
                      </p>
                    </div>
                  </a>
                </div>
                <div class="ed-widgets ed-util-pt-3">
                  <a
                    aria-label="APPLY NOW: Link to apply for a Hudson's Bay Mastercard by Neo."
                    class="ed-link--card"
                    href="https://hudsonsbay.neofinancial.com/?utm_source=hbc&utm_medium=partner&utm_campaign=hbc_promo&utm_content=banner&utm_term=bayday-banner?sre=412_041824_LANDING-PAGE-SEO-BAY-DAYS-ON-NOW_PROMO-BANNER_2_PR_MASTERCARD_Apply-Now"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <picture>
                      <source
                        media="(min-width: 48.0625em)"
                        srcset="
                          https://image.s5a.com/is/image/TheBay/412_041824_LANDING-PAGE-SEO-BAY-DAYS-ON-NOW_CREDIT_DESKTOP_EN?scl=1&qlt=100&fmt=webp
                        "
                      />
                      <img
                        class="ed-card__image"
                        src="https://image.s5a.com/is/image/TheBay/412_041824_LANDING-PAGE-SEO-BAY-DAYS-ON-NOW_CREDIT_MOBILE_EN?scl=1&qlt=80&fmt=webp"
                        alt=""
                        loading="lazy"
                      />
                    </picture>
                    <div class="ed-cards__overlay">
                      <p class="ed-type--link ed-util--t-white">APPLY NOW</p>
                    </div>
                  </a>
                </div>
              </section>
            </div>
            <!-- END OF HUDSON'S BAY REWARDS CTAS. -->

            <!-- START OF FOOTER SECTION. -->
            <footer
              class="ed-container__footer ed-util--bg-bay-days-sand ed-util-pt-5"
            >
              <h4 class="ed-type--h4 ed-util-text-center">
                Get rewarded for all your shopping with Hudson&apos;s Bay
                Rewards.<br />Plus, earn more points and cashback with
                Hudson&apos;s Bay Mastercard<sup>&reg;</sup>
              </h4>
              <!-- WIDGET SECTION -->
              <section class="ed-container__widgets--4">
                <div class="ed-widgets ed-util-pt-3">
                  <svg viewBox="0 0 90.652 60" aria-labelledby="title2 desc2">
                    <title id="title2">Free and fast shipping icon</title>
                    <desc id="desc2">
                      Logo of a delivery van with a forward arrow inside the
                      vehicle.
                    </desc>
                    <g
                      id="Group_460"
                      data-name="Group 460"
                      transform="translate(0 0)"
                    >
                      <g
                        id="Group_459"
                        data-name="Group 459"
                        transform="translate(0 0)"
                        clip-path="url(#clip-path)"
                      >
                        <path
                          id="Path_28"
                          data-name="Path 28"
                          d="M81.725,25.852,69.145,1H1V49.553H13.414c0-.015,0-.028,0-.043a9.025,9.025,0,0,1,18.051,0c0,.015,0,.028,0,.043H57.743c0-.015,0-.028,0-.043a9.025,9.025,0,0,1,18.051,0c0,.015,0,.028,0,.043h13.4V32.874Z"
                          transform="translate(0.233 0.232)"
                          fill="none"
                          stroke="#000"
                          stroke-miterlimit="10"
                          stroke-width="2"
                        />
                        <path
                          id="Path_29"
                          data-name="Path 29"
                          d="M33.471,12.187l9.86,9.86-9.86,9.86"
                          transform="translate(7.784 2.834)"
                          fill="none"
                          stroke="#000"
                          stroke-miterlimit="10"
                          stroke-width="2"
                        />
                        <line
                          id="Line_10"
                          data-name="Line 10"
                          x1="24.651"
                          transform="translate(26.465 24.882)"
                          fill="none"
                          stroke="#000"
                          stroke-miterlimit="10"
                          stroke-width="2"
                        />
                        <path
                          id="Path_30"
                          data-name="Path 30"
                          d="M65.086,42.06a9.025,9.025,0,1,1-9.026-9.026A9.026,9.026,0,0,1,65.086,42.06Z"
                          transform="translate(10.938 7.682)"
                          fill="none"
                          stroke="#000"
                          stroke-miterlimit="10"
                          stroke-width="2"
                        />
                        <path
                          id="Path_31"
                          data-name="Path 31"
                          d="M29.121,42.06a9.025,9.025,0,1,1-9.026-9.026A9.026,9.026,0,0,1,29.121,42.06Z"
                          transform="translate(2.574 7.682)"
                          fill="none"
                          stroke="#000"
                          stroke-miterlimit="10"
                          stroke-width="2"
                        />
                      </g>
                    </g>
                  </svg>
                  <h5
                    class="ed-util-text-center ed-util--t-black ed-type--h5 ed-util-pt-2 ed-util--flexible ed-util-px-1"
                  >
                    Free & fast<br />shipping available.*
                  </h5>
                </div>

                <div class="ed-widgets ed-util-pt-3">
                  <svg viewBox="0 0 46 64" aria-labelledby="title3 desc3">
                    <title id="title3">
                      Buy online and same day pickup in store icon
                    </title>
                    <desc id="desc3">
                      Logo of a shopping bag with a forward arrow inside the
                      bag.
                    </desc>
                    <path
                      id="Path_146"
                      data-name="Path 146"
                      d="M25,34l8,8-8,8"
                      fill="none"
                      stroke="#000"
                      stroke-miterlimit="10"
                      stroke-width="2"
                    />
                    <line
                      id="Line_15"
                      data-name="Line 15"
                      x1="20"
                      transform="translate(12.998 42)"
                      fill="none"
                      stroke="#000"
                      stroke-miterlimit="10"
                      stroke-width="2"
                    />
                    <g id="Group_667" data-name="Group 667">
                      <g
                        id="Group_666"
                        data-name="Group 666"
                        clip-path="url(#clip-path)"
                      >
                        <path
                          id="Path_147"
                          data-name="Path 147"
                          d="M35,18H45V63H1V18H35Z"
                          fill="none"
                          stroke="#000"
                          stroke-miterlimit="10"
                          stroke-width="2"
                        />
                        <path
                          id="Path_148"
                          data-name="Path 148"
                          d="M13,24V11a10,10,0,0,1,20,0V24"
                          fill="none"
                          stroke="#000"
                          stroke-miterlimit="10"
                          stroke-width="2"
                        />
                      </g>
                    </g>
                  </svg>
                  <h5
                    class="ed-util-text-center ed-util--t-black ed-type--h5 ed-util-pt-2 ed-util--flexible ed-util-px-1"
                  >
                    Buy online,<br />same day pick up.**
                  </h5>
                </div>

                <div class="ed-widgets ed-util-pt-3">
                  <svg viewBox="0 0 34.499 64.5" aria-labelledby="title4 desc4">
                    <title id="title4">Flexible payment options icon</title>
                    <desc id="desc4">Logo of a dollar sign.</desc>
                    <g
                      id="Group_664"
                      data-name="Group 664"
                      transform="translate(0 0.25)"
                    >
                      <path
                        id="Path_261"
                        data-name="Path 261"
                        d="M0,0H1.738V64H0Z"
                        transform="translate(16.381)"
                        stroke="#000"
                        stroke-width="0.5"
                      />
                      <g id="Group_663" data-name="Group 663">
                        <g
                          id="Group_662"
                          data-name="Group 662"
                          clip-path="url(#clip-path)"
                        >
                          <path
                            id="Path_140"
                            data-name="Path 140"
                            d="M30.519,13.846S30.519,4,15.75,4,2.621,15.487,2.621,15.487s0,11.487,13.128,11.487c14.769,0,16.43,9.846,16.43,11.487,0,3.282,1.621,13.128-16.43,13.128C.98,51.59,1,45.026,1,43.385"
                            transform="translate(0.641 2.564)"
                            fill="none"
                            stroke="#000"
                            stroke-miterlimit="10"
                            stroke-width="2"
                          />
                        </g>
                      </g>
                    </g>
                  </svg>
                  <h5
                    class="ed-util-text-center ed-util--t-black ed-type--h5 ed-util-pt-2 ed-util--flexible ed-util-px-1"
                  >
                    Flexible payment<br />options available.
                  </h5>
                </div>

                <div class="ed-widgets ed-util-pt-3">
                  <svg
                    viewBox="0 0 64.414 56.414"
                    aria-labelledby="title5 desc5"
                  >
                    <title id="title5">Price match guarantee icon</title>
                    <desc id="desc5">Logo of two price tags.</desc>
                    <g
                      id="Group_839"
                      data-name="Group 839"
                      transform="translate(0 0)"
                    >
                      <g
                        id="Group_838"
                        data-name="Group 838"
                        clip-path="url(#clip-path)"
                      >
                        <path
                          id="Path_327"
                          data-name="Path 327"
                          d="M21.9,1,55,34.1,34.1,55,1,21.9V1Z"
                          fill="none"
                          stroke="#000"
                          stroke-miterlimit="10"
                          stroke-width="2"
                        />
                        <path
                          id="Path_328"
                          data-name="Path 328"
                          d="M29.9,1,63,34.1,42.1,55"
                          fill="none"
                          stroke="#000"
                          stroke-miterlimit="10"
                          stroke-width="2"
                        />
                        <circle
                          id="Ellipse_6"
                          data-name="Ellipse 6"
                          cx="5"
                          cy="5"
                          r="5"
                          transform="translate(9 9)"
                          fill="none"
                          stroke="#000"
                          stroke-miterlimit="10"
                          stroke-width="2"
                        />
                      </g>
                    </g>
                  </svg>
                  <h5
                    class="ed-util-text-center ed-util--t-black ed-type--h5 ed-util-pt-2 ed-util--flexible ed-util-px-1"
                  >
                    Price match<br />guarantee.
                  </h5>
                </div>
              </section>

              <div class="ed-container__links ed-util-pt-1">
                <a
                  aria-label="SIGN UP FOR EMAIL: Link to sign up for the Hudson's Bay email list."
                  class="ed-link--full-dark ed-type--link ed-util--bg-black ed-util--t-white"
                  href="$url('EmailSubscribe-EmailSignUp')$?sre=411_041124_LANDING-PAGE_SEO-BAY-DAYS-PRE-AWARENESS_PROMO-BANNER_3_PR_SME_"
                  target="_blank"
                  rel="noopener noreferrer"
                  >SIGN UP FOR EMAIL</a
                >
              </div>
              <div class="ed-container__legal ed-util-pt-4 ed-util-pb-5">
                <p class="ed-type--p ed-util-text-center">
                  <sup>&ast;</sup>Free standard shipping requires a minimum
                  purchase amount. Same&dash;day or express delivery options
                  incur extra charge.
                </p>
                <p class="ed-type--p ed-util-text-center">
                  <sup>&ast;&ast;</sup>Available on orders placed 3&plus; hours
                  before closing at select store locations. Exclusions may
                  apply. Visit our site to see full terms and conditions.
                </p>
              </div>
            </footer>
            <!-- END OF FOOTER SECTION. -->
          </main>
        </body>
      </div>
    </div>
  </div>
</html>
