<!-- START OF CARDS SECTION -->
<!-- WRAPPER -->
<div class="hbc__wrapper">
  <!-- HEADING -->
  <section class="sec01">
    <h2>How to choose a suit.</h2>
  </section>
  <!-- CARDS -->
  <div class="hbc-card__outer">
    <div class="hbc-card__inner">
      <div class="hbc-card">
        <picture>
          <source
            srcset="
              https://image.s5a.com/is/image/TheBay/315_050523_EDITORIAL_LANDING-PAGE_MENS_SUIT_FIT_GUIDE-5-UP-1-MOBILE?scl=1&qlt=75&fmt=webp
            "
            media="(max-width: 768px)"
          />
          <source
            srcset="
              https://image.s5a.com/is/image/TheBay/315_050523_EDITORIAL_LANDING-PAGE_MENS_SUIT_FIT_GUIDE-5-UP-1-DESKTOP?scl=1&qlt=100&fmt=webp
            "
            media="(max-width: 992px)"
          />
          <img
            loading="lazy"
            src="https://image.s5a.com/is/image/TheBay/315_050523_EDITORIAL_LANDING-PAGE_MENS_SUIT_FIT_GUIDE-5-UP-1-DESKTOP?scl=1&qlt=100&fmt=webp"
            alt="A person wearing a grey suit, close up on the shoulders."
          />
        </picture>
        <h4>Shoulders.</h4>
        <p class="flexible">
          A proper and naturally snug shoulder fit ensures the jacket is right.
        </p>
      </div>
    </div>
    <div class="hbc-card__inner">
      <div class="hbc-card">
        <picture>
          <source
            srcset="
              https://image.s5a.com/is/image/TheBay/315_050523_EDITORIAL_LANDING-PAGE_MENS_SUIT_FIT_GUIDE-5-UP-2-MOBILE?scl=1&qlt=75&fmt=webp
            "
            media="(max-width: 768px)"
          />
          <source
            srcset="
              https://image.s5a.com/is/image/TheBay/315_050523_EDITORIAL_LANDING-PAGE_MENS_SUIT_FIT_GUIDE-5-UP-2-DESKTOP?scl=1&qlt=100&fmt=webp
            "
            media="(max-width: 992px)"
          />
          <img
            loading="lazy"
            src="https://image.s5a.com/is/image/TheBay/315_050523_EDITORIAL_LANDING-PAGE_MENS_SUIT_FIT_GUIDE-5-UP-2-DESKTOP?scl=1&qlt=100&fmt=webp"
            alt="A person wearing a grey suit, close up on the chest area."
          />
        </picture>
        <h4>Chest.</h4>
        <p class="flexible">
          A jacket should button up easily with some room left inside for
          comfort and ease.
        </p>
      </div>
    </div>
    <div class="hbc-card__inner">
      <div class="hbc-card">
        <picture>
          <source
            srcset="
              https://image.s5a.com/is/image/TheBay/315_050523_EDITORIAL_LANDING-PAGE_MENS_SUIT_FIT_GUIDE-5-UP-3-MOBILE?scl=1&qlt=75&fmt=webp
            "
            media="(max-width: 768px)"
          />
          <source
            srcset="
              https://image.s5a.com/is/image/TheBay/315_050523_EDITORIAL_LANDING-PAGE_MENS_SUIT_FIT_GUIDE-5-UP-3-DESKTOP?scl=1&qlt=100&fmt=webp
            "
            media="(max-width: 992px)"
          />
          <img
            loading="lazy"
            src="https://image.s5a.com/is/image/TheBay/315_050523_EDITORIAL_LANDING-PAGE_MENS_SUIT_FIT_GUIDE-5-UP-3-DESKTOP?scl=1&qlt=100&fmt=webp"
            alt="A person wearing a grey suit, close up on the arm and length of the suit jacket."
          />
        </picture>
        <h4>Length.</h4>
        <p class="flexible">
          The hem should sit only an inch or two below your cuff.
        </p>
      </div>
    </div>
    <div class="hbc-card__inner">
      <div class="hbc-card">
        <picture>
          <source
            srcset="
              https://image.s5a.com/is/image/TheBay/315_050523_EDITORIAL_LANDING-PAGE_MENS_SUIT_FIT_GUIDE-5-UP-4-MOBILE?scl=1&qlt=75&fmt=webp
            "
            media="(max-width: 768px)"
          />
          <source
            srcset="
              https://image.s5a.com/is/image/TheBay/315_050523_EDITORIAL_LANDING-PAGE_MENS_SUIT_FIT_GUIDE-5-UP-4-DESKTOP?scl=1&qlt=100&fmt=webp
            "
            media="(max-width: 992px)"
          />
          <img
            loading="lazy"
            src="https://image.s5a.com/is/image/TheBay/315_050523_EDITORIAL_LANDING-PAGE_MENS_SUIT_FIT_GUIDE-5-UP-4-DESKTOP?scl=1&qlt=100&fmt=webp"
            alt="A person wearing a grey suit, close up, side view of the sleeves."
          />
        </picture>
        <h4>Sleeves.</h4>
        <p class="flexible">
          A cuff should line up to where the base of your thumb meets your
          wrist.
        </p>
      </div>
    </div>
    <div class="hbc-card__inner">
      <div class="hbc-card">
        <picture>
          <source
            srcset="
              https://image.s5a.com/is/image/TheBay/315_050523_EDITORIAL_LANDING-PAGE_MENS_SUIT_FIT_GUIDE-5-UP-5-MOBILE?scl=1&qlt=75&fmt=webp
            "
            media="(max-width: 768px)"
          />
          <source
            srcset="
              https://image.s5a.com/is/image/TheBay/315_050523_EDITORIAL_LANDING-PAGE_MENS_SUIT_FIT_GUIDE-5-UP-5-DESKTOP?scl=1&qlt=100&fmt=webp
            "
            media="(max-width: 992px)"
          />
          <img
            loading="lazy"
            src="https://image.s5a.com/is/image/TheBay/315_050523_EDITORIAL_LANDING-PAGE_MENS_SUIT_FIT_GUIDE-5-UP-5-DESKTOP?scl=1&qlt=100&fmt=webp"
            alt="A person wearing a grey suit, close up sideview of the trouser length."
          />
        </picture>
        <h4>Trousers.</h4>
        <p class="flexible">
          Tight or loose, the pant rise is your personal preference for style
          and comfort.
        </p>
      </div>
    </div>
  </div>
  <!-- SHOP ALL CTA -->
  <div class="buttons__wrapper">
    <a href="#" class="btn--default">Shop All Suits & Separates&nbsp;&rarr;</a>
  </div>
</div>
<!-- END OF CARDS SECTION -->
