<!doctype html>
<html lang="en-CA">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link
      rel="preconnect stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1723170782328/css/global.css"
    />
    <link
      rel="preconnect stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1723170782328/css/typography.css"
    />
    <link
      rel="preconnect stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1723170782328/css/zellers-svg-font.css"
    />
    <!-- For Styling -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <title>HBC History | The Bay Canada</title>
  </head>
  <div class="cat-landing">
    <div class="secondary-content">
      <div class="home-slots">
        <body style="margin: 0">
          <div class="ed-wrapper--main">
            <!-- START OF SIDEBAR NAVIGATION -->
            <nav role="navigation" class="ed-nav__sidebar">
              <ul>
                <li>
                  <a
                    class="ed-nav__sidebar-link"
                    tabindex="0"
                    role="button"
                    href="#article-1670"
                    data-target="#article-1670"
                    >1670</a
                  >
                </li>
                <li>
                  <a
                    class="ed-nav__sidebar-link"
                    tabindex="0"
                    role="button"
                    href="#article-1774"
                    data-target="#article-1774"
                    >1774</a
                  >
                </li>
                <li>
                  <a
                    class="ed-nav__sidebar-link"
                    tabindex="0"
                    role="button"
                    href="#article-1779"
                    data-target="#article-1779"
                    >1779</a
                  >
                </li>
                <li>
                  <a
                    class="ed-nav__sidebar-link"
                    tabindex="0"
                    role="button"
                    href="#article-1821"
                    data-target="#article-1821"
                    >1821</a
                  >
                </li>
                <li>
                  <a
                    class="ed-nav__sidebar-link"
                    tabindex="0"
                    role="button"
                    href="#article-1869"
                    data-target="#article-1869"
                    >1869</a
                  >
                </li>
                <li>
                  <a
                    class="ed-nav__sidebar-link"
                    tabindex="0"
                    role="button"
                    href="#article-1881"
                    data-target="#article-1881"
                    >1881</a
                  >
                </li>
                <li>
                  <a
                    class="ed-nav__sidebar-link"
                    tabindex="0"
                    role="button"
                    href="#article-1907"
                    data-target="#article-1907"
                    >1907</a
                  >
                </li>
                <li>
                  <a
                    class="ed-nav__sidebar-link"
                    tabindex="0"
                    role="button"
                    href="#article-1910"
                    data-target="#article-1910"
                    >1910</a
                  >
                </li>
                <li>
                  <a
                    class="ed-nav__sidebar-link"
                    tabindex="0"
                    role="button"
                    href="#article-1912"
                    data-target="#article-1912"
                    >1912</a
                  >
                </li>
                <li>
                  <a
                    class="ed-nav__sidebar-link"
                    tabindex="0"
                    role="button"
                    href="#article-1920"
                    data-target="#article-1920"
                    >1920</a
                  >
                </li>
                <li>
                  <a
                    class="ed-nav__sidebar-link"
                    tabindex="0"
                    role="button"
                    href="#article-1960"
                    data-target="#article-1960"
                    >1960</a
                  >
                </li>
                <li>
                  <a
                    class="ed-nav__sidebar-link"
                    tabindex="0"
                    role="button"
                    href="#article-1965"
                    data-target="#article-1965"
                    >1965</a
                  >
                </li>
                <li>
                  <a
                    class="ed-nav__sidebar-link"
                    tabindex="0"
                    role="button"
                    href="#article-1970"
                    data-target="#article-1970"
                    >1970</a
                  >
                </li>
                <li>
                  <a
                    class="ed-nav__sidebar-link"
                    tabindex="0"
                    role="button"
                    href="#article-1978"
                    data-target="#article-1978"
                    >1978</a
                  >
                </li>
                <li>
                  <a
                    class="ed-nav__sidebar-link"
                    tabindex="0"
                    role="button"
                    href="#article-1987"
                    data-target="#article-1987"
                    >1987</a
                  >
                </li>
                <li>
                  <a
                    class="ed-nav__sidebar-link"
                    tabindex="0"
                    role="button"
                    href="#article-1994"
                    data-target="#article-1994"
                    >1994</a
                  >
                </li>
                <li>
                  <a
                    class="ed-nav__sidebar-link"
                    tabindex="0"
                    role="button"
                    href="#article-2000"
                    data-target="#article-2000"
                    >2000</a
                  >
                </li>
                <li>
                  <a
                    class="ed-nav__sidebar-link"
                    tabindex="0"
                    role="button"
                    href="#article-2005"
                    data-target="#article-2005"
                    >2005</a
                  >
                </li>
                <li>
                  <a
                    class="ed-nav__sidebar-link"
                    tabindex="0"
                    role="button"
                    href="#article-2008"
                    data-target="#article-2008"
                    >2008</a
                  >
                </li>
                <li>
                  <a
                    class="ed-nav__sidebar-link"
                    tabindex="0"
                    role="button"
                    href="#article-2022"
                    data-target="#article-2022"
                    >2022</a
                  >
                </li>
              </ul>
            </nav>

            <!-- PAGE HEADER -->
            <header class="ed-header">
              <svg
                class="ed-icon"
                id="a"
                xmlns="http://www.w3.org/2000/svg"
                role="img"
                height="78.53"
                aria-labelledby="title1 desc1"
              >
                <title id="title1">Hudson's Bay Stripes</title>
                <desc id="desc1">
                  Four full width stripes in the Hudson's Bay colours of red,
                  blue, green and yellow.
                </desc>
                <rect
                  id="b"
                  y="64.65"
                  width="100%"
                  height="13.88"
                  fill="#00274c"
                />
                <rect
                  id="c"
                  y="43.1"
                  width="100%"
                  height="13.88"
                  fill="#eeb211"
                />
                <rect
                  id="d"
                  y="21.55"
                  width="100%"
                  height="13.88"
                  fill="#b30838"
                />
                <rect id="e" width="100%" height="13.88" fill="#00704a" />
              </svg>
              <h1 class="ed-display--medium">HBC History</h1>
            </header>

            <hr class="ed-line--light" />

            <!-- START OF ARTICLES -->
            <div class="ed-wrapper--article">
              <article
                id="article-1670"
                class="ed-article ed-article--tall ed-article--wide"
              >
                <h2 class="ed-headline--medium">1670</h2>
                <p class="ed-body--large">
                  The Royal Charter, granted by King Charles II on May 1670,
                  served as HBC's original articles of incorporation and gave
                  the Governor and Company of Adventurers of England trading
                  into Hudson Bay exclusive trading rights over the entire
                  Hudson Bay drainage basin - naming and claiming this territory
                  Rupert's Land in honour of Prince Rupert, the king's cousin
                  and first HBC Governor.
                  <br /><br />
                  For its first 100 years, HBC conducted its business along the
                  shores of Hudson Bay and adapted to the conditions and systems
                  established by Indigenous Peoples. Survival and success in the
                  fur trade depended on the knowledge and labour of Indigenous
                  men and women.
                  <br /><br />
                </p>
                <img
                  class="ed-article__image"
                  src="https://image.s5a.com/is/image/TheBay/508_200325_1670?scl=1&qlt=75&fmt=webp"
                  alt=""
                />
              </article>

              <article id="article-1774" class="ed-article ed-article--short">
                <h2 class="ed-headline--medium">1774</h2>
                <p class="ed-body--large">
                  HBC builds Cumberland House, its first inland post.
                  <br /><br />
                  Competition forced HBC to expand into the interior and build
                  posts along the great river networks of the northwest,
                  transforming the political, economic, and intimate lives of
                  Indigenous Peoples.
                  <br /><br />
                </p>
                <img
                  class="ed-article__image"
                  src="https://image.s5a.com/is/image/TheBay/508_200325_1774?scl=1&qlt=75&fmt=webp"
                  alt=""
                />
              </article>

              <!-- TODO: Update article ID and class, h2, p, link title and data-target, and image. -->
              <article id="article-1659" class="ed-article ed-article--short">
                <h2 class="ed-headline--medium">1659</h2>
                <p class="ed-body--large">
                  Radisson and des Groseilliers, voyageurs from New France, make
                  a fur-trading journey to the land north of Lake Superior.
                </p>
                <a
                  class="ed-link--large"
                  href="#"
                  title="Learn More 1659"
                  data-target="#modal-2"
                  >Learn More</a
                >
                <img
                  class="ed-article__image"
                  src="https://image.s5a.com/is/image/TheBay/508_200325_MAP_CANADA-NEW-FRANCE?scl=1&qlt=75&fmt=webp"
                  alt=""
                />
              </article>

              <!-- TODO: Update article ID and class, h2, p, link title and data-target, and image. -->
              <article id="article-1660" class="ed-article ed-article--short">
                <h2 class="ed-headline--medium">1660</h2>
                <p class="ed-body--large">
                  Radisson and des Groseilliers return to Montreal with a rich
                  load of furs.
                </p>
                <a
                  class="ed-link--large"
                  href="#"
                  title="Learn More 1660"
                  data-target="#modal-3"
                  >Learn More</a
                >
                <img
                  class="ed-article__image"
                  src="https://image.s5a.com/is/image/TheBay/508_200325_FREDERIC-REMINGTON-RADISSON_GROSEILLIERS?scl=1&qlt=75&fmt=webp"
                  alt=""
                />
              </article>

              <!-- TODO: Update article ID and class, h2, p, link title and data-target, and image. -->
              <article id="article-1665" class="ed-article ed-article--short">
                <h2 class="ed-headline--medium">1665</h2>
                <p class="ed-body--large">
                  Radisson and des Groseilliers travel to England to look for
                  investors to back their business venture.
                </p>
                <a
                  class="ed-link--large"
                  href="#"
                  title="Learn More 1665"
                  data-target="#modal-4"
                  >Learn More</a
                >
                <img
                  class="ed-article__image"
                  src="https://image.s5a.com/is/image/TheBay/508_200325_PRINCE-RUPERT?scl=1&qlt=75&fmt=webp"
                  alt=""
                />
              </article>

              <!-- TODO: Update article ID and class, h2, p, link title and data-target, and image. -->
              <article
                id="article-1668"
                class="ed-article ed-article--tall ed-article--wide"
              >
                <h2 class="ed-headline--medium">1668</h2>
                <p class="ed-body--large">
                  Des Groseilliers aboard the 12-metre ship Nonsuch travels to
                  James Bay.
                </p>
                <a
                  class="ed-link--large"
                  href="#"
                  title="Learn More 1668"
                  data-target="#modal-5"
                  >Learn More</a
                >
                <img
                  class="ed-article__image"
                  src="https://image.s5a.com/is/image/TheBay/508_200325_WILKINSON-NOSUCH?scl=1&qlt=75&fmt=webp"
                  alt=""
                />
              </article>

              <!-- TODO: Update article ID and class, h2, p, link title and data-target, and image. -->
              <article
                id="article-1670"
                class="ed-article ed-article--tall ed-article--wide"
              >
                <h2 class="ed-headline--medium">1670</h2>
                <p class="ed-body--large">
                  The Hudson's Bay Company, the world's oldest continuously
                  operating trading company, is born with the signing of the
                  Royal Charter on May 2nd.
                </p>
                <a
                  class="ed-link--large"
                  href="#"
                  title="Learn More 1670"
                  data-target="#modal-6"
                  >Learn More</a
                >
                <img
                  class="ed-article__image"
                  src="https://image.s5a.com/is/image/TheBay/508_200325_CHARTER-SIGNING?scl=1&qlt=75&fmt=webp"
                  alt=""
                />
              </article>

              <!-- TODO: Update article ID and class, h2, p, link title and data-target, and image. -->
              <article
                id="article-1670"
                class="ed-article ed-article--tall ed-article--wide"
              >
                <h2 class="ed-headline--medium">1670</h2>
                <p class="ed-body--large">
                  The Hudson's Bay Company, the world's oldest continuously
                  operating trading company, is born with the signing of the
                  Royal Charter on May 2nd.
                </p>
                <a
                  class="ed-link--large"
                  href="#"
                  title="Learn More 1670"
                  data-target="#modal-6"
                  >Learn More</a
                >
                <img
                  class="ed-article__image"
                  src="https://image.s5a.com/is/image/TheBay/508_200325_CHARTER-SIGNING?scl=1&qlt=75&fmt=webp"
                  alt=""
                />
              </article>

              <!-- TODO: Update article ID and class, h2, p, link title and data-target, and image. -->
              <article
                id="article-1670"
                class="ed-article ed-article--tall ed-article--wide"
              >
                <h2 class="ed-headline--medium">1670</h2>
                <p class="ed-body--large">
                  The Hudson's Bay Company, the world's oldest continuously
                  operating trading company, is born with the signing of the
                  Royal Charter on May 2nd.
                </p>
                <a
                  class="ed-link--large"
                  href="#"
                  title="Learn More 1670"
                  data-target="#modal-6"
                  >Learn More</a
                >
                <img
                  class="ed-article__image"
                  src="https://image.s5a.com/is/image/TheBay/508_200325_CHARTER-SIGNING?scl=1&qlt=75&fmt=webp"
                  alt=""
                />
              </article>

              <!-- TODO: Update article ID and class, h2, p, link title and data-target, and image. -->
              <article
                id="article-1670"
                class="ed-article ed-article--tall ed-article--wide"
              >
                <h2 class="ed-headline--medium">1670</h2>
                <p class="ed-body--large">
                  The Hudson's Bay Company, the world's oldest continuously
                  operating trading company, is born with the signing of the
                  Royal Charter on May 2nd.
                </p>
                <a
                  class="ed-link--large"
                  href="#"
                  title="Learn More 1670"
                  data-target="#modal-6"
                  >Learn More</a
                >
                <img
                  class="ed-article__image"
                  src="https://image.s5a.com/is/image/TheBay/508_200325_CHARTER-SIGNING?scl=1&qlt=75&fmt=webp"
                  alt=""
                />
              </article>

              <!-- TODO: Update article ID and class, h2, p, link title and data-target, and image. -->
              <article
                id="article-1670"
                class="ed-article ed-article--tall ed-article--wide"
              >
                <h2 class="ed-headline--medium">1670</h2>
                <p class="ed-body--large">
                  The Hudson's Bay Company, the world's oldest continuously
                  operating trading company, is born with the signing of the
                  Royal Charter on May 2nd.
                </p>
                <a
                  class="ed-link--large"
                  href="#"
                  title="Learn More 1670"
                  data-target="#modal-6"
                  >Learn More</a
                >
                <img
                  class="ed-article__image"
                  src="https://image.s5a.com/is/image/TheBay/508_200325_CHARTER-SIGNING?scl=1&qlt=75&fmt=webp"
                  alt=""
                />
              </article>

              <!-- TODO: Update article ID and class, h2, p, link title and data-target, and image. -->
              <article
                id="article-1670"
                class="ed-article ed-article--tall ed-article--wide"
              >
                <h2 class="ed-headline--medium">1670</h2>
                <p class="ed-body--large">
                  The Hudson's Bay Company, the world's oldest continuously
                  operating trading company, is born with the signing of the
                  Royal Charter on May 2nd.
                </p>
                <a
                  class="ed-link--large"
                  href="#"
                  title="Learn More 1670"
                  data-target="#modal-6"
                  >Learn More</a
                >
                <img
                  class="ed-article__image"
                  src="https://image.s5a.com/is/image/TheBay/508_200325_CHARTER-SIGNING?scl=1&qlt=75&fmt=webp"
                  alt=""
                />
              </article>

              <!-- TODO: Update article ID and class, h2, p, link title and data-target, and image. -->
              <article
                id="article-1670"
                class="ed-article ed-article--tall ed-article--wide"
              >
                <h2 class="ed-headline--medium">1670</h2>
                <p class="ed-body--large">
                  The Hudson's Bay Company, the world's oldest continuously
                  operating trading company, is born with the signing of the
                  Royal Charter on May 2nd.
                </p>
                <a
                  class="ed-link--large"
                  href="#"
                  title="Learn More 1670"
                  data-target="#modal-6"
                  >Learn More</a
                >
                <img
                  class="ed-article__image"
                  src="https://image.s5a.com/is/image/TheBay/508_200325_CHARTER-SIGNING?scl=1&qlt=75&fmt=webp"
                  alt=""
                />
              </article>

              <!-- TODO: Update article ID and class, h2, p, link title and data-target, and image. -->
              <article
                id="article-1670"
                class="ed-article ed-article--tall ed-article--wide"
              >
                <h2 class="ed-headline--medium">1670</h2>
                <p class="ed-body--large">
                  The Hudson's Bay Company, the world's oldest continuously
                  operating trading company, is born with the signing of the
                  Royal Charter on May 2nd.
                </p>
                <a
                  class="ed-link--large"
                  href="#"
                  title="Learn More 1670"
                  data-target="#modal-6"
                  >Learn More</a
                >
                <img
                  class="ed-article__image"
                  src="https://image.s5a.com/is/image/TheBay/508_200325_CHARTER-SIGNING?scl=1&qlt=75&fmt=webp"
                  alt=""
                />
              </article>

              <!-- TODO: Update article ID and class, h2, p, link title and data-target, and image. -->
              <article
                id="article-1670"
                class="ed-article ed-article--tall ed-article--wide"
              >
                <h2 class="ed-headline--medium">1670</h2>
                <p class="ed-body--large">
                  The Hudson's Bay Company, the world's oldest continuously
                  operating trading company, is born with the signing of the
                  Royal Charter on May 2nd.
                </p>
                <a
                  class="ed-link--large"
                  href="#"
                  title="Learn More 1670"
                  data-target="#modal-6"
                  >Learn More</a
                >
                <img
                  class="ed-article__image"
                  src="https://image.s5a.com/is/image/TheBay/508_200325_CHARTER-SIGNING?scl=1&qlt=75&fmt=webp"
                  alt=""
                />
              </article>

              <!-- TODO: Update article ID and class, h2, p, link title and data-target, and image. -->
              <article
                id="article-1670"
                class="ed-article ed-article--tall ed-article--wide"
              >
                <h2 class="ed-headline--medium">1670</h2>
                <p class="ed-body--large">
                  The Hudson's Bay Company, the world's oldest continuously
                  operating trading company, is born with the signing of the
                  Royal Charter on May 2nd.
                </p>
                <a
                  class="ed-link--large"
                  href="#"
                  title="Learn More 1670"
                  data-target="#modal-6"
                  >Learn More</a
                >
                <img
                  class="ed-article__image"
                  src="https://image.s5a.com/is/image/TheBay/508_200325_CHARTER-SIGNING?scl=1&qlt=75&fmt=webp"
                  alt=""
                />
              </article>

              <!-- TODO: Update article ID and class, h2, p, link title and data-target, and image. -->
              <article
                id="article-1670"
                class="ed-article ed-article--tall ed-article--wide"
              >
                <h2 class="ed-headline--medium">1670</h2>
                <p class="ed-body--large">
                  The Hudson's Bay Company, the world's oldest continuously
                  operating trading company, is born with the signing of the
                  Royal Charter on May 2nd.
                </p>
                <a
                  class="ed-link--large"
                  href="#"
                  title="Learn More 1670"
                  data-target="#modal-6"
                  >Learn More</a
                >
                <img
                  class="ed-article__image"
                  src="https://image.s5a.com/is/image/TheBay/508_200325_CHARTER-SIGNING?scl=1&qlt=75&fmt=webp"
                  alt=""
                />
              </article>

              <!-- TODO: Update article ID and class, h2, p, link title and data-target, and image. -->
              <article
                id="article-1670"
                class="ed-article ed-article--tall ed-article--wide"
              >
                <h2 class="ed-headline--medium">1670</h2>
                <p class="ed-body--large">
                  The Hudson's Bay Company, the world's oldest continuously
                  operating trading company, is born with the signing of the
                  Royal Charter on May 2nd.
                </p>
                <a
                  class="ed-link--large"
                  href="#"
                  title="Learn More 1670"
                  data-target="#modal-6"
                  >Learn More</a
                >
                <img
                  class="ed-article__image"
                  src="https://image.s5a.com/is/image/TheBay/508_200325_CHARTER-SIGNING?scl=1&qlt=75&fmt=webp"
                  alt=""
                />
              </article>

              <!-- TODO: Update article ID and class, h2, p, link title and data-target, and image. -->
              <article
                id="article-1670"
                class="ed-article ed-article--tall ed-article--wide"
              >
                <h2 class="ed-headline--medium">1670</h2>
                <p class="ed-body--large">
                  The Hudson's Bay Company, the world's oldest continuously
                  operating trading company, is born with the signing of the
                  Royal Charter on May 2nd.
                </p>
                <a
                  class="ed-link--large"
                  href="#"
                  title="Learn More 1670"
                  data-target="#modal-6"
                  >Learn More</a
                >
                <img
                  class="ed-article__image"
                  src="https://image.s5a.com/is/image/TheBay/508_200325_CHARTER-SIGNING?scl=1&qlt=75&fmt=webp"
                  alt=""
                />
              </article>

              <!-- TODO: Update article ID and class, h2, p, link title and data-target, and image. -->
              <article
                id="article-1670"
                class="ed-article ed-article--tall ed-article--wide"
              >
                <h2 class="ed-headline--medium">1670</h2>
                <p class="ed-body--large">
                  The Hudson's Bay Company, the world's oldest continuously
                  operating trading company, is born with the signing of the
                  Royal Charter on May 2nd.
                </p>
                <a
                  class="ed-link--large"
                  href="#"
                  title="Learn More 1670"
                  data-target="#modal-6"
                  >Learn More</a
                >
                <img
                  class="ed-article__image"
                  src="https://image.s5a.com/is/image/TheBay/508_200325_CHARTER-SIGNING?scl=1&qlt=75&fmt=webp"
                  alt=""
                />
              </article>
            </div>
          </div>
        </body>
      </div>
    </div>
  </div>
</html>
