<!doctype html>
<html lang="en-CA">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link
      rel="preconnect stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1723170782328/css/global.css"
    />
    <link
      rel="preconnect stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1723170782328/css/typography.css"
    />
    <link
      rel="preconnect stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1723170782328/css/zellers-svg-font.css"
    />
    <!-- For Styling -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <title>The Hudson's Bay Heritage | The Bay Canada</title>
  </head>
  <div class="cat-landing">
    <div class="secondary-content">
      <div class="home-slots">
        <body class="ed-util--bg-blue ed-util--t-white" style="margin: 0">
          <div class="ed-wrapper--all">
            <button class="toggle" onclick="toggleSidenav()"></button>
            <nav id="sidenav" class="ed-nav--sidebar">
              <ul>
                <li>
                  <a href="#"><span>1883</span></a>
                </li>
                <li>
                  <a href="#"><span>1923</span></a>
                </li>
                <li>
                  <a href="#"><span>1969</span></a>
                </li>
                <li>
                  <a href="#"><span>1999</span></a>
                </li>
                <li>
                  <a href="#"><span>2001</span></a>
                </li>
                <li>
                  <a href="#"><span>2024</span></a>
                </li>
              </ul>
            </nav>
            <main class="ed-wrapper--main">
              <header>
                <h1>Our Heritage</h1>
              </header>
              <article>
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Suscipit quod officia nulla provident ex totam deleniti
                  corrupti. Totam illum tempora amet reiciendis temporibus,
                  corporis minima animi doloremque repudiandae iste laboriosam.
                  Eos, nam asperiores tenetur ad, harum libero minima qui earum
                  debitis iste velit placeat veniam impedit rerum quaerat ex
                  corrupti incidunt sint fugiat? Inventore earum harum fugit
                  quam. Accusamus, vel. Facere accusamus nemo nisi perspiciatis
                  ratione aut molestiae inventore nostrum, expedita asperiores
                  praesentium reprehenderit saepe explicabo atque corrupti,
                  laborum nam soluta facilis fuga ut minima nihil veniam vel.
                  Officia, deserunt. Perferendis nisi quas ipsum debitis
                  provident magni aspernatur voluptate aut, cumque veritatis est
                  illum.
                </p>
                <p>
                  Quis omnis necessitatibus sit labore debitis voluptatum,
                  veritatis libero! Recusandae quos similique repudiandae non
                  perspiciatis ea? Quas quia quaerat blanditiis necessitatibus
                  sapiente dignissimos architecto reiciendis aut quos nostrum
                  dolores, maiores perferendis! Atque amet minus nemo maiores
                  alias nobis molestiae praesentium consequuntur.
                </p>
                <p>
                  Quos fugiat qui doloremque deserunt. Quisquam voluptate quod
                  ut excepturi exercitationem voluptas blanditiis, assumenda,
                  cupiditate labore deleniti possimus delectus totam molestiae
                  neque hic pariatur rem dolorum quae dolor culpa quidem
                  reiciendis reprehenderit. Quis, dolorem dicta. Eos nam eaque
                  ea. Ratione tempora quas fugit alias reiciendis. Facere
                  reiciendis qui veniam maxime deleniti, quae sint, ipsam magni
                  illum, quas accusantium necessitatibus doloremque laborum modi
                  officia ducimus quaerat.
                </p>
                <p>
                  Quos laudantium sunt molestiae explicabo nobis at
                  consequuntur, facilis iusto cumque ipsum officia ullam modi
                  eos qui laborum unde dignissimos, quo quia quaerat quae optio
                  odio illo obcaecati adipisci. Maxime. Atque dolores tempore
                  fuga neque! Itaque iste, odio consequuntur, aspernatur
                  perspiciatis nesciunt totam quibusdam fugit eos asperiores
                  dolorum, fuga cum libero. Inventore consequatur delectus
                  saepe, aperiam pariatur impedit odit ipsa! Eius laboriosam
                  porro eligendi veniam laudantium minus et ducimus iure eos
                  nemo. Quibusdam labore itaque impedit amet laudantium
                  exercitationem? Unde eum nesciunt quisquam dolorum. Corrupti
                  reprehenderit magni quo doloremque iusto.
                </p>
              </article>
            </main>
          </div>
          <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/gsap.min.js"></script>
        </body>
      </div>
    </div>
  </div>
</html>
