<!-- START OF MAIN WRAPPER -->
<div class="hbc__wrapper">
  <!-- START OF FOOTER SECTION -->
  <div class="hbc-theme">
    <h2 class="flex__item">Le régime familial.</h2>
    <h4 class="flex__item">
      Une manière sécuritaire et flexible d’investir dans l’avenir de vos
      enfants.
    </h4>
    <a
      href="https://hudsonsbayfinancial.com/child-plan"
      class="btn--theme-underline flex__item"
      >PRÉCISIONS</a
    >
  </div>
  <!-- END OF FOOTER SECTION -->
</div>
<!-- END OF MAIN WRAPPER -->
