<!doctype html>
<html lang="en-CA">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link
      rel="preconnect stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1723170782328/css/global.css"
    />
    <link
      rel="preconnect stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1723170782328/css/typography.css"
    />
    <link
      rel="preconnect stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1723170782328/css/zellers-svg-font.css"
    />
    <!-- For Styling -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <title>The Room Brands | The Bay Canada</title>
  </head>
  <div class="cat-landing">
    <div class="secondary-content">
      <div class="home-slots">
        <body style="margin: 0">
          <main class="ed-wrapper--main">
            <h2>Toronto Queen Street</h2>
            <ul>
              <li>Agnona</li>
              <li>Bibhu Mohaptra</li>
              <li>Brandon Maxwell</li>
              <li>Elie Saab Swiss</li>
              <li>Erdem</li>
              <li>Fabiana Filippi</li>
              <li>Gabriela Hearst</li>
              <li>Giambattista Valli</li>
              <li>Harbison Studio</li>
              <li>Huishan Zhang</li>
              <li>Jason Wu</li>
              <li>Jonathan Cohen</li>
              <li>Max Mara</li>
              <li>Moschino</li>
              <li>Naeem Khan</li>
              <li>Oscar de la Renta</li>
              <li>Roland Mouret</li>
              <li>Rosie Assoulin</li>
              <li>Sergio Hudson</li>
              <li>Triarchy</li>
              <li>Wiederhoeft</li>
              <li>Zuhair Murad</li>
            </ul>
            <div class="ed-container--store">
              <address class="ed-container--store__address ed-util-pr--2pnt5">
                <h3 class="ed-type--h3 ed-util-pb--pnt5 store-name">
                  Hudson's Bay Queen Street Toronto
                </h3>
                <p class="ed-type--p store-address">
                  176 Yonge Street<br />
                  Toronto, ON M5C 2L7
                </p>
                <div class="ed-container--zellers ed-util-py--1pnt5">
                  <svg
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    role="img"
                    aria-labelledby="title42 desc42"
                  >
                    <title id="title42">Zellers Circular Logo</title>
                    <desc id="desc42">
                      A red circle with a white Zellers letter Z in the center.
                    </desc>
                    <g clip-path="url(#clip0_634_5624)">
                      <rect width="16" height="16" rx="8" fill="#D32027" />
                      <path
                        d="M15.0057 7.6657V7.66705L1.70535 15.9566L1.63057 16L0.995117 14.0634L9.14905 4.23454L10.1821 2.98939L10.196 2.97036L10.1693 2.98424L3.09302 6.25374L2.49452 4.42139L12.4758 0L13.078 1.83481V1.83616L13.0668 1.85261L13.0119 1.92762L5.7985 11.4578L5.74375 11.5262L5.83018 11.4778L14.4446 6.10138L15.0057 7.6657Z"
                        fill="white"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_634_5624">
                        <rect width="16" height="16" rx="8" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                  <h4 class="ed-type--h4 ed-util-pl--pnt5">
                    Zellers Pop Up
                    <span class="zellers-floor ed-util--normal ed-util--sans"
                      >- Lower Level</span
                    >
                  </h4>
                </div>
                <a class="store-phone ed-type--link" href="tel:+14168619111"
                  >416-861-9111</a
                >
              </address>
              <div class="ed-container--store__hours ed-util-pr--2pnt5">
                <a
                  class="ed-type--link"
                  href="https://maps.app.goo.gl/1uyYCtL3ZHLzXd5R8"
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="Click here for store hours: link to store hours"
                  >Click here for store hours</a
                >
              </div>
              <div
                class="ed-container--store__map ed-util-pt--1pnt5 ed-util-pt--0--lg"
              >
                <iframe
                  title="Map showing the location of Hudson's Bay Queen Street Toronto"
                  alt="Map showing the location of Hudson's Bay Queen Street Toronto"
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2886.831740016682!2d-79.38271628780986!3d43.651668952408755!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4cb3338e08f99%3A0x3aa44f5e84289e87!2sHudson&#39;s%20Bay!5e0!3m2!1sen!2sca!4v1683230766980!5m2!1sen!2sca"
                  style="border: 0"
                  allowfullscreen
                  loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"
                  width="100%"
                  height="250"
                ></iframe>
                <a
                  href="https://goo.gl/maps/opnYapGrppYYhX4z9?sre=Stores_LP_Hudsons_Bay_Queen_Street_Toronto_Get_Directions"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="ed-link--regular ed-type--link ed-util--t-black ed-util--bg-grey ed-util-mt--1pnt25 ed-util-mb--2pnt5"
                  aria-label="Get Directions: link to map pin of store"
                  >Get Directions &rarr;</a
                >
              </div>
            </div>
          </main>
        </body>
      </div>
    </div>
  </div>
</html>
