<!doctype html>
<html lang="fr-CA">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Beauty Gala | The Bay Canada</title>
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1712236745383/css/global.css"
    />
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1712130735115/css/typography.css"
    />
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1712130735115/css/zellers-svg-font.css"
    />
  </head>
  <div class="cat-landing">
    <div class="secondary-content">
      <div class="home-slots">
        <body style="margin: 0">
          <main class="ed-util-pt-5 ed-wrapper--main">
            <a
              aria-label="TROUVER UN MAGASIN: Link to Hudson's Bay store locations page."
              class="ed-link--sfcc"
              href="https://stage.labaie.com/content/store-locator?sre=414_050224_LANDING-PAGE_BEAUTY-GALA_1_PS_FIND-A-STORE_IMAGE"
              target="_blank"
              rel="noopener noreferrer"
              >TROUVER UN MAGASIN</a
            >
          </main>
        </body>
      </div>
    </div>
  </div>
</html>
