// File: _navigation.scss

/* -----------------------------------------------
 * HBC NAVIGATION/MENU/TABS STYLES
----------------------------------------------- */

.ed {
  &-article {
    &-history {
      margin-bottom: 7.5vw;

      &__date {
        opacity: 1;
        position: absolute;
        transform: translateY(-50%);
        z-index: 1;
        top: 28.125%;
        left: 50%;

        &--wrapper {
          display: flex;
          flex-direction: column;
          justify-content: center;
          transition: transform 0.2s linear;

          h2 {
            text-align: center;
            font-size: 16vw;
            line-height: 20.8vw;
            letter-spacing: normal;
            text-transform: uppercase;
            color: #fff;
            font-weight: 600;
            margin: 0;
            padding: 0;

            [tabindex='-1'] {
              outline: none;
            }
          }

          a {
            align-items: center;
            color: #fff;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            font-size: 11px;
            font-weight: 600;
            justify-content: center;
            letter-spacing: 0;
            line-height: 18px;
            text-align: center;
            text-decoration: none;

            span {
              font-size: 11px;
              font-weight: 600;
              letter-spacing: normal;
              text-transform: uppercase;
              color: #fff;
            }
          }
        }
      }

      &__image {
        height: 1164.23px;
        transform: translateZ(0);
        left: 15%;
        position: relative;
        transition: transform 0.1s;
        width: 77%;

        &--blank {
          height: 1105px;
          transform: translate3d(0px, -0.0665%, 0px);
          top: 0;
          position: absolute;
          transition: transform 0.2s;
          width: 100%;
        }

        &--content {
          transform: translate3d(0px, 0%, 0px);
          overflow: hidden;
          position: absolute;
          transition: transform 0.2s;
          width: 48.675%;
          left: 21.875%;

          img {
            max-width: unset !important;
            height: unset !important;
            vertical-align: unset !important;
          }
        }
      }
    }

    &-container {
      margin: auto;
      max-width: 1600px;
      position: relative;
    }
  }

  &-nav {
    // &--tabs {
    //   display: flex;
    //   flex-direction: row;
    //   justify-content: space-between;
    //   align-items: center;
    //   text-wrap: nowrap;
    //   overflow: auto;
    //   width: fit-content;
    //   margin: auto;
    //   max-width: 100%;
    //   // width: 100%;
    //   padding-left: 1rem;
    // }

    &--sidebar {
      position: fixed;
      text-align: center;
      display: block;
      opacity: 1;
      top: calc(50% + 80px);
      transform: translateY(-50%);
      width: 20%;
      transition: opacity 0.2s;
      z-index: 2;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          padding: 0;
          height: 22px;
          margin: 0 auto 9px;
          text-align: center;
          width: 37px;
        }

        a {
          color: #fff;
          cursor: pointer;
          text-decoration: none;
        }

        span {
          font-size: 12px;
          line-height: 18px;
          letter-spacing: normal;
          text-transform: uppercase;

          &::after {
            width: 100%;
            background: #fff;
            content: '';
            display: block;
            height: 2px;
            transition: width 1s;
          }
        }
      }
    }
  }
}

header {
  text-align: center;

  h1 {
    background-color: #1d1d1d;
    color: #fff;
    padding-bottom: 30px;
    padding-top: 20px;
    position: relative;
    z-index: 1;
    font-size: 50px;
    line-height: 71px;
    letter-spacing: normal;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
    padding: 0;
  }
}

article {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}

@media (max-width: 768px) {
  header {
    padding-left: 55px;
  }
  nav {
    position: fixed;
    left: -250px;

    &.active {
      left: 0;
      #overlay {
        left: 250px;
        opacity: 1;
        visibility: visible;
      }
    }
    #overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      visibility: hidden;
      opacity: 0;
      transition:
        left 0.3s ease-in-out,
        opacity 0.3s ease-in-out;
    }
  }
}
