/* -----------------------------------------------
 * VARIABLES
----------------------------------------------- */

// Colors
$bayGreen: #246d4b;
$bayRed: #a81a39;
$bayYellow: #eab129;
$bayBlue: #0a284a;

$black: #000000;
$white: #ffffff;

// Fonts
@import url('https://use.typekit.net/pdw1vaj.css');

$baySerif: 'ivypresto-display', serif;
$baySans: 'proxima-nova', sans-serif;

// Borders
$borderDefault: 2px solid $black;

// Grids
// Breakpoint Map
// Has to be in px or em units
// How to call the style from map/mixin.
// @include respond-to(medium) { ... }
$breakpoints: (
  'small': (
    // from 0px to 575px
    // min-width: 576px,
    min-width: 36.0625em,
  ),
  'medium': (
    // from 576px to 768px
    // min-width: 769px,
    min-width: 48.0625em,
  ),
  'large': (
    // from 769px to 1200px
    // min-width: 1201px,
    min-width: 75.0625em,
  ),
  'xlarge': (
    // from 1201px to 1520px
    // min-width: 1521px,
    min-width: 95.0625em,
  ),
);
