<!doctype html>
<html lang="fr-CA">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1721787329464/css/global.css"
    />
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1721787329464/css/typography.css"
    />
    <link
      rel="stylesheet"
      href="https://www.thebay.com/on/demandware.static/Sites-TheBay-Site/-/en_CA/v1721787329464/css/zellers-svg-font.css"
    />
    <title>Store Survey Contest | The Bay Canada</title>
  </head>
  <div class="cat-landing">
    <div class="secondary-content">
      <div class="home-slots">
        <body style="margin: 0">
          <div id="hbc-footer-page" class="hbc-footer-page">
            <h1>
              Le concours de carte-cadeau pour le sondage des magasins La Baie
              d&apos;Hudson RÈGLEMENT OFFICIEL
            </h1>
            <p>
              <strong
                >AUCUN ACHAT REQUIS. UN ACHAT N&apos;AUGMENTE PAS LES CHANCES DE
                GAGNER.</strong
              >
              LE GAGNANT POTENTIEL PEUT ÊTRE TENU DE REMPLIR DES FORMULES
              D&apos;ACCEPTATION DU PRIX ET DE LES RETOURNER DANS LES CINQ (5)
              JOURS À COMPTER DE LA DATE D&apos;ENVOI DE LA NOTIFICATION, COMME
              PRÉCISÉ CI-DESSOUS. EN PARTICIPANT AU CONCOURS, VOUS ACCEPTEZ LE
              PRÉSENT RÈGLEMENT OFFICIEL, QUI CONSTITUE UN CONTRAT. LISEZ-LE
              ATTENTIVEMENT AVANT DE PARTICIPER. SANS S&apos;Y LIMITER, LE
              PRÉSENT RÈGLEMENT COMPREND LES INDEMNITÉS QUE VOUS ACCORDEZ AUX
              COMMANDITAIRES (DÉFINIS CI-DESSOUS), AINSI QU&apos;UNE LIMITATION
              DE VOS DROITS ET RECOURS.
            </p>
            <p>
              <strong>COMMANDITAIRES :</strong>
              Le commanditaire du concours est : La Compagnie de la Baie
              d&apos;Hudson SRI, située au 401 Bay Street, Toronto, Ontario, M5H
              2Y4 (&laquo; <strong>Commanditaire</strong> &raquo;)
            </p>
            <p>
              <strong>DESCRIPTION ET PÉRIODE DU CONCOURS :</strong>
              Le concours de carte-cadeau pour le sondage des magasins La Baie
              d&apos;Hudson (le &laquo; <strong>Concours</strong> &raquo;)
              débute le 1er août, 2022 à minuit, heure de l&apos;Est (&laquo;
              <strong>HE</strong> &raquo;) ou vers cette date, et se répète tous
              les mois (la &laquo; <strong>Période du concours</strong> &raquo;)
              tant que la période de sondage demeure ouverte. À la fin de chaque
              mois d&apos;exercice, on procédera à un tirage au sort parmi
              l&apos;ensemble des participations admissibles reçues pendant ce
              mois pour sélectionner (4) gagnant potentiel, comme indiqué en
              détail ci-après. La participation à ce concours ne constitue pas
              une participation à tout autre concours ni à toute autre
              promotion. En participant au concours, chaque participant accepte
              sans condition de se conformer au présent règlement officiel et
              aux décisions du commanditaire, qui sont définitives et
              obligatoires à tous égards. Le concours est nul là où la loi
              l&apos;interdit.
            </p>
            <p>
              <strong>ADMISSIBILITÉ :</strong>
              Le concours s&apos;adresse uniquement aux résidents autorisés du
              Canada (à l&apos;exception du Québec) qui ont atteint l&apos;âge
              de la majorité fixé par leur province ou territoire de résidence à
              la date de participation au concours. Les associés du
              commanditaire et de ses sociétés mères, filiales, divisions,
              sociétés affiliées, fournisseurs, distributeurs et agences de
              publicité, de promotion et de supervision du concours, y compris
              l&apos;administrateur du concours (s&apos;il y en a un), et les
              membres de leur famille immédiate (conjoints, parents, enfants,
              ainsi que leurs frères et sœurs et leurs conjoints) ainsi que les
              membres de leur ménage (qu&apos;ils aient ou non un lien de
              parenté) ne peuvent ni participer ni gagner.
            </p>
            <p>
              <strong
                >PARTICIPATION : AUCUN ACHAT OU PAIEMENT DE QUELQUE NATURE QUE
                CE SOIT N&apos;EST REQUIS pour participer au concours. Un achat
                n&apos;augmente pas les chances de gagner.
              </strong>
            </p>
            <p>
              <strong><em>Soumission du sondage</em> :</strong>
              Pendant la période du concours, visitez le lien du sondage de La
              Baie d&apos;Hudson (<a
                target="_blank"
                referrerpolicy="noreferrer noopener"
                href="https://survey.hudsonsbay.io"
                >survey.hudsonsbay.io</a
              >) et soumettez vos commentaires afin d&apos;améliorer
              l&apos;expérience en magasin. Pour participer sans soumettre de
              commentaires, veuillez vous adresser au directeur général du
              magasin. La soumission constitue votre acceptation sans réserve du
              présent règlement officiel. Une fois que vous aurez soumis vos
              commentaires, vous recevrez une (1) participation au concours.
              Toute participation n&apos;est admissible que si elle est reçue
              avant la fin de chaque mois afin de participer au tirage au sort
              mensuel récurrent pendant la période du concours.
              L&apos;ordinateur des commanditaires servira de chronomètre
              officiel pour le concours. L&apos;utilisation de programmes
              informatiques et d&apos;autres moyens automatiques pour
              s&apos;inscrire au concours est interdite et entraînera une
              disqualification. Toute tentative par un participant de se
              procurer plus de participations que le nombre maximal permis en
              utilisant des noms, adresses électroniques, identités,
              inscriptions et mots de passe multiples ou différents, ou par tout
              autre moyen, se traduira par l&apos;annulation de ses
              participations et sa disqualification du concours. Des frais
              d&apos;accès à Internet ou d&apos;utilisation d&apos;Internet ou
              d&apos;appareil mobile peuvent être appliqués par votre
              fournisseur de services en ligne ou mobiles. Les participations
              soumises par toute autre personne ou entité, ou provenant de tout
              autre site Web ou toute autre adresse courriel, y compris, mais
              sans s&apos;y limiter, les participations provenant de mécanismes
              comme des services ou avis de participation à des concours
              publicitaires commerciaux, seront déclarées invalides et seront
              disqualifiées de ce concours. Les commanditaires se réservent le
              droit, à leur entière discrétion, de disqualifier toute personne
              qui, à leur avis, trafique, ou tente de trafiquer, le processus
              d&apos;inscription ou le déroulement du concours, y compris, mais
              sans s&apos;y limiter, par l&apos;utilisation de tout dispositif
              visant à automatiser le processus de participation au concours. En
              cas de différend à propos d&apos;une participation, le titulaire
              autorisé de l&apos;adresse courriel utilisée pour s&apos;inscrire
              au concours sera réputé être le participant à condition qu&apos;il
              réponde à tous les autres critères d&apos;admissibilité du
              concours. Par &laquo; titulaire autorisé de l&apos;adresse
              courriel &raquo;, on entend la personne physique à qui a été
              attribuée une adresse courriel par un fournisseur d&apos;accès
              Internet, un fournisseur de services en ligne ou un autre
              organisme ayant la responsabilité d&apos;attribuer des adresses
              courriel du domaine associé à l&apos;adresse courriel soumise.
              Tout gagnant potentiel pourrait devoir fournir la preuve
              qu&apos;il est bien le titulaire autorisé de l&apos;adresse
              courriel utilisée pour s&apos;inscrire au concours. Si un
              différend à propos de l&apos;identité du participant ayant soumis
              la participation ne peut être réglé à la satisfaction des
              commanditaires, la participation sera réputée non admissible. Le
              commanditaire et ses sociétés mères et affiliées, de même que
              chacun de leurs propriétaires, administrateurs, directeurs,
              associés, agents, représentants, fournisseurs, concessionnaires,
              héritiers et ayants droit respectifs (collectivement appelés les
              &laquo; <strong>entités du concours</strong> &raquo;) ne peuvent
              pas être tenus responsables des renseignements de participation
              erronés ou saisis de façon inexacte, que la faute soit attribuable
              à des internautes, à de l&apos;équipement ou de la programmation
              utilisée pour le concours ou à toute erreur humaine ou technique
              qui pourrait survenir durant le processus de traitement des
              inscriptions au concours. Les entités du concours n&apos;assument
              aucune obligation ou responsabilité en cas d&apos;erreur,
              d&apos;omission, d&apos;interruption, de suppression, de vol, de
              destruction ou de modification des données de participation, ou
              d&apos;accès non autorisé à celles-ci. Les communications et
              documents transmis au commanditaire par courrier électronique ou
              autrement sont traités comme s&apos;il s&apos;agissait de
              renseignements non confidentiels ne comportant aucun droit de
              propriété. Les bulletins de participation deviennent la propriété
              exclusive des commanditaires et ne seront pas retournés; aucun
              accusé de réception ne sera transmis.
              <strong
                >En participant au concours, vous autorisez le commanditaire à
                obtenir votre nom, votre adresse courriel et d&apos;autres
                renseignements et à les fournir à des tiers aux fins
                d&apos;administration du concours et de conformité aux lois et
                aux règlements en vigueur.</strong
              >
            </p>
            <p>
              <strong>SÉLECTION ET NOTIFICATION DU GAGNANT :</strong>
              À la fin de la période du concours, les gagnants potentiels seront
              tirés au sort parmi toutes les participations admissibles reçues
              pendant ladite période. Le tirage sera mené par un commanditaire
              ou par un administrateur tiers au moyen de méthodes de
              randomisation sélectionnées par l&apos;un ou l&apos;autre de ces
              derniers, à sa seule discrétion. Le tirage au sort aura lieu à la
              fin de trimestre mois d&apos;exercice à 12 h. Les chances de
              gagner un prix dépendent du nombre de participations admissibles
              reçues durant la période du concours. Tout gagnant potentiel
              sélectionné sera notifié par courriel ou par téléphone. Les
              commanditaires ne peuvent être tenus responsables d&apos;une
              notification perdue, interceptée ou non reçue, pour quelque raison
              que ce soit. Si un gagnant potentiel omet de répondre dans les
              deux (2) jours de la date de la première tentative de
              notification, ou si le prix ou la notification est retourné avec
              la mention non réclamé ou ne peut pas être livré au gagnant
              potentiel, ce dernier perdra son prix, puis un nouveau gagnant
              potentiel sera sélectionné. Le commanditaire tentera
              successivement de communiquer avec jusqu&apos;à trois (3) gagnants
              potentiels du prix en question, conformément au procédé. S&apos;il
              n&apos;y a toujours pas de gagnant confirmé après ces tentatives,
              le prix pourrait ne pas être attribué.
            </p>
            <p>
              <strong>NOMBRE DE PRIX ET CHANCES DE GAGNER :</strong>
              Il y a quatre (4) prix à gagner par période comptable. Quatre (4)
              prix sera attribué dans le cadre du concours par mois. Les chances
              de gagner un prix dépendent du nombre de participations
              admissibles reçues durant la période du concours.
            </p>
            <p>
              Le prix consiste en une carte-cadeau de La Baie d&apos;Hudson
              d&apos;une valeur de 250 $. La carte-cadeau est assujettie aux
              conditions qui lui sont associées et qui sont imposées par
              l&apos;émetteur. La valeur approximative au détail (&laquo;
              <strong>VAD</strong> &raquo;) du prix est de 250,00 $
            </p>
            <p>
              Aucun versement en argent comptant ni aucune substitution de prix
              ne seront autorisés, cependant les commanditaires se réservent le
              droit, à leur entière discrétion, de remplacer le prix par un
              autre de valeur comparable si le prix indiqué n&apos;est pas
              disponible, en tout ou en partie, pour quelque raison que ce soit.
              Les éléments du prix seront livrés uniquement à une adresse au
              Canada, s&apos;il y a lieu.
            </p>
            <p>
              <strong
                >La somme de la VAD des prix dans chaque période comptable est
                de 1000 $.</strong
              >
            </p>
            <p>
              <strong>CONDITIONS GÉNÉRALES RELATIVES AU PRIX :</strong>
              Le prix ne sera attribué que si son gagnant potentiel satisfait
              pleinement aux dispositions du présent règlement officiel, y
              compris à l&apos;obligation de répondre correctement, sans aucune
              assistance et dans le délai imparti, à la question réglementaire
              d&apos;arithmétique figurant sur la déclaration
              d&apos;admissibilité. Le prix n&apos;est ni cessible ni
              transférable, en tout comme en partie. L&apos;image des prix aux
              points de vente, en ligne, à la télévision et dans la publicité
              imprimée ainsi que sur des emballages promotionnels et autres
              matériels du concours est présentée qu&apos;à titre
              d&apos;illustration. [Le prix réel peut différer du prix
              représenté.] Tous les détails et toutes les autres restrictions
              relatifs au prix qui ne sont pas spécifiés dans le présent
              règlement officiel seront déterminés par le commanditaire à sa
              seule discrétion. Aucun versement en argent comptant ni aucune
              substitution de prix ne seront autorisés, cependant le
              commanditaire se réserve le droit, à son entière discrétion, de
              remplacer le prix par un autre de valeur comparable si le prix
              indiqué n&apos;est pas disponible, en tout ou en partie, pour
              quelque raison que ce soit. Le gagnant du prix sera seul
              responsable d&apos;acquitter toutes les taxes fédérales,
              provinciales et municipales, et d&apos;assumer les conséquences de
              déclaration s&apos;y rapportant ainsi que tous les autres frais ou
              coûts applicables associés au prix. Le gagnant potentiel d&apos;un
              prix peut être tenu de signer une déclaration
              d&apos;admissibilité, une exonération de responsabilité et (là où
              une telle condition est légale) une formule de consentement à des
              fins publicitaires (collectivement appelés les &laquo;
              <strong>documents de réclamation de prix</strong> &raquo;). Si un
              gagnant potentiel refuse ou s&apos;abstient de signer et de
              renvoyer tous les documents de réclamation de prix requis dans les
              cinq (5) jours suivant la date de réception de la notification du
              prix, et aussi, mais sans s&apos;y limiter, de répondre
              correctement à la question réglementaire d&apos;arithmétique, il
              pourra être disqualifié et un autre gagnant potentiel pourra être
              sélectionné.
            </p>
            <p>
              Les commanditaires n&apos;offrent aucune garantie et déclinent
              toute garantie, expresse ou implicite, concernant tout prix fourni
              dans le cadre du concours.
              <span class="ed-util--underline"
                >SANS RESTREINDRE LA PORTÉE GÉNÉRALE DE CE QUI PRÉCÈDE, TOUT
                PRIX EST FOURNI &laquo; TEL QUEL &raquo; SANS GARANTIE
                D&apos;AUCUNE SORTE, EXPRESSE OU IMPLICITE, ET LE COMMANDITAIRE
                DÉCLINE TOUTES LES GARANTIES, Y COMPRIS, MAIS SANS S&apos;Y
                LIMITER, LES GARANTIES IMPLICITES DE QUALITÉ MARCHANDE,
                D&apos;ADAPTATION À UN USAGE PARTICULIER ET D&apos;ABSENCE DE
                CONTREFAÇON.</span
              >
            </p>
            <p>
              <strong
                >EXONÉRATION GÉNÉRALE DE RESPONSABILITÉ/FORCE MAJEURE :</strong
              >
              En participant au concours, les participants acceptent d&apos;être
              liés par le présent règlement officiel et par la politique de
              protection de la vie privée du commanditaire, accessible au
              <a
                target="_blank"
                referrerpolicy="noreferrer noopener"
                href="https://www.labaie.com/PrivacyLegalInfo.html"
                >https://www.labaie.com/PrivacyLegalInfo.html</a
              >
              , ainsi qu&apos;aux décisions du commanditaire. Tout participant
              qui accepte un prix autorise par le fait même les entités du
              concours à utiliser son nom ou son image, ses renseignements
              biographiques ou son bulletin de participation à des fins
              publicitaires et commerciales et à inscrire son nom sur la liste
              des gagnants sans compensation, sauf disposition contraire de la
              loi. En soumettant un bulletin de participation, vous déclarez que
              tous les renseignements y figurant sont exacts, ne contreviennent
              pas aux droits légaux d&apos;un tiers (y compris, sans s&apos;y
              limiter, les droits en matière de vie privée et de publicité) et
              ne violent pas les lois en vigueur. Les participants conviennent
              que les entités du concours (A) ne peuvent être tenues
              responsables et sont par les présentes dégagées des pertes, frais,
              préjudices corporels ou dommages de quelque nature que ce soit, y
              compris, sans s&apos;y limiter, le décès et les lésions
              corporelles découlant, en tout ou en partie, directement ou
              indirectement, de la participation au concours ou d&apos;une
              activité associée au concours, ou de l&apos;acceptation, de la
              réception, de la possession, de l&apos;utilisation ou du mauvais
              usage d&apos;un prix par les participants, et (B) n&apos;offrent
              aucune garantie et ne font aucune représentation ou promesse,
              explicite ou implicite, en fait ou en droit, à l&apos;égard de
              tout prix, y compris, sans s&apos;y limiter, quant à la qualité
              dudit prix ou à son adéquation à un usage particulier. Les entités
              du concours n&apos;assument aucune responsabilité pour tout
              dommage au système informatique d&apos;un participant ou de toute
              autre personne découlant de l&apos;accès au site du concours ou de
              la participation au concours, ou pour toute panne de système
              informatique, de ligne téléphonique, de matériel, de logiciel ou
              de programme, ou pour toute erreur ou défaillance ou tout retard
              de transmissions ou de connexion de réseau, qu&apos;ils soient de
              nature humaine ou technique. Sans restreindre la portée générale
              de ce qui précède, les commanditaires n&apos;assument aucune
              responsabilité quant aux participations ou notifications de prix
              incomplètes, illisibles, mal acheminées, mal imprimées, tardives,
              perdues, endommagées, volées ou insuffisamment affranchies, aux
              cas de perte, d&apos;interruption, d&apos;inaccessibilité ou
              d&apos;indisponibilité des réseaux, serveurs, satellites,
              fournisseurs de services Internet, sites Web ou d&apos;autres
              types de connexions, aux communications erronées ou aux
              transmissions par câble, téléphone ou ordinateur avortées,
              mélangées, brouillées, retardées ou mal acheminées, aux
              défaillances techniques, défectuosités, difficultés ou autres
              erreurs de quelque nature que ce soit, ou encore à la saisie
              incorrecte ou inexacte de l&apos;information ou à l&apos;échec de
              la saisie d&apos;information. Le commanditaire se réserve le
              droit, à son entière discrétion, de disqualifier toute personne
              qui trafique ou tente de trafiquer le processus
              d&apos;inscription, le déroulement du concours ou le
              fonctionnement du site du concours, contrevient au présent
              règlement officiel ou se comporte de manière antisportive ou
              perturbatrice, ou agit dans l&apos;intention de perturber ou de
              saper le fonctionnement légitime du concours, ou
              d&apos;importuner, de maltraiter, de menacer ou de harceler toute
              autre personne. Il se réserve aussi le droit d&apos;exercer un
              recours pour réclamer des dommages et d&apos;autres réparations au
              contrevenant dans la mesure où la loi le permet. Le commanditaire
              se réserve le droit de modifier, de prolonger, de suspendre ou
              d&apos;annuler le concours s&apos;il détermine, à son entière
              discrétion, que le concours est techniquement altéré ou corrompu
              ou que des fraudes ou des problèmes techniques, des pannes ou des
              dysfonctionnements ou d&apos;autres causes indépendantes de sa
              volonté ont détruit ou gravement compromis ou dégradé
              l&apos;intégrité, l&apos;administration, la sûreté, le déroulement
              normal ou la faisabilité du concours tel qu&apos;il est prévu aux
              présentes. Dans l&apos;éventualité où un nombre insuffisant de
              participations admissibles serait reçu ou que le commanditaire ne
              serait pas en mesure de décerner un prix ou de tenir le concours
              dans les conditions décrites en raison d&apos;un événement
              indépendant de sa volonté, y compris, mais sans s&apos;y limiter,
              un incendie, une inondation, une épidémie d&apos;origine naturelle
              ou humaine, un tremblement de terre, une explosion, un conflit du
              travail ou une grève, une catastrophe naturelle, le méfait
              d&apos;un ennemi public, un dysfonctionnement de satellite ou
              d&apos;équipement, une émeute ou des troubles publics, une menace
              ou des activités terroristes, une guerre (déclarée ou non) ou une
              loi ou un règlement ou décret fédéral, provincial ou municipal,
              une crise de santé publique, une ordonnance rendue par une cour de
              justice ou un autre tribunal compétent, ou toute autre cause
              raisonnablement indépendante de sa volonté (chacun étant un
              événement ou un incident de &laquo;
              <strong>force majeure</strong> &raquo;), sous réserve de
              l&apos;obtention de toute approbation requise par le gouvernement,
              le commanditaire aura le droit de modifier ou de suspendre le
              concours, ou d&apos;y mettre fin. Si le concours prend fin avant
              la date de clôture désignée, le commanditaire déterminera (dans la
              mesure du possible) des gagnants potentiels par tirage au sort
              parmi l&apos;ensemble des participations admissibles et non
              suspectes reçues au plus tard à la date de l&apos;événement ayant
              donné lieu à la fin du concours. Dans de telles circonstances, la
              participation à ce tirage au sort constituera la seule et unique
              mesure de compensation offerte à chaque participant. Le prix
              attribué correspondra exactement au type et à la quantité indiqués
              dans le présent règlement officiel. Si, pour quelque raison que ce
              soit, le nombre de gagnants potentiels réclamant de bonne foi un
              prix excède le nombre de prix de ce type indiqué dans le présent
              règlement, les gagnants ou les gagnants restants, selon le cas,
              seront sélectionnés par tirage au sort parmi toutes les personnes
              ayant fait une réclamation prétendument valable pour ce ou ces
              prix. Dans de telles circonstances, la participation à ce tirage
              au sort constituera la seule et unique mesure de compensation
              offerte à chaque participant. Le présent règlement officiel ne
              peut être modifié que par un document écrit délivré conformément à
              la loi par des représentants dûment autorisés d&apos;un
              commanditaire. L&apos;invalidité ou le caractère inexécutoire de
              toute disposition du présent règlement n&apos;a pas d&apos;effet
              sur la validité ou le caractère exécutoire de toute autre
              disposition. Dans l&apos;éventualité où une disposition serait
              jugée invalide, inexécutoire ou illégale, le présent règlement
              demeurera en vigueur et sera interprété conformément à ses
              modalités comme si la disposition invalide ou illégale n&apos;en
              faisait pas partie.
            </p>
            <p>
              <strong>INTERPRÉTATION :</strong>
              Toutes les questions portant sur l&apos;interprétation, la
              validité et la mise en application du présent règlement officiel
              ou des droits et obligations des participants et du commanditaire
              en lien avec le concours seront régies par les lois de la province
              de l&apos;Ontario sans tenir compte de ses règles et dispositions
              en matière de conflits de lois, et seront interprétées
              conformément à ces lois. Tous les participants reconnaissent la
              compétence des tribunaux de la province de l&apos;Ontario et
              acceptent que tous les conflits leur soient soumis. Tous les
              participants reconnaissent expressément la compétence exclusive
              des tribunaux de la province de l&apos;Ontario quant aux
              différends ou litiges découlant du présent concours ou le
              concernant et acceptent de se soumettre aux lois et à la
              compétence des tribunaux fédéraux du Canada et des tribunaux
              provinciaux de l&apos;Ontario et, par les présentes, renoncent à
              la compétence actuelle ou éventuelle de tout autre tribunal pour
              quelque motif que ce soit. Le lieu de tout procès ne peut être que
              Toronto, en Ontario.
            </p>
            <p>
              L&apos;invalidité ou le caractère inexécutoire de toute
              disposition du présent règlement n&apos;a pas d&apos;effet sur la
              validité ou le caractère exécutoire de toute autre disposition. Si
              une disposition est jugée invalide ou inexécutoire, le présent
              règlement officiel sera interprété conformément à ses modalités
              comme si la disposition invalide ou inexécutoire n&apos;en faisait
              pas partie.
            </p>
            <p>
              <strong>AVIS DE NON-RESPONSABILITÉ :</strong>
              Le concours n&apos;est aucunement commandité, administré ou
              soutenu par Medallia, qui n&apos;a aucun lien avec le concours.
              Vous comprenez qu&apos;en participant au présent concours, vous
              fournissez des renseignements au commanditaire et non à Medallia.
            </p>
          </div>
        </body>
      </div>
    </div>
  </div>
</html>
