/* -----------------------------------------------
 * COLOR VARIABLES
----------------------------------------------- */
$bayGreen: #246d4b;
$bayRed: #a81a39;
$bayYellow: #eab129;
$bayBlue: #0a284a;

$black: #000000;
$white: #ffffff;

/* -----------------------------------------------
 * FONT VARIABLES
----------------------------------------------- */
@import url("https://use.typekit.net/pdw1vaj.css");

$baySerif: "ivypresto-display", serif;
$baySans: "proxima-nova", sans-serif;

/* -----------------------------------------------
 * BORDER VARIABLES
----------------------------------------------- */
$borderDefault: 0.2rem solid $black;
