// File: _variables.scss

/* -----------------------------------------------
 * HBC VARIABLES
----------------------------------------------- */
// Primary Colors
$hbc-green: rgb(0, 112, 74, 1);
$hbc-red: rgb(179, 8, 56, 1);
$hbc-yellow: rgb(238, 178, 17, 1);
$hbc-blue: rgb(0, 39, 76, 1);

// Secondary Colors
$spring-wood: rgb(248, 248, 242, 1);

// Fonts
@import url('https://use.typekit.net/pdw1vaj.css');

$baySerif: 'ivypresto-display', serif;
// $baySans: "proxima-nova", sans-serif;
$baySans: 'Helvetica Neue', sans-serif;

// Breakpoints
// How to use in styles: @include respond-to(medium) { ... }
$breakpoints: (
  // from 0px to 575px
  'small': (/* Mobile Styles (576px or 36em - 767px). */ min-width: 36em),
  'medium': (/* Tablet Styles (768px or 48em - 1199px). */ min-width: 48em),
  'large': (/* Desktop Styles (1200 or 75em - 1439px). */ min-width: 75em),
  'xlarge': (
    /* Large Desktop Styles (1440px or 90em and Up). */ min-width: 90em
  )
);
