<!-- START OF #DSG-EDITORIAL. -->
<div id="dsg-editorial" class="dsg-editorial dsg-en">
  <!-- START OF MAIN PAGE CONTENT. -->
  <main>
    <!-- START OF MAIN HEADER SECTION. -->
    <!-- HEADER. -->
    <section style="margin-top: -2%" class="sec01">
      <header class="hbc-header">
        <h1>Hudson North</h1>
        <h3>The everyday, elevated.<br />Only at Hudson’s Bay.</h3>
      </header>
    </section>
    <!-- START OF SHOP BUTTON SECTION. -->
    <div class="buttons__wrapper">
      <a
        href="$url('Search-Show','cgid','1647370390695','prefn1','refGender','prefv1','Women's|Femme','sre','307_031423_LANDING-PAGE_BRAND-PAGE_PS_HUDSON-NORTH_SHOP-BY-CATEORY_1_WOMENS_Shop-Womens')$"
        class="btn--default"
        >Shop Women's &nbsp; &#10140;</a
      >
      <a
        href="$url('Search-Show','cgid','1647370390695','prefn1','refGender','prefv1','Men's|Homme','sre','307_031423_LANDING-PAGE_BRAND-PAGE_PS_HUDSON-NORTH_SHOP-BY-CATEORY_1_MENS_Shop-Mens')$"
        class="btn--default"
        >Shop Men's &nbsp; &#10140;</a
      >
      <a
        href="$url('Search-Show','cgid','1647370390695')$?307_031423_LANDING-PAGE_BRAND-PAGE_PS_HUDSON-NORTH_SHOP-BY-CATEORY_1_SHOP-THE-FULL-COLLECTION_Shop-Full-Collection"
        class="btn--default"
        >Shop Full Collection &nbsp; &#10140;</a
      >
    </div>
    <!-- END OF SHOP BUTTON SECTION. -->
    <!-- END OF MAIN HEADER SECTION. -->

    <!-- MOBILE SPACER. -->
    <hr class="hbc-spacer" />

    <!-- START OF EFFORTLESS STYLE 3-UP-ROW SECTION 1. -->
    <!-- HEADER. -->
    <section class="sec01">
      <header class="hbc-header">
        <h2>Effortless style for Spring Summer ’23.</h2>
      </header>
    </section>
    <!-- START OF EFFORTLESS STYLE 3-UP-ROW SECTION 2. -->
    <!-- 3-UP. -->
    <div class="hbc-card__outer">
      <div class="hbc-card__inner">
        <div class="hbc-card">
          <picture>
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/307-031523-HUDSON-NORTH_3UP-2-SLIDE-1_MOBILE?scl=1&qlt=75&fmt=webp
              "
              media="(max-width: 768px)"
            />
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/307-031523-HUDSON-NORTH_3UP-2-SLIDE-1_DESKTOP_REV?scl=1&qlt=100&fmt=webp
              "
              media="(max-width: 992px)"
            />
            <img
              class="hbc-img"
              src="https://image.s5a.com/is/image/TheBay/307-031523-HUDSON-NORTH_3UP-2-SLIDE-1_DESKTOP_REV?scl=1&qlt=100&fmt=webp"
              alt=""
            />
          </picture>
          <a
            href="$url('Search-Show','cgid','1660667296506-1')$?sre=307_031423_LANDING-PAGE_BRAND-PAGE_PS_HUDSON-NORTH_TRNEDS_1_BASICS_Shop-Basics"
            class="btn--default"
            >Shop Essentials &nbsp; &#10140;</a
          >
        </div>
      </div>
      <div class="hbc-card__inner">
        <div class="hbc-card">
          <picture>
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/307-031523-HUDSON-NORTH_3UP-2-SLIDE-2_MOBILE?scl=1&qlt=75&fmt=webp
              "
              media="(max-width: 768px)"
            />
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/307-031523-HUDSON-NORTH_3UP-2-SLIDE-2_DESKTOP_REV?scl=1&qlt=100&fmt=webp
              "
              media="(max-width: 992px)"
            />
            <img
              class="hbc-img"
              src="https://image.s5a.com/is/image/TheBay/307-031523-HUDSON-NORTH_3UP-2-SLIDE-2_DESKTOP_REV?scl=1&qlt=100&fmt=webp"
              alt=""
            />
          </picture>
          <a
            href="$url('Search-Show','cgid','1647370390695','prefn1','refinementProductType','prefv1','Dresses|Robes','sre','307_031423_LANDING-PAGE_BRAND-PAGE_PS_HUDSON-NORTH_TRNEDS_1_DRESSES_Shop-Dresses')$"
            class="btn--default"
            >Shop Dresses &nbsp; &#10140;</a
          >
        </div>
      </div>
      <div class="hbc-card__inner">
        <div class="hbc-card">
          <picture>
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/307-031523-HUDSON-NORTH_3UP-2-SLIDE-3_MOBILE?scl=1&qlt=75&fmt=webp
              "
              media="(max-width: 768px)"
            />
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/307-031523-HUDSON-NORTH_3UP-2-SLIDE-3_DESKTOP_REV?scl=1&qlt=100&fmt=webp
              "
              media="(max-width: 992px)"
            />
            <img
              class="hbc-img"
              src="https://image.s5a.com/is/image/TheBay/307-031523-HUDSON-NORTH_3UP-2-SLIDE-3_DESKTOP_REV?scl=1&qlt=100&fmt=webp"
              alt=""
            />
          </picture>
          <a
            href="$url('Search-Show','cgid','1647370390695','prefn1','refSizeRange','prefv1','Plus|Grandes tailles','sre','307_031423_LANDING-PAGE_BRAND-PAGE_PS_HUDSON-NORTH_TRNEDS_1_EXTENDED-SIZING_Shop-Extended-Sizing')$"
            class="btn--default"
            >Shop Extended Sizing &nbsp; &#10140;</a
          >
        </div>
      </div>
    </div>
    <!-- END OF EFFORTLESS STYLE 3-UP-ROW SECTION 2. -->

    <!-- 3-UP. -->
    <div class="hbc-card__outer">
      <div class="hbc-card__inner">
        <div class="hbc-card">
          <picture>
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/307-031523-HUDSON-NORTH_3UP-1-SLIDE-1_MOBILE_REV?scl=1&qlt=75&fmt=webp
              "
              media="(max-width: 768px)"
            />
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/307-031523-HUDSON-NORTH_3UP-1-SLIDE-1_DESKTOP_REV?scl=1&qlt=100&fmt=webp
              "
              media="(max-width: 992px)"
            />
            <img
              class="hbc-img"
              src="https://image.s5a.com/is/image/TheBay/307-031523-HUDSON-NORTH_3UP-1-SLIDE-1_DESKTOP_REV?scl=1&qlt=100&fmt=webp"
              alt=""
            />
          </picture>
          <div class="flexible">
            <h5>Style for the office with the comfort of WFH.</h5>
          </div>
          <a
            href="$url('Search-Show','cgid','1647370390696-1')$?sre=307_031423_LANDING-PAGE_BRAND-PAGE_PS_HUDSON-NORTH_TRNEDS_1_HYBRID-WORK_Shop-Hybrid-Work"
            class="btn--default"
            >Shop Hybrid Work &nbsp; &#10140;</a
          >
        </div>
      </div>
      <div class="hbc-card__inner">
        <div class="hbc-card">
          <picture>
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/307-031523-HUDSON-NORTH_3UP-1-SLIDE-2_MOBILE_REV?scl=1&qlt=75&fmt=webp
              "
              media="(max-width: 768px)"
            />
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/307-031523-HUDSON-NORTH_3UP-1-SLIDE-2_DESKTOP_REV?scl=1&qlt=100&fmt=webp
              "
              media="(max-width: 992px)"
            />
            <img
              class="hbc-img"
              src="https://image.s5a.com/is/image/TheBay/307-031523-HUDSON-NORTH_3UP-1-SLIDE-2_DESKTOP_REV?scl=1&qlt=100&fmt=webp"
              alt=""
            />
          </picture>
          <div class="flexible">
            <h5>Essentials that make packing effortless.</h5>
          </div>
          <a
            href="$url('Search-Show','cgid','1647370390697-1')$?sre=307_031423_LANDING-PAGE_BRAND-PAGE_PS_HUDSON-NORTH_TRNEDS_1_TRAVEL_Shop-Travel"
            class="btn--default"
            >Shop Travel &nbsp; &#10140;</a
          >
        </div>
      </div>
      <div class="hbc-card__inner">
        <div class="hbc-card">
          <picture>
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/307-031523-HUDSON-NORTH_3UP-1-SLIDE-3_MOBILE_REV?scl=1&qlt=75&fmt=webp
              "
              media="(max-width: 768px)"
            />
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/307-031523-HUDSON-NORTH_3UP-1-SLIDE-3_DESKTOP_REV?scl=1&qlt=100&fmt=webp
              "
              media="(max-width: 992px)"
            />
            <img
              class="hbc-img"
              src="https://image.s5a.com/is/image/TheBay/307-031523-HUDSON-NORTH_3UP-1-SLIDE-3_DESKTOP_REV?scl=1&qlt=100&fmt=webp"
              alt=""
            />
          </picture>
          <div class="flexible">
            <h5>Outfits for every event, day or night.</h5>
          </div>
          <a
            href="$url('Search-Show','cgid','1660667296505-1')$?sre=307_031423_LANDING-PAGE_BRAND-PAGE_PS_HUDSON-NORTH_TRNEDS_1_OCCASION_Shop-Occassions"
            class="btn--default"
            >Shop Occasions &nbsp; &#10140;</a
          >
        </div>
      </div>
    </div>
    <!-- END OF EFFORTLESS STYLE 3-UP-ROW SECTION 1. -->

    <!-- MOBILE SPACER. -->
    <hr class="hbc-spacer" />

    <!-- START OF FW22 REVIEWS 3-UP-ROW SECTION. -->
    <!-- HEADER. -->
    <section class="sec01">
      <header class="hbc-header">
        <h2>What our customers are saying.</h2>
      </header>
    </section>
    <!-- 3-UP. -->
    <div class="hbc-card--theme__outer">
      <div class="hbc-card--theme__inner">
        <div class="hbc-card--theme">
          <picture>
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/307-031523-HUDSON-NORTH_3UP-REVIEWS-SLIDE-1_MOBILE?scl=1&qlt=75&fmt=webp
              "
              media="(max-width: 768px)"
            />
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/307-031523-HUDSON-NORTH_3UP-REVIEWS-SLIDE-1_DESKTOP_REV?scl=1&qlt=100&fmt=webp
              "
              media="(max-width: 992px)"
            />
            <img
              class="hbc-img"
              src="https://image.s5a.com/is/image/TheBay/307-031523-HUDSON-NORTH_3UP-REVIEWS-SLIDE-1_DESKTOP_REV?scl=1&qlt=100&fmt=webp"
              alt=""
            />
          </picture>
          <div class="flexible">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="136.909"
              height="23.672"
              viewBox="0 0 136.909 23.672"
            >
              <defs>
                <clipPath id="clip-path">
                  <rect
                    id="Rectangle_61"
                    data-name="Rectangle 61"
                    width="23.382"
                    height="23.672"
                    stroke="#000"
                    stroke-width="2"
                  />
                </clipPath>
              </defs>
              <g
                id="Group_537"
                data-name="Group 537"
                transform="translate(-378.224 -5468.547)"
              >
                <g
                  id="Group_547"
                  data-name="Group 547"
                  transform="translate(493.751 5470.547)"
                >
                  <g
                    id="Group_537-2"
                    data-name="Group 537"
                    transform="translate(-2 -2)"
                    clip-path="url(#clip-path)"
                  >
                    <path
                      id="Path_83"
                      data-name="Path 83"
                      d="M12.2,17.283,6.01,21.926,8.486,14.5,2.915,10.163h6.81L12.2,3.044l2.476,7.119h6.81L15.915,14.5l2.476,7.429Z"
                      transform="translate(-0.51 -0.599)"
                      stroke="#000"
                      stroke-miterlimit="10"
                      stroke-width="2"
                    />
                  </g>
                </g>
                <g
                  id="Group_546"
                  data-name="Group 546"
                  transform="translate(465.369 5470.547)"
                >
                  <g
                    id="Group_537-3"
                    data-name="Group 537"
                    transform="translate(-2 -2)"
                    clip-path="url(#clip-path)"
                  >
                    <path
                      id="Path_83-2"
                      data-name="Path 83"
                      d="M12.2,17.283,6.01,21.926,8.486,14.5,2.915,10.163h6.81L12.2,3.044l2.476,7.119h6.81L15.915,14.5l2.476,7.429Z"
                      transform="translate(-0.51 -0.599)"
                      stroke="#000"
                      stroke-miterlimit="10"
                      stroke-width="2"
                    />
                  </g>
                </g>
                <g
                  id="Group_545"
                  data-name="Group 545"
                  transform="translate(436.987 5470.547)"
                >
                  <g
                    id="Group_537-4"
                    data-name="Group 537"
                    transform="translate(-2 -2)"
                    clip-path="url(#clip-path)"
                  >
                    <path
                      id="Path_83-3"
                      data-name="Path 83"
                      d="M12.2,17.283,6.01,21.926,8.486,14.5,2.915,10.163h6.81L12.2,3.044l2.476,7.119h6.81L15.915,14.5l2.476,7.429Z"
                      transform="translate(-0.51 -0.599)"
                      stroke="#000"
                      stroke-miterlimit="10"
                      stroke-width="2"
                    />
                  </g>
                </g>
                <g
                  id="Group_544"
                  data-name="Group 544"
                  transform="translate(408.605 5470.547)"
                >
                  <g
                    id="Group_537-5"
                    data-name="Group 537"
                    transform="translate(-2 -2)"
                    clip-path="url(#clip-path)"
                  >
                    <path
                      id="Path_83-4"
                      data-name="Path 83"
                      d="M12.2,17.283,6.01,21.926,8.486,14.5,2.915,10.163h6.81L12.2,3.044l2.476,7.119h6.81L15.915,14.5l2.476,7.429Z"
                      transform="translate(-0.51 -0.599)"
                      stroke="#000"
                      stroke-miterlimit="10"
                      stroke-width="2"
                    />
                  </g>
                </g>
                <g
                  id="Group_542"
                  data-name="Group 542"
                  transform="translate(380.224 5470.547)"
                >
                  <g
                    id="Group_537-6"
                    data-name="Group 537"
                    transform="translate(-2 -2)"
                    clip-path="url(#clip-path)"
                  >
                    <path
                      id="Path_83-5"
                      data-name="Path 83"
                      d="M12.2,17.283,6.01,21.926,8.486,14.5,2.915,10.163h6.81L12.2,3.044l2.476,7.119h6.81L15.915,14.5l2.476,7.429Z"
                      transform="translate(-0.51 -0.599)"
                      stroke="#000"
                      stroke-miterlimit="10"
                      stroke-width="2"
                    />
                  </g>
                </g>
              </g>
            </svg>
            <p>Merino Wool V-neck Dress</p>
            <h5>
              “Love this dress! Comfortable and classy. Very nice quality.”
            </h5>
          </div>
        </div>
      </div>
      <div class="hbc-card--theme__inner">
        <div class="hbc-card--theme">
          <picture>
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/307-031523-HUDSON-NORTH_3UP-REVIEWS-SLIDE-2_MOBILE_NEW?scl=1&qlt=75&fmt=webp
              "
              media="(max-width: 768px)"
            />
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/307-031523-HUDSON-NORTH_3UP-REVIEWS-SLIDE-2_DESKTOP_NEW?scl=1&qlt=100&fmt=webp
              "
              media="(max-width: 992px)"
            />
            <img
              class="hbc-img"
              src="https://image.s5a.com/is/image/TheBay/307-031523-HUDSON-NORTH_3UP-REVIEWS-SLIDE-2_DESKTOP_NEW?scl=1&qlt=100&fmt=webp"
              alt=""
            />
          </picture>
          <div class="flexible">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="136.909"
              height="23.672"
              viewBox="0 0 136.909 23.672"
            >
              <defs>
                <clipPath id="clip-path">
                  <rect
                    id="Rectangle_61"
                    data-name="Rectangle 61"
                    width="23.382"
                    height="23.672"
                    stroke="#000"
                    stroke-width="2"
                  />
                </clipPath>
              </defs>
              <g
                id="Group_537"
                data-name="Group 537"
                transform="translate(-378.224 -5468.547)"
              >
                <g
                  id="Group_547"
                  data-name="Group 547"
                  transform="translate(493.751 5470.547)"
                >
                  <g
                    id="Group_537-2"
                    data-name="Group 537"
                    transform="translate(-2 -2)"
                    clip-path="url(#clip-path)"
                  >
                    <path
                      id="Path_83"
                      data-name="Path 83"
                      d="M12.2,17.283,6.01,21.926,8.486,14.5,2.915,10.163h6.81L12.2,3.044l2.476,7.119h6.81L15.915,14.5l2.476,7.429Z"
                      transform="translate(-0.51 -0.599)"
                      stroke="#000"
                      stroke-miterlimit="10"
                      stroke-width="2"
                    />
                  </g>
                </g>
                <g
                  id="Group_546"
                  data-name="Group 546"
                  transform="translate(465.369 5470.547)"
                >
                  <g
                    id="Group_537-3"
                    data-name="Group 537"
                    transform="translate(-2 -2)"
                    clip-path="url(#clip-path)"
                  >
                    <path
                      id="Path_83-2"
                      data-name="Path 83"
                      d="M12.2,17.283,6.01,21.926,8.486,14.5,2.915,10.163h6.81L12.2,3.044l2.476,7.119h6.81L15.915,14.5l2.476,7.429Z"
                      transform="translate(-0.51 -0.599)"
                      stroke="#000"
                      stroke-miterlimit="10"
                      stroke-width="2"
                    />
                  </g>
                </g>
                <g
                  id="Group_545"
                  data-name="Group 545"
                  transform="translate(436.987 5470.547)"
                >
                  <g
                    id="Group_537-4"
                    data-name="Group 537"
                    transform="translate(-2 -2)"
                    clip-path="url(#clip-path)"
                  >
                    <path
                      id="Path_83-3"
                      data-name="Path 83"
                      d="M12.2,17.283,6.01,21.926,8.486,14.5,2.915,10.163h6.81L12.2,3.044l2.476,7.119h6.81L15.915,14.5l2.476,7.429Z"
                      transform="translate(-0.51 -0.599)"
                      stroke="#000"
                      stroke-miterlimit="10"
                      stroke-width="2"
                    />
                  </g>
                </g>
                <g
                  id="Group_544"
                  data-name="Group 544"
                  transform="translate(408.605 5470.547)"
                >
                  <g
                    id="Group_537-5"
                    data-name="Group 537"
                    transform="translate(-2 -2)"
                    clip-path="url(#clip-path)"
                  >
                    <path
                      id="Path_83-4"
                      data-name="Path 83"
                      d="M12.2,17.283,6.01,21.926,8.486,14.5,2.915,10.163h6.81L12.2,3.044l2.476,7.119h6.81L15.915,14.5l2.476,7.429Z"
                      transform="translate(-0.51 -0.599)"
                      stroke="#000"
                      stroke-miterlimit="10"
                      stroke-width="2"
                    />
                  </g>
                </g>
                <g
                  id="Group_542"
                  data-name="Group 542"
                  transform="translate(380.224 5470.547)"
                >
                  <g
                    id="Group_537-6"
                    data-name="Group 537"
                    transform="translate(-2 -2)"
                    clip-path="url(#clip-path)"
                  >
                    <path
                      id="Path_83-5"
                      data-name="Path 83"
                      d="M12.2,17.283,6.01,21.926,8.486,14.5,2.915,10.163h6.81L12.2,3.044l2.476,7.119h6.81L15.915,14.5l2.476,7.429Z"
                      transform="translate(-0.51 -0.599)"
                      stroke="#000"
                      stroke-miterlimit="10"
                      stroke-width="2"
                    />
                  </g>
                </g>
              </g>
            </svg>
            <p>Plus Longline Shirt</p>
            <h5>“I loved it so much, I ordered two more!”</h5>
          </div>
        </div>
      </div>
      <div class="hbc-card--theme__inner">
        <div class="hbc-card--theme">
          <picture>
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/307-031523-HUDSON-NORTH_3UP-REVIEWS-SLIDE-3_MOBILE?scl=1&qlt=75&fmt=webp
              "
              media="(max-width: 768px)"
            />
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/307-031523-HUDSON-NORTH_3UP-REVIEWS-SLIDE-3_DESKTOP_REV?scl=1&qlt=100&fmt=webp
              "
              media="(max-width: 992px)"
            />
            <img
              class="hbc-img"
              src="https://image.s5a.com/is/image/TheBay/307-031523-HUDSON-NORTH_3UP-REVIEWS-SLIDE-3_DESKTOP_REV?scl=1&qlt=100&fmt=webp"
              alt=""
            />
          </picture>
          <div class="flexible">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="136.909"
              height="23.672"
              viewBox="0 0 136.909 23.672"
            >
              <defs>
                <clipPath id="clip-path">
                  <rect
                    id="Rectangle_61"
                    data-name="Rectangle 61"
                    width="23.382"
                    height="23.672"
                    stroke="#000"
                    stroke-width="2"
                  />
                </clipPath>
              </defs>
              <g
                id="Group_537"
                data-name="Group 537"
                transform="translate(-378.224 -5468.547)"
              >
                <g
                  id="Group_547"
                  data-name="Group 547"
                  transform="translate(493.751 5470.547)"
                >
                  <g
                    id="Group_537-2"
                    data-name="Group 537"
                    transform="translate(-2 -2)"
                    clip-path="url(#clip-path)"
                  >
                    <path
                      id="Path_83"
                      data-name="Path 83"
                      d="M12.2,17.283,6.01,21.926,8.486,14.5,2.915,10.163h6.81L12.2,3.044l2.476,7.119h6.81L15.915,14.5l2.476,7.429Z"
                      transform="translate(-0.51 -0.599)"
                      stroke="#000"
                      stroke-miterlimit="10"
                      stroke-width="2"
                    />
                  </g>
                </g>
                <g
                  id="Group_546"
                  data-name="Group 546"
                  transform="translate(465.369 5470.547)"
                >
                  <g
                    id="Group_537-3"
                    data-name="Group 537"
                    transform="translate(-2 -2)"
                    clip-path="url(#clip-path)"
                  >
                    <path
                      id="Path_83-2"
                      data-name="Path 83"
                      d="M12.2,17.283,6.01,21.926,8.486,14.5,2.915,10.163h6.81L12.2,3.044l2.476,7.119h6.81L15.915,14.5l2.476,7.429Z"
                      transform="translate(-0.51 -0.599)"
                      stroke="#000"
                      stroke-miterlimit="10"
                      stroke-width="2"
                    />
                  </g>
                </g>
                <g
                  id="Group_545"
                  data-name="Group 545"
                  transform="translate(436.987 5470.547)"
                >
                  <g
                    id="Group_537-4"
                    data-name="Group 537"
                    transform="translate(-2 -2)"
                    clip-path="url(#clip-path)"
                  >
                    <path
                      id="Path_83-3"
                      data-name="Path 83"
                      d="M12.2,17.283,6.01,21.926,8.486,14.5,2.915,10.163h6.81L12.2,3.044l2.476,7.119h6.81L15.915,14.5l2.476,7.429Z"
                      transform="translate(-0.51 -0.599)"
                      stroke="#000"
                      stroke-miterlimit="10"
                      stroke-width="2"
                    />
                  </g>
                </g>
                <g
                  id="Group_544"
                  data-name="Group 544"
                  transform="translate(408.605 5470.547)"
                >
                  <g
                    id="Group_537-5"
                    data-name="Group 537"
                    transform="translate(-2 -2)"
                    clip-path="url(#clip-path)"
                  >
                    <path
                      id="Path_83-4"
                      data-name="Path 83"
                      d="M12.2,17.283,6.01,21.926,8.486,14.5,2.915,10.163h6.81L12.2,3.044l2.476,7.119h6.81L15.915,14.5l2.476,7.429Z"
                      transform="translate(-0.51 -0.599)"
                      stroke="#000"
                      stroke-miterlimit="10"
                      stroke-width="2"
                    />
                  </g>
                </g>
                <g
                  id="Group_542"
                  data-name="Group 542"
                  transform="translate(380.224 5470.547)"
                >
                  <g
                    id="Group_537-6"
                    data-name="Group 537"
                    transform="translate(-2 -2)"
                    clip-path="url(#clip-path)"
                  >
                    <path
                      id="Path_83-5"
                      data-name="Path 83"
                      d="M12.2,17.283,6.01,21.926,8.486,14.5,2.915,10.163h6.81L12.2,3.044l2.476,7.119h6.81L15.915,14.5l2.476,7.429Z"
                      transform="translate(-0.51 -0.599)"
                      stroke="#000"
                      stroke-miterlimit="10"
                      stroke-width="2"
                    />
                  </g>
                </g>
              </g>
            </svg>
            <p>Work Pants</p>
            <h5>
              “Love the material, love the fit! I’ve received tons of
              compliments at work.”
            </h5>
          </div>
        </div>
      </div>
    </div>
    <!-- END OF FW22 REVIEWS 3-UP-ROW SECTION. -->

    <!-- START OF SS23 HEADING. -->
    <!-- HEADER. -->
    <section class="sec01">
      <header class="hbc-header">
        <h3>Discover the Spring Summer ’23 collection.</h3>
      </header>
    </section>
    <!-- BUTTON. -->
    <div class="buttons__wrapper">
      <a
        class="btn--default"
        href="$url('Search-Show','cgid','1647370390695','srule','newest','sre','307_031423_LANDING-PAGE_BRAND-PAGE_PS_HUDSON-NORTH_SEO-COPY_1_SEO-COPY_')$"
        >Find Your Faves Now &nbsp; &#10140;</a
      >
    </div>
    <!-- END OF SS23 HEADING. -->

    <!-- MOBILE SPACER. -->
    <hr class="hbc-spacer" />

    <!-- START OF ABOUT HUDSON NORTH 3-UP-ROW SECTION. -->
    <!-- HEADER. -->
    <section class="sec01">
      <header class="hbc-header">
        <h2>About Hudson North.</h2>
      </header>
    </section>
    <!-- 3-UP. -->
    <div class="hbc-card__outer">
      <div class="hbc-card__inner">
        <div class="hbc-card">
          <picture>
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/307-031523-HUDSON-NORTH_3UP-3-SLIDE-1_MOBILE?scl=1&qlt=75&fmt=webp
              "
              media="(max-width: 768px)"
            />
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/307-031523-HUDSON-NORTH_3UP-3-SLIDE-1_DESKTOP_REV?scl=1&qlt=100&fmt=webp
              "
              media="(max-width: 992px)"
            />
            <img
              class="hbc-img"
              src="https://image.s5a.com/is/image/TheBay/307-031523-HUDSON-NORTH_3UP-3-SLIDE-1_DESKTOP_REV?scl=1&qlt=100&fmt=webp"
              alt=""
            />
          </picture>
          <h5>
            Easy to style with versatile pieces that mix and match effortlessly.
          </h5>
        </div>
      </div>
      <div class="hbc-card__inner">
        <div class="hbc-card">
          <picture>
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/307-031523-HUDSON-NORTH_3UP-3-SLIDE-2_MOBILE?scl=1&qlt=75&fmt=webp
              "
              media="(max-width: 768px)"
            />
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/307-031523-HUDSON-NORTH_3UP-3-SLIDE-2_DESKTOP_REV?scl=1&qlt=100&fmt=webp
              "
              media="(max-width: 992px)"
            />
            <img
              class="hbc-img"
              src="https://image.s5a.com/is/image/TheBay/307-031523-HUDSON-NORTH_3UP-3-SLIDE-2_DESKTOP_REV?scl=1&qlt=100&fmt=webp"
              alt=""
            />
          </picture>
          <h5>Easy to wear with elevated comfort and thoughtful design.</h5>
        </div>
      </div>
      <div class="hbc-card__inner">
        <div class="hbc-card">
          <picture>
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/307-031523-HUDSON-NORTH_3UP-3-SLIDE-3_MOBILE?scl=1&qlt=75&fmt=webp
              "
              media="(max-width: 768px)"
            />
            <source
              srcset="
                https://image.s5a.com/is/image/TheBay/307-031523-HUDSON-NORTH_3UP-3-SLIDE-3_DESKTOP_REV?scl=1&qlt=100&fmt=webp
              "
              media="(max-width: 992px)"
            />
            <img
              class="hbc-img"
              src="https://image.s5a.com/is/image/TheBay/307-031523-HUDSON-NORTH_3UP-3-SLIDE-3_DESKTOP_REV?scl=1&qlt=100&fmt=webp"
              alt=""
            />
          </picture>
          <h5>Easy to rely on with options for all occasions.</h5>
        </div>
      </div>
    </div>
    <!-- END OF ABOUT HUDSON NORTH 3-UP-ROW SECTION. -->

    <!-- MOBILE SPACER. -->
    <hr class="hbc-spacer" />

    <!-- START OF FOOTER SECTION. -->
    <!-- SHOP COLLECTION BUTTON. -->
    <div class="buttons__wrapper">
      <a
        class="btn--alt"
        href="$url('Search-Show','cgid','1647370390695')$?307_031423_LANDING-PAGE_BRAND-PAGE_PS_HUDSON-NORTH_SHOP-BY-CATEORY_1_SHOP-THE-FULL-COLLECTION_Shop-Full-Collection"
        >Shop full collection &nbsp; &#10140;</a
      >
    </div>
    <!-- BACK TO TOP BUTTON. -->
    <div class="buttons__wrapper">
      <a class="btn--top" href="#top">BACK TO TOP</a>
    </div>
    <!-- END OF FOOTER SECTION. -->
  </main>
  <!-- END OF MAIN PAGE CONTENT -->
</div>
<!-- END OF #DSG-EDITORIAL. -->
<!-- <script>@@include('../../../dev/js/main.min.js')</script> -->
<!-- @@include('footer.html') -->
