// File: _copy.scss

/* -----------------------------------------------
 * HBC COPY/HEADINGS/SPAN STYLES
----------------------------------------------- */
.hbc-ed {
  &-copy {
    &__heading {
      &--primary {
        @include font($baySans, 600, null, 1, null, 3.063rem);
        color: rgba(255, 255, 255, 1);
        margin: 0;

        @include respond-to(large) {
          font-size: 3.438rem;
        }
      }

      &--secondary {
        @include font('Neue Montreal bold', 400, null, 1, null, 32px);
        margin: 0 0 4px;
      }

      &--tertiary {
        @include font('Neue Montreal', 400, null, 24px, null, 16px);
        margin: 0;
      }

      &--quaternary {
        @include font('Neue Montreal medium', 400, null, 1, null, 14px);
        margin: 0 0 4px;
      }

      &--quinary {
        @include font(null, null, null, 1, null, 1.875rem);
        margin-top: 2rem;
        margin: 0;
      }
    }

    &__paragraph {
      @include font($baySans, 400, null, null, null, 0.688rem);
      margin: 0;
      text-align: center;
    }

    &__super {
      vertical-align: 0.5rem;
      font-size: 1rem;
      font-weight: normal;
    }
  }
}
